.adminTweetsListContainer {
  position: absolute;
  top: 1px;
  left: 332px;
  width: 938px;
  height: 1200px;
}

.adminTweetsHeaderContainer {
  position: absolute;
  width: 800px;
  height: 74px;
  border: 0.3px solid #e9f2fa
}

.adminTweetsHeader {
  position: absolute;
  top: 24px;
  bottom: 24px;
  left: 20.92px;
  right: 819.33px;
  width: 96px;
  height: 26px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #171725;
}

.adminTweetContainer {
  position: relative;
  width: 800px;
  height: 119px;
  border: 0.3px solid #e9f2fa;
  top: 73px;
}

.adminUserProfilePic {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 16px;
  bottom: 52px;
  left: 23.13px;
  right: 863.13px;
  border-radius: 50px;
}

.adminUserBlankProfilePic {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 16px;
  bottom: 52px;
  left: 23.13px;
  right: 863.13px;
  border-radius: 50px;
}

.adminUserName {
  position: absolute;
  width: 46px;
  height: 26px;
  top: 16px;
  bottom: 76px;
  left: 81.13px;
  right: 809.13px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #171725
}

.adminUserHandle {
  position: absolute;
  width: 180px;
  height: 22px;
  top: 20px;
  bottom: 78px;
  left: 150px;
  right: 697.13px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6C757D;
}

#adminTweetDeleteButton {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 21.5px;
  bottom: 81.5px;
  left: 770px;
  right: 4.63px;
}

.adminUserTweetsDescription {
  position: absolute;
  width: 855px;
  height: 52px;
  top: 50px;
  bottom: 16px;
  left: 81.13px;
  right: 0.13px;
}

.adminTweetsPagination {
  position: absolute;
  top: 1150px;
  bottom: 24px;
  left: 450px;
  right: 820.33px;
}