<div style="display: flex; justify-content: center; flex-direction:column;">
  <div style="
  display: inline-block; 
  box-sizing: border-box;
  position: relative;
  width: 1400px;
  height: 1200px;
  background: #FFFFFF;
  border: 1px solid #D5D5DC;
  border-radius: 4px;">
    <div style="position: absolute; width: 178px; height: 1200px; left: 130px;">
      <div style="position: relative;">
        <div style="width: 50px; height: 50px; position: absolute; top: 13px; left: 13px;">
          <img src="/images/logo.png" alt="login" style="height: 50px; width: 50px;">
        </div>
        <ul class="nav flex-column">
          <li class="nav-item" style="display:flex; align-items: center; position: absolute; top: 85px; left: 17px;">
            <i class="fas fa-home" style="color: black;"></i>
            <a class="nav-link" aria-current="page" href="/admin/tweets" style="color: black;">推文清單</a>
          </li>
          <li class="nav-item" style="display:flex; align-items: center; position: absolute; top: 148px; left: 17px;">
            <i class="fas fa-user" style="color: coral;"></i>
            <a class="nav-link active" href="/admin/users" style="color: coral;">使用者列表</a>
          </li>
          <li class="nav-item" style="display:flex; align-items: center; position: absolute; top: 1158px; left: 17px;">
            <i class="fas fa-sign-out-alt"></i>
            <a class="nav-link" href="logout" style="color:black;">登出</a>
          </li>
        </ul>
      </div>
    </div>
    <div style="position: absolute; left: 332px;  height: 1200px; border: 1px solid #E6ECF0;">
      <div style="height: 49px; width: 1065px; border-bottom: 1px solid #E6ECF0;">
        <h5 style="margin-left: 21px; margin-top: 24px;">使用者列表</h5>
      </div>
      <div style="display: flex; flex-wrap: wrap;">
        <div class="card" style="width: 249px; height: 310px; margin:8px; position: relative;">
          <div style="height: 140px; width: 249px; background-size: cover; background-image: url(/images/logo.png); border-radius: 10px 10px 0px 0px;">
          </div>
          <img src="/images/logo.png" class="card-img-top" alt="沒圖喔！" style="height: 100px; width:100px; position: absolute; top: 64px; left: 74px;">
          <div class="card-body" style="position: absolute; width: 249px; height: 170px; bottom: 0px;">
            <div style="position: relative; width: 249px; height: 170px;">
              <h7 class="card-title" style="position: absolute; bottom: 116px; left: 82px; width: 100px; height: 26px;">Jason</h7>
              <h9 class="card-title" style="position: absolute; bottom: 96px; left: 82px; width: 90px; height: 22px;">@jason</h9>
              <div style="position: absolute; bottom: 55px; left: 55px;">
                <i class="fas fa-feather-alt">100</i>
              </div>
              <div style="position: absolute; bottom: 55px; left: 134px;">
                <i class="fas fa-heart">100</i>
              </div>
              <div style="position: absolute; bottom: 24px; left: 46px;">
                <h7 style="font-size: 2px;">100個追隨中</h7>
              </div>
              <div style="position: absolute; bottom: 24px; left: 129px;">
                <h7 style="font-size: 2px;">100個追隨中</h7>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="width: 249px; height: 310px; margin:8px; position: relative;">
          <div
            style="height: 140px; width: 249px; background-size: cover; background-image: url(/images/logo.png); border-radius: 10px 10px 0px 0px;">
          </div>
          <img src="/images/logo.png" class="card-img-top" alt="沒圖喔！"
            style="height: 100px; width:100px; position: absolute; top: 64px; left: 74px;">
          <div class="card-body" style="position: absolute; width: 249px; height: 170px; bottom: 0px;">
            <div style="position: relative; width: 249px; height: 170px;">
              <h7 class="card-title" style="position: absolute; bottom: 116px; left: 82px; width: 100px; height: 26px;">Jason
              </h7>
              <h9 class="card-title" style="position: absolute; bottom: 96px; left: 82px; width: 90px; height: 22px;">@jason
              </h9>
              <div style="position: absolute; bottom: 55px; left: 55px;">
                <i class="fas fa-feather-alt">100</i>
              </div>
              <div style="position: absolute; bottom: 55px; left: 134px;">
                <i class="fas fa-heart">100</i>
              </div>
              <div style="position: absolute; bottom: 24px; left: 46px;">
                <h7 style="font-size: 2px;">100個追隨中</h7>
              </div>
              <div style="position: absolute; bottom: 24px; left: 129px;">
                <h7 style="font-size: 2px;">100個追隨中</h7>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="width: 249px; height: 310px; margin:8px; position: relative;">
          <div
            style="height: 140px; width: 249px; background-size: cover; background-image: url(/images/logo.png); border-radius: 10px 10px 0px 0px;">
          </div>
          <img src="/images/logo.png" class="card-img-top" alt="沒圖喔！"
            style="height: 100px; width:100px; position: absolute; top: 64px; left: 74px;">
          <div class="card-body" style="position: absolute; width: 249px; height: 170px; bottom: 0px;">
            <div style="position: relative; width: 249px; height: 170px;">
              <h7 class="card-title" style="position: absolute; bottom: 116px; left: 82px; width: 100px; height: 26px;">Jason
              </h7>
              <h9 class="card-title" style="position: absolute; bottom: 96px; left: 82px; width: 90px; height: 22px;">@jason
              </h9>
              <div style="position: absolute; bottom: 55px; left: 55px;">
                <i class="fas fa-feather-alt">100</i>
              </div>
              <div style="position: absolute; bottom: 55px; left: 134px;">
                <i class="fas fa-heart">100</i>
              </div>
              <div style="position: absolute; bottom: 24px; left: 46px;">
                <h7 style="font-size: 2px;">100個追隨中</h7>
              </div>
              <div style="position: absolute; bottom: 24px; left: 129px;">
                <h7 style="font-size: 2px;">100個追隨中</h7>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="width: 249px; height: 310px; margin:8px; position: relative;">
          <div
            style="height: 140px; width: 249px; background-size: cover; background-image: url(/images/logo.png); border-radius: 10px 10px 0px 0px;">
          </div>
          <img src="/images/logo.png" class="card-img-top" alt="沒圖喔！"
            style="height: 100px; width:100px; position: absolute; top: 64px; left: 74px;">
          <div class="card-body" style="position: absolute; width: 249px; height: 170px; bottom: 0px;">
            <div style="position: relative; width: 249px; height: 170px;">
              <h7 class="card-title" style="position: absolute; bottom: 116px; left: 82px; width: 100px; height: 26px;">Jason
              </h7>
              <h9 class="card-title" style="position: absolute; bottom: 96px; left: 82px; width: 90px; height: 22px;">@jason
              </h9>
              <div style="position: absolute; bottom: 55px; left: 55px;">
                <i class="fas fa-feather-alt">100</i>
              </div>
              <div style="position: absolute; bottom: 55px; left: 134px;">
                <i class="fas fa-heart">100</i>
              </div>
              <div style="position: absolute; bottom: 24px; left: 46px;">
                <h7 style="font-size: 2px;">100個追隨中</h7>
              </div>
              <div style="position: absolute; bottom: 24px; left: 129px;">
                <h7 style="font-size: 2px;">100個追隨中</h7>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="width: 249px; height: 310px; margin:8px; position: relative;">
          <div
            style="height: 140px; width: 249px; background-size: cover; background-image: url(/images/logo.png); border-radius: 10px 10px 0px 0px;">
          </div>
          <img src="/images/logo.png" class="card-img-top" alt="沒圖喔！"
            style="height: 100px; width:100px; position: absolute; top: 64px; left: 74px;">
          <div class="card-body" style="position: absolute; width: 249px; height: 170px; bottom: 0px;">
            <div style="position: relative; width: 249px; height: 170px;">
              <h7 class="card-title" style="position: absolute; bottom: 116px; left: 82px; width: 100px; height: 26px;">Jason
              </h7>
              <h9 class="card-title" style="position: absolute; bottom: 96px; left: 82px; width: 90px; height: 22px;">@jason
              </h9>
              <div style="position: absolute; bottom: 55px; left: 55px;">
                <i class="fas fa-feather-alt">100</i>
              </div>
              <div style="position: absolute; bottom: 55px; left: 134px;">
                <i class="fas fa-heart">100</i>
              </div>
              <div style="position: absolute; bottom: 24px; left: 46px;">
                <h7 style="font-size: 2px;">100個追隨中</h7>
              </div>
              <div style="position: absolute; bottom: 24px; left: 129px;">
                <h7 style="font-size: 2px;">100個追隨中</h7>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>