<div class="card w-50 rounded-0" style="height:74px;">
  <div class="card-body row align-items-center">
    <h4 class="col-3 mb-0 fw-bold">推文清單</h4>
  </div>
</div>
<div class="card w-50 rounded-0 border-top-0">
  <div class="row g-0 mx-3">
    <div class="col-1 my-3 m-auto position-relative">
      <img
        src="FWgNCZqaQAEfhoH.jpg"
        class="avatar rounded-circle position-absolute end-0"
        style="width: 50px; height:50px;"
        alt="avatar"
      />
    </div>
    <div class="col-11">
      <div class="card-body">
        <h5 class="card-title fw-bold">Apple　<small
            class="text-muted fw-light"
          >＠apple ． 3小時</small><a
            class="float-end btn border-0 p-0 opacity-50"
          ><i class="close"></i></a></h5>
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longer.</p>
      </div>
    </div>
  </div>
</div>