 <form action="/admin/tweets" method="POST">
      <div class="form-group">
        <label for="content">content</label>
        <input type="text" class="form-control" name="content" id="content" placeholder="Type content">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>