<div class='mb-4 text-center'>
  <h1 class='h3 font-weight-normal mb-3'>後台登入</h1>
</div>
<form class='form-signin' action='/admin/signin' method='POST'>
  <div class='form-row mb-3'>
    <label class='form-label' for='account'>Account</label>
    <input
      class='form-control'
      id='account'
      type='text'
      name='account'
      class='form-control'
      placeholder='Account'
      required
      autofocus
    />
  </div>
  <div class='form-row mb-3'>
    <label class='form-label' for='password'>Password</label>
    <input
      class='form-control'
      id='password'
      type='password'
      name='password'
      class='form-control'
      placeholder='Password'
      required
    />
  </div>
  <button class='btn btn-primary btn-block' type='submit'>Sign In</button>
</form>