<style>
  main {
    margin: 64px auto;
    min-width: 356px;
  }

  .logo {
    margin-bottom: 24px;
  }

  .title {
    margin-bottom: 40px;
  }

  .links {
    margin: 16px 0;
  }
</style>

<main class="w-25">
  <div class="logo d-flex justify-content-center">
    <img src="/images/logo.svg" alt="">
  </div>
  <h3 class="title d-flex justify-content-center fw-bold">
    後台登入
  </h3>
  <div>
    <form action="/admin/signin" method="post">
      {{> signin-tab}}
    </form>
    <div>
      <div class="links d-flex justify-content-end">
        <a href="/signin">前台登入</a>
      </div>
    </div>
  </div>
</main>