<form class="form-signin" action="/admin/signin" method="POST" style="width: 100%;">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal font-weight-bold">後台登入</h1>
  </div>
  <div class="form-label-group py-3">
    <input type="text" name="account" class="form-control bg-light" placeholder="帳號" required autofocus>
  </div>
  <div class="form-label-group py-3">
    <input type="password" name="password" class="form-control bg-light" placeholder="密碼" required>
  </div>
  <br />
  <div class="mb-4 text-center">
    <button class="btn btn-block text-light font-weight-bolder" style="border-radius: 40px; background-color:#FF6600"
      type="submit">登入</button>
  </div>
  <div class="d-flex justify-content-end">
    <div>
      <p><a href="/signin">前台登入</a></p>
    </div>
  </div>
</form>