<div class="login-form">
  <div class="form-head">
    <img src="" alt="" class="ac-icon">
    <p class="form-title">後台登入</p>
  </div>
  <div class="form-body">
    <label for="">帳號</label>
    <input type="text" class="form-label" placeholder="請輸入帳號">
    <label for="">密碼</label>
    <input type="text" class="form-label" placeholder="請輸入密碼">
  </div>
  <div class="form-buttom">
    <a href="" class="login-btn">登入</a>
    <a href="" class="login-link">前台登入</a>
  </div>
</div>

