<div class="container  login-container">
  <div class="col-5">
    <div class="login-logo">
      <img src="/images/logo.svg" alt="">

      <strong class="mt-3 mb-3 login-header" style="font-size:23px">
        後台登入
      </strong>
    </div>

    <form action="/admin/signin" method="POST" style='width: 100%;'>

      <div class='form-label-group form-floating' style='margin-top: 32px;'>
        <input type="text" class="form-control login-input" id="account" name="account" placeholder="帳號" required
          autofocus>
          <label for="account">帳號</label>
      </div>

      <div class='form-label-group form-floating' style='margin-top: 32px;'>
        <input type="password" class="form-control login-input" id="password" name="password" placeholder="密碼" required>
        <label for="password">密碼</label>
      </div>

      <br />

      <div class="mb-4 text-center">
        <button class="btn btn-block login-button" type="submit">登入</button>
      </div>

      <div class=" login-link">
        <a href="/signin">
          前台登入
        </a>
      </div>
    </form>
  </div>

</div>