<div class="admin-container">
  <div class="row justify-content-md-center">
    {{> admin-left}}
    <div class="main col-9">
      <div class="home-page font-lg-dark">
        <a href="/admin/tweets">推文清單</a>
      </div>
      <div class="hr-line"></div>
      {{!-- {{#each}} --}}
      <form class="tweet-card" action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST">
        <div>
          <img src="../images/icons/alphitter-logo-b.png" alt="avatar">
        </div>
        <a class="tweet-card-name" href="/users/{{this.is}}/tweets">
          <span class="font-name">Apple</span>
          <span class="font-account">@appleㆍ3小時</span>
        </a>
        <div class="text-box">
          <span>sed risus pretium quam vulputate dignissim suspendisse in est ante....</span>
        </div>
        <button type="submit" class="btn-close" aria-label="Close"></button>
      </form>
      {{!-- {{/each}} --}}
    </div>
  </div>
</div>