<div class="container">
  <div class="border">
    {{> nav}}
  </div>
  {{!-- tweets --}}
  <div class="">
    {{#each tweets}}
    {{> tweetList isAdminPage=../isAdminPage}}
    {{/each}}
  </div>
</div>