<div class="row">
  <div class="col-md-12">
    <h1>UserId: {{tweet.UserId}}</h1>
  </div>

  <div class="col-md-4">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Content:</strong> {{tweet.content}}</li>
        <li><strong>Likes:</strong> {{tweet.Likes}}</li>
        <footer class="blockquote-footer"> {{moment this.createdAt}}</footer>
      </ul>
    </div>
  </div>
  <hr>
</div>

<hr>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>