<div class="admin-tweets-wrapper pt-4">
  <div class="header">
    <h4 class="ms-4 mb-4"><a href="javascript:history.back()">{{>back}} </a><span class="ms-3 ">{{user.name}}</span></h4>
 
</div>
 {{>admin-tweet}}