<div class="admin-container">
  <div class="row justify-content-md-center">
    {{> admin-left}}
    <div class="main col-9">
      <div class="home-page font-lg-dark">
        <a href="/tweets">推文清單</a>
      </div>
      <div class="hr-line"></div>
      {{!-- {{#each}} --}}
      {{> admin-tweet}}
      {{> admin-tweet}}
      {{> admin-tweet}}
      {{> admin-tweet}}
      {{> admin-tweet}}
      {{> admin-tweet}}
      {{> admin-tweet}}
      {{> admin-tweet}}
      {{> admin-tweet}}
      {{!-- {{/each}} --}}
    </div>
  </div>
</div>