<div class="col-12 d-flex flex-row justify-content-between">
  <div class=" d-flex flex-row">
    <div class="avatar ">
      <img class="avatar-img" src="{{this.User.avatar}}" width="50" height="50" alt="">
    </div>
    <div class="tweet-text ms-3">
      <div class="d-inline name">
        <strong>Andy</strong>
      </div>
      <div class="d-inline">
        @andychienㆍrelativeTimeFromNow this.createdAt
      </div>
      <div class="content">
        dewkdowekfperpvmefopvmfpebmpowrmtbopr
        bwtrbkoprmtbpmrwptbmporwmbortwb
        brwb,prwtb,port,bpor,tb
        wrpb,prt,bopw,rotb
        prwt,bporw,tbop,rwtb
      </div>
    </div>
  </div>
  <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST">
    <button type="submit" class="btn-close" aria-label="Close"></button>
  </form>
</div>