<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div>
          <div>
            <h4>
              <a class="nav-link" href="/admin">後台首頁</a>
            </h4>
          </div>
          <div>
            <h4>
              <a class="nav-link" href="/admin/tweets">推文清單</a>
            </h4>
          </div>
          <div>
            <h4>
              <a class="nav-link" href="/admin/users">使用者列表</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h1>User Name: {{tweet.User.name}}</h1>
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Content:</strong> {{tweet.content}}</li>
        <li><strong>Likes:</strong> {{tweet.Likes}}</li>
      </ul>
      <footer class="blockquote-footer"> {{moment this.createdAt}}</footer>
    </div>
  </div>
  <hr>
</div>

<hr>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>