<div class="d-flex justify-content-center">
  {{!-- admin-navbar --}}
  {{> admin-navbar route = (lookupPartial partialName)}}

  {{!--tweet-list --}}
  <div class="col-9 home-page {{#if userPage}}admin-user-page{{/if}}">
    <ul class="list-group home-list">
  
      {{> (lookupPartial partialName)}}
  
    </ul>
  </div>

</div>