<div class="row mt-3">
  <div class="col-3 border-right">main.hbs</div>
  <div class="col-md-9 pl-0">
    <h3 class="ml-2">推文清單</h3>
    <hr>
    <div class="row m-auto">
      <div class="d-flex">
        <div class="avatar mt-2 col">
          <img src="https://cdn-origin.cool-style.com.tw/cool/2020/02/49559949267_3da049d7ab_b.jpg" alt="image"
            class="border rounded-circle" style="width: 90px">
        </div>
        <div class="information d-flex flex-column mt-2 col-md-9">
          <div class="d-flex">
            <div class="name">
              <a><strong>派大星&ensp;</strong></a>
            </div>
            <div class="account">
              <a>@Patrick Star </a>
            </div>
            <div class="createdAt">
              &ensp;·&ensp;{{moment this.createdAt}}
            </div>
          </div>
          <div class="description text-wrap" style="word-break:break-all; word-wrap:break-all;">
            description...description...description...description...description...description...description...description...description...description...scription...descripscription...descripscription...descripscription...descrip
          </div>
        </div>
        <form action="_method=DELETE" method="POST" class="col-md-1">
          <button type="submit" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row m-auto">
      <div class="d-flex">
        <div class="avatar mt-2 col">
          <img src="https://cdn-origin.cool-style.com.tw/cool/2020/02/49559949267_3da049d7ab_b.jpg" alt="image"
            class="border rounded-circle" style="width: 90px">
        </div>
        <div class="information d-flex flex-column mt-2 col-md-9">
          <div class="d-flex">
            <div class="name">
              <a><strong>派大星&ensp;</strong></a>
            </div>
            <div class="account">
              <a>@Patrick Star </a>
            </div>
            <div class="createdAt">
              &ensp;·&ensp;{{moment this.createdAt}}
            </div>
          </div>
          <div class="description text-wrap" style="word-break:break-all; word-wrap:break-all;">
            description...description...description...description...description...description...description...description...description...description...scription...descripscription...descripscription...descripscription...descrip
          </div>
        </div>
        <form action="_method=DELETE" method="POST" class="col-md-1">
          <button type="submit" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row m-auto">
      <div class="d-flex">
        <div class="avatar mt-2 col">
          <img src="https://cdn-origin.cool-style.com.tw/cool/2020/02/49559949267_3da049d7ab_b.jpg" alt="image"
            class="border rounded-circle" style="width: 90px">
        </div>
        <div class="information d-flex flex-column mt-2 col-md-9">
          <div class="d-flex">
            <div class="name">
              <a><strong>派大星&ensp;</strong></a>
            </div>
            <div class="account">
              <a>@Patrick Star </a>
            </div>
            <div class="createdAt">
              &ensp;·&ensp;{{moment this.createdAt}}
            </div>
          </div>
          <div class="description text-wrap" style="word-break:break-all; word-wrap:break-all;">
            description...description...description...description...description...description...description...description...description...description...scription...descripscription...descripscription...descripscription...descrip
          </div>
        </div>
        <form action="_method=DELETE" method="POST" class="col-md-1">
          <button type="submit" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </form>
      </div>
    </div>
    <hr>
  </div>
</div>