<div class="wrapper">
  <div class='container user-homepage'>
    <div class="profile-setting d-flex flex-column justify-content-between">{{> admin-menu}}</div>
    <div>admin can see 所有推文</div>
  </div>
</div>