<div class="container mt-3">
  <div class="row">
    {{!-- <div class="col-3">main.hbs</div> --}}
    <ul class="list-group col-md-9">
      <li class="list-group-item h3">推文清單</li>
      <li class="list-group-item row m-auto">
        <div class="d-flex">
          <div class="avatar mt-2 col">
            <img src="https://images.app.goo.gl/WSxm7sTJ5o8agUyNA" alt="image"
              class="border rounded-circle" style="width: 90px">
          </div>
          <div class="information d-flex flex-column mt-2 col-md-9">
            <div class="d-flex">
              <div class="name">
                <a><strong>Alice Wong&ensp;</strong></a>
              </div>
              <div class="account">
                <a>@AliceWongLovesToParty</a>
              </div>
              <div class="createdAt">
                &ensp;·&ensp;{{moment this.createdAt}}
              </div>
            </div>
            <div class="description text-wrap" style="word-break:break-all; word-wrap:break-all;">
              paaaaaarty hello i love it
            </div>
          </div>
          <form action="_method=DELETE" method="POST" class="col-md-1">
            <button type="submit" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </form>
        </div>
      </li>
      <li class="list-group-item row m-auto">
        <div class="d-flex">
          <div class="avatar mt-2 col">
            <img src="https://images.app.goo.gl/WSxm7sTJ5o8agUyNA" alt="image"
              class="border rounded-circle" style="width: 90px">
          </div>
          <div class="information d-flex flex-column mt-2 col-md-9">
            <div class="d-flex">
              <div class="name">
                <a><strong>Alice Wong 2&ensp;</strong></a>
              </div>
              <div class="account">
                <a>@AliceWongDoesntLikeToParty</a>
              </div>
              <div class="createdAt">
                &ensp;·&ensp;{{moment this.createdAt}}
              </div>
            </div>
            <div class="description text-wrap" style="word-break:break-all; word-wrap:break-all;">
              hahahahahahaahhaha yoyoyoyoyoy
            </div>
          </div>
          <form action="_method=DELETE" method="POST" class="col-md-1">
            <button type="submit" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>