<div class="container-fluid">
  <div class="row">

    <div class="col-3">
    </div>

    <div class="col-9 pr-0">
      <div class="card bg-light">
        <div class="card-header">推文清單</div>
      </div>

      <div class="card" style="">
        <div class="row no-gutters" style="position:relative">
          <div class="col-md-1 row mx-0 pl-3 justify-content-center align-items-center" style="">
            <img src="https://truth.bahamut.com.tw/s01/201908/b47aecdaa71478a31a2af0b531be21cc.JPG" class="card-img"
              alt="..." style="height:70px;width:70px;border-radius: 50%;border:1px black solid;">
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <h6 class="card-title">Card title<span class="text-muted small ml-2"><a href="#"
                    style="color:#6c757d;">@simon◆10小時</a></span></h6>
              <p class="card-text small">This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer. This is a wider card with supporting text below
                as a natural lead-in to additional content.</p>
            </div>
          </div>
          <form action="?_method=DELETE" method="POST"
            style="display: inline;position: absolute; left: 94%; font-size: 20px;" class="mt-2">
            <button type="submit" class="btn btn-link icon icon-delete m-0 p-0"></button>
          </form>
        </div>
      </div>

      <div class="card" style="">
        <div class="row no-gutters" style="position:relative">
          <div class="col-md-1 row mx-0 pl-3 justify-content-center align-items-center" style="">
            <img src="https://truth.bahamut.com.tw/s01/201908/b47aecdaa71478a31a2af0b531be21cc.JPG" class="card-img"
              alt="..." style="height:70px;width:70px;border-radius: 50%;border:1px black solid;">
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <h6 class="card-title">Card title<span class="text-muted small ml-2"><a href="#"
                    style="color:#6c757d;">@simon◆10小時</a></span></h6>
              <p class="card-text small">This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer. This is a wider card with supporting text below
                as a natural lead-in to additional content.</p>
            </div>
          </div>
          <form action="?_method=DELETE" method="POST"
            style="display: inline;position: absolute; left: 94%; font-size: 20px;" class="mt-2">
            <button type="submit" class="btn btn-link icon icon-delete m-0 p-0"></button>
          </form>
        </div>
      </div>

      <div class="card" style="">
        <div class="row no-gutters" style="position:relative">
          <div class="col-md-1 row mx-0 pl-3 justify-content-center align-items-center" style="">
            <img src="https://truth.bahamut.com.tw/s01/201908/b47aecdaa71478a31a2af0b531be21cc.JPG" class="card-img"
              alt="..." style="height:70px;width:70px;border-radius: 50%;border:1px black solid;">
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <h6 class="card-title">Card title<span class="text-muted small ml-2"><a href="#"
                    style="color:#6c757d;">@simon◆10小時</a></span></h6>
              <p class="card-text small">This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer. This is a wider card with supporting text below
                as a natural lead-in to additional content.</p>
            </div>
          </div>
          <form action="?_method=DELETE" method="POST"
            style="display: inline;position: absolute; left: 94%; font-size: 20px;" class="mt-2">
            <button type="submit" class="btn btn-link icon icon-delete m-0 p-0"></button>
          </form>
        </div>
      </div>

      <div class="card" style="">
        <div class="row no-gutters" style="position:relative">
          <div class="col-md-1 row mx-0 pl-3 justify-content-center align-items-center" style="">
            <img src="https://truth.bahamut.com.tw/s01/201908/b47aecdaa71478a31a2af0b531be21cc.JPG" class="card-img"
              alt="..." style="height:70px;width:70px;border-radius: 50%;border:1px black solid;">
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <h6 class="card-title">Card title<span class="text-muted small ml-2"><a href="#"
                    style="color:#6c757d;">@simon◆10小時</a></span></h6>
              <p class="card-text small">This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer. This is a wider card with supporting text below
                as a natural lead-in to additional content.</p>
            </div>
          </div>
          <form action="?_method=DELETE" method="POST"
            style="display: inline;position: absolute; left: 94%; font-size: 20px;" class="mt-2">
            <button type="submit" class="btn btn-link icon icon-delete m-0 p-0"></button>
          </form>
        </div>
      </div>

      <div class="card" style="">
        <div class="row no-gutters" style="position:relative">
          <div class="col-md-1 row mx-0 pl-3 justify-content-center align-items-center" style="">
            <img src="https://truth.bahamut.com.tw/s01/201908/b47aecdaa71478a31a2af0b531be21cc.JPG" class="card-img"
              alt="..." style="height:70px;width:70px;border-radius: 50%;border:1px black solid;">
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <h6 class="card-title">Card title<span class="text-muted small ml-2"><a href="#"
                    style="color:#6c757d;">@simon◆10小時</a></span></h6>
              <p class="card-text small">This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer. This is a wider card with supporting text below
                as a natural lead-in to additional content.</p>
            </div>
          </div>
          <form action="?_method=DELETE" method="POST"
            style="display: inline;position: absolute; left: 94%; font-size: 20px;" class="mt-2">
            <button type="submit" class="btn btn-link icon icon-delete m-0 p-0"></button>
          </form>
        </div>
      </div>

      <div class="card" style="">
        <div class="row no-gutters" style="position:relative">
          <div class="col-md-1 row mx-0 pl-3 justify-content-center align-items-center" style="">
            <img src="https://truth.bahamut.com.tw/s01/201908/b47aecdaa71478a31a2af0b531be21cc.JPG" class="card-img"
              alt="..." style="height:70px;width:70px;border-radius: 50%;border:1px black solid;">
          </div>
          <div class="col-md-11">
            <div class="card-body">
              <h6 class="card-title">Card title<span class="text-muted small ml-2"><a href="#"
                    style="color:#6c757d;">@simon◆10小時</a></span></h6>
              <p class="card-text small">This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer. This is a wider card with supporting text below
                as a natural lead-in to additional content.</p>
            </div>
          </div>
          <form action="?_method=DELETE" method="POST"
            style="display: inline;position: absolute; left: 94%; font-size: 20px;" class="mt-2">
            <button type="submit" class="btn btn-link icon icon-delete m-0 p-0"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>