<div class="admin-tweets">
  {{> admin-navbar}}

  <div class="admin-tweets-container">
        
    {{!-- Header --}}
    <div class="admin-tweets-header">
      <h4 class="main-title">推文清單</h4>
    </div>
    
    {{!-- Tweets list --}}
    <div class="admin-tweets-list-container">
      {{#each tweets}}
      <div class="admin-tweets-list">
      {{>admin-tweet-card}}      
      </div>
      {{/each}}
    </div>

    {{!-- Footer --}}
    <div class="admin-tweets-footer">
    </div>

  </div>
</div>


    
