<div class="admin-container">
  <div class="row justify-content-md-center">

    {{> admin-left}}

    <div class="main col-9">
      <div class="home-page font-lg-dark">
        <a href="/tweets">使用者列表</a>
      </div>
      <div class="hr-line"></div>
      {{!-- {{#each}} --}}
      <div class="row">

        {{> admin-user}}
        {{> admin-user}}
        {{> admin-user}}
        {{> admin-user}}
        {{> admin-user}}
        {{> admin-user}}
        {{> admin-user}}
        {{> admin-user}}
        {{> admin-user}}
        {{> admin-user}}
        {{> admin-user}}
        {{> admin-user}}

      </div>
      {{!-- {{/each}} --}}
    </div>
  </div>
</div>