<div id="column1" style="float:left; width:20%; position: fixed; top:0%; left:5%">{{> adminNavigation}}</div>

<div class="d-flex justify-content-center">
  <div id="column2" class="mx-auto my-auto" style="float:left;width:50%;">
    <h3>使用者列表</h3>
    {{#each users}}
      <div>
        <div>
          <span>{{this.name}}</span>
          @<span>{{this.account}}</span>
        </div>
      </div>
      <br />
    {{/each}}
  </div>
</div>