<div class="row" style="width:100%;">
  {{!-- 左邊選項欄位 --}}
  <div class="col-3">
    <img class="mb-4 pl-2" src="/images/logo.png">
    <div class="nav-ul-wrapper">
      <ul class="nav flex-column">
        <li class="nav-item py-2">
          <a class="nav-link " href="/admin/tweets">
            <i class="fas fa-home"></i>
            <span class="ml-3">推文清單</span>
          </a>
        </li>
        <li class="nav-item py-2">
          <a class="nav-link active" href="/admin/users">
            <i class="far fa-user"></i>
            <span class="ml-3">使用者列表</span>
          </a>
        </li>
      </ul>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="ml-3">登出</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  {{!-- 右邊清單欄位 --}}
  {{!-- 會用到 cover, avatar,name,account, 留言數量 , 喜歡數量, 正在追蹤數量 , 正在被追蹤數量 --}}
  <div class="col-9 d-flex flex-row justify-content-around">
    
    {{#each users}}
    <div class="d-flex flex-column align-items-center mr-3">
        <div class="coverAndAvatar d-flex flex-column align-items-center" style="max-width: 200px;">
          <img class="cover" style="max-width: 200px;" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=1200:*">
          <img class="avatar" style="max-width: 100px;" src="{{this.avatar}}">
        </div>
        <div class='userNameAndAccount d-flex flex-column align-items-center'>
          <p class="userName">{{this.name}}</p>
          <p class="account">@{{this.account}}</p>
        </div>
        <div class='tweetsAndLikeIcon d-flex flex-row justify-content-around'>
          <p class='tweetsTotal'><i class="far fa-comment-alt"></i> 15K</p>
          <p class='LikesTotal'><i class="far fa-heart"></i> 20K</p>
        </div>
        <div class='followShip d-flex flex-row justify-content-around'>
          <p class='followings'><strong>34個</strong>跟隨中</p>
          <p class='followers'><strong>34個</strong>跟隨者</p>
        </div>
      </div>
      {{/each}}

    </div>
  </div>