{{>admin-left route='usersList'}}
<div class="col-10 mt-3" style="height:1200px;width:950px;">
  {{> admin-header route='usersList'}}
  <div class="row row-cols-4">
    {{#each users}}
      {{> admin-user}}
    {{/each}}
  </div>
</div>