<div class="container">
  <div class="row">
    {{>admin-sidebar route="users"}}
    <div class="admin-users col-9">
      <div class=" home-header">
        使用者列表
      </div>
      <div class="user-card row">
        {{!-- 從下面開始渲染 --}}
        <div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div><div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div><div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div><div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div><div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div><div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div><div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div><div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div><div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div><div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div><div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div><div class="col-3 user-card-main">
          <div class="user-border">
            <div class="user-border-img">
              <div class="user-border-avatar">
              </div>
            </div>
            <div class="text-center">
              <p class="mb-0">John Doe</p>
              <p class="mb-1">@heyjohn</p>
              <div class="text-center-info">
                <img src="/images/basic/black/post.svg">
                <p class="mb-0" style="font-family: Montserrat;">1.5k</p>
                <img src="/images/basic/white/like.svg">
                <p class="mb-0" style="font-family: Montserrat;">20k</p>
              </div>
              <div class="text-center-follow">
                <p class="mb-0">
                  34 個<span>跟隨中</span>
                </p>
                <p class="mb-0">
                  59 位<span>跟隨者</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
