<div class="container">
  <div class="row justify-content-md-center">
    <div class="main col-4">

      {{> admin-left}}

    </div>

    <div class="main col-8">

      {{> admin-header}}

      <div class="row">
        {{!--
        <div class="card mx-1 my-2">
          <div class="card-top">
            <img class="card-cover"
              src="https://media.gettyimages.com/photos/hot-air-balloons-flying-over-the-botan-canyon-in-turkey-picture-id1297349747?k=20&m=1297349747&s=612x612&w=0&h=ki4CX5eS8qtXUzQyYZJxZXG0pNyRIlE0FHYFtaJ0p0I="
              alt="card-cover">
          </div>
          <div class="card-middle">
            <div class="card-avatar-part">
              <img class="card-avatar"
                src="https://assets-lighthouse.alphacamp.co/uploads/user/photo/8265/medium____2022-02-16___5.15.27.png"
                alt="card-avatar">
            </div>
            <div class="">
              <p class="card-name">Andy Chien</p>
              <p class="card-account">@andychienn</p>
            </div>

          </div>
          <div class="card-bottom">
            <div class="card-tweet-like">
              <div class="card-tweet">
                <div><img class="card-img" src="/images/icons/feather.png" alt="">
                </div>
                <div class="card-num">1.5K</div>
              </div>
              <div class="card-like">
                <div><img class="card-img" src="/images/icons/like-w.png" alt="">
                </div>
                <div class="card-num">1.5K</div>
              </div>
            </div>
            <div class="card-followship">
              <div class="card-following">
                20 個跟隨中
              </div>
              <div class="card-follower">
                20 個跟隨者
              </div>
            </div>
          </div>
        </div> --}}

        {{#each users}}
        <div class="card mx-1 my-2">
          <div class="card-top">
            <img class="card-cover" src="{{ this.avatar }}" alt="card-cover">
          </div>
          <div class="card-middle">
            <div class="card-avatar-part">
              <img class="card-avatar" src="{{ this.avatar }}" alt="card-avatar">
            </div>
            <div class="">
              <p class="card-name">{{this.name}}</p>
              <p class="card-account">@{{this.account}}</p>
            </div>

          </div>
          <div class="card-bottom">
            <div class="card-tweet-like">
              <div class="card-tweet">
                <div><img class="card-img" src="/images/icons/feather.png" alt="">
                </div>
                <div class="card-num">1.5K</div>
              </div>
              <div class="card-like">
                <div><img class="card-img" src="/images/icons/like-w.png" alt="">
                </div>
                <div class="card-num">1.5K</div>
              </div>
            </div>
            <div class="card-followship">
              <div class="card-following">
                20 個跟隨中
              </div>
              <div class="card-follower">
                20 個跟隨者
              </div>
            </div>
          </div>
        </div>
        {{/each}}

      </div>

    </div>
  </div>
</div>