<div class="container-fluid">
  <div class="row">
    <div class="col-3 ">
      {{> left-column}}
    </div>
    <div class="center-section col-9 ">
      <div class="tweetPage">
        <div class="title text-left font-weight-bold mt-1 py-3 pl-2"
          style="font-size: 18px;line-height: 26px;color: #1C1C1C;border: #E6ECF0 1px solid;"> <a
            onclick="history.back()"><i class="fas fa-arrow-left ml-1 mr-4"></i></a>使用者列表
        </div>
        <div class="row row-cols-1 row-cols-md-4 m-0" style="border: 1px solid rgba(0,0,0,.125);">
          {{#each users}}
          <div class="col-3 p-1">
            <div class="card h-100">
              <img src={{this.cover}} class="card-img-top" style="border-radius: 10px 10px 0 0" alt="...">
              <img src={{this.avatar}} alt=""
                style="position: absolute;height:auto;min-height:90px;width:90px;border-radius:50%;left:25%;top:20%;border:3px solid white;">
              <div class="card-body">
                <h5 class="card-title text-center pt-2 mb-1">{{this.name}}</h5>
                <div class="text-muted small text-center">
                  <a href="#" style="color:#6c757d;">{{this.account}}</a>
                </div>
                <div class="col-12 row m-0 p-0 pl-2 mt-3 justify-content-center">
                  <div class="col-6">
                    <i class="icon icon-reply"></i>
                    <span>200</span>
                  </div>
                  <div class="col-6">
                    <i class="icon icon-like"></i>
                    <span>20k</span>
                  </div>
                </div>
                <div class="d-flex mt-3 ml-2 justify-content-around" style="font-size: 0.8rem;">
                  <div><span style="font-weight:bold;">34個</span><a href="" style="color:#6c757d;">跟隨中</a></div>
                  <div><span style="font-weight:bold;">30位</span><a href="" style="color:#6c757d;">追隨者</a></div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>