<div class="container-fluid">
  <div class="row justify-content-start">

    {{>columnLeft}}

    <div class="profile-container fluid white-bg">
      <div class="profile-nav border-end-0 border-start-0">
        <h3 class="profile-nav-header">推文清單</h3>
      </div>
    <div class="cards-wrapper d-flex flex-row">
    
      <!--start::user card-->
      <div class="card-wrapper p-2">
        <div class="card adminUsers"><img class="card-img-top adminUsers-cardImg"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmJfc7qDtvnnrybfTWylFlkqAaAW9cTj6FsQ&amp;usqp=CAU" />
          <div class="card-body adminUsers">
            <div class="adminUsers-card1">
              <div class="avatar adminUsers-avatar"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT5cCP8TaZvRFktb9AaXmCsShcNhbzXxJtBw&amp;amp;usqp=CAU"
                  alt="avatar-img" /></div>
              <div class="post-title">Card Title</div>
              <div class="post-sub-text">@mewi</div>
            </div>
            <div class="post-sub-info adminUsers">
              <span class="post-icon-info mb-2 ">
              <i class="bi bi-chat mr-2"></i><b>&nbsp;75</b>
              </span>
              <span class="post-icon-info mb-2 ">
                <i class="bi bi-heart mr-2"></i><b>&nbsp;15 </b>
              </span>
              <p class="mainpost-sm reply-like-text mt-2"><b>34個<span class="post-sub-text">&nbsp;跟隨中</span>
                808位<span class="post-sub-text">&nbsp;跟隨者</span></b></p>
            </div>
            
          </div>
        </div>
      </div>
      <!--end::user card-->
      <!--start::user card-->
      <div class="card-wrapper p-2">
        <div class="card adminUsers"><img class="card-img-top adminUsers-cardImg"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmJfc7qDtvnnrybfTWylFlkqAaAW9cTj6FsQ&amp;usqp=CAU" />
          <div class="card-body adminUsers">
            <div class="adminUsers-card1">
              <div class="avatar adminUsers-avatar"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT5cCP8TaZvRFktb9AaXmCsShcNhbzXxJtBw&amp;amp;usqp=CAU"
                  alt="avatar-img" /></div>
              <div class="post-title">Card Title</div>
              <div class="post-sub-text">@mewi</div>
            </div>
            <div class="post-sub-info adminUsers">
              <span class="post-icon-info mb-2 ">
              <i class="bi bi-chat mr-2"></i><b>&nbsp;75</b>
              </span>
              <span class="post-icon-info mb-2 ">
                <i class="bi bi-heart mr-2"></i><b>&nbsp;15 </b>
              </span>
              <p class="mainpost-sm reply-like-text mt-2"><b>34個<span class="post-sub-text">&nbsp;跟隨中</span>
                808位<span class="post-sub-text">&nbsp;跟隨者</span></b></p>
            </div>
            
          </div>
        </div>
      </div>
      <!--end::user card-->
      <!--start::user card-->
      <div class="card-wrapper p-2">
        <div class="card adminUsers"><img class="card-img-top adminUsers-cardImg"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmJfc7qDtvnnrybfTWylFlkqAaAW9cTj6FsQ&amp;usqp=CAU" />
          <div class="card-body adminUsers">
            <div class="adminUsers-card1">
              <div class="avatar adminUsers-avatar"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT5cCP8TaZvRFktb9AaXmCsShcNhbzXxJtBw&amp;amp;usqp=CAU"
                  alt="avatar-img" /></div>
              <div class="post-title">Card Title</div>
              <div class="post-sub-text">@mewi</div>
            </div>
            <div class="post-sub-info adminUsers">
              <span class="post-icon-info mb-2 ">
              <i class="bi bi-chat mr-2"></i><b>&nbsp;75</b>
              </span>
              <span class="post-icon-info mb-2 ">
                <i class="bi bi-heart mr-2"></i><b>&nbsp;15 </b>
              </span>
              <p class="mainpost-sm reply-like-text mt-2"><b>34個<span class="post-sub-text">&nbsp;跟隨中</span>
                808位<span class="post-sub-text">&nbsp;跟隨者</span></b></p>
            </div>
            
          </div>
        </div>
      </div>
      <!--end::user card-->
      <!--start::user card-->
      <div class="card-wrapper p-2">
        <div class="card adminUsers"><img class="card-img-top adminUsers-cardImg"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmJfc7qDtvnnrybfTWylFlkqAaAW9cTj6FsQ&amp;usqp=CAU" />
          <div class="card-body adminUsers">
            <div class="adminUsers-card1">
              <div class="avatar adminUsers-avatar"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT5cCP8TaZvRFktb9AaXmCsShcNhbzXxJtBw&amp;amp;usqp=CAU"
                  alt="avatar-img" /></div>
              <div class="post-title">Card Title</div>
              <div class="post-sub-text">@mewi</div>
            </div>
            <div class="post-sub-info adminUsers">
              <span class="post-icon-info mb-2 ">
              <i class="bi bi-chat mr-2"></i><b>&nbsp;75</b>
              </span>
              <span class="post-icon-info mb-2 ">
                <i class="bi bi-heart mr-2"></i><b>&nbsp;15 </b>
              </span>
              <p class="mainpost-sm reply-like-text mt-2"><b>34個<span class="post-sub-text">&nbsp;跟隨中</span>
                808位<span class="post-sub-text">&nbsp;跟隨者</span></b></p>
            </div>
            
          </div>
        </div>
      </div>
      <!--end::user card-->
      <!--start::user card-->
      <div class="card-wrapper p-2">
        <div class="card adminUsers"><img class="card-img-top adminUsers-cardImg"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmJfc7qDtvnnrybfTWylFlkqAaAW9cTj6FsQ&amp;usqp=CAU" />
          <div class="card-body adminUsers">
            <div class="adminUsers-card1">
              <div class="avatar adminUsers-avatar"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT5cCP8TaZvRFktb9AaXmCsShcNhbzXxJtBw&amp;amp;usqp=CAU"
                  alt="avatar-img" /></div>
              <div class="post-title">Card Title</div>
              <div class="post-sub-text">@mewi</div>
            </div>
            <div class="post-sub-info adminUsers">
              <span class="post-icon-info mb-2 ">
              <i class="bi bi-chat mr-2"></i><b>&nbsp;75</b>
              </span>
              <span class="post-icon-info mb-2 ">
                <i class="bi bi-heart mr-2"></i><b>&nbsp;15 </b>
              </span>
              <p class="mainpost-sm reply-like-text mt-2"><b>34個<span class="post-sub-text">&nbsp;跟隨中</span>
                808位<span class="post-sub-text">&nbsp;跟隨者</span></b></p>
            </div>
            
          </div>
        </div>
      </div>
      <!--end::user card-->

    
    </div>


    </div>
  </div>