<div class="row h-100 me-0">

  <div class="col-3">
    <div class="row position-relative h-100">
      {{> nav-admin-btn}}
      <div class="border-line position-absolute"
        style=" width:1px; background-color:#E6ECF0; padding: 0; right: 0; top:0; bottom: 0;">
      </div>
    </div>
  </div>

  <div class="col p-0">

    <div class="container-admin-tweets" style="height: 100%;border:1px solid #E6ECF0; ">

      <div style="border-bottom: 1px solid #E6ECF0;">
        <h4 class="pt-3 ps-3 pb-3 mb-0"
          style="display:flex; justify-content:start; align-iten:center; height: 75px;font-weight: 700;font-size: 24px;line-height: 26px;color: #171725;">
          使用者列表
        </h4>
      </div>

      <div class="row mt-3 me-5">

        <div class="col-md-3">
          <div class="card mb-4 ms-3" style="border-radius: 15px; overflow:hidden;">
            <div class="container-cover">
              <img id="img-users-cover-admin" src="/images/users/cover.png" alt="">
            </div>
            <div class="container-avatar">
              <img id="img-users-avatar-admin"
                src="https://assets-lighthouse.alphacamp.co/uploads/image/file/15982/man_02.png" alt="">
            </div>
            <div class="container-name" style="text-align: center;">
              <p class="mb-0">John Doe</p>
              <p class="mb-2">@heyjohn</p>
            </div>
            <div class="container-reply" style="text-align: center;">
              <img id="ac-reply-icon-admin" src="/images/users/reply.png" alt="" >
              <span>1.5k</span>
              <img id="ac-like-icon-admin" src="/images/users/like.png" alt="">
              <span>20k</span>
            </div>
            <div class="container-follow" style="text-align: center;">
              <span>3.4個跟隨中</span>
              <span>59位跟隨者</span>
            </div>
          </div>
        </div>

      </div>




    </div>

  </div>

</div>