    {{> admin-navbar}}


<h4 class="main-title">使用者列表</h4>
  
<div class="users-container">
  <div class="card" style="width:210px;height:314px;">
    <div class="user-image" style="height:50%;border:1px solid black">
      <div class="profile-cover background-image" style="height:140px;border-radius:10px 10px 0px 0px"></div>
        <div style="position:absolute;top:64px;left:55px"><img src="/images/icons/avatar.png"></div>
      </div>

      <div class="user-info mt-8" style="height:50%">
        <div class="user-name" style="text-align:center">name</div>
          <div class="user-account" style="text-align:center">account</div>
          <div class="user-data" style="display:flex;justify-content:space-around">
            <div class="tweets">1.5K</div>
            <div class="likes">20K</div>
          </div>
          <div class="user-followships" style="display:flex;justify-content:space-around">
            <div class="followings">34個跟隨中</div>
            <div class="followers">59位跟隨者</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
