<div class="twitter-item">
  <div class="user-img"><img src="" alt="" class="user-avatar"></div>
  <div class="user-post">
    <p class="user-name">Apple</p><span class="user-name">@apple</span>
    <p class="user-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum
      sodales. Nullam mattis fermentum
      libero, non volutpat.</p>
  </div>
</div>

{{!-- main/tweet --}}
{{!-- check form method --}}
{{!-- (.news-feed-form>(img.user-avatar+input.news-feed-input)+btn.news-feed-btn) --}}
<div class="news-feed-form">
  <img src="" alt="" class="user-avatar">
  <input type="text" class="news-feed-input">
  <button class="news-feed-btn"></button>
</div>