<div class="modal-dialog" role="document">
  <div class="modal-content">

    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
      <i class="fas fa-times"></i>
    </button>

    <hr>


    <form action="/api/tweets" method="POST">
      <div class="type-area">
        <div class="user-pic">
          <a href="/users/{{user.id}}/tweets">
          <img src="{{currentUser.avatar}}" alt="">
          </a>
        </div>



        <div class="type-text">
          <textarea type="text" class="new-post-content form-control" id="description-modal" name="description"
            placeholder="有什麼新鮮事？" rows="5"></textarea>
          <div class="invalid-feedback" id="add-tweet">
          </div>
        </div>

      </div>

      <div class="add-button">
        <button type="submit" class="btn button" id="modal-send-button">推文
        </button>
      </div>

    </form>

  </div>
</div>

<script>

  const addTweet = document.querySelector("#description-modal")
  const addBtn = document.querySelector("#modal-send-button")


  addTweet.addEventListener('input', function check(event) {
    if (addTweet.value.length < 1) {
      addTweet.classList.add("is-invalid")
      addTweet.nextElementSibling.innerHTML = "推文不得為空"
    }
    if (addTweet.value.length > 140) {
      addTweet.classList.add("is-invalid")
      addTweet.nextElementSibling.innerHTML = "字數不可超過140字"
    }
    if (addTweet.value.length > 0 && addTweet.value.length < 140) {
      addTweet.classList.remove("is-invalid")
    }
  })

  addBtn.addEventListener('click', function check(event) {
    if (addTweet.value.length < 1) {
      addTweet.classList.add("is-invalid")
      addTweet.nextElementSibling.innerHTML = "推文不得為空"
      event.preventDefault()
    }
    if (addTweet.value.length > 140) {
      addTweet.classList.add("is-invalid")
      addTweet.nextElementSibling.innerHTML = "字數不可超過140字"
      event.preventDefault()
    }
  })

</script>