<div class="modal-dialog" role="document">
  <div class="modal-content">

    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
      <i class="fas fa-times"></i>
    </button>

    <hr>

    <div class="type-area">
      <div class="user-pic">
        <img src="{{currentUser.avatar}}" alt="">
      </div>
      {{!-- //TODO:要包FORM --}}
      <div class="type-text">
        <textarea class="form-control new-post-content is-invalid" placeholder="有什麼新鮮事？" rows="5" maxlength="140"></textarea>
        <div class="invalid-feedback" id="add-tweet">
          字數不可超過140字
        </div>
      </div>

    </div>

    <div class="add-button">
      <button type="submit" class="btn button">推文
      </button>
    </div>

  </div>
</div>