<div id='admin-sidebar-left'>
  <div class='navigation'>
    <div class='logo' herf=''>
      <svg
        width='50'
        height='50'
        viewbox='10 4 50 50'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          fill-rule='evenodd'
          clip-rule='evenodd'
          d='M29.2746 23.8535C29.2746 23.8535 23.6744 32.9339 19.0831 32.9339C11.0522 32.9339 18.5364 15.6353 24.3936 15.6353C28.4806 15.6353 29.2746 23.8535 29.2746 23.8535Z'
          fill='#FF6600'
        ></path>
        <path
          fill-rule='evenodd'
          clip-rule='evenodd'
          d='M35.9293 35.2728C34.334 36.9704 32.3649 38.2731 30.1784 39.0774C27.9919 39.8818 25.648 40.1658 23.3326 39.9069C21.0172 39.648 18.794 38.8533 16.8392 37.5859C14.8845 36.3184 13.2519 34.613 12.071 32.6049C13.3987 34.4106 15.6504 35.6144 18.8524 35.6144C26.7401 35.6144 31.2175 29.4849 31.2175 29.4849C31.2175 29.4849 31.6048 34.3293 35.9196 35.2728H35.9293Z'
          fill='#FF6600'
        ></path>
        <path
          fill-rule='evenodd'
          clip-rule='evenodd'
          d='M38.2916 18.0591C39.4721 20.3147 40.0585 22.8339 39.9953 25.379C39.9321 27.924 39.2214 30.411 37.9304 32.6053C36.9092 32.0326 36.1543 31.0814 35.8283 29.957L34.1167 24.8295L38.2916 18.0591Z'
          fill='#FF6600'
        ></path>
        <path
          fill-rule='evenodd'
          clip-rule='evenodd'
          d='M25.0024 10.013C28.7639 10.0105 32.3885 11.4241 35.1548 13.9725L32.3141 18.5566C31.2858 15.8823 29.1968 13.2047 25.1325 13.2047C16.8088 13.2047 10.6392 22.2916 10.6392 27.9884C10.6374 28.7252 10.7315 29.459 10.9191 30.1715C10.0867 27.9044 9.81404 25.4699 10.1243 23.0749C10.4345 20.6798 11.3185 18.3951 12.7011 16.4148C14.0837 14.4345 15.924 12.8173 18.0656 11.7004C20.2073 10.5836 22.5869 10.0003 25.0024 10V10.013Z'
          fill='#FF6600'
        ></path>
      </svg>

    </div>
    <div class='item'>
      <span><svg
          class='iconIndex'
          width='24'
          height='22'
          viewBox='0 0 24 22'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M22.58 6.34986L12.475 0.896855C12.178 0.736855 11.821 0.736855 11.525 0.896855L1.42496 6.34986C0.938957 6.61386 0.757957 7.21986 1.01996 7.70586C1.19996 8.04086 1.54496 8.23086 1.89996 8.23086C2.05996 8.23086 2.22396 8.19286 2.37496 8.11086L3.10896 7.71486L4.69896 18.9649C4.91496 20.1789 6.00896 21.0269 7.35896 21.0269H16.641C17.991 21.0269 19.085 20.1789 19.303 18.9389L20.891 7.71386L21.628 8.11186C22.113 8.37486 22.72 8.19386 22.982 7.70786C23.245 7.22186 23.062 6.61486 22.578 6.35286L22.58 6.34986ZM12 14.4349C10.205 14.4349 8.74996 12.9799 8.74996 11.1849C8.74996 9.38986 10.205 7.93486 12 7.93486C13.795 7.93486 15.25 9.38986 15.25 11.1849C15.25 12.9799 13.795 14.4349 12 14.4349Z'
          ></path>
        </svg>
      </span>
      <a class='iconIndex' href=''>推文清單</a>
    </div>
    <div class='item'>
      <span><svg
          class='iconUser'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M11.9999 11.8158C13.3549 11.8158 14.8719 11.6658 15.8399 10.5598C16.6539 9.62976 16.9179 8.19176 16.6459 6.16776C16.2659 3.34276 14.5289 1.65576 11.9999 1.65576C9.47091 1.65576 7.73391 3.34276 7.35391 6.16976C7.08191 8.19176 7.3459 9.62976 8.1599 10.5598C9.1279 11.6668 10.6449 11.8158 11.9999 11.8158ZM8.83991 6.36776C9.00191 5.16776 9.62691 3.15576 11.9999 3.15576C14.3729 3.15576 14.9979 5.16876 15.1599 6.36776C15.3669 7.91776 15.2169 8.99476 14.7099 9.57276C14.2549 10.0928 13.4439 10.3158 11.9999 10.3158C10.5559 10.3158 9.7449 10.0928 9.28991 9.57276C8.78291 8.99476 8.63291 7.91676 8.83991 6.36776ZM20.2799 19.2358C19.4029 15.7098 15.9979 13.2458 11.9999 13.2458C8.00191 13.2458 4.59691 15.7098 3.71991 19.2358C3.54791 19.9278 3.6919 20.6358 4.1149 21.1758C4.5229 21.6958 5.15491 21.9958 5.84791 21.9958H18.1519C18.8449 21.9958 19.4769 21.6958 19.8849 21.1758C20.3089 20.6358 20.4519 19.9288 20.2789 19.2358H20.2799ZM18.7039 20.2518C18.5779 20.4118 18.3879 20.4978 18.1519 20.4978H5.84791C5.61291 20.4978 5.42191 20.4128 5.29591 20.2518C5.15891 20.0778 5.11591 19.8398 5.17591 19.5978C5.88591 16.7428 8.69291 14.7478 11.9999 14.7478C15.3069 14.7478 18.1139 16.7418 18.8239 19.5978C18.8839 19.8398 18.8409 20.0778 18.7039 20.2518Z'
          ></path>
        </svg>

      </span>
      <a href='' class='iconUser'>使用者列表</a>
    </div>
    <div class='logout'>
      <span><svg
          class='iconLogout'
          width='20'
          height='18'
          viewBox='0 0 20 18'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M9 13L5 9M5 9L9 5M5 9H19M14 13V14C14 14.7956 13.6839 15.5587 13.1213 16.1213C12.5587 16.6839 11.7956 17 11 17H4C3.20435 17 2.44129 16.6839 1.87868 16.1213C1.31607 15.5587 1 14.7956 1 14V4C1 3.20435 1.31607 2.44129 1.87868 1.87868C2.44129 1.31607 3.20435 1 4 1H11C11.7956 1 12.5587 1.31607 13.1213 1.87868C13.6839 2.44129 14 3.20435 14 4V5'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
        </svg>

      </span>
      <a class='iconLogout' href='/logout'>登出</a>
    </div>
  </div>
</div>