<div class="left-column">
  <div class="AC-icon">
    <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89-300x300.png"
      style="width:75px">
  </div>
  </br>
  <div class="tweet" name="tweet">
    <a class="left-column-items text-dark" href="/admin/tweets" style="text-decoration: none"><i
        class="fas fa-home"></i>&ensp;<strong>推文清單</strong></a>
  </div>
  </br>
  <div class="user" name="user">
    <a class="left-column-items text-dark" href="/admin/users" style="text-decoration: none"><i
        class="fas fa-user"></i>&ensp;<strong>使用者列表</strong></a>
  </div>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  <a href="/signout" class="logout text-dark" style="text-decoration: none"><i
      class="fas fa-sign-out-alt"></i>&ensp;<strong>LogOut</strong></a>
</div>