<ul class="nav side-bar">
  <img src="/images/icon/logo.png" alt="alpha camp img">
  <li class="nav-item">
    <a class="nav-link d-flex {{#ifCond route 'tweets'}}active{{/ifCond}}" aria-current="page" href="/admin/tweets">
      <img src="/images/icon/home.png" style="width:22px;height:20px;margin:0px" alt="">
      推文清單</a>
  </li>
  <li class="nav-item">
    <a class="nav-link d-flex {{#ifCond route 'users'}}active{{/ifCond}}" href="/admin/users">
      <img src="/images/icon/user.png" style="width:22px;height:20px;margin:0px" alt="">
      使用者列表
    </a>
  </li>
  <btn class="btn d-flex logout" href="/admin/logout" id="logout">
    <img src="/images/icon/logout.png" style="width:22px;height:20px;margin:0px" alt="">
    登出
  </btn>
</ul>

  <script type="text/javascript">
    $('#logout').on('click', function () {
      Swal.fire({
        title: "你確定要登出嗎？",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: '#5cb85c',
        cancelButtonColor: '#d33',
        confirmButtonText: '是，我要登出'
        // cancelButtonText: "否",
        // cancelButtonColor: "#6c757d",
        // allowOutsideClick: false
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "/logout";
        }
      })
    });
  </script>