<div class="navigation d-flex flex-column justify-content-between">
  <a href='/admin/tweets'><img class='logo' alt='logo' src='/images/twitter_2022_logo.svg' /></a>
  <a class="active" href='/admin/tweets'><i class="home"></i>推文清單</a>
  <a class="" href='#'><i class="info"></i>使用者列表</a>
</div>
<div class="footer">　
  <a href="/admin/logout"><i class="logout"></i>登出</a>
</div>