{{!--user-list --}}
<div class="col-8 home-page">
  <ul class="list-group">
    <li class="list-group-item tweet-list mt-2">
      <p class="fw-bolder h4">使用者列表( 暫時的 )</p>
    </li>
    <li class="list-group-item tweet-list">
      <div class="d-flex">
        <div class="flex-shrink-1 p-0">
          <img src="/images/profile-img.svg" alt="" class="recommend-followings-img">
        </div>
        <div class="tweet-text d-flex flex-column">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-baseline mb-2">
            <div class="tweet-name me-2">Apple </div>
            <div class="tweet-account">@apple・8 小時</div>
          </div>
          <div><img src="/images/group.svg" alt=""></div>
          </div>
          <p class="mb-2"style="white-space:break-spaces;">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.</p>

          <div class="d-flex">
            <img src="/images/reply_outlined.svg" alt="" class="tweets-icon me-1">
            <span class="tweets-interact-counts" style="margin-right:40px;">13</span>
            <img src="/images/like_outlined.svg" alt="" class="tweets-icon me-1">
            <span class="tweets-interact-counts">76</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>