<nav class="navbar-container">

  {{!-- Logo --}}
  <div class="navbar-logo-container">
    <a href="/admin/tweets">
      <img src="/stylesheets/icons/logo.svg" alt="logo" class="navbar-logo">
    </a>
  </div>

  <div class="main-navbar">

    {{!-- Tweets tab --}}
    <a class="nav-row {{#if tweets}}active{{/if}}" id="adminTweets" href="/admin/tweets">
      <div class="nav-item-tweet">
        <div class="nav-item-icon">
          <div class="nav-item-home-icon">
          </div>
        </div>
        <h5 class="nav-item-title-tweet">推文清單</h5>
      </div>
    </a>

    {{!-- Users list --}}
    <a class="nav-row {{#if users}}active{{/if}}" id="adminUsers" href="/admin/users">
      <div class="nav-item-user">
        <div class="nav-item-icon">
          <div class="nav-item-user-icon">
          </div>
        </div>
        <h5 class="nav-item-title-user">使用者列表</h5>
      </div>
    </a>
  </div>

  
  {{!-- Log out --}}
  <form action="/admin/signin" method="POST" class="logout-form">
    <button type="submit" class="logout-btn" id="adminLogout">
      <div class="nav-item-logout">
        <div class="nav-item-icon">
          <div class="nav-item-logout-icon">
          </div>
        </div>
        <h5 class="nav-item-title-logout">登出</h5>
      </div>
    </button> 
  </form>

</nav>

