<nav class="navbar-column">

  {{!-- Logo --}}
  <div class="logo-container">
    <a href="/admin/tweets">
      <img src="/images/icons/logo.svg" alt="Logo" class="logo">
    </a>
  </div>

  <div class="main-navbar">
    {{!-- Tweets tab --}}
    <div class="nav-row">
      <a class="nav-item-tweet {{#if tweets}}active{{/if}}" href="/admin/tweets">
        <div class="home-icon"></div>
        <h5 class="nav-title-tweet-tab">推文清單</h5>
      </a>
    </div>

  {{!-- Users list --}}
    <div class="nav-row">
      <a class="nav-item-user {{#if users}}active{{/if}}" href="/admin/users">
        <div class="user-icon"></div>
        <h5 class="nav-title-user-tab">使用者列表</h5>
      </a>
    </div>
  </div>

  {{!-- Log out --}}
  <div class="nav-row-logout">
    <form action="/admin/signin" method="POST" class="logout-form">
      <button type="submit" class="btn nav-item-logout">
        <div class="logout-icon">
        </div>
        <h5 class="nav-title-logout">登出</h5>
      </button>
    </form>
  </div>

</nav>

