<div class="col-2" style="height:800px;border-right: 1px #E6ECF0 solid;">

  <div class="home-nav-bar col mt-2">
    <a href="/">
      <img src="/images/icons/alphitter-logo.png" alt="alpha simple twitter" title="alpha simple twitter"
        class="rounded-circle" width="50px" height="50px">
    </a>
    <div class="navigation d-flex flex-column mt-5">
      <div class="d-inline mb-4">
        <p><a href="/admin/tweets" style="text-decoration: none;"><img src="/images/icons/house.png" alt=""
              style="width:18px;height:18px;margin:0 20px 0 10px;"> 推文清單</a></p>
      </div>
      <div class="d-inline mb-4">
        <p><a href="/admin/users" style="text-decoration: none;"><img src="/images/icons/person-w.png" alt=""
              style="width:18px;height:18px;margin:0 20px 0 10px;"> 使用者列表</a></p>
      </div>
    </div>
    <a href="/logout" class="logout" style="text-decoration: none;"><i class="fas fa-sign-out-alt me-2"></i> 登出</a>
  </div>
</div>