<div class="d-flex align-items-start flex-column mb-3" style="width: 178px; left: 130px; top: 0px;">
  <div class="d-flex align-items-start mb-3">
    <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89-300x300.png"
      width="45px" height="45px" alt="A logo">
  </div>

    <div class="d-flex justify-content-center mb-3 ms-1 ">
      <div class="d-flex align-self-center">
        <i class="fa-solid fa-house" style="color: #FF6600;"></i>
      </div>
      <a class="btn btn-link"style="text-decoration:none; font-family:'Noto Sans TC'; font-weight:700; font-size:18px; color:#FF6600;"href="/admin/tweets">
        推文清單
      </a>
    </div>
      
    <div class="d-flex justify-content-center mb-3 ms-1">
      <div class="d-flex align-self-center ">
        <i class="fa-regular fa-user"></i>
      </div>
      <a class="btn btn-link"style="text-decoration:none; font-family:'Noto Sans TC';font-size:18px; font-weight:700; color:#44444F;"href="/admin/users">
        使用者列表
      </a>
    </div>
      
    <div class="d-flex justify-content-start fixed-bottom mb-5" style="margin-left:170px;">
      <div class="d-flex align-self-center">
        <i class="fa-solid fa-arrow-right-from-bracket" style="color: #44444F;"></i>
      </div>
      <a class="btn btn-link"style="text-decoration:none; font-family:'Noto Sans TC';font-size:18px; font-weight:700; color:#44444F;"href="/admin/logout">
        登出
      </a>
    </div>




</div>