<!-- Left
<a href="/" style="color: black; text-decoration:none;">
-->

<div class="d-flex flex-column mt-2" style="height:100vh;">
  <div class="row py-2">
    <i class="fas fa-dove"></i>
  </div>
  <div class="row fw-bolder py-2">
    <a href="/admin/tweets" style="color: black; text-decoration:none;" onmouseover="this.style='color:#FF6103;text-decoration:none;';" onmouseout="this.style='color:black;text-decoration:none;';">
      <i class="fas fa-home"></i>　推文清單
    </a>
  </div>
  <div class="row fw-bolder py-2">
    <a href="/admin/users" style="color: black; text-decoration:none;" onmouseover="this.style='color:#FF6103;text-decoration:none;';" onmouseout="this.style='color:black;text-decoration:none;';">
      <i class="fas fa-user"></i>　使用者列表
    </a>
  </div>

  <div class="row fw-bolder mt-auto mb-3">
    <a href="/logout" style="color: black; text-decoration:none;" onmouseover="this.style='color:#FF6103;text-decoration:none;';" onmouseout="this.style='color:black;text-decoration:none;';">
      <i class="fas fa-sign-out-alt"></i>　登出
    </a>
  </div>
</div>
