<div class="sidebar-left">
  <a href="/"><img src="/images/acIcon.png" alt=""></a>
  <div class="nav-card">
    {{#if tweetRoute}}
    <div class="nav-item">
      <img src="/images/homeOrange.png" alt="">
      <a href="/admin/tweets">
        <h5 style="color: #FF6600;">推文清單</h5>
      </a>
    </div>
    <div class="nav-item">
      <img src="/images/userBlack.png" alt="">
      <a href="/admin/users">
        <h5>使用者列表</h5>
      </a>
    </div>
    {{else}}
    <div class="nav-item">
      <img src="/images/homeBlack.png" alt="">
      <a href="/admin/tweets">
        <h5>推文清單</h5>
      </a>
    </div>
    <div class="nav-item">
      <img src="/images/userOrange.png" alt="">
      <a href="/admin/users">
        <h5 style="color: #FF6600;">使用者列表</h5>
      </a>
    </div>
    {{/if}}
  </div>
  <div class="nav-item nav-logout">
    <img src="/images/logout.png" alt="">
    <a href="/admin/logout">
      <h5>登出</h5>
    </a>
  </div>
</div>