<div class="container d-flex align-items-start flex-column mb-3" style="height:100%">
  <nav class="nav flex-column p-2">
    <a class="nav-link fs-5 fw-bold text-dark my-2 px-1" href="/admin/tweets">
      <i class="fas fa-house-user"></i>
      <span class="ms-2">推文清單</span>
    </a>
    <a class="nav-link fs-5 fw-bold text-dark my-2 px-1" href="/admin/users">
      <i class="fas fa-user"></i>
      <span class="ms-2 px-1">使用者列表</span>
    </a>
  </nav>
  <nav class="nav flex-column mt-auto p-2">
    <a class="nav-link fs-5 fw-bold text-dark my-1 px-1" href="/logout"><i class="fas fa-sign-out-alt"></i> 登出</a>
  </nav>
</div>