<div class="container d-flex align-items-start flex-column mb-3" style="min-height: 100vh;">
  <img class="logo mb-3" alt="logo"
    src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png"
    style="height:50px;width:50px;">
  <nav class="nav flex-column p-2">
    <a class="nav-link fs-5 fw-bold my-2 px-1" href="/admin/tweets" style="color:{{#ifCond route 'tweets'}}#FF6600{{else}}black{{/ifCond}};">
      <i class="fas fa-house-user"></i>
      <span class="ms-2">推文清單</span>
    </a>
    <a class="nav-link fs-5 fw-bold my-2 px-1" href="/admin/users" style="color:{{#ifCond route 'users'}}#FF6600{{else}}black{{/ifCond}};">
      <i class="fas fa-user"></i>
      <span class="ms-2 px-1">使用者列表</span>
    </a>
  </nav>
  <nav class="nav flex-column mt-auto p-2">
    <a class="nav-link fs-5 fw-bold text-dark my-1 px-1" href="/logout"><i class="fas fa-sign-out-alt"></i> 登出</a>
  </nav>
</div>