<div class="col">
  <div class="left-side d-flex flex-column bd-highlight mb-3 ps-5">
    <a href="/admin/tweets">
      <img class="logo mb-2" src="../images/icons/alphitter-logo.png" alt="alphitter-logo">
    </a>
    <div class="m-2 p-2 bd-highlight">
      <a href="/admin/tweets">
        <h5><img src="../images/icons/house-w.png" alt="home-page">推文清單</h5>
      </a>
    </div>
    <div class="m-2 p-2 bd-highlight">
      <a href="/admin/users">
        <h5><img src="../images/icons/person-w.png" alt="personal-page">使用者清單</h5>
      </a>
    </div>
    <div class="m-2 p-2 bd-highlight">
      <a href="/logout" class="logout" style="text-decoration: none;"><i class="fas fa-sign-out-alt me-2"></i> 登出</a>
    </div>

  </div>
</div>