<div class="col-sm-4 admin_nav">

  <div class="row row-cols-1 row-cols-md-1">
    <!-- logo -->
    <div class="col">
      <div class="card left_card">
        <div class="card-body">
          <img class="left_title" src="/images/logo.svg" alt="">
        </div>
      </div>
    </div>

    <div class="card adminleft_navcard ">
      {{!-- 推文清單 --}}
      <div class="col">
        <div class="card left_nav_card" style="order: 0;">
          <div class="card-body left_cardbody">
            <a href='/admin/tweets' style='text-decoration: none;'>
              <div class="left_navimg">
                {{#ifCond page 'tweets'}}
                <p class='navCol-btn-active'>
                  <img class="left_navlogo" src="/images/被點擊首頁.svg" alt="">
                  {{else}}
                <p class="navCol-btn">
                  <img class="left_navlogo" src="/images/首頁.svg" alt="">
                  {{/ifCond}}
              </div>
              <p class='left_navtitle'>
                推文清單
              </p>
            </a>
          </div>
        </div>
      </div>
      {{!-- 使用者列表 --}}
      <div class="col">
        <div class="card left_nav_card" style="order: 1;">
          <div class="card-body left_cardbody1">
            <a class='navCol-btn' href="/admin/users" style='text-decoration: none;'>
              <div class="left_navimg">
                {{#ifCond page 'users'}}
                <p class='navCol-btn-active'>
                  <img class="left_navlogo" src="/images/被點擊使用者.svg" alt="">
                  {{else}}
                <p class="navCol-btn">
                  <img class="left_navlogo" src="/images/使用者.svg" alt="">
                  {{/ifCond}}
              </div>
              <p class='left_navtitle'>
                使用者列表
              </p>
            </a>
          </div>
        </div>
      </div>

    </div>

    {{!-- 登出 --}}
    <div class="card" style="order: 4;">
      <div class="card-body left_cardbody3">
        <div class="logout-buttonbody">
          <a href="/logout" style='text-decoration: none;'>
            <p class="logout-btn">
              <img src="/images/登出.svg" alt="">
              登出
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>