<div class="col-2">
  <nav class="nav side-bar-left" style="width:178px;height:1200px">
    <div class="d-flex align-content-between flex-wrap">
      <div class="col side-bar-left-top" style="width:178px;height:58px">
        <div class="link-group m-3">
          <img src="/images/logo.svg" alt="logo" style="width:40px;height:40px">
        </div>
        <div class="link-group m-3">
          <img src="/images/home.svg" alt="home" class="icon m-2" style="width:24px;height:24px">
          <a href="/admin/tweets" class="m-2 text-decoration-none"
            style="color:{{#ifCond route 'tweetsList'}} #ff6600 {{else}} #44444F {{/ifCond}};font-size: 18px">推文清單</a>
        </div>
        <div class="link-group m-3">
          <img src="/images/user.svg" alt="user" class="icon m-2" style="width:24px;height:24px">
          <a href="/admin/users" class="m-2 text-decoration-none"
            style="color:{{#ifCond route 'usersList'}} #ff6600 {{else}} #44444F {{/ifCond}};font-size: 18px">使用者列表</a>
        </div>
      </div>
    </div>
    <div class="link-group m-2">
      <img src="/images/logout.svg" alt="" class="icon m-2" style="width:24px;height:24px">
      <a href="/logout" class="m-2 text-decoration-none" style="color: #44444f;font-size: 18px">logout</a>
    </div>
  </nav>
</div>