<div style="width:178px; position:fixed; z-index:1; top:0; overflow-x:hidden; left:130px;" class="card border-white vh-100">
  <div style="width:50px; height:50px" class="m-2 p-1">

    {{>ac-logo}}

  </div>

  {{#ifCond route 'tweets'}}
    <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
      <a style="color:#FF6600" class="navbar-brand text-decoration-none mx-2 px-1" href="#">
        {{>home-icon active=true}}
        <span class="h5 ms-3">推文清單</span>
      </a>
    </div>
    <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
      <a style="color:#44444F" class="navbar-brand text-decoration-none mx-2 px-1" href="/admin/users">
        {{>user-icon}}
        <span class="h5 ms-3">使用者列表</span>
      </a>
    </div>
  {{/ifCond}}
  {{#ifCond route 'users'}}
    <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
      <a style="color:#44444F" class="navbar-brand text-decoration-none mx-2 px-1" href="/admin/tweets">
        {{>home-icon}}
        <span class="h5 ms-3">推文清單</span>
      </a>
    </div>
    <div style="height:58px" class="d-flex align-items-center mx-2 mb-1">
      <a style="color:#FF6600" class="navbar-brand text-decoration-none mx-2 px-1" href="#">
        {{>user-icon active=true}}
        <span class="h5 ms-3">使用者列表</span>
      </a>
    </div>
  {{/ifCond}}

  <div style="height:58px" class="d-flex align-items-center mx-2 mb-1 position-absolute bottom-0 start-0">
    <a style="color:#171725" class="navbar-brand text-decoration-none mx-2 px-1" href="/admin/logout">
      {{>logout-icon}}
      <span class="h5 ms-3">登出</span>
    </a>
  </div>
</div>