<nav class="nav">
  <a href="/admin/tweets" class="navbar-brand">
    <img src="/stylesheets/icons/logo.svg" alt="logo" class="logo">
  </a>

  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link" href="/admin/tweets">
        <i class="icon">
          {{#if adminTweets}}
          <div class="home-icon home-filled-icon background-image"></div>
          {{else}}
          <div class="home-icon home-outlined-icon background-image"></div>
          {{/if}}
        </i>
        <span class="nav-tab {{#if adminTweets}}nav-tab-title{{/if}}">
          推文清單
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/users">
        <i class="icon">
          {{#if adminUsers}}
          <div class="user-icon user-filled-icon background-image"></div>
          {{else}}
          <div class="user-icon user-outlined-icon background-image"></div>
          {{/if}}
        </i>
        <span class="nav-tab {{#if adminUsers}}nav-tab-title{{/if}}">
          使用者列表
        </span>
      </a>
    </li>
    <li class="nav-item-logout">
      <a class="nav-link" href="/admin/signin">
        <i class="icon">
          <div class="logo logout-logo background-image"></div>
        </i>
        <span class="nav-tab">
          登出
        </span>
      </a>
    </li>
  </ul>
</nav>  

