<div class="py-3">
  <a href="/"><img class="logo img-fluid" src="/images/Icon.svg"></a>
</div>
<nav class="navbar px-3 py-0 h-100 d-flex align-items-start">
  <ul class="nav navbar-nav w-100">
    <li class="nav-item">
      <a class="nav-link" href="/tweets"> <i class="fas fa-home pr-3"></i>首頁 </a>
    </li>
    {{!-- 通知鈴鐺(小紅點) --}}
    {{!-- <li class="notify-li nav-item">
      <a class="notice-bell nav-link" href=""> <i class="far fa-bell pr-3"></i>通知 </a>
      <span class="badge badge-notify bell-notify">&nbsp;</span>
    </li> --}}
    <li class="nav-item">
      <a class="nav-link" href="/chat/public"><i class="far fa-envelope pr-3"></i>公開聊天室</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/chat/private"><i class="far fa-envelope pr-3"></i>私人訊息</a>
    </li>
    {{!-- 私人訊息提示(數字) --}}
    {{!-- <li class="notify-li nav-item">
      <a class="nav-link" href="/chat/private"><i class="far fa-envelope pr-3"></i>私人訊息</a>
      <span class="message-notify-count badge badge-notify">3</span>
    </li> --}}
    <li class="nav-item">
      <a class="nav-link" href="/users/{{me.id}}/tweets"> <i class="far fa-user pr-3"></i>個人資料 </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/{{me.id}}/edit"> <i class="fas fa-cog pr-3"></i>設定 </a>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-block btn-orange rounded-pill" data-toggle="modal" data-target="#tweet-create-modal">
        推文
      </button>
      <!-- Tweet Creation Modal -->
      <div class="modal fade" id="tweet-create-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header p-0 d-flex align-items-center">
              <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div  class="d-flex align-items-start ">
                <img class="img-fluid rounded-circle mr-3" src="{{me.avatar}}" alt="" style=" max-height: 70px;">
                <form action="/tweets" method="POST" class="w-100">
                  <textarea class="w-100" name="description" rows="5" cols="90" placeholder="有什麼新鮮事? (字數限制140字)"></textarea>
                  <div class="textarea-util d-flex justify-content-between">
                    <div class="text-counter text-lightgrey">0/140</div>
                    <button type="submit" class="btn btn-sm btn-orange rounded-pill" style="float:right; min-width:50px;">推文</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <a class="nav-link text-dark mt-auto pl-0" href="/logout"> <i class="fas fa-sign-out-alt pr-3"></i>登出 </a>
</nav>