<div class="py-3">
  <a href="/"><img class="logo img-fluid" src="/images/Icon.svg"></a>
</div>
<nav class="navbar px-3 py-0 h-100 d-flex align-items-start">
  <ul class="nav navbar-nav w-100">
    <li class="nav-item">
      <a class="nav-link" href="/admin/tweets"> <i class="far fa-user pr-3"></i>推文清單 </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/users"> <i class="fas fa-cog pr-3"></i>使用者列表 </a>
    </li>
  </ul>
  <a class="nav-link text-dark mt-auto pl-0" href="/logout"> <i class="fas fa-sign-out-alt pr-3"></i>登出 </a>
</nav>