<div id="mainblock-header" class="position-sticky d-flex align-items-center w-100 bg-white header-block p-3">
  {{#if (isdefined title)}}
  {{>column_pageTitle}}
  {{/if}}
</div>

<div id="mainblock-main" class="overflow-scroll w-100 p-3 mt-auto">
  <ul id="chat-messages"></ul>
</div>
<div class="chat-form w-100">
  <form class="col-12 d-flex align-items-center justify-content-end" id="chat-form" action="">
  <input id="chat-input" class="col-11 p-2" autocomplete="off" / placeholder=" 請輸入訊息...">
    <button class="btn text-orange p-0" type="submit">
      <i class="far fa-lg fa-paper-plane text-orange"></i>
    </button>
  </form>
</div>
