<div id="mainblock-header" class="position-sticky d-flex align-items-center w-100 bg-white header-block p-3">
  {{#if (isdefined title)}}
  {{>column_pageTitle}}
  {{/if}}
</div>

<div id="mainblock-main" class="overflow-scroll w-100 p-3">
  <div class="chat-form">
  <ul id="chat-messages"></ul>
  <form class="d-flex justify-content-end" id="chat-form" action="">
    <input id="chat-input" autocomplete="off" /><button>Send</button>
  </form>
</div>
</div>