<div id="mainblock-header" class="position-sticky d-flex align-items-center w-100 bg-white header-block p-3 online-user-header">
  <div class="d-flex flex-column">
    <strong><div class="m-0" style="font-size: 1.3em;">上線使用者（5）</div></strong>
    </div>
</div>

{{!-- {{#if (isdefined onlineUsers)}}--}}
{{>listitem_onlineUser}}
{{!--{{/if}} --}}