<div id="tweet-info" class="align-items-start p-3">
  <div class="d-flex align-item-start">
    <div>
      {{!-- <a href="/users/{{}}/tweets"> --}}
        <img class="img-fluid rounded-circle mr-3" src="{{this.User.avatar}}" alt="" style="max-height: 70px;">
      {{!-- </a> --}}
    </div>
  
     
    <div class="tweet-notify">
        <strong> 有新的推文通知</strong>
      <div class="item-desc py-3">
        tweettweettweettweet
      </div>
    </div>
    <hr>
      {{!-- <div class="reply-notify">
        <strong>{{notification.User.name}} 有新的回覆</strong>
        <div class="item-desc py-3">
         test
        </div>
      </div>
      <hr>
      <div class="follow-notify">
        <strong>{{notification.User.name}} 開始追蹤你</strong>
        <div class="item-desc py-3">
          following
        </div>
      </div>
      <hr>
      <div class="like-notify">
        <strong>{{notification.User.name}} 喜歡你的貼文</strong>
        <div class="item-desc py-3">
          like
        </div>
      </div>
      <hr> --}}

    </div>
  </div>