<div class="p-3">
  <img class="logo img-fluid" src="https://uploads-ssl.webflow.com/5d3a7aed4e11722bc1d46f10/5d3e6d42b1eba491c41fc0a9_AC%20nav%20logo.png">
</div>
<nav class="navbar px-3 py-0">
  <ul class="nav navbar-nav w-100">
    <li class="nav-item">
      <a class="nav-link text-dark" href="#"> <i class="fas fa-home pr-3"></i>首頁 </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#"> <i class="far fa-user pr-3"></i>個人資料 </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="/{{me.id}}/setting"> <i class="fas fa-cog pr-3"></i>設定 </a>
    </li>
    <li class="nav-item">
      <a class="btn btn-block rounded-pill mt-3 btn-warning text-dark" href="#"> 推文 </a>
    </li>
  </ul>
  <a class="nav-link text-dark" href="/logout"> <i class="fas fa-sign-out-alt pr-3"></i>登出 </a>
</nav>