<div id="mainblock-header" class="position-sticky d-flex align-items-center w-100 bg-white header-block p-3">
{{#if (isdefined title)}}
{{>column_pageTitle}}
{{/if}}
</div>
 
<div id="mainblock-main" class="overflow-scroll w-100 p-3">

<form class="form-setting m-3" action="/users/{{me.id}}/edit?_method=PUT" method="POST" style="width: 100%;">

  <div class="mx-auto form-group">
    {{>message}}
    <div class="form-label-group m-3">
      <label for="account">帳號</label>
      <input type="text" name="account" class="form-control" placeholder="帳號" value="{{me.account}}" autofocus required>
    </div>
    <div class="form-label-group m-3">
      <label for="account">名稱</label>
      <input type="text" name="name" class="form-control" placeholder="名稱" value="{{me.name}}" autofocus required>
    </div>
    <div class="form-label-group m-3">
      <label for="account">Email</label>
      <input type="text" name="email" class="form-control" placeholder="Email" value="{{me.email}}" autofocus required>
    </div>
    <div class="form-label-group m-3">
      <label for="account">密碼</label>
      <input type="password" name="password" class="form-control" placeholder="密碼">
    </div>
    <div class="form-label-group m-3">
      <label for="account">密碼確認</label>
      <input type="password" name="checkPassword" class="form-control" placeholder="密碼確認">
    </div>
    <br />
    <button class="btn rounded-pill m-3 btn-orange" type="submit" style="float:right">儲存</button>
  </div>
</form>
</div>