<div class="coverage-cropper-container cus-modal-container">
  <div class="row cus-modal border border-dark">
    <div class="coverage-cropper">
      <div class="modal-header d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <div class="coverage-modal-close po-cur">
            <div class="svg-round svg-round-effect">
              {{>close}}
            </div>
          </div>
          <div class="ms-3">裁切圖片</div>
        </div>
        <button class="btn btn-1 coverage-cropper-submit">
          套用
        </button>
      </div>
      <div class="box tailoring-box mb-2">
        <img id="coverageTailoringImg" class="img-fluid" src="">
      </div>
    </div>
  </div>
</div>