<div class="d-flex justify-content-end" style="color: #6C757D; font-size: 12px;">
  <span class="check-account-result me-2"></span>
  <span class="current-word-count">0</span>
  <span>/{{max}}</span>
</div>
