<!-- Edit Modal -->
<div
  class="modal fade"
  id="edit-info"
  tabindex="-1"
  aria-labelledby="replyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg position-relative">
    <div class="modal-content" style="border-radius: 14px">
      <div class="modal-header pb-1">
        <div>
          <button
            type="button"
            class="btn border-0 p-0 ms-0"
            data-bs-dismiss="modal"
            aria-label="Close"
            id="info-close"
          >
            <i class="noti-danger"></i>
          </button>
          <h5 class="fw-bold d-inline ms-3">編輯個人資料</h5>
        </div>
      </div>
      <div class="modal-body pt-0 px-0">
        <form
          action=""
          method="post"
          class="row g-0"
          id="info-form"
          enctype="multipart/form-data"
        >
          <div
            class="col-12"
            style="
                  background-image: url();
                  height: 200px;
                  background-size:cover;
                  background-position:center;
                "
            id="info-cover-photo"
          >
            <div class="row justify-content-center align-items-center h-100">
              <label class="btn btn-outline border-0 col-1 upload-photo">
                <input
                  type="file"
                  name="coverPhoto"
                  class="d-none input-pic"
                  id="input-cover-photo"
                />
                <img
                  src="/stylesheets/svgs/outline-photo.svg"
                  alt="cover-photo"
                  style="
                        filter: var(--white-filter);
                        transition: filter 0.3s;
                      "
                />
              </label>
              <div class="border-0 col-1" style="padding: 6px 12px;">
                <img
                  src="/stylesheets/svgs/outline-close.svg"
                  alt="close-icon"
                  style="
                        filter: var(--white-filter);
                        transition: filter 0.3s;
                      "
                  id="remove-photo"
                />
              </div>
            </div>
          </div>
          <div class="col-3 position-relative">
            <img
              src=""
              alt="model-user-avatar"
              class="rounded-circle border border-4 border border-light mx-3"
              style="
                    width: 140px;
                    height: 140px;
                    object-fit: cover;
                    margin-top: -70px;
                  "
              id="info-avatar"
            />
            <label
              class="btn btn-outline border-0 upload-photo position-absolute p-0"
              style="top: -20%; left: 48%"
            >
              <input
                type="file"
                name="avatar"
                class="d-none input-pic"
                id="input-avatar"
              />
              <img
                src="/stylesheets/svgs/outline-photo.svg"
                alt="cover-photo"
                style="filter: var(--white-filter); transition: filter 0.3s"
              />
            </label>
          </div>
          <div
            class="form-floating mt-3 ms-3 border-bottom border-dark border-2"
            style="width: calc(100% - 2rem)"
          >
            <input
              type="text"
              class="form-control border-0 rounded-0 pb-0"
              id="info-name"
              name="name"
              maxlength="50"
            />
            <label for="info-name" class="pb-1">名稱</label>
          </div>
          <small
            class="offset-md-9 col-2 mt-1"
            id="name-error-msg"
            style="font-size: 12px"
          ></small>
          <small
            class="col-1 mt-1"
            id="name-length"
            style="font-size: 12px"
          ></small>
          <div
            class="form-floating mt-3 ms-3 border-bottom border-dark border-2"
            style="width: calc(100% - 2rem)"
          >
            <textarea
              type="text"
              class="form-control border-0 rounded-0 pb-0"
              id="info-intro"
              name="introduction"
              style="resize: none; height: 150px"
              maxlength="160"
            ></textarea>
            <label for="info-intro" class="pb-1">自我介紹</label>
          </div>
          <small
            class="offset-md-9 col-2 mt-1"
            id="intro-error-msg"
            style="font-size: 12px"
          ></small>
          <small
            class="col-1 mt-1"
            id="intro-length"
            style="font-size: 12px"
          ></small>
          <button
            type="button"
            id="post-info"
            class="btn btn-brand rounded-pill fw-light col-2 position-absolute"
            style="width: 60px; top: -7.5%; right: 3%"
          >
            儲存
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal End -->