<div class="error-message error-message-container  error-success">
    <div class="error-message-content">
        <p class="error-message-words">推文發送成功</p>
        <div class="error-message-circle">
            <img src="" alt="">
        </div>
    </div>
</div>