<div class="error-message error-message-container  error-success">
  <div class="error-message-content">
    <p class="error-message-words">推文發送成功</p>
    <div class="error-message-circle">
      <div class="error-message-img">
      </div>
    </div>
  </div>
</div>

<div class="error-message error-message-container  error-danger">
  <div class="error-message-content">
    <p class="error-message-words">Email 已重複註冊</p>
    <div class="error-message-circle">
      <div class="error-message-img">
      </div>
    </div>
  </div>
</div>

<div class="error-message error-message-container  error-warning">
  <div class="error-message-content">
    <p class="error-message-words">網路連線中斷</p>
    <div class="error-message-circle">
      <div class="error-message-img">
      </div>
    </div>
  </div>
</div>

<div class="error-message error-message-container  error-info">
  <div class="error-message-content">
    <p class="error-message-words">收到新的推文</p>
    <div class="error-message-circle">
      <div class="error-message-img">
      </div>
    </div>
  </div>
</div>