<ul class="nav nav-tabs mb-2">
  <li class="nav-item mb-0">
    <a class="nav-link {{#ifCond route 'follower'}}active{{/ifCond}}" href="/users/{{user.id}}/followers">追隨者</a>
  </li>
  <li class="nav-item mb-0">
    <a class="nav-link {{#ifCond route 'following'}}active{{/ifCond}}" href="/users/{{user.id}}/followings">正在追隨</a>
  </li>
</ul>