<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'following'}}active{{/ifCond}}" href="users/following">正在追隨</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'follower'}}active{{/ifCond}}" href="users/follower">追隨者</a>
  </li>
</ul>