<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a href="/users/{{ currentUserId }}/followers" style='text-decoration: none;'>
      <p class="nav-link {{#ifCond route 'followers'}}nav-link-active{{/ifCond}}">追隨者</p>
    </a>
  </li>

  <li class="nav-item">
    <a href="/users/{{ currentUserId }}/followings" style='text-decoration: none;'>
      <p class="nav-link {{#ifCond route 'followings'}}nav-link-active{{/ifCond}}">正在追隨</p>
    </a>
  </li>


</ul>