
{{>user-header}}

<div class="row mb-2" style="height: 53px; border: 1px #E6ECF0 solid;">
  <ul class="nav nav-tab" style="height: 53px;">
    {{#ifCond route 'followings'}}
    <li class="nav-item d-flex align-items-center justify-content-center"
      style="border-bottom:2px solid #FF6600; width:130px;">
      <a class="nav-link" href="/users/followings">
        <font color="#FF6600">追蹤者</font>
      </a>
    </li>
    <li class="nav-item d-flex align-items-center justify-content-center" style="width:130px;">
      <a class="nav-link" href="/users/followers">
        <font color="#657786">正在追隨</font>
      </a>
    </li>
    {{/ifCond}}

    {{#ifCond route 'followers'}}
    <li class="nav-item d-flex align-items-center justify-content-center" style="width:130px;">
      <a class="nav-link" href="/users/followings">
        <font color="#657786">追蹤者</font>
      </a>
    </li>
    <li class="nav-item d-flex align-items-center justify-content-center" style="border-bottom:2px solid #FF6600; width:130px;">
      <a class="nav-link" href="/users/followers">
        <font color="#FF6600">正在追隨</font>
      </a>
    </li>
    {{/ifCond}}
  </ul>
</div>