{{!-- followship --}}
<section class="followship">
  <h4 class="followship-title">推薦跟隨</h4>
  <div class="followship-card-wrapper">
    <div class="followship-card">
      <div class="avatar">
        <a href="/users/{{user.id}}">
          <img src="/stylesheets/icons/avatar.png" alt="avatar" class="logo">
        </a>
      </div>
      <div class="card-text-info">
        <span class="card-name">McDonald</span>
        <span class="card-account followship-account">@McDonaldddd</span>
      </div>
      <div class="btn btn-info">正在跟隨</div>
    </div>
  </div>
</section>