<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-followers-tab" data-bs-toggle="tab" data-bs-target="#nav-followers"
      type="button" role="tab" aria-controls="nav-followers" aria-selected="true"><a href="/users/{{user.id}}/followers">追隨者</a></button>
    <button class="nav-link" id="nav-followings-tab" data-bs-toggle="tab" data-bs-target="#nav-followings" type="button"
      role="tab" aria-controls="nav-followings" aria-selected="false"><a href="/users/{{user.id}}/followings">正在追隨</a></button>
  </div>
</nav>
