<div class="d-flex align-items-center header">
  <div class="icon-box mx-3">
    <a href="#" class="svg-a">
      <div class="svg-round svg-round-effect">
        {{>back}}
      </div>
    </a>
  </div>
  <div class="mx-2">
    <div class="user-name fw-bold fs-4">John Doe</div>
    <div class="user-account">25 推文</div>
    </ul>
  </div>
</div>