<div class="card-title back-image mt-2">
  <p class="user-name m-3" style="color: #171725;font-size: 18px; display: inline;">
    {{#ifCond route 'tweets'}}<strong>首頁</strong>{{/ifCond}}
    {{#ifCond route 'replies'}}<strong>推文</strong>{{/ifCond}}
  </p>
</div>