<div class="card-title back-image mt-2">
 <a href=" /">
  <img src="/images/back.png" alt="back" style="width:17px;hegith:14px">
 </a>
 <p class="" style="color: #171725;font-size: 18px; display: inline;">
  {{#ifCond route 'tweets'}}<strong>首頁</strong>{{/ifCond}}
  {{#ifCond route 'replies'}}<strong>推文</strong>{{/ifCond}}
 </p>
</div>