<div class="home-nav-bar col mt-2">
  <a href="#">
    <img src="https://loremflickr.com/50/50/paris,girl/all" alt="alpha simple twitter" title="alpha simple twitter"
      class="rounded-circle" width="50px" height="50px">
  </a>
  <div class="navigation d-flex flex-column mt-5">
    <p><a href="#"><i class="fas fa-home me-2 mb-3"></i> 首頁</a></p>
    <p><a href="#"><i class="far fa-user me-2 mb-3"></i> 個人資料</a></p>
    <p><a href="#"><i class="fas fa-cog me-2 mb-3"></i> 設定</a></p>
    <button type="button" class="btn rounded-pill fw-bolder">
      推文
    </button>
  </div>
  <a href="/logout" class="logout"><i class="fas fa-sign-out-alt me-2"></i> 登出</a>
</div>