<div class="navbar-main pt-2 d-flex flex-column">
  <a href="/tweets" class="navbar-ac-icon overflow-hidden  rounded-circle link-unstyled  child-img-center m-2">
    <img src="/images/icons/ac_icon.svg" alt="" class="w-100 h-100">
  </a>
  <ul class="nav flex-column flex-grow-1 justify-content-between">
    <div class="d-flex flex-column gap-2 w-100">
      <li class="nav-item">
        <a href="/tweets" aria-current="{{#ifCond route 'home'}}page{{/ifCond}}"
          class="{{#ifCond route 'home'}}active{{/ifCond}} nav-link nav-link-home link-unstyled d-flex justify-content-start align-items-center ">
          <div class="nav-link-content d-flex justify-content-between gap-3 align-items-start pt-1">
            <img src="/images/icons/home_outlined.svg" alt="">
            <p class=" p-0 m-0">首頁</p>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="/users/{{user.id}}/tweets" aria-current="{{#ifCond route 'user'}}page{{/ifCond}}"
          class="{{#ifCond route 'user'}}active{{/ifCond}} nav-link nav-link-info link-unstyled d-flex justify-content-start align-items-center ">
          <div class="nav-link-content d-flex justify-content-between gap-3 align-items-start pt-1">
            <img src="/images/icons/user_outlined.svg" alt="">
            <p class=" p-0 m-0">個人資料</p>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="/users/{{user.id}}" aria-current="{{#ifCond route 'setting'}}page{{/ifCond}}"
          class="{{#ifCond route 'setting'}}active{{/ifCond}} nav-link nav-link-setting link-unstyled d-flex justify-content-start align-items-center ">
          <div class="nav-link-content d-flex justify-content-between gap-3 align-items-start pt-1">
            <img src="/images/icons/cog_outlined.svg" alt="">
            <p class=" p-0 m-0">設定</p>
          </div>
        </a>
      </li>

      <button type="button" class="nav-tweet-btn w-100 btn btn-primary rounded-pill px-4 py-2" data-bs-toggle="modal"
        data-bs-target="#tweet-model">
        推文
      </button>
    </div>
    <li class="nav-item nav-item-logout justify-self-end">
      <a href="/logout" class="nav-link nav-link-logout link-unstyled d-flex justify-content-start align-items-center ">
        <div class="nav-link-content d-flex justify-content-between gap-3 align-items-start pt-1">
          <img src="/images/icons/logout_outlined.svg" alt="">
          <p class=" p-0 m-0">登出</p>
        </div>
      </a>
    </li>
  </ul>

</div>