<div style="display: flex; justify-content: center;">
  <div style="
  display: inline-block; 
  box-sizing: border-box;
  position: relative;
  width: 1400px;
  height: 1200px;
  background: #FFFFFF;
  border: 1px solid #D5D5DC;
  border-radius: 4px;">
    <div style="position: absolute; width: 178px; height: 1200px; left: 130px;">
      <div style="position: relative;">
        <div style="width: 50px; height: 50px; position: absolute; top: 13px; left: 13px;">
          <img src="/images/logo.png" alt="login" style="height: 50px; width: 50px;">
        </div>
        <ul class="nav nav-admin-tabs flex-column">
          {{!--推文清單--}}
          <li class="nav-item" style="display:flex; align-items: center; position: absolute; top: 85px; left: 1px;">
            <a class="nav-admin-link {{#ifCond route 'adminTweets'}} active {{/ifCond}}" aria-current="page" href="/admin/tweets" style="text-decoration:none;">
              <h5><i class="fas fa-home">推文清單</i></h5>
            </a>
          </li>
          {{!--使用者列表--}}
          <li class="nav-item" style="display:flex; align-items: center; position: absolute; top: 148px; left: 1px;">
            <a class="nav-admin-link {{#ifCond route 'adminUsers'}} active {{/ifCond}}" href="/admin/users" style="text-decoration:none;">
            <h5><i class="fas fa-user">使用者列表</i></h5>
            </a>
          </li>
          <li class="nav-item" style="display:flex; align-items: center; position: absolute; top: 1158px; left: 17px;">
            <a class="nav-admin-link" href="/admin/logout">
              <h5><i class="fa-solid fa-arrow-right-from-bracket mx-1">登出</i></h5>
            </a>
          </li>
        </ul>
      </div>
    </div>