<div class="left rl">
  <a href=""><img class="ac-img" src="/images/ac@2x.png" alt=""></a>
  <div>
    <a href="/tweets" class="icon-home leftbar-text">
      <img class="home-img" src="/images/home@2x.png" alt="">
      <span><strong>首頁</strong></span>
    </a>
  </div>
  <div class="mt-4 mb-1">
    {{!-- 路由未設定 --}}
    <a href="/" class="icon-user leftbar-text">
      <img class="user-img" src="/images/user@2x.png" alt="">
      <span><strong>個人資料</strong></span>
    </a>
  </div>
  <div class="mt-4 mb-1">
    <a href="/tweets" class="icon-setting leftbar-text">
      <img class="setting-img" src="/images/setting@2x.png" alt="">
      <span><strong>設定</strong></span>
    </a>
  </div>
  <div class="tweetbtn-MP">
    <!-- Button trigger modal -->
    <a class="tweetbtn" style="" href="/tweets/new" method="" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">推文</a>
  </div>

  <div class="mt-4 mb-1">
    <a href="/logout" class="icon-logout leftbar-text">
      <img class="logout-img" src="/images/logout@2x.png" alt="">
      <span><strong>登出</strong></span>
    </a>
  </div>
</div>