<div class="left-bar">
  <div class="upper-region">
    <div class="logo">

    </div>
    <div class="links">
      <a href="/tweets" class="homepage-link"><i class="fas fa-house-user"></i><span class="left-side-span">首頁</span></a>
      <a href="/users/{{getId this}}" class="person-info"><i class="far fa-user"></i><span class="left-side-span">個人資料</span></a>
      <a href="/users/{{getId this}}/edit" class="set-info"><i class="fas fa-cog"></i><span class="left-side-span">設定</span></a>
      <button class="publish-tweet">推文</button>
    </div>
  </div>
  <div class="logout-region">
    <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i><span class="left-side-span">登出</span></a>
  </div>
</div>