<div class="col-3">
  <div class=" left-sidebars_css">
    <img class="ac-icon" src="/images/icon/Icon.png" alt="AC ICON">

    <ul class="user-list-group">

      <li>
        <a href="/tweets" class="{{#ifCond route 'homepage' }}active{{/ifCond}}">
          <img class="icon" src="/images/basic/white/home.svg" alt="homepage">
          <span>首頁</span>
        </a>
      </li>

      <li>
        <a href="/users/{{user.id}}/tweets" class="{{#ifCond route 'personal' }}active{{/ifCond}}">
          <img class="icon" src="/images/basic/white/user.svg" alt="personal">
          <span>個人資料</span>
        </a>
      </li>

      <li>
        <a href="/users/{{user.id}}/edit" class="{{#ifCond route 'setting' }}active{{/ifCond}}">
          <img class="icon" src="/images/basic/white/cog.svg" alt="cog">
          <span>設定</span>
        </a>
      </li>

      <div class="sidebar-lb">
        <a href="#" class="btn tweet-button" data-bs-toggle="modal" data-bs-target="#tweet-modal" id="tweet-button">
          推文
        </a>
      </div>

      <li class="logout">
        <a href="/logout">
          <img class="icon" src="/images/basic/logout.svg" alt="logout">
          <span>登出</span>
        </a>
      </li>
    </ul>
  </div>
</div>

{{!-- tweet Modal --}}
<div class="modal fade" id="tweet-modal" tabindex="-1" aria-labelledby="tweet-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-card-title">
        <label for="description" class="form-label">
        </label>
        <a type="button" class="close-btn" aria-label="Close" data-bs-dismiss="modal" aria-label="Close"><img
            src="/images/basic/close.svg" alt=""></a>
      </div>
      <div class="post-main-top">
        <img src="{{#if user.avatar}} {{user.avatar}} {{else}}/images/icon/User Photo.png{{/if}}" class="user-avatar">
        <div class="textarea-body">
          <form action="/tweets" method="POST">
            <textarea cols="65" style="resize:none;" type="text" name="description" id="description"
              placeholder="有什麼新鮮事？" oninput="tweetsCounts()" required></textarea>
            <span id="tweetschar_count" style="margin-left: 400px;">0/140</span>
            <span id="enterMessage">
              {{!-- 字數不可超過140字 --}}
            </span>
            <button type=" submit" class="btn-sml-sec">推文</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{{!-- tweet Modal function --}}
{{!-- 字跟字中間的空白可能要後端幫忙刪除? --}}
<script>
  function tweetsCounts() {
    const counts = document.getElementById('description').value.trim().length
    const tweetEnterMessage = document.getElementById('enterMessage')
    const chatText = document.getElementById('tweetschar_count')
    chatText.innerText = counts + '/140'

    if (counts > 140) {
      tweetEnterMessage.innerHTML = '<span id="enterMessage" style="position:absolute;right:0;">字數不可超過140字!</span >'
      return
    }
    if (counts > 0 && counts <= 140) {
      tweetEnterMessage.innerText = ''
    }
    if (counts === 0) {
      tweetEnterMessage.innerHTML = '<span id="enterMessage" style="position:absolute;right:0;">內容不可空白!</span >'
    }
  }
</script>
