<div class="col-2">
  <div class="left-bar fix-bar" style="height: 100%;">
    <div class="left-bar-content" >
      <div class="ac-icon mt-2 mb-4">
        <img class="ac-img" width="50px" , height="50px" src="/images/AC-icon@2x.png" alt="AC icon">
      </div>
      <div class="home mb-3">
        <img class="left-bar-icon" src="/images/home-filled@2x.png" alt="home">
        <a href="/tweets">
          <span><strong>首頁</strong></span>
        </a>
      </div>

      <div class="personal-info mb-3">
        <img class="left-bar-icon" src="/images/user-filled@2x.png" alt="user">
        <a href="/users/{{user.id}}">
          <span><strong>個人資料</strong></span>
        </a>
      </div>

      <div class="personal-info-setting mb-3">
        <img class="left-bar-icon" src="/images/setting-filled@2x.png" alt="setting">
        <a href="/edit">
          <span><strong>設定</strong></span>
        </a>
      </div>

      <div class="tweets-new-tweet">
        <button class="left-bar-tweetbtn" type="submit" data-bs-toggle="modal" data-bs-target="#user-tweet-modal">推文</button>
      </div>
      
      <div class="logout">
        <img class="left-bar-icon" src="/images/logout@2x.png" alt="setting">
        <a href="/logout">
          <span><strong>登出</strong></span>
        </a>
      </div>
    </div>
  </div>
</div>
