<div class="left-content">
  <div class="left-column">
    <i class="logo fas fa-cus-logo"></i>
    {{!-- user --}}
    {{#ifCond 'user' user.role}}
    <div class="nav d-flex flex-column">
      <div class="nav-item">
        <a href="/tweets">
          <div class="icon-div">
            <i class="fas fa-cus-home"></i>
          </div>
          首頁
        </a>
      </div>
      <div class="nav-item">
        <a href="/tweets">
          <div class="icon-div">
            <i class="fas fa-cus-user"></i>
          </div>
          個人資料
        </a>
      </div>
      <div class="nav-item">
        <a href="/setting/{{user.id}}/edit">
          <div class="icon-div">
            <i class="fas fa-cus-setting"></i>
          </div>
          設定
        </a>
      </div>
    </div>
    <button type="button" class="tweet-button" data-toggle="modal" data-target="#tweetModal">
      推文
    </button>
    {{/ifCond}}
    {{!-- admin --}}
    {{#ifCond 'admin' user.role}}
    <div class="nav d-flex flex-column">
      <div class="nav-item">
        <a href="/admin/tweets">
          <div class="icon-div">
            <i class="fas fa-cus-home"></i>
          </div>
          推文清單
        </a>
      </div>
      <div class="nav-item">
        <a href="/admin/users">
          <div class="icon-div">
            <i class="fas fa-cus-user"></i>
          </div>
          使用者列表
        </a>
      </div>
    </div>
    {{/ifCond}}
  </div>
  <div class="logout">
    <div class="nav-item">
      {{#ifCond 'admin' user.role}}
      <a href="/admin/signout">
        {{else}}
        <a href="/signout">
          {{/ifCond}}
          <div class="icon-div">
            <i class="fas fa-cus-logout"></i>
          </div>
          登出
        </a>
    </div>
  </div>
</div>