<div class="col-3 d-flex flex-column">
  {{!-- 上方元件 --}}
  <div class="container p-0" style="max-width: 210px;">
    <a href="/">
      <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M29.2746 23.8533C29.2746 23.8533 23.6744 32.9337 19.0831 32.9337C11.0522 32.9337 18.5364 15.635 24.3936 15.635C28.4806 15.635 29.2746 23.8533 29.2746 23.8533Z"
          fill="#FF6600" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M35.9293 35.273C34.334 36.9706 32.3649 38.2733 30.1784 39.0777C27.9919 39.8821 25.648 40.1661 23.3326 39.9072C21.0172 39.6483 18.794 38.8536 16.8392 37.5861C14.8845 36.3186 13.2519 34.6133 12.071 32.6052C13.3987 34.4109 15.6504 35.6146 18.8524 35.6146C26.7401 35.6146 31.2175 29.4851 31.2175 29.4851C31.2175 29.4851 31.6048 34.3295 35.9196 35.273H35.9293Z"
          fill="#FF6600" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M38.2916 18.059C39.4721 20.3146 40.0585 22.8338 39.9953 25.3789C39.9321 27.9239 39.2214 30.4109 37.9304 32.6052C36.9092 32.0324 36.1543 31.0813 35.8283 29.9569L34.1167 24.8294L38.2916 18.059Z"
          fill="#FF6600" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M25.0024 10.013C28.7639 10.0105 32.3885 11.4241 35.1548 13.9725L32.3141 18.5566C31.2858 15.8823 29.1968 13.2047 25.1325 13.2047C16.8088 13.2047 10.6392 22.2916 10.6392 27.9884C10.6374 28.7252 10.7315 29.459 10.9191 30.1715C10.0867 27.9044 9.81404 25.4699 10.1243 23.0749C10.4345 20.6798 11.3185 18.3951 12.7011 16.4148C14.0837 14.4345 15.924 12.8173 18.0656 11.7004C20.2073 10.5836 22.5869 10.0003 25.0024 10V10.013Z"
          fill="#FF6600" />
      </svg>
    </a>
    <div class="d-flex mt-5">
      <a class="text-decoration-none" href="/">
        <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M22.58 6.34986L12.475 0.896855C12.178 0.736855 11.821 0.736855 11.525 0.896855L1.42496 6.34986C0.938957 6.61386 0.757957 7.21986 1.01996 7.70586C1.19996 8.04086 1.54496 8.23086 1.89996 8.23086C2.05996 8.23086 2.22396 8.19286 2.37496 8.11086L3.10896 7.71486L4.69896 18.9649C4.91496 20.1789 6.00896 21.0269 7.35896 21.0269H16.641C17.991 21.0269 19.085 20.1789 19.303 18.9389L20.891 7.71386L21.628 8.11186C22.113 8.37486 22.72 8.19386 22.982 7.70786C23.245 7.22186 23.062 6.61486 22.578 6.35286L22.58 6.34986ZM12 14.4349C10.205 14.4349 8.74996 12.9799 8.74996 11.1849C8.74996 9.38986 10.205 7.93486 12 7.93486C13.795 7.93486 15.25 9.38986 15.25 11.1849C15.25 12.9799 13.795 14.4349 12 14.4349Z"
            fill="#1C1C1C" />
        </svg>

        <span class="ml-3">首頁</span>
      </a>
    </div>
    <div class="d-flex mt-4">
      <a class="text-decoration-none" href="/users/{{user.id}}">
        <svg width="24" height="22" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9.00003 10.816C10.355 10.816 11.872 10.666 12.84 9.56001C13.654 8.63001 13.918 7.19201 13.646 5.16801C13.266 2.34301 11.529 0.656006 9.00003 0.656006C6.47103 0.656006 4.73403 2.34301 4.35403 5.17001C4.08203 7.19201 4.34603 8.63001 5.16003 9.56001C6.12803 10.667 7.64503 10.816 9.00003 10.816ZM5.84003 5.36801C6.00203 4.16801 6.62703 2.15601 9.00003 2.15601C11.373 2.15601 11.998 4.16901 12.16 5.36801C12.367 6.91801 12.217 7.99501 11.71 8.57301C11.255 9.09301 10.444 9.31601 9.00003 9.31601C7.55603 9.31601 6.74503 9.09301 6.29003 8.57301C5.78303 7.99501 5.63303 6.91701 5.84003 5.36801ZM17.28 18.236C16.403 14.71 12.998 12.246 9.00003 12.246C5.00203 12.246 1.59703 14.71 0.720027 18.236C0.548027 18.928 0.692027 19.636 1.11503 20.176C1.52303 20.696 2.15503 20.996 2.84803 20.996H15.152C15.845 20.996 16.477 20.696 16.885 20.176C17.309 19.636 17.452 18.929 17.279 18.236H17.28ZM15.704 19.252C15.578 19.412 15.388 19.498 15.152 19.498H2.84803C2.61303 19.498 2.42203 19.413 2.29603 19.252C2.15903 19.078 2.11603 18.84 2.17603 18.598C2.88603 15.743 5.69303 13.748 9.00003 13.748C12.307 13.748 15.114 15.742 15.824 18.598C15.884 18.84 15.841 19.078 15.704 19.252Z"
            fill="black" />
        </svg>
        <span class="ml-3">個人資料</span>
      </a>
    </div>
    <div class="d-flex mt-4">
      <a class="text-decoration-none" href="/setting">
        <svg width="24" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.36 21.375H10.638C9.45499 21.375 8.48399 20.487 8.37599 19.311L8.36199 19.164C8.33699 18.877 8.15499 18.631 7.88999 18.52C7.60399 18.4 7.30799 18.455 7.09199 18.635L6.97599 18.732C6.10799 19.457 4.72299 19.395 3.91599 18.592L3.40599 18.082C2.56999 17.242 2.50999 15.928 3.26599 15.022L3.36399 14.904C3.54999 14.682 3.59399 14.381 3.48599 14.117C3.37599 13.845 3.12799 13.663 2.83999 13.637L2.68999 13.623C1.50999 13.516 0.622986 12.543 0.622986 11.361V10.639C0.622986 9.456 1.51099 8.485 2.68699 8.377L2.84299 8.363C3.12799 8.338 3.37299 8.156 3.48499 7.89C3.59499 7.62 3.54999 7.317 3.36499 7.095L3.27099 6.979C2.51399 6.071 2.57299 4.756 3.40799 3.919L3.91999 3.407C4.72399 2.603 6.10799 2.542 6.97999 3.267L7.09599 3.365C7.31399 3.549 7.62399 3.595 7.88599 3.487C8.15599 3.375 8.33799 3.129 8.36299 2.844L8.37699 2.691C8.48399 1.511 9.45699 0.625 10.639 0.625H11.361C12.544 0.625 13.515 1.513 13.623 2.689L13.637 2.845C13.662 3.13 13.843 3.375 14.109 3.485C14.386 3.602 14.689 3.547 14.903 3.368L15.023 3.266C15.89 2.543 17.277 2.604 18.083 3.406L18.593 3.918C19.429 4.756 19.489 6.071 18.733 6.978L18.633 7.096C18.445 7.316 18.399 7.618 18.51 7.884C18.622 8.154 18.87 8.334 19.156 8.362L19.308 8.376C20.488 8.483 21.375 9.456 21.375 10.638V11.361C21.375 12.544 20.487 13.515 19.311 13.623L19.156 13.637C18.872 13.661 18.626 13.842 18.516 14.107C18.403 14.379 18.449 14.681 18.633 14.902L18.733 15.022C19.489 15.927 19.429 17.242 18.593 18.082L18.083 18.592C17.276 19.396 15.893 19.456 15.023 18.732L14.908 18.636C14.691 18.453 14.378 18.406 14.118 18.514C13.845 18.628 13.663 18.874 13.638 19.16L13.624 19.31C13.517 20.483 12.544 21.37 11.362 21.37L11.36 21.375ZM7.58699 16.955C7.88699 16.955 8.17999 17.015 8.45699 17.13C9.24699 17.458 9.78099 18.184 9.85699 19.026L9.87099 19.173C9.90799 19.573 10.238 19.873 10.641 19.873H11.363C11.763 19.873 12.093 19.573 12.131 19.173L12.145 19.025C12.221 18.183 12.755 17.458 13.537 17.133C14.33 16.803 15.233 16.951 15.87 17.483L15.983 17.577C16.161 17.725 16.349 17.757 16.476 17.757C16.682 17.757 16.876 17.677 17.022 17.53L17.532 17.02C17.816 16.736 17.837 16.29 17.58 15.982L17.48 15.862C16.938 15.212 16.803 14.322 17.128 13.539C17.454 12.749 18.18 12.219 19.022 12.142L19.177 12.128C19.574 12.091 19.877 11.761 19.877 11.358V10.636C19.877 10.236 19.574 9.906 19.175 9.868L19.023 9.854C18.177 9.776 17.453 9.244 17.128 8.461C16.802 7.673 16.938 6.783 17.481 6.134L17.581 6.016C17.838 5.706 17.817 5.26 17.533 4.976L17.023 4.466C16.877 4.319 16.683 4.239 16.477 4.239C16.35 4.239 16.162 4.271 15.985 4.419L15.865 4.519C15.231 5.047 14.315 5.189 13.543 4.873C12.755 4.546 12.223 3.821 12.146 2.977L12.132 2.822C12.097 2.425 11.767 2.122 11.365 2.122H10.642C10.242 2.122 9.91199 2.425 9.87399 2.824L9.85999 2.976C9.78399 3.819 9.25199 4.544 8.46999 4.869C7.68299 5.195 6.77699 5.052 6.13999 4.519L6.02199 4.423C5.84199 4.273 5.65399 4.243 5.52699 4.243C5.32099 4.243 5.12699 4.323 4.98099 4.469L4.46899 4.979C4.18699 5.263 4.16599 5.709 4.42299 6.017L4.52299 6.135C5.06299 6.788 5.19999 7.679 4.87499 8.46C4.54799 9.248 3.82299 9.78 2.97999 9.857L2.82399 9.871C2.42699 9.908 2.12399 10.238 2.12399 10.641V11.363C2.12399 11.763 2.42699 12.093 2.82599 12.131L2.97599 12.145C3.82399 12.223 4.54899 12.757 4.87299 13.541C5.19799 14.327 5.06299 15.216 4.51999 15.866L4.42399 15.981C4.16399 16.291 4.18599 16.737 4.46999 17.021L4.97999 17.531C5.12599 17.678 5.31999 17.758 5.52599 17.758C5.65299 17.758 5.84099 17.728 6.01799 17.578L6.13399 17.482C6.53999 17.146 7.05699 16.958 7.58699 16.958V16.955Z"
            fill="black" />
        </svg>
        <span class="ml-3">設定</span>
      </a>
    </div>
    <button class="mt-4 btn btn-lg btn-light btn-block rounded-pill" style="background-color: #FF6600;"
      data-toggle="modal" data-target="#createTweet"><span class="text-white">推文</span></button>
  </div>
  {{!-- 下方元件 --}}
  <div class="container p-0" style="max-width: 210px; margin-top:360px;">
    <div class="d-flex">
      <a class="text-decoration-none" href="/signout">
        <svg width="24" height="22" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9 13L5 9M5 9L9 5M5 9H19M14 13V14C14 14.7956 13.6839 15.5587 13.1213 16.1213C12.5587 16.6839 11.7956 17 11 17H4C3.20435 17 2.44129 16.6839 1.87868 16.1213C1.31607 15.5587 1 14.7956 1 14V4C1 3.20435 1.31607 2.44129 1.87868 1.87868C2.44129 1.31607 3.20435 1 4 1H11C11.7956 1 12.5587 1.31607 13.1213 1.87868C13.6839 2.44129 14 3.20435 14 4V5"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span class="ml-3">登出</span>
      </a>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createTweet" tabindex="-1" role="dialog" aria-labelledby="createTweet" aria-hidden="true">
  <form action="/tweet" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createTweetLabel">新增一則Tweet</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea name="tweet" id="" cols="30" rows="10">有什麼新鮮事...</textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">推文</button>
        </div>
      </div>
    </div>
  </form>
</div>
