<div class="left-column">
  <div class="AC-icon">
    <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89-300x300.png"
      style="width:75px">
  </div>

  </br>

  <div class="home" name="home">
    <a class="left-column-items text-dark" href="/tweets" style="text-decoration: none"><i
        class="fas fa-home"></i>&ensp;<strong>首頁</strong></a>
  </div>

  </br>

  <div class="profile" name="profile">
    <a class="left-column-items text-dark" href="/users/{{user.id}}/tweets" style="text-decoration: none"><i
        class="far fa-user"></i>&ensp;<strong>個人資料</strong></a>
  </div>

  </br>

  <div class="setting" name="setting">
    <a class="left-column-items text-dark" href="/users/{{user.id}}/setting" style="text-decoration: none"><i
        class="fas fa-cog"></i>&ensp;<strong>設定</strong></a>
  </div>

  </br>

  <form action="/tweets">
    <button type="submit" class="btn btn-warning"
      style="min-width:33%;width:170px; border-radius: 30px 30px 30px 30px">推文</button>
  </form>


  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>

  <a href="/logout" class="logout text-dark" style="text-decoration: none"><i
      class="fas fa-sign-out-alt"></i>&ensp;<strong>LogOut</strong></a>

</div>