<div class="left-sidebar-anchor d-flex flex-column">
  {{!-- logo --}}
  <div class="d-flex justify-content-end logo-block">
    <img src="/images/logo.png" class="logo my-3" alt="logo">
  </div>
  {{!-- tab item --}}
  <div class="d-flex flex-column align-items-end nav tab-block">
    <a href="/tweets" class="d-flex align-items-center tab-link {{#ifCond route 'tweets'}} active {{/ifCond}}">
      <i class="fas fa-fw fa-home mx-1"></i>
      <h5 class="mt-2 ms-3 tab-item d-flex justify-content-start">首頁</h5>
    </a>
    <a href="/users/{{user.id}}" class="d-flex align-items-center tab-link  {{#ifCond route 'user'}} active {{/ifCond}}">
      <i class="fas fa-fw fa-user mx-1"></i>
      <h5 class="mt-2 ms-3 tab-item d-flex justify-content-start">個人資料</h5>
    </a>
    <a href="/users/{{user.id}}/setting" class="d-flex align-items-center tab-link {{#ifCond route 'setting'}} active {{/ifCond}}">
      <i class="fas fa-fw fa-cog mx-1"></i>
      <h5 class="mt-2 ms-3 tab-item d-flex justify-content-start">設定</h5>
    </a>
  </div>
  {{!-- post tweet btn --}}
  <div class="d-flex justify-content-end btn-block">
    <button class="text-white left-sidebar-btn" data-bs-toggle="modal" data-bs-target="#tweetModal">推文</button>
  </div>
</div>
{{!-- logout --}}
<div class="logout-anchor d-flex flex-column align-items-end nav tab-block mt-auto">
  <a href="/logout" class="d-flex align-items-center tab-link">
    <i class="fa-solid fa-arrow-right-from-bracket mx-1"></i>
    <h5 class="mt-2 ms-3 tab-item d-flex justify-content-start">登出</h5>
  </a>
</div>

{{!-- tweets modal --}}
<form action="/tweets" method="POST" class="needs-validation" novalidate>
  <div class="modal fade" id="tweetModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="tweetModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-w">
      <div class="modal-content modal-outline">
        {{!-- modal header --}}
        <button id="closeReply" type="button" class="btn-close mt-3 ms-3" data-bs-dismiss="modal" aria-label="Close"></button>
        <hr>
        {{!-- modal content --}}
        <div class="row pt-0">
          <div class="col-2 d-flex justify-content-center">
            <img src="{{user.avatar}}" alt="avatar" style="height: 50px ;width: 50px; border-radius: 50%;">
          </div>
          <div class="col-9 mb-2 mt-1 reply-content-anchor">
            <textarea class="form-control post-modal-textarea mt-2" id="description" name="description" rows="5" placeholder="有什麼新鮮事？" onkeyup="calPostWords()" value="" required></textarea>
            <div id="post-error" class="invalid-feedback post-error-anchor">內容不可為空白</div>
          </div>
        </div>
        <div id="post-btn" class="d-flex flex-row-reverse me-2 mb-2">
          <button type="submit" class="text-white main-tweet-btn">推文</button>
        </div>
      </div>
    </div>
  </div>
</form>