<!-- Left
<a href="/" style="color: black; text-decoration:none;">
-->

<div class="d-flex flex-column mt-2" style="height:100vh;">
  <div class="row py-2">
    <i class="fas fa-dove"></i>
  </div>
  <div class="row fw-bolder py-2">
    <a href="/tweets" style="color: black; text-decoration:none;"
      onmouseover="this.style='color:#FF6103;text-decoration:none;';"
      onmouseout="this.style='color:black;text-decoration:none;';">
      <i class="fas fa-home"></i>　首頁
    </a>
  </div>
  <div class="row fw-bolder py-2">
    <a href="#" style="color: black; text-decoration:none;"
      onmouseover="this.style='color:#FF6103;text-decoration:none;';"
      onmouseout="this.style='color:black;text-decoration:none;';">
      <i class="fas fa-user"></i>　通知
    </a>
  </div>
  <div class="row fw-bolder py-2">
    <a href="/globalChat" style="color: black; text-decoration:none;"
      onmouseover="this.style='color:#FF6103;text-decoration:none;';"
      onmouseout="this.style='color:black;text-decoration:none;';">
      <i class="fas fa-user"></i>　公開聊天室
    </a>
  </div>
  <div class="row fw-bolder py-2">
    <a href="#" style="color: black; text-decoration:none;"
      onmouseover="this.style='color:#FF6103;text-decoration:none;';"
      onmouseout="this.style='color:black;text-decoration:none;';">
      <i class="fas fa-user"></i>　私人訊息
    </a>
  </div>
  <div class="row fw-bolder py-2">
    <a href="/user/{{user.id}}" style="color: black; text-decoration:none;"
      onmouseover="this.style='color:#FF6103;text-decoration:none;';"
      onmouseout="this.style='color:black;text-decoration:none;';">
      <i class="fas fa-user"></i>　個人資料
    </a>
  </div>
  <div class="row fw-bolder py-2">
    <a href="/user/setting" style="color: black; text-decoration:none;"
      onmouseover="this.style='color:#FF6103;text-decoration:none;';"
      onmouseout="this.style='color:black;text-decoration:none;';">
      <i class="fas fa-cog"></i>　設定
    </a>
  </div>

  <button class="btn btn-lg btn-block fw-bolder my-2 py-1 w-75" type="submit" data-bs-toggle="modal"
    data-bs-target="#postTweetModal"
    style="font-size: 14px; color:white; background-color:#FF6103; border-radius: 25px">推文</button>

  <div class="row fw-bolder mt-auto mb-3">
    <a href="/logout" style="color: black; text-decoration:none;"
      onmouseover="this.style='color:#FF6103;text-decoration:none;';"
      onmouseout="this.style='color:black;text-decoration:none;';">
      <i class="fas fa-sign-out-alt"></i>　登出
    </a>
  </div>
</div>

{{!-- navbar left-column post-tweet modal --}}
<div class="modal fade" id="postTweetModal" tabindex="-1" role="dialog" aria-labelledby="postTweetModal"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="header d-flex">
          <button type="button" class="btn-close me-4" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <form action="/tweets" method="POST">
        <div class="modal-body">
          <div class="d-flex bg-light" style="border-radius:8px">
            <div class="avatar me-1">
              <a class="" href="/user/{{user.id}}">
                <img src="{{user.avatar}}" alt="" style="width: 50px; height:50px; background-color:#C4C4C4;"
                  class=" pe-0 border border-light rounded-circle">
              </a>
            </div>
            <div class="text w-100">
              <textarea class="descriptionInput form-control border-0 bg-light" id="message-text" rows='6'
                style="width:100%" name="description" onkeyup="countWords(name,140)" maxlength="140"
                placeholder="有什麼新鮮事？"></textarea>
            </div>
          </div>
          <div class="descriptionCount text-end mt-0" style="color:#657786;font-size:15px">
            0/140
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn"
            style="border-radius: 25px; color:white; background-color:#FF6103;">推文</button>
        </div>
      </form>
    </div>
  </div>
</div>