<!-- Left-->
<nav class="col-2 .d-none.d-md-block">
  <a><i class="fas fa-dove"></i></a>
  <a href="/"><i class="fas fa-home"></i></a>
  <a href="/users/{{user.id}}"><i class=" fas fa-user"></i></a>
  <a href="/"><i class="fas fa-cog"></i></a>
  <!--發文樣式再修改 -->
  <div class="div">
    <button type="submit" style="color:white; background-color:#FF6103;">發文</button>

    <div class="row align-items-end"><a href="#"><i class="fas fa-sign-out-alt"></i></a></div>
  </div>
</nav>