<div class="left-column">
  <div class="AC-icon">
    <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89-300x300.png"
      style="width:75px">
  </div>

  </br>

  <div class="home" name="home">
    <a class="left-column-items text-dark" href="/tweets" style="text-decoration: none"><i
        class="fas fa-home"></i>&ensp;<strong>首頁</strong></a>
  </div>

  </br>

  <div class="profile" name="profile">
    <a class="left-column-items text-dark" href="/users/{{user.id}}/tweets" style="text-decoration: none"><i
        class="far fa-user"></i>&ensp;<strong>個人資料</strong></a>
  </div>

  </br>

  <div class="setting" name="setting">
    <a class="left-column-items text-dark" href="/users/{{user.id}}/setting" style="text-decoration: none"><i
        class="fas fa-cog"></i>&ensp;<strong>設定</strong></a>
  </div>

  </br>

  <button type="button" class="btn"
    style="background: #FF6600; min-width:33%;width:170px; border-radius: 30px 30px 30px 30px" data-toggle="modal"
    data-target="#tweetModal">
    <span style="color: #FFFFFF;">推文</span>
  </button>


  <div class="left-column-items">
    <a href="/logout" class="logout text-dark" style="text-decoration: none"><i
        class="fas fa-sign-out-alt"></i>&ensp;<strong>LogOut</strong></a>
  </div>


  <div class="modal fade" id="tweetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close mr-2" style="color : #FF6600;" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="body-avatar row">
            <div class="col-2">
              <a href="/users/{{user.id}}/tweets">
                <img src="{{user.avatar}}" class="rounded-circle" style="width: 50px;height: 50px;background: #C4C4C4;">
              </a>
            </div>
            <form method="POST" action="/tweets">
              <div class="col-10">
                <textarea name="description" cols="40" rows="10"
                  style="background: #FFFFFF;border: 0px solid #E6ECF0;box-sizing: border-box;"
                  placeholder="有什麼新鮮事"></textarea>
              </div>
              <button type="submit" class="btn " style="background: #FF6600;border-radius: 100px;; float:right;"><span
                  style="color: #FFFFFF;">推文</span></button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>