<div class="col-md-3">
  <div class="d-flex flex-column">
    <img class="rounded-circle" src="../../public/images/Icon.jpg" alt="logo">
    <a href="/tweets">首頁</a>
    <a href="/users/{{ user.id }}">個人資料</a>
    <a href="/users/{{ user.id }}/setting">帳戶設定</a>
    <a href="/tweets/create">
      <button class="btn btn-primary my-2 my-sm-0">推文</button>
    </a>
    <a href="/logout">
      <button class="btn btn-outline-success my-2 my-sm-0">登出</button>
    </a>
  </div>
</div>
