<div class="left rl">
  <a href=""><img class="ac-img" width="50px", height="50px" src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png" alt=""></a>
  <div>
    <a href="/tweets" class="icon-home leftbar-text">
      <i class="fas fa-home me-3" style="font-size: 1.2em;"style="font-size: 1.2em;"></i>
      <span><strong>首頁</strong></span>
    </a>
  </div>
  <div class="mt-4 mb-1">
    <a href="/users/{{viewUser.id}}/tweets" class="icon-user leftbar-text">
      <i class="far fa-user me-3" style="font-size: 1.2em;"></i>
      <span><strong>個人資料</strong></span>
    </a>
  </div>
  <div class="mt-4 mb-1">
    <a href="/edit" class="icon-setting leftbar-text">
      <i class="fas fa-cog me-3" style="font-size: 1.2em;"></i>
      <span><strong>設定</strong></span>
    </a>
  </div>
  <div class="tweetbtn-MP">
    <a class="tweetbtn" style="" href="/tweets/new" method="" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">推文</a>
  </div>
  <div class="mt-4 mb-1 abs logout-re" style="bottom: 18px;">
    <a href="/logout" class="icon-logout leftbar-text">
      <i class="fas fa-sign-out-alt me-3" style="color: #000000; font-size: 1.2em;"></i>
      <span><strong>登出</strong></span>
    </a>
  </div>
</div>