<div class="left-column">
  <div class="AC-icon">
    <a href="/tweets">
      <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89-300x300.png"
        style="width:75px">
    </a>
  </div>
  </br>
  <div class="home" name="home">
    <a class="left-column-items text-dark" href="/tweets" style="text-decoration: none"><i
        class="fas fa-home"></i>&ensp;<strong>首頁</strong></a>
  </div>
  </br>
  <div class="profile" name="notify">
    <a class="left-column-items text-dark" href="#" style="text-decoration: none"><i
        class="far fa-bell"></i>&ensp;<strong>通知</strong></a>
  </div>
  </br>
  <div class="profile" name="public-talk">
    <a class="left-column-items text-dark" href="/chatroom/public" style="text-decoration: none"><i
        class="far fa-envelope"></i>&ensp;<strong>公開聊天室</strong></a>
  </div>
  </br>
  <div class="profile" name="private-talk">
    <a class="left-column-items text-dark" href="/chatroom/5/4" style="text-decoration: none"><i
        class="far fa-envelope"></i>&ensp;<strong>私人訊息</strong></a>
  </div>
  </br>
  <div class="profile" name="profile">
    <a class="left-column-items text-dark" href="/users/{{user.id}}/tweets" style="text-decoration: none"><i
        class="far fa-user"></i>&ensp;<strong>個人資料</strong></a>
  </div>
  </br>
  <div class="setting" name="setting">
    <a class="left-column-items text-dark" href="/users/{{user.id}}/setting" style="text-decoration: none"><i
        class="fas fa-cog"></i>&ensp;<strong>設定</strong></a>
  </div>
  </br>
  <button type="button" class="btn"
    style="background: #FF6600; min-width:33%;width:170px; border-radius: 30px 30px 30px 30px" data-toggle="modal"
    data-target="#tweetModal">
    <span style="color: #FFFFFF;">推文</span>
  </button>
  <div class="left-column-items">
    <a href="/logout" class="logout text-dark" style="text-decoration: none"><i
        class="fas fa-sign-out-alt"></i>&ensp;<strong>LogOut</strong></a>
  </div>
</div>