<div class="col-2">
  <div class="left-bar">
    <div class="left-bar-content">
      <div class="ac-icon">
        <a href=""><img class="ac-img" width="50px" , height="50px"
            src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png"
            alt="AC icon"></a>
        <div class="home mb-2">
          <i class="fa-sharp fa-solid fa-house"></i>
          <a href="/tweets">
            <span><strong>首頁</strong></span>
          </a>
        </div>

        <div class="personal-info mb-2">
          <i class="fa-sharp fa-solid fa-user"></i>
          <a href="">
            <span><strong>個人資料</strong></span>
          </a>
        </div>

        <div class="personal-info-setting mb-2">
          <i class="fa-solid fa-gear"></i>
          <a href="">
            <span><strong>設定</strong></span>
          </a>
        </div>
      </div>

      <div class="tweets-new-tweet">
        <button class="left-bar-tweetbtn" type="submit">推文</button>
      </div>

      <div class="logout position-absolute" style="bottom: 20px;">
        <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
        <a href="/logout">
          <span><strong>登出</strong></span>
        </a>
      </div>
    </div>
  </div>
</div>
