<div class="sidebar-left" style="width:12%">
  <a href=""><img src="https://i.postimg.cc/TYz5188h/Icon.png" alt=""></a>
  <div class="nav-card">
    <div class="nav-item">
      <img src="https://i.postimg.cc/R0Fj3YxJ/Vector.png" alt="">
      <a href="/tweets"><h5>首頁</h5></a>
    </div>
    <div class="nav-item">
      <img src="https://i.postimg.cc/R0X7bMhq/Vector.png" alt="">
      <a href="/users/{{user.id}}/tweets"><h5>個人資料</h5></a>
    </div>
    <div class="nav-item">
      <img src="https://i.postimg.cc/HW2rwSJs/Group.png" alt="">
      <a href="/users/{{user.id}}/account"><h5>設定</h5></a>
    </div>
    <div class="nav-tweet">
      <a href=""><button class="tweet">儲存</button></a>
    </div>
  </div>
  <div class="nav-item nav-logout">
    <img src="https://i.postimg.cc/J0bsDLyR/Group.png" alt="">
    <a href=""><h5>登出</h5></a>
  </div>
</div>