<div class="sidebar" id="left-sidebar">
  <div class="sidebar-container" id="logo-container">
    <a href="/">
      <img src="/images/logo.png" alt="" id="logo">
    </a>
  </div>
  <div class="sidebar-container">
    <nav class="nav d-flex flex-row" class="sidebar-container" id="buttons-container">
      <a href="/tweets" class="nav-link button-container" id="home">
      <span class="icon-description p-0" id="home-span">
        <img src="/images/icons/home.png" alt="home" id="home-icon" class="sidebar-icon">
        首頁
      </span>
      </a>
      <a href="/profile" class="nav-link button-container" id="profile">
        <span class="icon-description p-0" id="profile-span">
        <img src="/images/icons/profile.png" alt="profile" id="profile-icon" class="sidebar-icon">
        個人資料
      </span>
      </a>
      <a href="/setting" class="nav-link button-container" id="setting">
        <span class="icon-description p-0" id="setting-span">
          <img src="/images/icons/setting.png" alt="setting" id="setting-icon" class="sidebar-icon">
          設定
        </span>
      </a>
      <div class="button-container d-block p-0" id="add-tweet">
      <!-- Button trigger modal -->
      <button type="button" class="btn d-grid" data-bs-toggle="modal" data-bs-target="#newTweet" id="new-tweet">
        <span class="new-tweet-span" style="font-size: 20px;">推文</span>
      </button>
      {{> add-tweet-modal}}
      
      </div>
    </nav>
  </div>
  <div id="logout">
    <a href="/logout" class="btn">
      <span class="icon-description" id="logout-span">
        <img src="/images/icons/leave.png" alt="logout" id="logout-icon" class="sidebar-icon">
        登出
    </a>
  </div>
</div>