<div class="d-flex">
  <div class="mt-4 mx-2">

    <div class="row d-flex align-items-center mb-4">
      <div class="col-4 d-flex flex-row-reverse">
        <i class="fas  fa-fw fa-home mr-4" style="height: 20.25px; width: 22.202383041381836px; left: 0.89990234375px; top: 1.77685546875px; border-radius: 0px"></i>
      </div>
      <h5 class="col-8">首頁</h5>
    </div>

    <div class="row d-flex align-items-center mb-4">
      <div class="col-4 d-flex flex-row-reverse">
        <i class="fas  fa-fw fa-user mr-4" style="height: 20.25px; width: 22.202383041381836px; left: 0.89990234375px; top: 1.77685546875px; border-radius: 0px"></i>
      </div>
      <h5 class="col-8">個人資料</h5>
    </div>

    <div class="row d-flex align-items-center mb-4">
      <div class="col-4 d-flex flex-row-reverse">
        <i class="fas  fa-fw fa-cog mr-4" style="height: 20.25px; width: 22.202383041381836px; left: 0.89990234375px; top: 1.77685546875px; border-radius: 0px"></i>
      </div>
      <h5 class="col-8">設定</h5>
    </div>

    <button style="height: 46px; width: 178px; left: 0px; top: 0px; border-radius: 50px; padding: 8px, 24px, 8px, 24px; background: #FF6600; border-radius: 50px;">推文</button>

    <div class="row d-flex align-items-center mb-4" style="position: fixed; bottom: 20px; left: 150px;">
      <div class="col-4 d-flex flex-row-reverse">
        <i class="fas fa-arrow-alt-circle-left mr-4" style="height: 20.25px; width: 22.202383041381836px; left: 0.89990234375px; top: 1.77685546875px; border-radius: 0px"></i>
      </div>
      <h5 class="col-8">登出</h5>
    </div>
    
  </div>
</div>