<div class="d-flex">
  <div class="mt-4 mx-2">

    <div class="row d-flex align-items-center mb-4">
      <div class="col-4 d-flex flex-row-reverse">
        <i class="fas  fa-fw fa-home"></i>
      </div>
      <h5 class="col-8">首頁</h5>
    </div>

    <div class="row d-flex align-items-center mb-4">
      <div class="col-4 d-flex flex-row-reverse">
        <i class="fas  fa-fw fa-user"></i>
      </div>
      <h5 class="col-8">個人資料</h5>
    </div>

    <div class="row d-flex align-items-center mb-4">
      <div class="col-4 d-flex flex-row-reverse">
        <i class="fas  fa-fw fa-cog"></i>
      </div>
      <h5 class="col-8">設定</h5>
    </div>

    <button class="text-white fw-bold" data-bs-toggle="modal" data-bs-target="#tweetModal"
      style="height: 40px; width: 178px; border-radius: 50px; background: #FF6600; border:#FF6600">推文</button>

    <div class="row d-flex align-items-center mb-4" style="position: fixed; bottom: 20px; left: 150px;">
      <div class="col-4 d-flex flex-row-reverse">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </div>
      <h5 class="col-8">登出</h5>
    </div>

  </div>
</div>