{{#if user}}
<div class="left-content">
  <div class="left-column">
    <i class="logo fac fa-cus-ac-logo"></i>
    <div class="nav">
      <div class="nav-item">
        <a href="/tweets">
          <div class="icon-div">
            <i class="fac fa-cus-home"></i>
          </div>
          首頁
        </a>
      </div>
      <div class="nav-item">
        <a>
          <div class="icon-div">
            <i class="far fa-bell"></i>
          </div>
          通知
        </a>
      </div>
      <div class="nav-item">
        <a href="/chat">
          <div class="icon-div">
            <i class="far fa-comments"></i>
          </div>
          公開聊天室
        </a>
      </div>
      <div class="nav-item">
        <a>
          <div class="icon-div">
            <i class="far fa-paper-plane"></i>
          </div>
          私人訊息
        </a>
      </div>
      <div class="nav-item">
        <a href="/users/{{user.id}}/tweets">
          <div class="icon-div">
            <i class="fac fa-cus-user"></i>
          </div>
          個人資料
        </a>
      </div>
      <div class="nav-item">
        <a href="/users/{{user.id}}/edit">
          <div class="icon-div">
            <i class="fac fa-cus-setting mr-3"></i>
          </div>
          設定
        </a>
      </div>
    </div>
    <button type="button" class="tweet-button" data-toggle="modal" data-target="#tweetModal">
      推文
    </button>
  </div>
  <div class="logout">
    <a href="/logout">
      <div class="icon-div">
        <i class="logout-icon fac fa-cus-logout"></i>
      </div>
      登出
    </a>
  </div>
</div>
{{/if}}