<div class="col-2">
  <div class="d-flex flex-column bd-highlight">
    <div class="ms-2 p-2 bd-highlight">
      <a href="/tweets">
        <img src="/images/alphitter-logo.png">
      </a>
    </div>
    <div class="p-2 bd-highlight">
      <a href="/tweets">
        <img src="/images/nav-icon-homepage.png">
      </a>
    </div>
    <div class="p-2 bd-highlight">
      <a href="/users/{{loginUser.id}}/tweets">
        <img src="/images/nav-icon-profile.png">
      </a>
    </div>
    <div class="p-2 bd-highlight">
      <a href="/setting/{{loginUser.id}}">
        <img src="/images/nav-icon-setting.png">
      </a>
    </div>
    <div class="p-2 bd-highlight">
      <button type="button" class="submit-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="width: 150px">
        推文
      </button>
    </div>
    <div class="p-4 bd-highlight">
      <a href="/logout">
        <img src="/images/nav-icon-logout.png">
      </a>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 634px; height: 400px;">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/tweets" method="POST">
          <div class="row">
            <div class="col-1 me-2">
              <img src="{{loginUser.avatar}}" style="border-radius: 50px; width: 50px; height: 50px;">
            </div>
            <div class="form-row mb-2 col-10">
              <textarea class="form-control" type="text" id="text" name="description" rows="3" placeholder="有什麼新鮮事？"
                maxlength="140" required></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="submit-btn" style="width: 100px">推文</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>