<div class="sidebar-right">
  <div class="sidebar-header">
    <h4>推薦跟隨</h4>
  </div>
  {{!-- each here --}}
  <div class="follow-card">
    <img src="https://i.postimg.cc/TYz5188h/Icon.png" alt="">
    <div class="follow-card-user">
      <h5>Pizza Hut</h5>
      <p>@pizzahut</p>
    </div>
    <a href=""><button class="following">正在跟隨</button></a>
  </div>
  {{!-- end   --}}
  <div class="follow-card">
    <img src="https://i.postimg.cc/TYz5188h/Icon.png" alt="">
    <div class="follow-card-user">
      <h5>Pizza Hut</h5>
      <p>@pizzahut</p>
    </div>
    <a href=""><button class="follow">跟隨</button></a>
  </div>

</div>