<div class="sidebar-left">
  <a href="/"><img src="/images/acIcon.png" alt=""></a>
  <div class="nav-card">
    <div class="nav-item">
      <img src="https://i.postimg.cc/R0Fj3YxJ/Vector.png" alt="">
      <a href="/">
        <h5>首頁</h5>
      </a>
    </div>
    <div class="nav-item">
      <img src="https://i.postimg.cc/R0X7bMhq/Vector.png" alt="">
      <a href="/api/users/:id/profile">
        <h5>個人資料</h5>
      </a>
    </div>
    <div class="nav-item">
      <img src="https://i.postimg.cc/HW2rwSJs/Group.png" alt="">
      <a href="/users/:id/account">
        <h5>設定</h5>
      </a>
    </div>
    <div class="nav-tweet">
      <a href=""><button class="tweet">推文</button></a>
    </div>
  </div>
  <div class="nav-item nav-logout">
    <img src="https://i.postimg.cc/J0bsDLyR/Group.png" alt="">
    <a href="/logout">
      <h5>登出</h5>
    </a>
  </div>
</div>