{{#if tweetRoute}}
<div class="card-header p-4 m-0 border border-top-0">
  <h4 class="m-0">首頁</h4>
</div>
{{/if}}
{{#if profileRoute}}
<div class="card-header border-bottom" style="padding: 14.5px;">
  <div class="profile-nav d-flex column">
    <div class="m-0 d-flex align-item-center">
      <img class="d-flex my-auto" src="/images/icons/back.png" alt="back-icon" style="height: 24px; width: 24px;">
    </div>
    <div class="nav-user-info-container d-inline ms-3">
      <h5 class="m-0">{{user.name}}</h5>
      <span style="font-size: 13px; color: #6C757D;">{{tweetsCount}} 貼文</span>
    </div>
  </div>
</div>  
{{/if}}
{{#if settingRoute}}
<div class="card-header p-4 border-bottom">
  <h4 class="m-0">帳戶設定</h4>
</div>
{{/if}}
