{{#if error_messages}}
<div class="alert alert-danger alert-dismissible fade show" role="alert" style="color: #FC5A5A;">
  {{ error_messages }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if success_messages}}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="color: #82C43C;">
  {{ success_messages }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if warning_msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: #FC5A5A;">
  {{ warning_msg }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}