

{{#if successMessage}}
<div class="alert alert-success text-center" role="alert">
  {{successMessage}}
</div>
{{/if}}

{{#if errorMessage}}
<div class="alert alert-danger text-center" role="alert">
    {{errorMessage}}
</div>
{{/if}}