{{#if success_messages}}
<div class="position-fixed alert alert-dismissible fade show" role="alert" style="margin-left:550px ;width: 600px; z-index:10">
  <strong class='mr-auto' style='color: black;font-size: 20px;margin-left:60px'>{{success_messages}}</strong>
      <img src="/images/success.svg" alt="">
    </div>
{{/if}}

{{#if error_messages}}
<div class="position-fixed alert alert-dismissible fade show" role="alert" style="margin-left:550px ;width: 600px;z-index:10">
  <strong class='mr-auto' style='color: black;font-size: 20px;margin-left:60px'>{{error_messages}}</strong>
  <img src="/images/danger.svg" alt="">
</div>
{{/if}}

{{#if warning_msg}}
<div class="position-fixed alert alert-dismissible fade show" role="alert" style="margin-left:550px ; width: 600px;z-index:10">
  <strong class='mr-auto' style='color: black;font-size: 20px; margin-left:60px'>{{ warning_msg }}</strong>
  <img src="/images/danger.svg" alt="">
</div>
{{/if}}

{{#if errors}}
{{#each errors}}
<div class=" alert alert-dismissible fade show" role="alert" style="margin-left:550px ; width: 600px;z-index:10">
  <strong class='mr-auto' style='color: black;font-size: 20px;margin-left:60px'>{{ this.message }}</strong>
  <img src="/images/danger.svg" alt="">
</div>
{{/each}}
{{/if}}