{{#if success_msg}}
<div class="alert alert-success" role="alert" style="margin: 30px 0 ;">
  {{success_msg}}
</div>
{{/if}}
{{#if warning_msg}}
<div class="alert alert-danger" role="alert" style="margin: 30px 0 ;">
  {{warning_msg}}
</div>
{{/if}}