{{#if error_messages}}
<div class="album py-5">
  <div class="container">
    <div class="alert alert-danger alert-dismissible fade show border-bottom m-0" role="alert" style="margin: 30px 0 ;">
      <strong>{{error_messages}}</strong>
    </div>
  </div>
</div>
{{/if}}

{{#if success_messages}}
<div class="album py-5">
  <div class="container">
    <div class="alert alert-success alert-dismissible fade show border-bottom m-0" role="alert"
      style="margin: 30px 0 ;">
      <strong>{{success_messages}}</strong>
    </div>
  </div>
</div>
{{/if}}