{{#if error_messages}}
<div class="message-container row justify-content-center align-items-center">
  <div class="message-text col-8">
    {{error_messages}}
  </div>
  <div class="message-icon col-3">
    <img class="img-err-msg-icon" src="/images/icons/err-msg.png" alt="error-msg">
  </div>
  <button class="btn-close-msg col-1">X</button>
</div>

{{/if}}
{{#if success_messages}}
<div class="message-container row justify-content-center align-items-center">
  <div class="message-text col-8">
    {{success_messages}}
  </div>
  <div class="message-icon col-3">
    <img class="img-success-msg-icon" src="/images/icons/success-msg.png" alt="success-msg">
  </div>
  <button class="btn-close-msg col-1">X</button>
</div>
{{/if}}
{{#if warning_msg}}
<div class="message-container row justify-content-center align-items-center">
  <div class="message-text col-9">
    {{warning_messages}}
  </div>
  <div class="message-icon col-3">
    <img class="img-warn-msg-icon" src="/images/icons/warn-msg.png" alt="warn-msg">
  </div>
  <button class="btn-close-msg col-1">X</button>
</div>
{{/if}}

<script>
  const closeBtn = document.querySelector('.btn-close-msg')
  const messageContainer = document.querySelector('.message-container')
  closeBtn.addEventListener('click', () => {
    messageContainer.style.display = 'none'
  })

</script>