{{#if error_messages}}
<div class="alert alert-danger alert-dismissible fade show alert-style d-flex prompt-text" role="alert">
		{{ error_messages }}
	<button type="button" class="message-img" data-bs-dismiss="alert" aria-label="Close">
		<img class="message-img" src="/images/background@2x (2).png">
	</button>
</div>
{{/if}}
{{#if success_messages}}
	<div class="alert alert-success alert-dismissible fade show alert-style d-flex prompt-text" role="alert">
		{{ success_messages }}
		<button type="button" class="message-img" data-bs-dismiss="alert" aria-label="Close">
			<img class="message-img" src="/images/background-nice@2x.png">
		</button>
	</div>
{{/if}}
{{#if warning_msg}}
	<div class="alert alert-warning alert-dismissible fade show alert-style d-flex prompt-text" role="alert" class="message-img">
		{{ warning_msg }}
		<button type="button" class="message-img" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{{/if}}