{{#if success_messages}}
  <div id="my-alert" class="alert alert-light alert-dismissible fade show fixed-top mx-auto mt-5 shadow-sm" role="alert">
    <div class="row align-items-center ps-5" data-bs-dismiss="alert" aria-label="Close">
      <p class="fs-6 col-10 mb-0 p-0">{{success_messages}}</p>
      <a class="col-1" data-bs-dismiss="alert" aria-label="Close">
        <svg
          width="56"
          height="56"
          viewBox="0 0 56 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="28"
            cy="28"
            r="27"
            stroke="#82C43C"
            stroke-width="2"
          ></circle>
          <path
            d="M20 28L26 34L36 22"
            stroke="#82C43C"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" data-bs-target="#my-alert" aria-label="Close"></button>
{{/if}}
{{#if error_messages}}
  <div class="alert alert-light alert-dismissible fade show fixed-top mx-auto mt-5 shadow-sm" role="alert">
    <div class="row align-items-center ps-5" data-bs-dismiss="alert" aria-label="Close">
      <p class="fs-6 col-10 mb-0 p-0">{{error_messages}}</p>
      <a class="col-1" >
        <svg
          width="56"
          height="56"
          viewBox="0 0 56 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="28"
            cy="28"
            r="27"
            stroke="#FC5A5A"
            stroke-width="2"
          ></circle>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M34.8512 22.4513C34.9367 22.3659 35.0046 22.2645 35.0509 22.1528C35.0972 22.0412 35.1211 21.9215 35.1212 21.8007C35.1213 21.6798 35.0975 21.5601 35.0514 21.4484C35.0052 21.3367 34.9374 21.2352 34.852 21.1497C34.7666 21.0642 34.6652 20.9963 34.5536 20.95C34.4419 20.9037 34.3223 20.8798 34.2014 20.8797C34.0805 20.8796 33.9608 20.9034 33.8491 20.9496C33.7374 20.9957 33.6359 21.0635 33.5504 21.1489L28 26.6993L22.4512 21.1489C22.2785 20.9762 22.0443 20.8792 21.8 20.8792C21.5558 20.8792 21.3215 20.9762 21.1488 21.1489C20.9761 21.3216 20.8791 21.5558 20.8791 21.8001C20.8791 22.0443 20.9761 22.2786 21.1488 22.4513L26.6992 28.0001L21.1488 33.5489C21.0633 33.6344 20.9955 33.7359 20.9492 33.8477C20.9029 33.9594 20.8791 34.0791 20.8791 34.2001C20.8791 34.321 20.9029 34.4408 20.9492 34.5525C20.9955 34.6642 21.0633 34.7658 21.1488 34.8513C21.3215 35.024 21.5558 35.121 21.8 35.121C21.921 35.121 22.0407 35.0972 22.1525 35.0509C22.2642 35.0046 22.3657 34.9368 22.4512 34.8513L28 29.3009L33.5504 34.8513C33.7231 35.0238 33.9573 35.1206 34.2014 35.1205C34.4455 35.1203 34.6795 35.0232 34.852 34.8505C35.0245 34.6778 35.1213 34.4436 35.1212 34.1995C35.121 33.9554 35.0239 33.7214 34.8512 33.5489L29.3008 28.0001L34.8512 22.4513Z"
            fill="#FC5A5A"
          ></path>
        </svg>
      </a>
    </div>
  </div>
{{/if}}
{{#if warning_msg}}
  <div class="alert alert-light alert-dismissible fade show fixed-top mx-auto mt-5 shadow-sm" role="alert">
    <div class="row align-items-center ps-5" data-bs-dismiss="alert" aria-label="Close">
      <p class="fs-6 col-10 mb-0 p-0">{{warning_msg}}</p>
      <a class="col-1" data-bs-dismiss="alert" aria-label="Close">
        <svg
          width="56"
          height="56"
          viewBox="0 0 56 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="28"
            cy="28"
            r="27"
            stroke="#FFC542"
            stroke-width="2"
          ></circle>
          <path
            d="M26.5 34.8438C26.5 35.2416 26.658 35.6231 26.9393 35.9044C27.2206 36.1857 27.6022 36.3438 28 36.3438C28.3978 36.3438 28.7794 36.1857 29.0607 35.9044C29.342 35.6231 29.5 35.2416 29.5 34.8438C29.5 34.4459 29.342 34.0644 29.0607 33.7831C28.7794 33.5018 28.3978 33.3438 28 33.3438C27.6022 33.3438 27.2206 33.5018 26.9393 33.7831C26.658 34.0644 26.5 34.4459 26.5 34.8438ZM27.25 30.9062H28.75C28.8531 30.9062 28.9375 30.8219 28.9375 30.7188V19.8438C28.9375 19.7406 28.8531 19.6562 28.75 19.6562H27.25C27.1469 19.6562 27.0625 19.7406 27.0625 19.8438V30.7188C27.0625 30.8219 27.1469 30.9062 27.25 30.9062Z"
            fill="#FFC542"
          ></path>
        </svg>
      </a>
    </div>
  </div>
{{/if}}
{{#if info_msg}}
  <div class="alert alert-light alert-dismissible fade show fixed-top mx-auto mt-5 shadow-sm" role="alert">
    <div class="row align-items-center ps-5" data-bs-dismiss="alert" aria-label="Close">
      <p class="fs-6 col-10 mb-0 p-0">{{info_msg}}</p>
      <a class="col-1" data-bs-dismiss="alert" aria-label="Close">
        <svg
          width="56"
          height="56"
          viewBox="0 0 56 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="28"
            cy="28"
            r="27"
            stroke="#50B5FF"
            stroke-width="2"
          ></circle>
          <path
            d="M26.5 21.25C26.5 21.6478 26.658 22.0294 26.9393 22.3107C27.2206 22.592 27.6022 22.75 28 22.75C28.3978 22.75 28.7794 22.592 29.0607 22.3107C29.342 22.0294 29.5 21.6478 29.5 21.25C29.5 20.8522 29.342 20.4706 29.0607 20.1893C28.7794 19.908 28.3978 19.75 28 19.75C27.6022 19.75 27.2206 19.908 26.9393 20.1893C26.658 20.4706 26.5 20.8522 26.5 21.25ZM28.75 25.1875H27.25C27.1469 25.1875 27.0625 25.2719 27.0625 25.375V36.25C27.0625 36.3531 27.1469 36.4375 27.25 36.4375H28.75C28.8531 36.4375 28.9375 36.3531 28.9375 36.25V25.375C28.9375 25.2719 28.8531 25.1875 28.75 25.1875Z"
            fill="#50B5FF"
          ></path>
        </svg>
      </a>
    </div>
  </div>
{{/if}}