{{#if success_messages}}
<div class="alert alert-success" role="alert" style="margin: 30px 0 ;">
  {{success_messages}}
</div>
{{/if}}
{{#if error_messages}}
<div class="alert alert-danger" role="alert" style="margin: 30px 0 ;">
  {{error_messages}}
</div>
{{/if}}