{{#if success_messages}}
<div class="mx-auto col-4 mb-4 alert alert-success alert-dismissible fade show" role="alert" style="margin: 30px 0 ;">
  {{success_messages}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if error_messages}}
<div class="mx-auto col-4 mb-4 alert alert-danger alert-dismissible fade show" role="alert" style="margin: 30px 0 ;">
  {{error_messages}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}