{{#if error}}
{{#each error}}
<div class="alert alert-warning alert-dismissible fade show ml-2" role="alert">
  {{this.message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{/if}}

{{#if successMessage}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{successMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if errorMessage}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{errorMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}


<!-- 推文Modal-->
{{#if user}}
<div class="modal" tabindex="-1" role="dialog" id="tweetModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="tweet-modal">
        <div class="tweet-modal-header">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close-button">
            &times;
          </button>
        </div>
        <div class="tweet-modal-body">
          <div>
            <img src="" alt="" class="avtar">
          </div>
          <form method="POST">
            <textarea class="modal-textarea" name="" id="" cols="30" rows="10" placeholder="有什麼新鮮事？"></textarea>
            <button type="submit" class="modal-button">推文</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}