{{!-- 新增 tweet modal --}}
<div class="modal" tabindex="-1" role="dialog" id="tweetModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="tweet-modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="tweet-modal-close-button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="tweet-modal-body">
        <img {{#if user.avatar}}src={{user.avatar}}{{/if}}
          style="background: #C4C4C4; border-radius: 100%; width: 50px; height: 50px">
        <form method="POST" action="/tweets">
          <textarea class="tweet-modal-textarea" name="description" id="description" cols="30" rows="10"
            placeholder="有什麼新鮮事？"></textarea>
          <button type="submit" class="tweet-modal-button">
            推文
          </button>
        </form>
      </div>
    </div>
  </div>
</div>