<div class="modal fade" id="postModel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="modal-body">
        <div class="post border-bottom-0">
          <div class="post-card1 connected">
            <div class="avatar profile-avatar"><img
                src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg"
                alt="avatar-img"
              /></div>
          </div>
          <div class="post-card2">
            <h5 class="d-inline-block post-title">Post Title&nbsp;<span
                class="post-sub-info"
              >@Apple &#x2027; 5minutes</span></h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p><span
              class="post-sub-info"
            >回覆 <span class="orange-text">@Apple</span></span>
            <p>Great~</p>
          </div>
        </div>
        <div class="profile-container connected border-start-0">

          <div class="profile-messageboard border-top-0">
            <div class="profile-avatar-container">
              <div class="avatar profile-avatar">
                <img
                  src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg"
                  alt="avatar-img"
                />
              </div>
            </div>

            <div class="profile-textarea-container border-start-0 connected">
              <textarea
                name="profile-textarea"
                class="form-control form-control-lg"
                id="post"
                placeholder="推你的回覆"
                rows="3"
              ></textarea>
            </div>
            <div
              class="btn btn-twitter"
              id="myInput"
              data-bs-toggle="modal"
              data-bs-target="#exampleModel"
            >
              <span>回覆</span></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>