{{#if user}}
<!-- 新增貼文-->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" style="width: 15px; margin-left: 0px;"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body add-post">
        <form action="/tweets" method="POST" class="d-flex">
          <img src="{{user.avatar}}" alt="avatar" style="border-radius: 50%; width: 50px; height: 50px;">
          <label for="description" class="form-label"></label>
          <textarea name="description" id="modal-description" class="tweetTextarea" placeholder="有什麼新鮮事 ?"
            style="width: 100%; margin: 2px 0; height: 150px;"></textarea>
          <div class="text-end">
            <div id="error" class="text-danger inline" role="alert">
              {{!-- 錯誤訊息 --}}
            </div>
            <h4 style="margin-top: 150px;">
              <button type="submit" class="badge rounded-pill text-bg-warning tweet-button">
                推文
              </button>
            </h4>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

{{!-- 查看單一貼文 --}}
<div class="modal fade" id="replyModal">
  <div class="modal-dialog">
    <div class="modal-content reply-the-post">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" style="width: 15px; margin-left: 0px;"></button>
      </div>
      <!-- Modal body -->
      <div class="text-right" style="border">
        <div class="modal-body post-modal">
          {{!-- 留言訊息 --}}

          {{!-- above --}}
        </div>
        <form action="/tweets/:id/replies" method="POST" class="reply-form">
          <div class="d-flex m-3"><img src="{{user.avatar}}" alt="avatar"
              style="border-radius: 50%; width: 50px; height: 50px;">
            <label for="reply" class="form-label"></label>
            <input name="reply" id="modal-reply" class="tweetTextarea" placeholder="推你的回覆"
              style="border:none; height: 24px; margin: auto 0; margin-left: 5px; width: 220px;"></input>
          </div>
          <div class="">
            <div id="error-msg" class="text-danger" role="alert" style="margin-left: 40px;"></div>
            <button type="submit" class="badge rounded-pill text-bg-warning tweet-button" id="tweet-button"
              style="font-size: 16px;">回覆</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

{{/if}}