{{!-- 首頁叫出貼文的 Modal --}}
<div class="modal fade" id="postTweetModal">
  <div class="modal-dialog" style="max-width: 100%;">
    <div class="modal-content modal-twitter">
      <div class="modal-header">
        {{!-- 關閉 Modal 按鈕 --}}
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <img class="ms-2 me-3 svg-fill-main" src="/_base/Property 2=outlined, Property 3=close.svg">
        </button>
      </div>
      <form action="/tweets" method="POST">
        <div class="modal-body d-flex">
          {{!-- 用戶大頭貼 --}}
          <figure class="ms-2 me-2 align-self-start flex-shrink-0"
            style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden;">
            <img src="{{currentUser.avatar}}" style="object-fit: cover;width:100%; height:100%">
          </figure>
          {{!-- tweet 文字輸入區 --}}
          <textarea placeholder="有什麼新鮮事？" id="description" name="description" class="text-basic-reg mt-2" rows="5"
            cols="50" maxlength="140" required></textarea>
        </div>
        <div class="modal-footer" style="border:0px">
          <button type="submit" class="pill-default pill-main me-2">推文</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- 點擊編輯個人資料按鈕時叫出的 Modal --}}
<div class="modal fade" id="editProfileModal">
  <div class="modal-dialog" style="max-width: 100%;">
    <div class="modal-content modal-twitter">
      <div class="modal-header">
        {{!-- 關閉 Modal 按鈕 --}}
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <img class="ms-2 me-3 svg-fill-main" src="/_base/Property 2=outlined, Property 3=close.svg">
        </button>
      </div>
      {{!-- 封面跟大頭區域 --}}
      <figure class="m-0 align-self-start" style="width: 100%; height: 126px; position: relative">
        <div style="position: absolute; top: 100px; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
          <label type="button">
            <input id="coverInput" style="display:none;" type="file" onchange="previewCover()">
            <img class="mx-2 svg-fill-dark-0" src="/_base/Property 2=outlined, Property 3=addphoto.svg">
          </label>
          {{!-- 封面的X按鈕 --}}
          <button type="button" id="removeCoverButton">
            <img class="mx-2 svg-fill-dark-0" src="/_base/Property 2=outlined, Property 3=close.svg">
          </button>
        </div>
        <img id="previewCover" style="object-fit: cover; -webkit-filter:brightness(.7); width: 100%; height: 200px;">
      </figure>
      <div class="d-flex flex-column" style="position: relative;">
        <div class="d-flex align-items-end justify-content-between ps-4 pe-3">
          {{!-- 用戶大頭貼 --}}
          <figure class="m-0 flex-shrink-0"
            style="width: 140px; height: 140px; border-radius: 50%; overflow: hidden; border: 4px solid #ffffff; position: relative;">
            <label type="button"
              style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
              <input id="avatarInput" style="display:none;" type="file" onchange="previewAvatar()">
              <img class="mx-2 svg-fill-dark-0" src="/_base/Property 2=outlined, Property 3=addphoto.svg">
            </label>
            <img id="previewAvatar" src="/_base/icon/user-photo.svg"
              style="object-fit: cover; -webkit-filter:brightness(.7); width: 100%; height: 100%;">
          </figure>
        </div>
      </div>
      {{!-- 編輯個人資料的表單內容 --}}
      <div class="mb-3">
        <label class="form-label" for="name">名稱</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="請輸入使用者名稱" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="intro">自我介紹</label>
        <input type="text" id="intro" name="intro" class="form-control" placeholder="請輸入自我介紹" required>
      </div>
      <div class="modal-footer" style="border:0px">
        <button type="button" id="putProfileButton" class="pill-default pill-main me-2">儲存</button>
      </div>
    </div>
  </div>
</div>

{{!-- 回覆推文用 Modal --}}
<div class="modal fade" id="postReplyModal">
  <div class="modal-dialog" style="max-width: 100%;">
    <div class="modal-content modal-twitter">
      <div class="modal-header">
        {{!-- 關閉 Modal 按鈕 --}}
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <img class="ms-2 me-3 svg-fill-main" src="/_base/Property 2=outlined, Property 3=close.svg">
        </button>
      </div>
      <div class="modal-body d-flex flex-column">
        {{!-- 推文內容 --}}
        <div class="d-flex flex-row" style="width: 100%">
          <div class="d-flex align-items-top">
            <div class="d-flex flex-column align-items-center">
              {{!-- 用戶大頭貼 --}}
              <figure class="ms-2 me-2 mb-2 flex-shrink-0 align-self-start"
                style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden;">
                <img id="ModalUserAvatar" src="/user/card/tweet/base/img.svg"
                  style="object-fit: cover;width:100%;height:100%">
              </figure>
              <hr class="m-0 flex-grow-1" style="height: 100%; width: 0.18em; color: #CCD6DD">
            </div>
            <div class="me-2 d-flex flex-column flex-shrink-1">
              <div class="d-flex align-items-center">
                {{!-- 用戶名稱 --}}
                <p id="ModalUserName" class="m-0 text-16px-med"></p>
                {{!-- 用戶id --}}
                <p class="m-0 text-14px-reg color-secondary">&nbsp @<span id="ModalUserAccount1"></span> ・</p>
                <p class="m-0 text-14px-reg color-secondary">{{relativeTime this.createdAt}}</p>
              </div>
              {{!-- 推文內容 --}}
              <div id="ModalDescription" class="m-0 text-16px-reg text-break mt-1">
              </div>
              <div class="m-0 text-14px-reg color-main text-break mt-2 mb-2">
                <span class="color-secondary">回覆給</span>
                @<span id="ModalUserAccount2"></span>
              </div>
            </div>
          </div>
        </div>
        <form id="ModalReplyForm" action="tweets/:id/replies" method="POST">
          <div class="d-flex flex-column">
            {{!-- 回覆內容 --}}
            <div class="d-flex mt-2">
              {{!-- 用戶大頭貼 --}}
              <figure class="ms-2 me-2 mb-2 flex-shrink-0 align-self-start"
                style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden;">
                <img id="ModalCurrentUserAvatar" src="/user/card/tweet/base/img.svg"
                  style="object-fit: cover;width:100%;height:100%">
              </figure>
              {{!-- reply 文字輸入區 --}}
              <textarea id="ModalTextarea" placeholder="推你的回覆" class="text-basic-reg mt-2" name="comment" rows="8"
                cols="50" maxlength="140" required></textarea>
            </div>
            <div class="d-flex flex-row-reverse">
              <button type="submit" class="pill-default pill-main">回覆</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- Admin 刪除推文的 Modal --}}
<div class="modal fade" id="deleteTweetModal">
  <div class="modal-dialog" style="max-width: 100%;">
    <div class="modal-content modal-twitter">
      <div class="modal-header">
        {{!-- 關閉 Modal 按鈕 --}}
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="d-flex align-items-center"
          style="position: relative;">
          <img class="ms-2 me-3 svg-fill-main" src="/_base/Property 2=outlined, Property 3=close.svg">
          {{!-- 刪除警語 --}}
          <span class="d-inline" style="font-size: large; font-weight:800;">
            確定刪除這則貼文?
          </span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column">
        {{!-- 推文內容 --}}
        <div class="d-flex flex-row" style="width: 100%">
          <div class="d-flex align-items-top">
            <div class="d-flex flex-column align-items-center">
              {{!-- 用戶大頭貼 --}}
              <figure class="ms-2 me-2 mb-2 flex-shrink-0 align-self-start"
                style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden;">
                <img id="ModalUserAvatar" src="/user/card/tweet/base/img.svg"
                  style="object-fit: cover;width:100%;height:100%">
              </figure>
              <hr class="m-0 flex-grow-1" style="height: 100%; width: 0.18em; color: #CCD6DD">
            </div>
            <div class="me-2 d-flex flex-column flex-shrink-1">
              <div class="d-flex align-items-center">
                {{!-- 用戶名稱 --}}
                <p id="ModalUserName" class="m-0 text-16px-med"></p>
                {{!-- 用戶id --}}
                <p class="m-0 text-14px-reg color-secondary">&nbsp @<span id="ModalUserAccount1"></span></p>
              </div>
              {{!-- 推文內容 --}}
              <div id="ModalDescription" class="m-0 text-16px-reg text-break mt-1">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="border:0px">
        <form action="" method="POST" id="ModalForm">
          <button type="submit" class="pill-default pill-main">確定刪除</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- 備用的 Modal，可以拿這份去魔改，記得改id --}}
<div class="modal fade" id="要記得改我">
  <div class="modal-dialog" style="max-width: 100%;">
    <div class="modal-content modal-twitter">
      <div class="modal-header">
        {{!-- 關閉 Modal 按鈕 --}}
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <img class="ms-2 me-3 svg-fill-main" src="/_base/Property 2=outlined, Property 3=close.svg">
        </button>
      </div>
      <div class="modal-body d-flex">
        {{!-- 用戶大頭貼 --}}
        <div class="me-2" style="width: 50px; height: 50px; border-radius: 50%;">
          <img src="/user/card/tweet/base/img.svg">
        </div>
        {{!-- tweet 文字輸入區 --}}
        <textarea placeholder="有什麼新鮮事？" class="text-basic-reg mt-2" rows="5" cols="50" maxlength="140"></textarea>
      </div>
      <div class="modal-footer" style="border:0px">
        <form action="/tweets" method="POST" enctype="multipart/form-data">
          <button type="submit" class="pill-default pill-main">推文</button>
        </form>
      </div>
    </div>
  </div>
</div>