<!-- Modal -->
<div class="tweet modal fade" id="postTweet" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="header p-0">
        <button class="button " data-bs-dismiss="modal">{{>close}}</button>
      </div>
      <div class="post-window mx-4 my-3">
        <img src="{{user.avatar}}" width="50" height="50" alt="">
        <textarea id="tweetInput" rows="4" wrap="soft" type="text" placeholder="有什麼新鮮事"></textarea>
        <button id="tweetButton" class="ms-auto" onclick="postTweet(this, this.previousElementSibling)">推文</button>
      </div>
    </div>
  </div>
</div>

<div class="tweet modal fade" id="reply" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="header p-0">
        <button class="button " data-bs-dismiss="modal">{{>close}}</button>
      </div>
      <div class="post-window mx-4 my-3">
        <img src="{{user.avatar}}" width="50" height="50" alt="">
        <textarea id="tweetInput" rows="4" wrap="soft" type="text" placeholder="有什麼新鮮事"></textarea>
        <button id="tweetButton" class="ms-auto" onclick="postTweet(this, this.previousElementSibling)">推文</button>
      </div>
    </div>
  </div>
</div>