<div class="nav nav-pills flex-column sticky-top">
  <img src="images/logo.png" alt="" style="width: 50px;" class="m-2">
  <a class="nav-link brand-color pointer" href="/">
    <span class="h5 fw-bold">
      <i class="fa-solid fa-house-chimney-window"></i>&nbsp;&nbsp;首頁
    </span>
  </a>
  <a class="nav-link pointer dark-90">
    <span class="h5 fw-bold">
      <i class="fa-solid fa-user"></i>&nbsp;&nbsp;個人資料
    </span>
  </a>
  <a class="nav-link pointer dark-90">
    <span class="h5 fw-bold">
      <i class="fa-solid fa-gear"></i>&nbsp;&nbsp;設定
    </span>
  </a>
  <a href="#" class="btn btn-brand">推文</a>
</div>