<div class="ms-2 d-flex justify-content-center align-items-center">
  <a href="/logout" class="flex-grow-1 d-flex justify-content-start align-items-center">
    <img class="me-3" src="/images/icon-black-logout.png" width="24" height="24">
    <span class="fw-bold" style="font-size: 18px;">登出</span>
  </a>
</div>