<div class="w-25 d-flex justify-content-center">
  <div class="w-50 d-flex flex-column justify-content-between fs-5">
    {{!-- Vertical Nav Column --}}
    <nav class="navbar bg-light mb-5">
      <ul class="navbar-nav w-100">
        <a href="/tweets" class="my-4">
          <img src="/images/logo.png" style="width: 50px">
        </a>
        <li class="nav-item my-2">
          <a class="nav-link fw-bold {{#ifCond route 'tweets'}}active{{/ifCond}}" href="/tweets">
            <i class="fa-solid fa-house me-2"></i>
            <span>首頁</span>
          </a>
        </li>
        <li class="nav-item my-2">
          <a class="nav-link fw-bold {{#ifCond route 'user'}}active{{/ifCond}}" href="/users/{{user.id}}/tweets">
            <i class="fa-solid fa-user me-2"></i>
            <span>個人資料</span>
          </a>
        </li>
        <li class="nav-item my-2">
          <a class="nav-link fw-bold {{#ifCond route 'setting'}}active{{/ifCond}}" href="/api/users/{{user.id}}">
            <i class="fa-solid fa-gear me-2"></i>
            <span>設定</span>
          </a>
        </li>
        <button class="btn btn-primary my-4 rounded-pill w-100">推文</button>
      </ul>
    </nav>
    {{!-- Logout Button --}}
    <a href="/logout" class="mb-5" style="text-decoration:none;">
      <i class="fa-solid fa-right-from-bracket me-2"></i>
      <span>登出</span>
    </a>
  </div>
</div>