<div class="w-25 nav-column d-flex justify-content-center h-100">
  <div class="w-50 d-flex flex-column justify-content-between fs-5">
    {{!-- Vertical Nav Column --}}
    <nav class="navbar mb-5">
      <ul class="navbar-nav w-100">
        <a href="/tweets" class="my-4">
          <img src="/images/logo.png" style="width: 50px">
        </a>
        <li class="nav-item my-2">
          <a class="nav-link fw-bolder {{#ifCond route 'tweets'}}active{{/ifCond}}" href="/tweets">
            <i class="fa-solid fa-house fa-fw me-2"></i>
            <span>首頁</span>
          </a>
        </li>
        <li class="nav-item my-2">
          <a class="nav-link fw-bold {{#ifCond route 'user'}}active{{/ifCond}}" href="/users/{{user.id}}/tweets">
            <i class="fa-solid fa-user fa-fw me-2"></i>
            <span>個人資料</span>
          </a>
        </li>
        <li class="nav-item my-2">
          <a class="nav-link fw-bold {{#ifCond route 'setting'}}active{{/ifCond}}" href="/users/{{user.id}}/settings">
            <i class="fa-solid fa-gear fa-fw me-2"></i>
            <span>設定</span>
          </a>
        </li>
        <button type="button" class="btn btn-primary my-4 rounded-pill w-100" data-bs-toggle="modal"
         data-bs-target="#tweetModal-{{user.id}}">推文</button>
      </ul>
    </nav>
    {{!-- Logout Button --}}
    <a href="/logout" class="mb-5">
      <i class="fa-solid fa-right-from-bracket me-2"></i>
      <span>登出</span>
    </a>
  </div>
</div>