<div class="row ms-4 mb-4" style="width: 2em; height: 2em; color: #FF6600;">
  <i class="fas fa-4x fa-at"></i>
</div>
<br />
<div class="btn-group-vertical mt-4  ps-4">
  <a type="button" class="btn" href="/" style="height: 4em;text-align: left;">
    <i class="fas fa-2x fa-home"> 首頁</i>
  </a>
  <a type="button" class="btn" href="/users/{{user.id}}" style="height: 4em;text-align: left;">
    <i class="far fa-2x fa-user"> 個人資料</i>
  </a>
  <a type=" button" class="btn" href="/users/{{user.id}}/edit" style="height: 4em;text-align: left;">
    <i class="fas fa-2x fa-cog"> 設定</i>
  </a>
</div>
<br />
<br />
<button type="" class="edit" style="width: 98%;font-size:3em; background-color:#FF6600; color:white;">推文</button>