<nav class="container">
  <div class="logo-wrapper">
    <img src="../images/logo.svg" alt="">
  </div>
  <div class="navbar-wrapper">
    <a class="navbar-action active" href="/">
      <div class="icon-wrapper">
        <img src="../images/home.svg" alt="">
      </div>
      首頁
    </a>
    <a class="navbar-action" href="/users/{{user.id}}">
      <div class="icon-wrapper">
        <img src="../images/profile.svg" alt="">
      </div>
      個人資料
    </a>
    <a class="navbar-action" href="/setting">
      <div class="icon-wrapper">
        <img src="../images/setting.svg" alt="">
      </div>
      設定
    </a>
  </div>
  <button class="button-submit" style="width: 210px;">推文</button>
</nav>