<nav class="navbar navbar-vertical d-flex justify-content-center">
  <ul class="navbar-nav d-flex justify-content-between">
    <div>
      <li class="nav-item px-3 mb-4">
        <img src="/images/logo.svg" alt="">
      </li>

      <div class="px-4">
        <li class="nav-item active">
          <a class="nav-link mb-4" href="/">
            <div class="nav-icon home-icon"></div>
            <span class="nav-text">首頁</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mb-4" href="#">
            <div class="nav-icon user-icon"></div>
            <span class="nav-text">個人資料</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mb-3" href="#">
            <div class="nav-icon cog-icon"></div>
            <span class="nav-text">設定</span>
          </a>
        </li>
      </div>

      <a class="btn btn-primary nav-btn" href="#" role="button">推文</a>
    </div>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <div class="nav-icon logout-icon"></div>
        <span class="nav-text">登出</span>
      </a>
    </li>
  </ul>
</nav>