<div class="notification-card">
    <div class="notification-content d-flex justify-content-between align-items-center  p-0 w-0">
        <p class="notification-word fw-bold p-0 m-0">推文發送成功</p>
        <div class="notification-circle rounded-circle"></div>
    </div>
</div>