<div class="popular col d-flex flex-column mt-3">
  <p class="word mt-2">Popular</p>
  <div class="popular-user row">
    <div class="col-2">
      <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar" width="50px" height="50px">
    </div>
    <div class="col-2 d-flex align-items-center">
      <p class="popular-name">&nbsp;&nbsp;Name<br />&nbsp;&nbsp;<span class="popular-account">account</span></p>
    </div>
    <div class="follow-btn col-8">
      <button type="button" class="btn rounded-pill fw-bolder">
        正在追隨
      </button>
    </div>
  </div>
  <div class="popular-user row">
    <div class="col-2">
      <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
    </div>
    <div class="col-2 d-flex align-items-center">
      <p class="popular-name">&nbsp;&nbsp;Name<br />&nbsp;&nbsp;<span class="popular-account">account</span></p>
    </div>
    <div class="follow-btn col-8">
      <button type="button" class="btn rounded-pill fw-bolder">
        正在追隨
      </button>
    </div>
  </div>
  <div class="popular-user row">
    <div class="col-2">
      <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
    </div>
    <div class="col-2 d-flex align-items-center">
      <p class="popular-name">&nbsp;&nbsp;Name<br />&nbsp;&nbsp;<span class="popular-account">account</span></p>
    </div>
    <div class="follow-btn col-8">
      <button type="button" class="btn rounded-pill fw-bolder">
        正在追隨
      </button>
    </div>
  </div>
  <div class="popular-user row">
    <div class="col-2">
      <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
    </div>
    <div class="col-2 d-flex align-items-center">
      <p class="popular-name">&nbsp;&nbsp;Name<br />&nbsp;&nbsp;<span class="popular-account">account</span></p>
    </div>
    <div class="follow-btn col-8">
      <button type="button" class="btn rounded-pill fw-bolder">
        正在追隨
      </button>
    </div>
  </div>
</div>