<div style="height: 1200px;width:427px;">
  <div class="popular-container">
    <div class="popular-title">
      <h4>推薦跟隨</h4>
    </div>
    <ul class="popular-list-group" style="display:inline">
      {{!-- 正在跟隨 --}}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="user-icon">
          <img src="/images/icons/logo2.png" alt="">
        </div>
        <div class="ms-2 me-auto">
          <div class="popular-name">Pizza Hut</div>
          <small class="small-account">@pizzahut</small>
        </div>
        <form action="#" method="POST">
          <button type="submit" class="following-btn">正在跟隨</button>
        </form>
      </li>
      {{!-- 跟隨 --}}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="user-icon">
          <img src="/images/icons/logo2.png" alt="">
        </div>
        <div class="ms-2 me-auto">
          <div class="popular-name">Bank of...</div>
          <small class="small-account">@BankofA...</small>
        </div>
        <form action="#" method="POST">
          <button type="submit" class="follow-btn">跟隨</button>
        </form>
      </li>
    </ul>
  </div>
</div>