<div class="modal fade" id="tweetModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="tweet-title btn">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            style="color: #FF6600;"></button>
        </div>
      </div>
      <div class="modal-body" class="d-flex">
        <div class="body-avatar d-flex align-items-stretch">
          <div class="left">
            <a href="/users/{{user.id}}">
              <img src="{{user.avatar}}" class="rounded-circle mr-3"
                style="width: 50px;height: 50px;background: #C4C4C4;">
            </a>
          </div>
          <div class="right">
            <form method="POST" id="post-tweet-modal" action="/tweets">
              <div class="textarea ms-2 mt-2">
                <textarea name="description" id="description" cols="40" rows="10"
                  style="background: #FFFFFF;border: 0px solid #E6ECF0;box-sizing: border-box;" placeholder="有什麼新鮮事?"
                  onkeyup="wordsCheck()" required></textarea>
              </div>
              <div class="footer d-flex justify-content-end">
                <div class="me-3" id="err-message-container">
                  <span>0/140</span>
                </div>
                <div class="button">
                  <button type="submit" class="btn" id="tweet-button" style="background: #FF6600;border-radius: 50px;">
                    <span style="color: #FFFFFF;">推文</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{{!-- 驗證 --}}
<script>
  const postTweetModal = document.querySelector('#post-tweet-modal')
  const postErrContainer = document.querySelector('#err-message-container')

  function wordsCheck() {
    const content = document.querySelector('#description').value.trim().length
    if (content > 140) {
      postErrContainer.innerHTML = `
      <span style="font-weight: 500;font-size: 15px;color: #FC5A5A;">字數不可超過140字</span>
      `
    }else{
      postErrContainer.innerHTML = `
      <span>${content}/140</span>
      `
    }
  }

  postTweetModal.addEventListener('submit', function onFormSubmit(event) {
    if (document.querySelector('#description').value.trim() === '') {
      event.preventDefault()
      event.stopPropagation()
      postErrContainer.innerHTML = `
      <span style="font-weight: 500;font-size: 15px;color: #FC5A5A;">內容不可空白</span>
      `
    }
  })
</script>