<div class="modal fade" id="tweetModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:634px; height:350px; border-radius:14px;">
      <div class="modal-header" style="width:634px; height:56px;">
        <div class="tweet-title btn">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            style="color: #FF6600;"></button>
        </div>
      </div>
      <div class="modal-body" class="d-flex">
        <div class="body-avatar d-flex align-items-stretch">
          <div class="left">
            <a href="/users/{{user.id}}/tweets">
              <img src="{{#if user.avatar}}{{user.avatar}}{{else}}https://i.imgur.com/ehh37fR.jpg{{/if}}"
                class="rounded-circle mr-3" style="width: 50px;height: 50px;background: #C4C4C4;">
            </a>
          </div>

          <div class="right" style="width: 643px; height: 243px;border-style: none;">
            {{!-- 暫定，看後面新增的邏輯怎麼寫 --}}
            <form method="POST" id="post-tweet-modal" action="/tweets">
              <div class="textarea ms-2 mt-2" style="width: 500px; height: 200px;box-sizing: border-box; ">
                <textarea
                  style="word-wrap: break-word; width: 500px; height: 230px; background: #FFFFFF; border: 1px solid #FFFFFF; outline : 0; font-size: 16px;"
                  name="description" id="description" cols="40" rows="10" placeholder="有什麼新鮮事?"
                  onkeyup="wordsCheck()"></textarea>
              </div>
              <div class="footer  d-flex justify-content-end" style="width:550px;">
                <div class="me-3" id="err-message-container"
                  style="margin-top: 12px; margin-right:15px; height: 15px;line-height: 15px;">
                  <span style="font-size:15px;"></span>
                </div>
                <div class="button">
                  <button type="submit" class="btn" id="tweet-button"
                    style="width: 66px; height:38px; background: #FF6600;border-radius: 50px;">
                    <span class="d-flex justify-content-center align-items-center mb-1"
                      style="white-space:nowrap; font-weight: 500; font-size: 18px; color: #FFFFFF;">推文</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{{!-- 驗證 --}}
<script>
  const postTweetModal = document.querySelector('#post-tweet-modal')
  const postErrContainer = document.querySelector('#err-message-container')
  //function
  postTweetModal.addEventListener('submit', function onFormSubmit(event) {
    if (document.querySelector('#description').value.trim() === '') {
      event.preventDefault()
      event.stopPropagation()
      postErrContainer.innerHTML = `
      <span style="justify-content: end; width: 634px; font-weight: 500;font-size: 15px;color: #FC5A5A;">內容不可空白</span>
      `
    }
    if (document.querySelector('#description').value.length > 140) {
      event.preventDefault()
      event.stopPropagation()
      postErrContainer.innerHTML = `
      <span style="justify-content: end; width: 634px; font-weight: 500;font-size: 15px;color: #FC5A5A;">推文內容不可以超過140字！</span>
      `
    }
  })
</script>