{{!-- 以下是推文的 modal --}}
<div class="modal fade" id="post-modal" tabindex="-1" role="dialog"
  aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content" style="width:634px; height:300px;border-radius:14px;">

      <div class="modal-header" style="width:634px; height:56px;">
        <a data-bs-dismiss="modal">
          <img src="/images/icons/icon-danger.png" alt="" style="width:25px;height:25px;">
        </a>
      </div>

      <form class="modal-tweet-post" action="/tweets" method="POST" id="form" novalidate>
        <div class="modal-body d-flex" id="post-modal-body">
          <div class="modal-avatar">
            <img style="width:50px;height:50px;border-radius:25px;" src="{{user.avatar}}"
              alt="modal-avatar">
          </div>
          <div class="modal-input">
            <textarea class=" border border-0 m-2" name="description" style="font-size: 16px;outline: none;resize:none;color: #9197A3;" id="description" cols="65"
              rows="5" placeholder="有什麼新鮮事？" maxlength="140" onkeyup="wordsTotal()" required></textarea>
          </div>
        </div>
        <div id="err-section" class="err-sec" style="display: inline-block;margin-left: 380px;margin-right: 20px;align-items: center;">
          <span class="invalid-feedback-modal" id="err-text" style="font-family: 'Noto Sans TC';font-style: normal;font-weight: 500;font-size: 15px;line-height: 15px;color: #FC5A5A;">
            字數不可超過140字
          </span>
        </div>
        <button type="submit" class="setting-btn my-2" id="#submit-btn"
          style="display: inline-block;font-weight: 400;font-size: 16px;
        line-height: 24px;border: none;width: 64px;height: 40px;background: #FF6600;border-radius: 50px;padding: 10px 15px;margin-left: 0;margin-right: 0;">推文</button>
      </form>
    </div>
  </div>
  {{!-- 表單驗證 --}}
  <script>
    const form = document.querySelector('#form')
    const submitButton = document.querySelector('#submit-btn')
    const errSection = document.getElementById('err-section')
    const errText = document.getElementById('err-text')

    function wordsTotal() {
        let descriptionTotal = document.getElementById('description').value.trim().length
        if (descriptionTotal === 140) {
          errText.innerHTML = '字數不可超過140字'
          errSection.classList.remove("err-sec")
        } else {
          errText.innerHTML = '字數不可超過140字'
          errSection.classList.add("err-sec")
        }
      }

    form.addEventListener('submit', function onFormSubmit(event) {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
        errText.innerHTML = '內容不可空白'
        errSection.classList.remove("err-sec")
      }
    })
  </script>
</div>