<div class="title">
  <span>帳戶設定</span>
</div>

<form action="/users/{{loginUser.id}}/settings?_method=PUT" method="POST">
  <div class="edit-text">
    <label for="account">帳號</label>
    <span class="at-sign">@</span>
    <input type="text" name="account" id="account" minlength="4" maxlength="30" value="{{loginUser.account}}"
      style="padding-left:20px;" required>
  </div>
  <div class="edit-text">
    <label for="name">名稱</label>
    <input type="text" name="name" id="name" maxlength="50" value="{{loginUser.name}}" required>
  </div>
  <div class="edit-text">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="{{loginUser.email}}" required>
  </div>
  <div class="edit-text">
    <label for="password">密碼</label>
    <input type="password" name="password" id="password" minlength="4">
  </div>
  <div class="edit-text">
    <label for="checkPassword">密碼確認</label>
    <input type="password" name="checkPassword" id="checkPassword" minlength="4">
  </div>
  <button type="submit" class="btn-fill form">儲存</button>
</form>