<div class='p-0 d-flex justify-content-center'>
  <ul class='list-group mt-3 mb-3 recommend-followings'>
    <li class='list-group-item recommend-followings-item recommend-followings-title'>
      <h4>推薦跟隨</h4>
    </li>

    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>Pizza Hut</div>
          <div class='following-account'>@pizzahut</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn followed col' href='#' role='button'>正在跟隨</a>
        </div>
      </div>
    </li>

    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>McDon ...</div>
          <div class='following-account'>@McDona ...</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn followed col' href='#' role='button'>正在跟隨</a>
        </div>
      </div>
    </li>

    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>Bank of ...</div>
          <div class='following-account'>@BankOf ...</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn col' href='#' role='button'>跟隨</a>
        </div>
      </div>
    </li>

    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>L'Oréal</div>
          <div class='following-account'>@Loreal</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn col' href='#' role='button'>跟隨</a>
        </div>
      </div>
    </li>

    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>Nintendo</div>
          <div class='following-account'>@Nintendo</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn col' href='#' role='button'>跟隨</a>
        </div>
      </div>
    </li>

    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>MasterCard</div>
          <div class='following-account'>@MasterCard</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn col' href='#' role='button'>跟隨</a>
        </div>
      </div>
    </li>

    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>Nike</div>
          <div class='following-account'>@Nike</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn col' href='#' role='button'>跟隨</a>
        </div>
      </div>
    </li>

    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>Adidas</div>
          <div class='following-account'>@adidas</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn col' href='#' role='button'>跟隨</a>
        </div>
      </div>
    </li>

    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>McDon ...</div>
          <div class='following-account'>@McDona ...</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn col' href='#' role='button'>跟隨</a>
        </div>
      </div>
    </li>
    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>McDon ...</div>
          <div class='following-account'>@McDona ...</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn col' href='#' role='button'>跟隨</a>
        </div>
      </div>
    </li>
    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>McDon ...</div>
          <div class='following-account'>@McDona ...</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn col' href='#' role='button'>跟隨</a>
        </div>
      </div>
    </li>
    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>McDon ...</div>
          <div class='following-account'>@McDona ...</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn col' href='#' role='button'>跟隨</a>
        </div>
      </div>
    </li>
    <li class='list-group-item recommend-followings-item'>
      <div class='d-flex align-items-center'>
        <div class='flex-shrink-1 p-0'>
          <img src='/images/profile-img.svg' alt='' class='recommend-followings-img' />
        </div>
        <div class='recommend-followings-text flex-grow-1'>
          <div class='following-name'>McDon ...</div>
          <div class='following-account'>@McDona ...</div>
        </div>
        <div class='flex-shrink-1 p-0'>
          <a class='btn btn-primary recommend-followings-btn col' href='#' role='button'>跟隨</a>
        </div>
      </div>
    </li>
  </ul>
</div>