<div class="mb-3 fs-5">跟隨誰</div>

<div class="d-flex flex-column align-items-center">

  <div class="d-flex align-items-start">
    {{!-- 大頭貼 --}}
    <div>
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d1c64938267389.575aefd5063e6.png"
        style="border-radius: 100%;width: 60px">
    </div>
    {{!-- 右側文字 --}}
    <div class="ms-3" style="height: 80px;">
      {{!-- 發文者 --}}
      <div>
        <p class="fs-5 me-2 mb-0">Nina</p>
        <p class="m-0" style="color: darkseagreen;">@nina・3小時</p>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-start">
    {{!-- 大頭貼 --}}
    <div>
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d1c64938267389.575aefd5063e6.png"
        style="border-radius: 100%;width: 60px">
    </div>
    {{!-- 右側文字 --}}
    <div class="ms-3" style="height: 80px;">
      {{!-- 發文者 --}}
      <div>
        <p class="fs-5 me-2 mb-0">Nina</p>
        <p class="m-0" style="color: darkseagreen;">@nina・3小時</p>
      </div>
    </div>
  </div>

</div>