<div class="mb-5 fs-5">跟隨誰</div>

<div class="d-flex flex-column align-items-start">

  {{#each topFollowing }}
  <div class="d-flex align-items-start mb-3">
    {{!-- 大頭貼 --}}
    <div>
      <img src="{{ this.avatar }}" style="border-radius: 100%;width: 60px">
    </div>
    {{!-- 帳號 --}}
    <div class="ms-3 d-flex align-items-end" style="height: 80px;margin-top:-10px;">
      <div>
        <p class="fs-5 mb-0">{{ this.name }}</p>
        <div class="d-flex">
          <p class="m-0" style="color: darkseagreen;">{{ this.account }}</p>
          <p class="ms-3" style="color: rgb(113, 113, 113);">{{ this.followerCount }} 人追蹤中</p>
        </div>
      </div>
      {{!-- 數量 --}}
    </div>
  </div>
  {{/each}}

</div>