

<div class="tweet-body">
        <div class="card-tweets">
          <img class="card-avatar" src="https://randomuser.me/api/portraits/women/17.jpg" alt="" width="50" height="50">
          <div class="card-warp">
            <div class="card-header" style="flex-direction:row;">
              <span class="card-name">Apple</span> <span class="card-account">@apple •３小時</span>
            </div>
            <div class="card-reply-for">
              <span class="replyItem">回覆</span>
              <span class="replyReceiver">@apple</span>         
            </div>
            <div class="card-content">
              Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.
            </div>
          </div>
        </div>
      </div>