<!--Reply Modal -->
<div class="modal col-6" tabindex="-1" id="replyModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/reply">
        <div class="modal-body">
          <div class="reply-target-section d-flex justify-content-start px-3 ">
            <div class="reply-target-avatar mr-1">
              <img class="mt-2" {{#if this.avatar}}src={{this.avatar}}{{/if}}
                style="background: #C4C4C4; border-radius: 100%; width: 50px; height: 50px">
              <div class="diver ml-4 mt-2" style="width: 2px;height: 80px;background: #CCD6DD;"></div>
            </div>
            <div class="post ml-1 mt-2">
              <div class="post-info d-flex justify-content-start">
                <div class="post-user font-weight-bold mr-1" style="color: #1C1C1C;font-size: 15px;
">Apple</div><span class="post-account mr-1" style="font-size: 15px;color: #657786;font-weight: 500;">@apple</span
                  style="font-size: 15px;color: #657786;"><span
                  style="font-size: 15px;color: #657786;font-weight: 500;">·</span>
                <span class="post-time ml-1" style="font-size: 15px;color: #657786;font-weight: 500;">3小時</span>
              </div>

              <div class="post-content my-2" style="font-weight: 500;
font-size: 15px;color: #1C1C1C;">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis
                ullamco cillum dolor.
                Voluptate exercitation incididuntaliquip deserunt reprehenderit elit laborum.</div>
              <div class="reply-target"><span class="mr-1" style="font-weight: 500;
                            font-size: 15px;color: #657786;">回覆</span> <span class="reply-target-account" style="font-weight: 500;
                            font-size: 15px;color: #FF6600;">@apple</span></div>
            </div>

          </div>
          <div class="reply-user-section d-flex justify-content-start px-3">
            <div class="reply-user-avatar mr-1">
              <img class="mt-2" {{#if this.avatar}}src={{this.avatar}}{{/if}}
                style="background: #C4C4C4; border-radius: 100%; width: 50px; height: 50px">
            </div>
            <div class="reply-user-content">
              <textarea class="form-control my-3 ml-1" name="description" id="description" style="width: 350px;
height: 65px;" placeholder="推你的回覆"></textarea>
            </div>
          </div>
          <div class="d-flex flex-row-reverse ">
            <button type="submit" class="btn  btn-block "
              style="border-radius: 100px; background:#FF6600;font-size: 18px;color: #FFFFFF;width: 64px;">回覆</button>
          </div>

      </form>
    </div>
  </div>
</div>