<!--reply Modal -->
<div class="modal fade" id="reply-model" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-start">
        <button type="button" class="btn btn-outline-light modal-close-btn" data-bs-dismiss="modal" aria-label="Close">
          <img src="/images/icons/close_outlined.svg" alt="" class="filter-main-color">
        </button>
      </div>
      <div class="modal-body p-0 m-0">
        <div class=" mx-4 my-3 p-0 d-flex gap-2">
          <div
            class="model-reply-icon flex-shrink-0 gap-3 p-0 d-flex flex-column align-items-center justify-content-between">
            <a href="#" class="tweet-user-icon overflow-hidden  rounded-circle link-unstyled  child-img-center p-0">
              <img src="/images/icons/ac_icon.svg" alt="" class="w-100 h-100">
            </a>
            <div class="reply-modal-bar"></div>
          </div>
          <div class="tweet-card-content d-flex flex-column gap-2">

            <div class="tweet-user-horizontal">
              <a href="#" class=" d-flex gap-2 link-unstyled align-items-center">
                <p class="fw-bold">Apple</p>
                <p class="font-size-sm text-secondary">@apple・3 小時</p>
              </a>
            </div>

            <p class="m-0 text-break text-wrap">
              Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate
              exercitation incididunt aliquip deserunt reprehenderit elit laborum.
            </p>
            <div class="tweet-user-replied">
              <a href="#" class=" d-flex gap-2 link-unstyled align-items-center">
                <p class="font-size-sm text-secondary">回覆給</p>
                <p class="font-size-sm main-color">@apple</p>
              </a>
            </div>
          </div>
        </div>
        <form action="" method="post" class="modal-form m-0 mt-3 py-0 px-4">
          <div class="m-0 gap-2 d-flex">
            <label for="comment"
              class="form-label overflow-hidden  flex-shrink-0 rounded-circle  child-img-center p-0 m-0">
              <img src="{{user.avatar}}" alt="" class="p-0 m-0 h-100 w-100">
            </label>
            <textarea class="form-control ps-0" id="comment" name="comment" rows="5" placeholder="推你的回覆"
              maxlength="140" minlength="1"></textarea>
            <div class="tweet-reply-warning text-danger">
            </div>
          </div>
          <button type="submit" class="btn btn-primary rounded-pill">回覆</button>
        </form>
      </div>
    </div>
  </div>
</div>