<div class="col-md-3">
  <h4>Popular</h4>
    {{#each topUsers}}
    <blockquote class="blockquote mb-0">
      <img src="{{ this.avatar }}" alt="user-picture" class="rounded-circle" style="width: 32px; height: 32px;">
      <span><a href="/users/{{ this.id }}">{{ this.name }}</a></span>
      <span> @{{ this.account }}</span>
    </blockquote>
    <hr />
    {{/each}}
</div>
