<div class="right">
  <div class="right-follow-title bottom-line-2">
    <p class="middle-title">推薦跟隨</p>
  </div>
  {{!-- 推薦跟隨 start--}}
  <div class="follow-flow fl">
    <div>
      <div class="fl">
        <a href="">
          <img class="ac-img-x" src="/images/img@2x.png" alt="">
        </a>
      </div>
      <div class="fl follow-flow-d  pt-3">
        <a href="" class="text-decoration-n">
          <p class="follow-flow-account">Pizza Hut</p>
        </a>
        <p class="follow-flow-name">@pizzahut</p>
      </div>
      <div class="fl">
        <button class="tweetbtn-M">
          <a href="" class="text-decoration-n font-color-wh">正在跟隨</a>
        </button>
      </div>
    </div>
  </div>
  {{!-- 推薦跟隨 end--}}

  {{!-- 推薦跟隨 start--}}
  <div class="follow-flow fl">
    <div>
      <div class="fl">
        <a href="">
          <img class="ac-img-x" src="/images/img@2x.png" alt="">
        </a>
      </div>
      <div class="fl follow-flow-d pt-3">
        <a href="" class="text-decoration-n">
          <p class="follow-flow-account">Pizza Hut</p>
        </a>
        <p class="follow-flow-name">@pizzahut</p>
      </div>
      <div class="fl">
        <button class="tweetbtn-M-follow">
          <a href="" class="text-decoration-n font-color-or">跟隨</a>
        </button>
      </div>
    </div>
  </div>
  {{!-- 推薦跟隨 end--}}

</div>