<div class="right-column">
  <ul class="list-group">
    <li class="list-group-item right-zone-header" style="background-color:	#F5F5F5 ;
  border-top: 1px solid #F5F5F5;
  border-right: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
  border-radius: 20px 20px 0 0;color: #000000;
  font-weight: bold">
      跟隨誰
    </li>
    <li class=" list-group-item right-zone-body" style="border-right: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
  background-color:	#F5F5F5;">
      <div class="row justify-content-between align-items-center">
        <div class="row">
          <a href="/users/{{this.id}}" class="col">
            <img src="https://i.imgur.com/KZD5zDk.jpg'" alt="avatar" style="width:50px;height:50px;border-radius:999em">
          </a>
          <div class="right-zone-center">
            <a href="/users/{{this.id}}" class="right-zone-name" style="color: #000000;
  font-weight: bold">name</a>
            <p class="right-zone-account m-0" style="color: #989393;
  font-weight: bold;font-size:small">account</p>
          </div>
          <div class="col mt-3 ml-3">
            <button type="submit" class="btn px-3 py-1"
              style="border-radius: 23px;background:#ff6600; color:white; font-weight:bold; font-size:15px">正在跟隨</button>
          </div>
        </div>
      </div>
    </li>

    <li class=" list-group-item right-zone-body" style="border-right: 1px solid #F5F5F5;
      border-left: 1px solid #F5F5F5;
      background-color:	#F5F5F5;">
      <div class="row justify-content-between align-items-center">
        <div class="row">
          <a href="/users/{{this.id}}" class="col">
            <img src="https://i.imgur.com/KZD5zDk.jpg'" alt="avatar" style="width:50px;height:50px;border-radius:999em">
          </a>
          <div class="right-zone-center">
            <a href="/users/{{this.id}}" class="right-zone-name" style="color: #000000;
      font-weight: bold">name</a>
            <p class="right-zone-account m-0" style="color: #989393;
      font-weight: bold;font-size:small">account</p>
          </div>
          <div class="col mt-3 ml-4">
            <button class="btn px-3 py-1 "
              style="border-radius: 23px;background:#F5F8FA; color:#ff6600; border:1px solid #ff6600; font-weight:bold; font-size:15px">跟隨</button>
          </div>
        </div>
      </div>
    </li>

    <li class="list-group-item right-zone-footer"
      style="  background-color:	#F5F5F5;
     border-bottom: 1px solid #F5F5F5; border-right: 1px solid #F5F5F5; border-left: 1px solid #F5F5F5;border-radius: 0 0 20px 20px;color:#ff6600;font-size:small">
      顯示更多...
    </li>
  </ul>
</div>