<div class="col">
  <div class="right-side">
    <div class="right-side-container d-flex flex-column bd-highlight ms-3 mt-3">
      <span class="font-lg-dark">推薦跟隨</span>
      <div class="hr-line"></div>
      {{!-- 由前端渲染 --}}
     </div>
  </div>
</div>