{{!-- nav side bar right --}}
{{!-- check side bar 'right' top --}}
{{!-- check img.user... --}}
{{!--
(nav.side-bar-right>(.side-bar-right-top+p.side-bar-right-title)+(.side-bar-body>.user-info-item>(img.user-avatar+(p.user-name+span.user-name)+a.user-following-btn)))
--}}
<nav class="side-bar-right">
  <div class="side-bar-right-top">
    <p class="side-bar-right-title">推薦跟隨</p>
  </div>
  <div class="side-bar-body">
    <div class="user-info-item">
      <img src="" alt="" class="user-avatar">
      <p class="user-name">Apple</p><span class="user-name">@apple</span>
      <a href="" class="user-following-btn"></a>
    </div>
  </div>
</nav>