<div class="col-3">
  {{!-- style="border-left:1px solid #E6ECF0" --}}
  <div class="popular-container">
    <div class="popular-title">
      <h4>推薦跟隨</h4>
    </div>
    <ul class="popular-list-group" style="display:inline">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="user-icon">
          <img src="/images/icon/User Photo.png" alt="">
        </div>
        <div class="ms-2 me-auto">
          <div class="popular-name">Pizza Hut</div>
          <small class="small-account">@pizzahut</small>
        </div>
        <form action="#" method="POST">
          <button type="submit" class="following-btn">正在跟隨</button>
        </form>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="user-icon">
          <img src="/images/icon/User Photo.png" alt="">
        </div>
        <div class="ms-2 me-auto">
          <div class="popular-name">McDona...</div>
          <small class="small-account">@McDona...</small>
        </div>
        <form action="#" method="POST">
          <button type="submit" class="following-btn">正在跟隨</button>
        </form>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="user-icon">
          <img src="/images/icon/User Photo.png" alt="">
        </div>
        <div class="ms-2 me-auto">
          <div class="popular-name">Bank of...</div>
          <small class="small-account">@BankofA...</small>
        </div>
        <form action="#" method="POST">
          <button type="submit" class="follow-btn">跟隨</button>
        </form>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="user-icon">
          <img src="/images/icon/User Photo.png" alt="">
        </div>
        <div class="ms-2 me-auto">
          <div class="popular-name">L'Oréal</div>
          <small class="small-account">@Loreal</small>
        </div>
        <form action="#" method="POST">
          <button type="submit" class="follow-btn">跟隨</button>
        </form>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="user-icon">
          <img src="/images/icon/User Photo.png" alt="">
        </div>
        <div class="ms-2 me-auto">
          <div class="popular-name">Nintendo</div>
          <small class="small-account">@Nintendo</small>
        </div>
        <form action="#" method="POST">
          <button type="submit" class="follow-btn">跟隨</button>
        </form>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="user-icon">
          <img src="/images/icon/User Photo.png" alt="">
        </div>
        <div class="ms-2 me-auto">
          <div class="popular-name">MasterCard</div>
          <small class="small-account">@MasterCard</small>
        </div>
        <form action="#" method="POST">
          <button type="submit" class="follow-btn">跟隨</button>
        </form>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="user-icon">
          <img src="/images/icon/User Photo.png" alt="">
        </div>
        <div class="ms-2 me-auto">
          <div class="popular-name">Nike</div>
          <small class="small-account">@Nike</small>
        </div>
        <form action="#" method="POST">
          <button type="submit" class="follow-btn">跟隨</button>
        </form>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="user-icon">
          <img src="/images/icon/User Photo.png" alt="">
        </div>
        <div class="ms-2 me-auto">
          <div class="popular-name">Adidas</div>
          <small class="small-account">@Adidas</small>
        </div>
        <form action="#" method="POST">
          <button type="submit" class="follow-btn">跟隨</button>
        </form>
      </li>
    </ul>
  </div>
</div>