<nav class="follower-recommendation p-2 position-fixed">
  <ul class="list-group ">
    <li class="list-group-item bg-light">
      <h4 class="fw-bold" style="font-size: 24px">
        推薦跟隨
      </h4>
    </li>
    <li class="list-group-item bg-light">
      An item
    </li>
  </ul>
</nav>