<div class='card' style='margin-top:16px'>
  <div class='card-header'>
    跟隨誰
  </div>
  <ul class='list-group list-group-flush'>
    {{#each followships}}
      <li class='list-group-item'>
        <div class='row d-flex justify-content-center align-items-center'>
          <div class='col-2 p-0 d-flex justify-content-center'>
            <img
              src='{{this.avatar}}'
              alt='alphaCamp'
              width='50px'
              height='50px'
            />
          </div>
          <div class='col p-0 ps-1'>
            <strong class='user-name'>
              {{this.name}}
            </strong>
            <span class='user-account'>
              @{{this.account}}
            </span>
          </div>
          <div class='col p-0'>
            {{#if this.isSelf}}
              {{#if this.isFollowed}}
                <button
                  class='btn rounded-pill text-light'
                  style='background-color:#FF6600;'
                >正在追隨</button>
              {{else}}
                <button
                  class='btn rounded-pill bg-light'
                  style='border-color:#FF6600; color:#FF6600'
                >跟隨</button>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>