{{#if user}}
<!-- 頁面右側區塊 -->
<div class="right-content">
  <div class="right-column">
    <div class="right-column-title">
      跟隨誰
    </div>
    <div class="user-list">

      <!-- 6個使用者清單迴圈 -->
      <div class="user-list-item">
        <img src="" alt="" class="avtar">
        <div class="user-list-item-name">
          <a href="" class="user-name">
            Pineapple
          </a>
          <div class="user-account">@pineapple</div>
        </div>
        <a href=""><button class="unfollow-button">正在跟隨</button></a>
        {{!-- <a href=""><button class="follow-button">跟隨</button>
                      </a> --}}
      </div>

      <div class="user-list-item">
        <img src="" alt="" class="avtar">
        <div class="user-list-item-name">
          <a href="" class="user-name">
            Orange
          </a>
          <div class="user-account">@orange</div>
        </div>
        {{!-- <a href=""><button class="unfollow-button">正在跟隨</button></a> --}}
        <a href=""><button class="follow-button">跟隨</button>
        </a>
      </div>

      <!-- 迴圈結束 -->

    </div>
    <a href="" class="more-users">
      顯示更多
    </a>
  </div>
</div>

{{/if}}