<div class="profile-messageboard">
  <!--start::index profile-->
  <div class="profile-avatar-container">
    <div class="avatar profile-avatar">
      <a href="/users/{{profile.id}}/tweets">
        <img src="{{profile.avatar}}" alt="avatar-img" />
      </a>
    </div>
  </div>
  <form action="/tweets" method="POST">
    <div class="profile-textarea-container">
      <div class="validate-text">{{>message}}</div>
      <textarea
        name="description"
        class="form-control form-control-lg"
        id="post"
        placeholder="有什麼新鮮事?"
        rows="3"
        maxlength="140"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-twitter">
      <span>推文</span>
    </button>
  </form>
  <!--end::index profile-->
</div>