<div class='px-3 pt-2'>
  <a src='/tweets'><i class='fab fa-twitter px-3' style='font-size:xx-large'></i></a>
  <div class='p-3'>
    <br />
    <div class='d-flex align-items-start flex-column bd-highlight mb-3' style=''>
      <div style='color: black; font-weight:bold;'>
        <a href='/tweets' style='text-decoration: none'><p style='color: black;'><i
              class='fas fa-home pr-3 mb-3'
              style='font-size: large;'
            ></i>首頁</p></a>
      </div>
      <div style='font-weight:bold;'>
        <a href='/users/{{user.id}}/tweets' style='text-decoration: none; color:black;'><p style='color: black;'><i
              class='far fa-user pr-3 mb-3'
              style='font-size: large;'
            ></i>個人資料</p></a>
      </div>
      <div style=' font-weight:bold;'>
        <a href='/users/{{user.id}}/edit' style='text-decoration: none'><p style='color: black;'><i
              class='fas fa-cog pr-3 mb-3'
              style='font-size: large;'
            ></i>設定</p></a>
      </div>

      <button class='btn' style='background-color: orangered;border-radius:40px; color:white; font-weight:bold; width:90%;'>推文</button>
    </div>
  </div>
</div>
  <a href="/logout"><button class="btn btn-outline-success my-2 my-sm-0" style="position: fixed; top:90%; right:85%;">登出</button></a>
</div>
</div>
