<div class="px-5 pt-2">
	<a src="/tweets"><i class="fab fa-twitter px-3" style="font-size:xx-large"></i></a>
	<div class="p-3">
		<br />
		<div
			class="d-flex align-items-start flex-column bd-highlight mb-3"
			style=""
		>
			<a href="/tweets" style="text-decoration: none"><p><i class="fas fa-home pr-3 mb-3" style="font-size: large;"></i>首頁</p></a>
			<a href="/users/:id/tweets" style="text-decoration: none"><p><i class="far fa-user pr-3 mb-3" style="font-size: large;"></i>個人資料</p></a>
			<a href="/users/:id/edit" style="text-decoration: none"><p><i class="fas fa-cog pr-3 mb-3" style="font-size: large;"></i>設定</p></a>
			<button
				class="btn"
				style="background-color: orangered;border-radius:40px; color:white; font-weight:bold; width:100%;"
			>推文</button>
		</div>
	</div>
</div>