<div class="adminSidebarOptionsContainer">
  <img id="adminAlphitterLogo" src="https://i.imgur.com/RkfRCKR.png" alt="Admin Alphitter Logo">
  <a id="adminTweetsRoute" href="/admin/tweets" onclick="functionOne()">
    <img id="adminTweetsListLogo" src="https://i.imgur.com/gF3ap6o.png" alt="Admin Tweets Logo">
    <img id="adminTweetsListOrangeLogo" src="https://i.imgur.com/llVjn9n.png" alt="Admin Tweets Orange Logo">
    <h5 id="adminTweetsList">推文清單</h5>
  </a>
  <a id="adminUsersRoute" href="/admin/users" onclick="functionTwo()">
    <img id="adminUsersListLogo" src="https://i.imgur.com/tG7947j.png" alt="Admin Users Logo">
    <img id="adminUsersListOrangeLogo" src="https://i.imgur.com/L9HgtZv.png" alt="Admin Users Orange Logo">
    <h5 id="adminUsersList">使用者列表</h5>
  </a>
  <a class="adminLogoutRoute" href="/admin/logout">
    <img id="adminLogoutLogo" src="https://i.imgur.com/Vxiq1AZ.png" alt="Admin Logout Logo">
    <h5 id="adminLogout">登出</h5>
  </a>
</div>