<div class="col-3 ms-5" style="max-width: 278px;">
  <div class="d-flex flex-column">
    <img src="https://i.imgur.com/T5IhY8x.png" title="source: imgur.com" style="width: 50px;" class="mt-3 mb-4" />

    <div class="d-flex mb-4">
      <img src="https://i.imgur.com/56xY3VM.png" title="source: imgur.com" style="width: 24px; height: 24px"
        class="ms-2 me-3" />
      <h5 class="fs-5" style="color: #FF6600; font-weight: 700;">首頁</h5>
    </div>
    {{!-- 個人資料 --}}
    <div class="d-flex mb-4">
      <img src="https://i.imgur.com/6P4UnEV.png" title="source: imgur.com" style="width: 24px; height: 24px"
        class="ms-2 me-3" />
      <h5 class="fs-5" style="color: #44444F; font-weight: 600">個人資料</h5>
    </div>
    {{!-- 設定 --}}
    <div class="d-flex mb-4">
      <img src="https://i.imgur.com/qDyxMOX.png" title="source: imgur.com" style="width: 24px; height: 24px"
        class="ms-2 me-3" />
      <h5 class="fs-5" style="color: #44444F; font-weight: 600">設定</h5>
    </div>
    <button class="btn btn-default"
      style="background-color: #FF6600;border-radius: 23px; color: white; width:178px; height: 46px;" data-bs-toggle="modal" data-bs-target="#postTweet">推文</button>
  </div>
</div>