<div class="modal fade" id="sendTweetBtn" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-start">
        <i class="close ms-0" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="tweet-input ms-3">
        <form class="" action="/tweets" method="POST" id="side-form" novalidate>
          <div class="d-flex flex-wrap mt-3">
            <div class="me-1">
              <img src="{{currentUser.avatar}}" alt="" class="avatar-sm rounded-pill">
            </div>
            <textarea class="side-description-input w-auto border border-0 ms-1 mb-1 needs-validation" name="description"
              id="description" cols="65" rows="3" placeholder="有什麼新鮮事？" maxlength='140'></textarea>
            <div class="d-flex justify-content-end align-times-center w-100 mb-3">
              <div class="text-black-50 ms-auto me-3 fs-6 align-self-center" id="side-description-length"></div>
              <button type="submit" class="send-button btn btn-brand rounded-pill px-3 me-3" id="side-btn-send" disabled>推文</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>