<style>
  label {
    color: #696974;
  }

  input {
    border: none;
    border-bottom: solid 2px #657786;
  }

  p {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #FC5A5A;
    height: 20px;
  }

  button {
    margin: 8px 0;
    height: 46px;
    border: none;
    background: #FF6600;
    color: #FFFFFF;
  }

  input:focus {
    outline: none;
    border-bottom: solid 2px #50B5FF;
  }

  input:hover {
    border-bottom: solid 2px #50B5FF;
  }

  label,
  input {
    padding: 0 16px;
    background: #F5F8FA;
  }

  #account::placeholder,
  #password::placeholder {
    color: #B5B5BE;
  }
</style>

<div class="d-flex flex-column" style=" height: 78px;">
  <label for="account">帳號</label>
  <input {{#if error_messages}}style="border-bottom: solid 2px red;" {{/if}} type="text" placeholder="請輸入帳號"
    name="account" id="account" required>
  {{> form-msg}}
</div>
<div class="d-flex flex-column" style="height: 78px;">
  <label for="password">密碼</label>
  <input type="password" placeholder="請輸入密碼" name="password" id="password">
</div>
<div class="d-flex justify-content-center">
  <button class="w-100 rounded-pill" type="submit">登入</button>
</div>