<div class="form-floating mb-3">
  <input type="account" id="account" name="account" class="form-control" placeholder="請輸入帳號" required>
  <label for="account">帳號</label>
</div>
<div class="form-floating mb-3">
  <input type="password" id="password" name="password" class="form-control" placeholder="請輸入密碼" required>
  <label for="password">密碼</label>
</div>
<button type="submit" class="submit-btn">登入</button>