<div style="width:273px; z-index:1; overflow-x:hidden" class="card border-light bg-light mt-3">
  <nav style="height:78px;" class="navbar sticky-top navbar-light bg-light border-bottom">
    <div class="container mx-3">
      <h4 class="card-title m-0">推薦跟隨</h4>
    </div>
  </nav>

  <div style="height:82px" class="d-flex flex-row">

    <div style="width:50px; height:auto" class="container align-self-center mx-1">
      <img class="" src="https://cdn2.ettoday.net/images/1457/1457773.jpg" alt="" width="40px" height="40px" style="background-color:#FF6600; border-radius: 30px">
    </div>

    <div style="max-width:100px" class="container align-self-center">
      <h5 class="m-0">name</h5>
      <small>
        <p class="m-0 text-muted">@account</p>
      </small>
    </div>

    <div class="container align-self-center me-3 p-0 text-end">
             <a href="#" style="background-color:#FF6600; color:#ffffff; border-radius: 30px" class="btn">正在跟隨</a>
<!--       <a href="#" style="color:#FF6600; border-color:#FF6600; border-radius: 30px" class="btn">跟隨</a> -->
    </div>

  </div>
  
  <div style="height:82px" class="d-flex flex-row">

    <div style="width:50px; height:auto" class="container align-self-center mx-1">
      <img class="" src="https://cdn2.ettoday.net/images/1457/1457773.jpg" alt="" width="40px" height="40px" style="background-color:#FF6600; border-radius: 30px">
    </div>

    <div style="max-width:100px" class="container align-self-center">
      <h5 class="m-0">name</h5>
      <small>
        <p class="m-0 text-muted">@account</p>
      </small>
    </div>

    <div class="container align-self-center me-3 p-0 text-end">
      
      <a href="#" style="color:#FF6600; border-color:#FF6600; border-radius: 30px" class="btn">跟隨</a>
    </div>

  </div>

</div>