<div class="modal-body row">
  <div class="col-1 me-1">
    <img src="{{loginUser.avatar}}" style="border-radius: 50px; width: 50px; height: 50px;">
  </div>
  <div class="col-10">
    <textarea class="form-control" type="text" id="description" name="description" rows="3" style="border: none"
      placeholder="有什麼新鮮事？" maxlength="140" required></textarea>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="submit-btn" style="width: 70px">推文</button>
</div>