{{> header route = 'homepage'}}

<li class="list-group-item tweet-list" type="button" data-bs-toggle="modal" data-bs-target="#tweet-modal">
  <div class="d-flex flex-column">
    <div class="d-flex align-items-center">
      <img src="{{user.avatar}}" class="tweet-user-img me-1"
        onerror="this.onerror=null; this.src='/images/profile-img.svg'">

      <div class="tweet-placeholder">有什麼新鮮事？</div>
    </div>

    <div class="btn align-self-end">推文</div>
  </div>
</li>

{{#each tweets}}

  {{> tweets-list user = ../user}}

{{/each}}

{{!-- modal --}}
{{> modal/modal-tweet}}

<script src="/javascript/reply.js"></script>