{{!-- Tweet --}}
<div class="card rounded-0">
  <div class="card-body">
    <div class="d-flex align-items-center mb-3">
      <div class="mr-3">
        <img src="https://fakeimg.pl/64/" class="rounded-circle" alt="...">
      </div>
      <div class="">
        <h5>{{tweet.User.name}}</h5>
        <p class="text-secondary mb-0">{{tweet.User.account}}</p>
      </div>
    </div>
    <p class="font-weight-bold">
      {{tweet.description}}
    </p>
    <p>{{time}}</p>
    <div class="px-2 py-3 border-top border-bottom">
      <span class="mr-3"><span class="font-weight-bold">34</span>回覆</span>
      <span><span class="font-weight-bold">808</span>喜歡次數</span>
    </div>
    <div class="p-2 border-bottom">
      <button class="btn btn-link text-decoration-none mr-4" style="font-size: 24px;"><i
          class="far fa-comment"></i></button>
      <button class="btn btn-link text-decoration-none" style="font-size: 24px;"><i class="far fa-heart"></i></button>
    </div>
  </div>
</div>
{{!-- Reply --}}
{{#each tweet.Replies}}
{{> replyList}}
{{/each}}