<div class="modal fade" id="tweetModal" tabindex="-1" aria-labelledby="tweetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content tweet-modal">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/tweets" method="POST" class="post-tweet-form">
        <div class="modal-body">
          <div class="avatar">
            <a href="/users/{{loginUserId}}/tweets">
              {{#if loginUserAvatar }}
              <img src="{{ loginUserAvatar }}" alt="avatar" class="avatar">
              {{else}}
              <img src="/stylesheets/icons/profile-img.svg" alt="avatar" class="avatar">
              {{/if}}
            </a>
          </div>
          <textarea name="description" id="textareaInput" cols="30" rows="10" class="main-create-input"
            placeholder="有什麼新鮮事？"></textarea>
        </div>
        <div class="modal-footer">
          <div>
            <h6 id="errorMsg" class="tweetTips"></h6>
          </div>
          <button id="submitBtn" type="submit" class="btn btn-info" disabled>推文</button>
        </div>
      </form>
    </div>
  </div>
</div>
         


<script src="/javascripts/tweets.js"></script>
