<div class="profile-messageboard">
  <div class="profile-avatar-container">
    <div class="avatar profile-avatar">
      <img
        src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg"
        alt="avatar-img"
      />
    </div>
  </div>

  <div class="profile-textarea-container">
    <textarea
      name="profile-textarea"
      class="form-control form-control-lg"
      id="post"
      placeholder="有什麼新鮮事?"
      rows="3"
    ></textarea>
  </div>
  <div
    class="btn btn-twitter"
    id="myInput"
    data-bs-toggle="modal"
    data-bs-target="#exampleModel"
  ><span>推文</span>
  </div>
</div>