<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a href="/users/{{ user.id }}" style='text-decoration: none;'>
      <p class="nav-link {{#ifCond route 'tweets'}}nav-link-active{{/ifCond}}">推文</p>
    </a>

  </li>
  <li class="nav-item">
    <a href="/users/{{ user.id }}/replies" style='text-decoration: none;'>
      <p class="nav-link {{#ifCond route 'replies'}}nav-link-active{{/ifCond}}">回覆</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/users/{{ user.id }}/likes" style='text-decoration: none;'>
      <p class="nav-link {{#ifCond route 'likes'}}nav-link-active{{/ifCond}}">喜歡的內容</p>
    </a>
  </li>
</ul>