<div class="pb-0 px-0">
    <ul class="nav">
        <li {{#ifCond route 'tweets'
            }}style="color:#FF6600; border-color:#FF6600; border-width: medium; border-style: none none solid none"{{/ifCond}} class="nav-item text-center w-25">
            <a style="color:#FF6600" class="nav-link active" aria-current="page" href="/users/{{ user.id }}/tweets">推文</a>
        </li>
        <li {{#ifCond route 'replies'
            }}style="color:#FF6600; border-color:#FF6600; border-width: medium; border-style: none none solid none"{{/ifCond}} class="nav-item text-center w-25">
            <a style="color:#FF6600" class="nav-link" href="/users/{{ user.id }}/replies">回覆</a>
        </li>
        <li {{#ifCond route 'likes'
            }}style="color:#FF6600; border-color:#FF6600; border-width: medium; border-style: none none solid none"{{/ifCond}} class="nav-item text-center w-25">
            <a style="color:#FF6600" class="nav-link" href="/users/{{ user.id }}/likes">喜歡的內容</a>
        </li>
    </ul>
</div>