{{!-- User Head Bar --}}
<div>
  <div class="d-flex align-items-center my-3 mb-1">
    <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left fw-bold" style="color: black;"></i></a>
    <div class="d-flex flex-column ms-5">
      <h4 class="fw-bold" style="margin-bottom: 0px;">{{viewUser.name}}</h4>
      <span class="text-secondary fw-bold" style="margin-top: -5px">{{arrayLength viewUser.Tweets}} 推文</span>
    </div>
  </div>
</div>