<div class="d-flex m-2">
  <a href="">
    <h3 class="my-2 fw-normal" onclick="history.back()">←</h3>
  </a>
  <div class="col ms-0 ps-2">
    <span class="my-0 py-0 fw-bold">{{personal.name}}</span><br />
    <small class="my-0 py-0 text-secondary">{{personal.Tweets.length}} 推文</small>
  </div>
</div>
<div class="hr-line"></div>