<div class='d-flex flex-row m-0 p-0'>
  <span class='d-flex justify-content-start align-items-center'>
    <a href='javascript:history.back()'>
      <img src='/images/back.svg' alt='back' />
    </a>
  </span>
  <span class='ms-2'>
    <h5 class='m-0'>John Doe</h5>
    <p class='m-0 tweet'>25 推文</p>
  </span>
</div>