<div class="nav viewUser-nav d-flex  align-items-center">
  <div class="viewUser d-flex align-items-center">
    <img class="viewUser-icon" src="/images/Vector.png" width="17px" height="14px">
    <div class="d-flex flex-column">
      <h5 class="viewUser-name">{{user.name}}</h5>
      <p class="viewUser-tweet-number">
        25推文
      </p>
    </div>
  </div>