{{!-- 個人頁面上面 --}}
<div>
  <div class="fl wid-12">
    <a href="javascript:history.back()">
      <i class="fa fa-arrow-left mt-4 ms-4" style="font-size: 18px;color:black"></i>
    </a>
  </div>
  <div class="col fl mt-2 wid-80">
    <span class="selftwitterbox-name">{{user.name}}</span>
    <p class="twitterbox-time">{{user.Tweets.length}}推文</p>
  </div>
</div>