<div class='user-container m-0 p-0'>

  {{!-- user header --}}
  {{> header route = 'users'}}

  {{!-- list nav --}}
  {{> navbar/navbar-followships}}

  {{!-- followings-list --}}
  {{#chooseEach followingsPage}}
    {{#each user.Followings}}
      {{> user-followships loginUser = ../loginUser}}
    {{/each}}
  {{else}}
    {{#each user.Followers}}
      {{> user-followships loginUser = ../loginUser}}
    {{/each}}
  {{/chooseEach}}

</div>