<nav class="nav">
  <a href="/tweets" class="navbar-brand">
    <img src="/stylesheets/icons/logo.svg" alt="logo" class="logo">
  </a>
  <div class="nav-list">
    <div class="nav-item">
      <a class="nav-link" href="/tweets">
        <i class="nav-icon">
          {{#if Tweets}}
          <div class="home-icon home-filled-icon background-image"></div>
          {{else}}
          <div class="home-icon home-outlined-icon background-image"></div>
          {{/if}}
        </i>
        <span class="nav-tab {{#if Tweets}}nav-tab-title{{/if}}">
          首頁
        </span>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="#"">
        <i class="nav-icon">
          {{#if Users}}
          <div class="user-icon user-filled-icon background-image"></div>
          {{else}}
          <div class="user-icon user-outlined-icon background-image"></div>
          {{/if}}
        </i>
        <span class="nav-tab {{#if Users}}nav-tab-title{{/if}}">
          個人資料
        </span>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="#"">
        <i class="nav-icon">
          {{#if Setting}}
          <div class="setting-icon cog-filled-icon background-image"></div>
          {{else}}
          <div class="setting-icon cog-outlined-icon background-image"></div>
          {{/if}}
        </i>
        <span class="nav-tab {{#if Setting}}nav-tab-title{{/if}}">
          設定
        </span>
      </a>
    </div>
    <div class="nav-item-post">
      <button type="button" id="btn-nav-tweet" data-bs-toggle="modal" data-bs-target="#tweetModal">
        <span class="post-text">推文</span>
      </button>
    </div>
    <div class="nav-item-logout">
      <a class="nav-link" href="/signin">
        <i class="nav-icon">
          <div class="logout-icon background-image"></div>
        </i>
        <span class="nav-tab">登出</span>
      </a>
    </div>
  </div>
</nav>