<link rel="stylesheet" href="/user-upper-style.css">

<div class="row">
  <a href="#" class="coverage-a"><img src="https://i.imgur.com/s2FQTRY.jpg" class=" coverage-image" alt="coverage">
  </a>

  <div class="d-flex justify-content-between px-3">
    <div class="avatar-size">
      <div class="avatar-image-clip">
        <div class="avatar-border">
          <a href="#" class="avatar-a"><img
              src="https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
              alt="avatar" class="avatar-image"></a>
        </div>
      </div>
    </div>
    <div class="btn edit-user-btn align-self-center px-3">編輯個人資料</div>
  </div>
  <div class="user-name fw-bold fs-4">John Doe</div>
  <div class="user-account">@heyjohn</div>
  <div class="user-description mt-2">Some quick example text to build on the.
  </div>
  <div class="mb-2 d-flex justify-content-start align-items-center follow-box">
    <div class="followings-block d-flex justify-content-center align-items-center pe-2">
      <a href="#" class="link-followings">34個</a>
      <div class="user-followings">追隨中</div>
    </div>
    <div class="followers-block d-flex justify-content-center align-items-center px-2">
      <a href="#" class="link-followers">59位</a>
      <div class="user-followers">追隨者</div>
    </div>

  </div>
</div>