<ul class='nav nav-tabs'>
  <li class='nav-item'>
    <a class='nav-link active' href='/user/{{user.id}}/tweets'>推文</a>
  </li>
  <li class='nav-item'>
    <a class='nav-link' href='/user/{{user.id}}/replies'>回復</a>
  </li>
  <li class='nav-item'>
    <a class='nav-link' href='/user/{{user.id}}/likes'>喜歡的内容</a>
  </li>
</ul>