
<div class="row mb-3"
  style="height: 59px; margin: 16px 0px 0px 0px; border: 1px #E6ECF0 solid; border:none; max-width:639px;">
  <a href="javascript:history.back()" style="color: #171725; text-decoration: none;"
    class="col-auto d-flex align-items-center">
    <i class="fa-solid fa-arrow-left" style="font-size: 1.2em;"></i>
  </a>
  <a href="/users/{{user.id}}/tweets"
    class="col-auto d-flex flex-column align-items-start justify-content-center"
    style="text-decoration: none;">
    <span class="h5 text-dark" style="line-height: 15px; font-size: 18px; font-weight: 900;">{{user.name}}</span>
    <span style="color: #6C757D; font-size: 13px; line-height: 15px;">{{tweetCount}}推文</span>
  </a>
</div>
