<div role="navigation my-5">
  <ul class='nav nav-tabs'>
    <li class='nav-item' style="width: 20%;">
      <a class='nav-link {{#ifCond tab "tweets"}}active{{/ifCond}}' href='/users/{{profileUser.id}}/tweets'>推文</a>
    </li>
    <li class='nav-item' style="width: 20%;">
      <a class='nav-link {{#ifCond tab "replies"}}active{{/ifCond}}' href='/users/{{profileUser.id}}/replies'>回覆</a>
    </li>
    <li class='nav-item' style="width: 20%;">
      <a class='nav-link {{#ifCond tab "likes"}}active{{/ifCond}}' href='/users/{{profileUser.id}}/likes'>喜歡的內容</a>
    </li>
  </ul>
</div>