<div class="middle"  style="margin-left:2px; width:639px;border:2px solid #E6ECF0">
      <div class="fl" style="">
        <a href="javascript:history.back()">
          <img class="backarrow-img" src="/images/back_arrow@2x.png" alt="">
        </a>
      </div>
      <div class="fl mt-2">
        <span class="selftwitterbox-name">{{user.name}}</span>
        <p class="twitterbox-time">{{user.Tweets.length}}推文</p>
      </div>
    </div>
    </div>
  </div>