<div class="d-flex align-items-center user-header mt-0">
  <a href="javascript:history.back()">
    <img class="user-arrow" src="/images/icon-black-back.png">
  </a>
  <div>
    <h5 class="fw-bold user-header-name">{{user.name}}</h5>
    <p class="user-header-tweet">{{user.tweetCounts}}推文</p>
  </div>
</div>