<div class="user-tabs d-flex mt-3">
  <a href="/users/{{queryUser.id}}/tweets" {{#ifCond tab 'getTweets'}} class="active" {{/ifCond}}>推文</a>
  <a href="/users/{{queryUser.id}}/replies" {{#ifCond tab 'getReplies'}} class="active" {{/ifCond}}>回覆</a>
  <a href="/users/{{queryUser.id}}/likes" {{#ifCond tab 'getLikedTweets'}} class="active" {{/ifCond}}>喜歡的內容</a>
</div>


