<div class="most-followed mt-3 pt-4">
  <div class="ms-4 mb-3">推薦跟隨</div>
  <hr>
  {{!-- top10 users --}}
  <div class="d-flex top-ten-window p-4">
    <div class=" avatar">
      <img width="50" height="50" src="{{this.User.avatar}}" alt="">
    </div>
    <div class="name ms-2">
      <span class="name">name</span>
      <span class="account">@account</span>
    </div>
    <div class="button ms-1">
      <button type="button" class="btn btn-primary">正在跟隨</button>
    </div>
  </div>
  {{!-- top10 users --}}
  {{!-- top10 users --}}
  <div class="d-flex top-ten-window p-4">
    <div class=" avatar">
      <img width="50" height="50" src="{{this.User.avatar}}" alt="">
    </div>
    <div class="name ms-2">
      <span class="name">name</span>
      <span class="account">@account</span>
    </div>
    <div class="button ms-1">
      <button type="button" class="btn btn-primary">正在跟隨</button>
    </div>
  </div>
  {{!-- top10 users --}}
    {{!-- top10 users --}}
    <div class="d-flex top-ten-window p-4">
      <div class=" avatar">
        <img width="50" height="50" src="{{this.User.avatar}}" alt="">
      </div>
      <div class="name ms-2">
        <span class="name">name</span>
        <span class="account">@account</span>
      </div>
      <div class="button ms-1">
        <button type="button" class="btn btn-primary">正在跟隨</button>
      </div>
    </div>
    {{!-- top10 users --}}
</div>