<ul class="nav nav-tabs" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
      role="tab" aria-controls="pills-home" aria-selected="true">推文</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
      role="tab" aria-controls="pills-profile" aria-selected="false">回覆</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button"
      role="tab" aria-controls="pills-contact" aria-selected="false">喜歡的內容</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    <div class="user-replies">
      <img src="https://fakeimg.pl/50/" width="50px" height="50px" style="border-radius:50%;" />
      <div class="user-replies-content">
        <div class="user-replies-name-time">
          <b>John Doe</b>
          <span>@heyjohn・3 小時</span>
        </div>
        <div class="user-replies-details">
          <div class="user-replies-details-reply-to">
            <div class="user-replies-details-reply">
              <p>Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate
                exercitation incididunt
                aliquip deserunt reprehenderit elit laborum.</p>
            </div>
            <div class="user-replies-details-actions">
              <div class="user-replies-details-reply-numbers">
                <img src="/images/reply-outlined@2x.png" alt="reply"><span>13</span>
              </div>
              <div class="user-replies-details-like-numbers">
                <img src="/images/like-outlined@2x.png" alt="like"><span>76</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
    <div class="user-replies">
      <img src="https://fakeimg.pl/50/" width="50px" height="50px" style="border-radius:50%;" />
      <div class="user-replies-content">
        <div class="user-replies-name-time">
          <b>John Doe</b>
          <span>@heyjohn・3 小時</span>
        </div>
        <div class="user-replies-details">
          <div class="user-replies-details-reply-to">
            <p>回覆 <span class="user-replies-details-reply-to-name">@apple</span></p>
            <div class="user-replies-details-reply">
              <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
    <div class="user-replies">
      <img src="https://fakeimg.pl/50/" width="50px" height="50px" style="border-radius:50%;" />
      <div class="user-replies-content">
        <div class="user-replies-name-time">
          <b>John Doe</b>
          <span>@heyjohn・3 小時</span>
        </div>
        <div class="user-replies-details">
          <div class="user-replies-details-reply-to">
            <div class="user-replies-details-reply">
              <p>Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate
                exercitation
                incididunt
                aliquip deserunt reprehenderit elit laborum.</p>
            </div>
            <div class="user-replies-details-actions">
              <div class="user-replies-details-reply-numbers">
                <img src="/images/reply-outlined@2x.png" alt="reply"><span>13</span>
              </div>
              <div class="user-replies-details-like-numbers">
                <img src="/images/like-filled@2x.png" alt="like"><span>76</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>