<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/fonts/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/css_template.css">
    <link rel="https://lighthouse.alphacamp.co/images/logo-simple.jpg">
    <title>Simple Twitter</title>

<body class="">
    <main role="main" class="">
                {{!-- 先把error message放在這邊 --}}
                {{> message}} 
                {{{body}}}
    </main>
</body>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html> 