<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/mainAdmin.css">
    <link rel="stylesheet" href="/stylesheets/adminPage.css">
    <link rel="stylesheet" href="/stylesheets/leftSideBar.css">
    <link rel="stylesheet" href="/stylesheets/adminTweets.css">
    <link rel="stylesheet" href="/stylesheets/adminUsers.css">
    <script src='https://kit.fontawesome.com/a56fd02a29.js' crossorigin='anonymous'></script>
    <title>Alphitter</title>
  </head>

  <body>
    <div class="admin">
      {{{body}}}
    </div>
  </body>

</html>