<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a56fd02a29.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/leftSideBar.css">
    <link rel="stylesheet" href="/stylesheets/userPage.css">
    <link rel="stylesheet" href="/stylesheets/tweet.css">
    <link rel="stylesheet" href="/stylesheets/rightSideBar.css">
    <script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
    <script src="/javascripts/rightSideBar.js" defer></script>
    <title>Alphitter</title>
  </head>

  <body>
    <main class="main">
          {{{body}}}
    </main>
  </body>

</html>

