<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/149a22a609.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-2 col-md-5">
        <div class="mx-auto" id="sticky-sidebar">
          <a><i class="fas fa-dove"></i></a>
          <a href="/"><i class="fas fa-home"></i></a>
          <a href="/users/{{user.id}}"><i class=" fas fa-user"></i></a>
          <a href="/"><i class="fas fa-cog"></i></a>
          <!--發文樣式再修改 -->
          <div class="div">
            <button class="my-2" type="submit" style="color:white; background-color:#FF6103;">發文</button>

            <div class="row align-items-end"><a href="#"><i class="fas fa-sign-out-alt"></i></a></div>
          </div>

        </div>
      </nav>
      <div class="col-8 col-md-5 mx-auto" id="mainSectionContainer">
        {{#if success_messages}}
        <div class="alert alert-success" role="alert" style="margin: 30px 0 ;">
          {{success_messages}}
        </div>
        {{/if}}
        {{#if error_messages}}
        <div class="alert alert-danger" role="alert" style="margin: 30px 0 ;">
          {{error_messages}}
        </div>
        {{/if}}
        <h1>Home</h1>
        <div class="titleContainer">
          <div class="postFormContainer">
            <div class="userImageContainer"><img src="" alt="User's profile picture" /></div>
            <div class="textareaContainer"><textarea id="postTextarea" placeholder="What's happening?"></textarea>
              <div class="buttonsContainer"><button id="submitPostButton" disabled="">Post</button></div>
            </div>
          </div>
          {{{body}}}
        </div>



      </div>
      <!-- 右邊-->
      <div class="col-2">
        <h1>跟隨誰</h1>
      </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>


</html>