<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Twitter Fullstack</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
  {{{body}}}


  {{!-- addTweet modal --}}
  {{> addTweetModal}}
  {{!-- addReply modal --}}
  {{> addReplyModal}}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="/javascripts/formValidation.js"></script>
  <script>
    let tweet_id;
    $('.reply').on('click', function (e) {
      tweet_id = e.target.dataset.tweetid
    })
    //fetch popup modal
    $('#addTweetModal').on('shown.bs.modal', function () {
      //$('#myInput').trigger('focus')
      fetch('/tweets/new').then(res => res.json())
        .then(data => {
          $('#tweets-popup').html(data.template)
        })
        .catch(e => console.log(e))
    })
    $('#addReplyModal').on('shown.bs.modal', function () {
      //$('#myInput').trigger('focus')
      fetch(`/tweets/${tweet_id}/reply`).then(res => res.json())
        .then(data => {
          $('#reply-popup').html(data.template)
        })
        .catch(e => console.log(e))
    })
  </script>
</body>


</html>