<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a56fd02a29.js' crossorigin='anonymous'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/leftSideBar.css">
    <link rel="stylesheet" href="/stylesheets/userHomePage.css">
    <link rel="stylesheet" href="/stylesheets/userPage.css">
    <link rel="stylesheet" href="/stylesheets/tweet.css">
    <link rel="stylesheet" href="/stylesheets/rightSideBar.css">
    <link rel="stylesheet" href="/stylesheets/commentModal.css">
    <link rel="stylesheet" href="/stylesheets/leftSideBarTweetModal.css">
    <link rel="stylesheet" href="/stylesheets/commentPage.css">
    <link rel="stylesheet" href="/stylesheets/comment.css">
    <link rel="stylesheet" href="/stylesheets/userEditModal.css">
    <script src="/javascripts/rightSideBar.js" defer></script>
    <script src="/javascripts/commentModal.js" defer></script>
    <script src="/javascripts/leftSideBarTweetModal.js" defer></script>
    <script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
    <title>Alphitter</title>
  </head>

  <body>
    <main class="main">
          {{{body}}}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  </body>

</html>

