<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Simple Twitter</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/icon.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/follow.css">
</head>

<body>
  <div class="vh-100" id="data-panel">
    <div id="messages-area" data-bs-dismiss="alert" data-bs-target="#my-alert" aria-label="Close">{{> messages}}</div>
    {{{body}}}
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/relativeTime.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/like-btn-listener.js"></script>
{{!-- <script src="/javascripts/follow-btn-listener.js"></script> --}}
<script src="/javascripts/verify-content-length.js"></script>

</html>