<!DOCTYPE html>
<html class="h-100">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://lighthouse.alphacamp.co/images/logo-simple.jpg">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap_custom.css">
  <link rel="stylesheet" href="/stylesheets/css_template.css">
  <link rel="stylesheet" href="/stylesheets/errors.css" />
  <title>Simple Twitter</title>

<body class="">
  {{!-- 先把error message放在這邊 --}}
  {{> message}}
  <main role="main" class="">
    <div class="container-lg">
      <div class="row gap-4">
        <div class="col-2 px-0 mx-0 d-flex flex-column align-items-end">
          {{>left_navbar}}
        </div>
        <div class="col main-middle-col  border-start-1 border-end-1 border-1px  px-0 mx-0">
          {{{body}}}
        </div>
        <div class="col-3 px-0  ms-0 me-0">
          {{>recommend_users_bar}}
        </div>
      </div>
    </div>
    {{>tweet_modal}}
    {{>reply_modal}}
    {{>user_edit_model}}
  </main>
</body>

<script src="/javascripts/axios.min.js"></script>
<script src="/javascripts/frontStageSetting.js"></script>
<script src="/javascripts/unlimitScrolldown/frontStageLoad.js"></script>
<script src="/javascripts/tweetLink.js"></script>
{{#each javascripts}}
  <script src="/javascripts/{{this}}"></script>
{{/each}}
<script src="/javascripts/reload.js"></script>
<script src="/javascripts/validation.js"></script>
<script src="/javascripts/message.js"></script>
<script src="/javascripts/rememberScrollPosition.js"></script>
<script src="/javascripts/renderReplyModal.js"></script>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/axios.min.js"></script>
<script src="/javascripts/unlimitScrolldown/frontStageLoad.js"></script>

</html>