<div class="admin-template">
  <div class="leftside">
    <div class="navigation" id="navigation">
      <i class='ac-icon'></i>
      {{#ifCond partial "adminTweets"}}
      <a class="active">
        <i class='home active'></i>推文清單</a>
      <a class="" href="/admin/users">
        <i class='info'></i>使用者列表</a>
      {{else}}
      <a class="" href='/admin/tweets'>
        <i class='home'></i>推文清單</a>
      <a class="active">
        <i class='info active'></i>使用者列表</a>
      {{/ifCond}}
    </div>
    <div class="footer">
      <a href="/signout"><i class='logout'></i>登出</a>
    </div>
  </div>

  {{#ifCond partial "adminTweets"}}
  {{> adminTweets}}
  {{else}}
  {{> adminUsers}}
  {{/ifCond}}

</div>