<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <div class="img mt-5 d-flex flex-column align-items-center">
                <img src="https://uploads-ssl.webflow.com/60d29cc33f302e62731cf0e1/60d29cc33f302ede181cf183_AC%20nav%20logo.png"
                    style="width: 200px" />
                <strong>後台登入</strong>
            </div>

            <form action="/admin/login" method="POST">

                <div class="form-group">
                    <label for="account">帳號</label>
                    <input type="text" class="form-control" id="account" name="account">
                </div>

                <div class="form-group mt-4">
                    <label for="password">密碼</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <button class="btn btn-primary btn-block mt-4" style="border-radius: 30px;" type="submit">登入</button>

                <div class="mt-3 d-flex justify-content-end">
                    <p>
                        <a href="/users/login">前台登入
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>