<div class="container-fluid" id="tweets">
    <div class="row flex-nowrap justify-content-between mr-3">

        <div class="col-auto col-lg-3">
            <a class="d-flex ml-5 py-3 pl-4" href="/">
                <i class="fab fa-twitter-square" style="font-size: 2.5em; color: #FF6600;"></i>
            </a>
            <div class="d-flex flex-column align-items-start ml-5 px-3 pt-2 min-vh-100">
                <ul class="nav flex-column nav-pills pr-5" id="menu" style="width: 100%;">
                    <li class="nav-item px-2 py-1">
                        <a class="nav-link align-middle text-dark " href="admin/tweets">
                            <i class="fas fa-home a-tomato" style="font-size: 1.2em;"></i>
                            <span class="h5 menu-text home a-tomato">推文清單</span>
                        </a>
                    </li>
                    <li class="nav-item px-2 py-1">
                        <a class="nav-link align-middle text-dark h-tomato" href="admin/users">
                            <i class="far fa-user" style="font-size: 1.2em;"></i>
                            <span class="h5 menu-text user">使用者列表</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-9 mt-2">
            <div class="card-header">
                推文清單
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-center mr-2">
                        <img src="https://uploads-ssl.webflow.com/60d29cc33f302e62731cf0e1/60d29cc33f302ede181cf183_AC%20nav%20logo.png"
                            style="width: 150px" alt="">
                    </div>

                    <div>
                        <span>name</span>@
                        <span>location</span>
                        <span>.</span>
                        <span>time</span>
                        <div>
                            <span>context</span>
                        </div>
                    </div>

                    <div>
                        <form action="/admin/tweets/:id
?_method=DELETE" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-link">X</button>
                        </form>
                    </div>
                </div>
                <hr>

                <div class="d-flex justify-content-between">
                    <div class="d-flex align-center mr-2">
                        <img src="https://uploads-ssl.webflow.com/60d29cc33f302e62731cf0e1/60d29cc33f302ede181cf183_AC%20nav%20logo.png"
                            style="width: 150px" alt="">
                    </div>

                    <div>
                        <span>name</span>@
                        <span>location</span>
                        <span>.</span>
                        <span>time</span>
                        <div>
                            <span>context2</span>
                        </div>
                    </div>

                    <div>
                        <form action="/admin/tweets/:id
?_method=DELETE" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-link">X</button>
                        </form>
                    </div>
                </div>
                <hr>

            </div>
        </div>

    </div>
    <div class="d-flex fixed-bottom mb-3 ml-5 px-3">
        <a href="/signout" class="d-flex">
            <i class="fas fa-sign-out-alt" style="color: #000000; font-size: 1.2em;"></i>
            <span class="h5 logout-text">登出</span>
        </a>
    </div>
</div>