<div class="row mt-3">
    <div class="col-md-2 pl-0">
        {{>left}}
    </div>

    <div class="col-md-4 px-3 border-left border-right">
        <h2>user list</h2>
    </div>

    <div class="col-md-6 p-0">
        <h2>room</h2>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>

<script src="/js/socket.js"></script>