<div class="container-fluid">
  {{> left-content}}
  <div class="chatroom-content">

    <!--output-->
    <div class="chat-window">
      <ul id="output"></ul>
      <div id="feedback"></div>
    </div>

    <!--input-->
    <div class="chat-footer">
      <form id="chat-form" action="">
        <input id="input" autocomplete="off" autofocus />
        <button>Send</button>
      </form>
    </div>
    <!--user info-->
    <div class="chat-user-info" style="display: none;">
      <p class="chat-name">{{user.name}}</p>
      <p class="chat-avatar">{{user.avatar}}</p>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/javascripts/socket.js"></script>