<ul id="messages"></ul>
<form action="">
  <input id="m" autocomplete="off" name="comment" /><button>Send</button>
</form>



<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(function () {
    var socket = io();   //Notice that I’m not specifying any URL when I call io(), since it defaults to trying to connect to the host that serves the page.
    $('form').submit(function (e) {
      e.preventDefault(); // prevents page reloading
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
    //保存訊息在頁面上
    socket.on('chat message', function (msg) {
      // $('#messages').append($('<li>').text(msg));
      $('#messages').append(`<li><img src="https://i.imgur.com/X8ykFH1.gif" alt="" style="width: 50px; height:50px">${msg}</li>`);
    });
  });
</script>