<div>
  <h5 id="chat-user-id">{{user.id}}</h5>
  <h5 id="chat-user-name">{{user.name}}</h5>
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chatAll.js"></script>