<div class="row">
    <div class="col-2">{{> left-nav route='chat'}}</div>
    <div class="col-3 border-start border-end px-0" style="overflow:auto;">
        <nav class="nav flex-column" id="people-group">
            <a class="nav-link border-bottom">
                <span class="fw-bold text-dark fs-5">
                    Message
                </span>
            </a>
            {{#each chatUsers}}
                <a class="nav-link border-bottom blockstyle" name="chat-user" data-user-id="{{this.id}}" onclick="change(this)">
                    <img src="{{this.avatar}}" class="rounded-circle" style="width:40px;height:40px">
                    <span class="fs-5 fw-bold text-dark" id="chat-user-name">{{this.name}}</span>
                    <span class="remindIcon fs-3" id="orange-point">&bull;</span>
                </a>
            {{/each}}
        </nav>
    </div>
    <div class="col" id="chat-area" hidden>
        <div class="fs-3" style="height:5%;width:100%" id="chat-header"></div>
        <div class="py-3" style="height:90%;width:100%">
            <div id="chat-content" class="chatBlock rounded px-2 pt-4 pb-2"></div>
        </div>
        <form class="" style="height:5%;width:100%" id="chat-form">
            <div class="input-group mb-3">
                <input type="text" id="receiver-input" style="display:none ;">
                <input type="text" value="{{logInUser.id}}" id="sender-input" style="display:none ;" readonly>
                <input type="text" class="form-control rounded-pill" id="chat-input" placeholder="請輸入內容" required>
                <button class="btn btn-outline-secondary rounded-circle border-0" type="submit"><i class="fas fa-angle-double-right"></i></button>
            </div>
        </form>
    </div>
</div>
<script src="/javascripts/chat.js"></script>