<div class="row">
  {{> homeNavBar}}
  <div class="chat-users col d-flex flex-column ms-4">
    <div class="home-word-box p-2">
      <span class="home-word">上線使用者(5)</span>
    </div>
    <div class="chat-user align-middle">
          <img class="rounded-circle" src="https://icon-library.com/images/default-user-icon/default-user-icon-17.jpg" alt="avatar" title="avatar" width="50px" height="50px">
            <span class="name">Apple</span>
            <span class="account">&nbsp;@apple</span>
    </div>
    <div class="chat-user align-middle">
      <img class="rounded-circle" src="https://icon-library.com/images/default-user-icon/default-user-icon-17.jpg"
        alt="avatar" title="avatar" width="50px" height="50px">
      <span class="name">Apple</span>
      <span class="account">&nbsp;@apple</span>
    </div>
    <div class="chat-user align-middle">
      <img class="rounded-circle" src="https://icon-library.com/images/default-user-icon/default-user-icon-17.jpg"
        alt="avatar" title="avatar" width="50px" height="50px">
      <span class="name">Apple</span>
      <span class="account">&nbsp;@apple</span>
    </div>
    <div class="chat-user align-middle">
      <img class="rounded-circle" src="https://icon-library.com/images/default-user-icon/default-user-icon-17.jpg"
        alt="avatar" title="avatar" width="50px" height="50px">
      <span class="name">Apple</span>
      <span class="account">&nbsp;@apple</span>
    </div>
    <div class="chat-user align-middle">
      <img class="rounded-circle" src="https://icon-library.com/images/default-user-icon/default-user-icon-17.jpg"
        alt="avatar" title="avatar" width="50px" height="50px">
      <span class="name">Apple</span>
      <span class="account">&nbsp;@apple</span>
    </div>
  </div>
  <div class="chats col-6 me-5">
    <div class="home-word-box p-2">
      <span class="home-word">公開聊天室</span>
    </div>
    <div class="chat-messages d-flex flex-column .justify-content-end p-2">
      <div class="text-center my-2">
        <div class="user-name-status d-inline-flex py-1 px-3">
          <p>Apple 上線</p>  
        </div>
      </div>
      <div class="other-chat d-inline-flex align-items-end my-2">
        <img class="rounded-circle" src="https://icon-library.com/images/default-user-icon/default-user-icon-17.jpg"
          alt="avatar" title="avatar" width="50px" height="50px">
        <div class="chat-content ms-3">
          <p class='p-3'>今天天氣真不錯~我至少要打到這個對話框的70%!要看他換行看看才知道格式有沒有對喔</p>
        </div>
      </div>
      <div class="my-chat d-inline-flex align-items-end my-2 justify-content-end">
        <div class="chat-content">
          <p class="p-3">阿哈哈哈哈哈哈～我在回覆喔好好笑喔好好笑喔要打到第二行</p>
        </div>

      </div>
    </div>
    <div class="input-area">
      
    </div>
  
  
  </div>
  
</div>