<div id="left">
  <div id="left-container">
    <ul class="nav flex-column justify-content-between" style="height: 100vh;">
      <div class="flex-colum ">
        <a class="navbar-brand ml-3" href="/">
          <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png" width="30"
            height="30" alt="">
        </a>
        <li class="nav-item">
          <a class="nav-link" href="/tweets" style="color: black;"><i class="fas fa-home"></i>首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tweets" style="color: black;"><i class="far fa-bell"></i>通知</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chatroom" style="color:#ff6600;"><i class="far fa-envelope"></i>公開聊天室</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tweets" style="color: black;"><i class="far fa-envelope"></i>私人訊息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/{{user.id}}/tweets" style="color: black;"><i class="fas fa-user"></i>個人資料</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/setting/{{user.id}}" style="color: black;margin-bottom: 19px"><i
              class="fas fa-cog"></i>設定</a>
        </li>
        <button type="button" class="btn btn-block" style="border-radius: 23px;background:#ff6600; color:white"
          data-toggle="modal" data-target="#tweetModal">
          推文
        </button>
      </div>
      <li class="nav-item">
        <a class="nav-link" href="/logout" style="color: black;"><i class="fas fa-sign-out-alt"></i>登出</a>
      </li>
    </ul>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascript/client_socket.js"></script>