<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div>
      {{> left-column}}
    </div>
  </nav>

  <div class="center-content d-flex" id="tweet-content">
    <div class="head justify-content-between ">
      <div class="row rounded-lg overflow-hidden ">
        <!-- 上線使用者-->
        <div class="col-5 ">
          <div class="bg-white">

            <div class="bg-gray px-4 py-2 bg-light">
              <p class="h5 mb-0 ">上線使用者(N)</p>
            </div>

            <div class="contacts-box">
              <div class="list-group rounded-0">
                <a class="list-group-item list-group-item-action  text-white rounded-0">
                  <div class="media"><img class="ml-2 mt-2" {{#if user.avatar}}src={{user.avatar}}{{/if}}
                      style="background: #C4C4C4;border-radius: 100%; width: 50px; height: 50px">
                    <div class="media-body ml-4">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <span class="user-account">{{user.name}}@{{user.account}}</span>
                      </div>
                    </div>
                  </div>
                </a>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Chat Box-->
        <div class="col-7">
          <div class="bg-gray px-4 py-2 bg-light">
            <p class="h5 mb-0">公開聊天室</p>
          </div>
          <div id="chatmessage" class="px-4 py-5 chat-box bg-white">
            <!-- Sender Message-->
            <div class="media w-50 mb-3"><img
                src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50"
                class="rounded-circle">
              <div class="media-body ml-3">
                <div class="bg-light rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-muted">Test</p>
                </div>
                <p class="small text-muted">12:00 PM | Aug 13</p>
              </div>
            </div>

            <!-- Reciever Message-->
            <div class="media w-50 ml-auto mb-3">
              <div class="media-body">
                <div class=" rounded py-2 px-3 mb-2" style="background: #ff6600;">
                  <p class="text-small mb-0 text-white">Test</p>
                </div>
                <p class="small text-muted">12:00 PM | Aug 13</p>
              </div>
            </div>

          </div>

          <!-- Typing area -->
          <form action="#" class="bg-light">
            <div class="input-group">
              <input type="text" placeholder="輸入訊息" aria-describedby="button-addon2"
                class="form-control rounded-0 border-0 py-4 bg-light">
              <div class="input-group-append">
                <button id="button-addon2" type="submit" class="btn btn-link"> <i
                    class="fa fa-paper-plane"></i></button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socket.js"></script>

<div class="right-content">
  {{> right-column}}
</div>