<div class="container-fluid">
  {{> left-content}}

  <div class="chatroom-content">
    <div class="welcome mt-2 mb-1"></div>

    <!--output-->
    <div class="chat-main">
      <div id="broadcast"></div>
      <div id="output"></div>
    </div>

    <!--input-->
    <div class="chat-footer">
      <form id="chat-form" action="">
        <input id="input" autocomplete="off" autofocus />
        <button>Send</button>
      </form>
    </div>

  </div>

  <div class="online-user-content">
  </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/javascript/socket.js"></script>