<div class="container-fluid">
  {{> left-content}}
  <div class="chatroom-content">

    <!--output-->
    <div class="chat-window">
      <ul id="output"></ul>
      <div id="feedback">
        (typing feedback)
      </div>
    </div>

    <!--input-->
    <div class="chat-footer">
      <form id="chat-form" action="">
        <input id="input" autocomplete="off" autofocus />
        <button>Send</button>
      </form>
    </div>

  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/javascripts/socket.js"></script>