<div class="row">

  <div class="col-md-3">
    {{!-- 左邊區域 --}}
    <img class="" style="margin-left:15px" width="40px"
      src="https://static.accupass.com/org/2008250550226683301600.jpg">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-dark  font-weight-bold" href="/tweets"><i class="fas fa-home"></i>
          首頁</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-weight-bold" href="/notification"><i class="far fa-bell"></i> 通知</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold active" style="color: #FF6600;" href="/chatroomPublic"><i
            class="far fa-envelope"></i>
          公開聊天室</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-weight-bold" href="/chatroomPrivate"><i class="far fa-envelope"></i>
          私人訊息</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-weight-bold" href="/user/self"><i class="fas fa-user"></i> 個人資料</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-weight-bold" href="/setting"><i class="far fa-sun"></i> 設定</a>
      </li>
    </ul>

    <button class="btn btn-block text-light" style="border-radius: 40px; background-color:#FF6600" href="#"
      data-toggle="modal" data-target="#exampleModal">推文</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="color:#FF6600;">&times;</span>
            </button>
          </div>
          <form action="/tweets" method="post">
            <div class="modal-body" style="height: 250px;">
              <div class="row" style="height: 100%;">
                <div class="col-md-2">
                  <img src={{user.avatar}} class="rounded-circle" style="width: 60px; height:60px;">
                </div>
                <div class="col-md-10">
                  <textarea name="description" id=""
                    style="min-height:225px; max-height:225px; width:100%; border:none;"
                    placeholder="有甚麼新鮮事?"></textarea>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" style="border-radius: 40px; background-color:#FF6600 ">推文
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>










    <div class="ml-3" style="position:fixed; bottom:0px; left: 20px;">
      <a class="text-dark font-weight-bold" style="border-radius: 40px; width:150px;" href="/logout"><i class="fas
              fa-sign-out-alt"></i> 登出</a>
    </div>

  </div>


  <div class="col-md-3 border">
    <div class="" style="height:99vh; background-color:blanchedalmond;">
      <p class="border p-2" style="margin: 0;">上線使用者 (5)</p>
      {{!-- 這邊要開始循環上線的使用者 --}}
      <p class="border p-2" style="margin:0px;">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
          style="width: 50px; height:50px; margin-right:10px;"><span>Apple1</span> <span>@apple1</span>
      </p>

      <p class="border p-2" style="margin:0px;">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
          style="width: 50px; height:50px; margin-right:10px;"><span>Apple2</span> <span>@apple2</span>
      </p>

      <p class="border p-2 " style="margin:0px;">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
          style="width: 50px; height:50px; margin-right:10px;"><span>Apple3</span> <span>@apple3</span>
      </p>

      <p class="border p-2" style="margin:0px;">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
          style="width: 50px; height:50px; margin-right:10px;"><span>Apple4</span> <span>@apple4</span>
      </p>

      <p class="border p-2" style="margin:0px;">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
          style="width: 50px; height:50px; margin-right:10px;"><span>Apple5</span> <span>@apple5</span>
      </p>
    </div>
  </div>
  {{!-- 留言區域 --}}
  <div class="col-md-6 border p-0">
    <div class="border" style="height:7vh;">
      <p class="p-2" style="margin: 0;">公開聊天室</p>
    </div>
    <div class="border" style="height:85vh; position:relative;">
      <div class="" style="position: absolute; bottom:20px; width:100%;">

        {{!-- 上下線通知 --}}
        <div class="text-center">
          <span style="width: 150px; border-radius:15px; background-color:#E5E5E5; padding: 5px;">Lettuce Lu
            上線</span>
        </div>

        {{!-- 收到其他使用者留言 --}}
        <div style="display:flex; align-items:center; margin-top:15px;">
          <p class=" p-2 text-start" style="margin:10px 0px 0px 0px;">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
              style="width: 50px; height:50px; margin-right:10px;">
          <div style="display: flex; flex-direction: column;">
            <span style="border; background-color:#E6ECF0; padding: 7px; border-radius:10px; color:#7F8285;">Hello
              你最近好嗎?</span>
            <span style="">下午4:21</span>
          </div>
          </p>
        </div>



        {{!-- 當前使用者留言 --}}

        <div class="p-2 text-right" style="margin:10px 0px 0px 0px;">
          <span style="border; background-color:#FF6600; padding: 7px; border-radius:10px; color:#FFF; width:200px; ">
            Hello 你最近好嗎?</span>
          <div style="margin-top:5px;">下午4:21</div>
        </div>

      </div>

    </div>

    {{!-- 送出留言區域 --}}
    <div class="p-2" style="height:4vh;">
      <div style="display: flex;justify-content: space-between; align-items: center;">
        <div class="border" style="width:90%">留言區域</div>
        <div class="text-center" style="width:10%">
          <i class="fab fa-telegram-plane"></i>
        </div>
      </div>

    </div>
  </div>

</div>
</div>