<div class="col-4   sticky-top">
  <div id="online-user-list" class="sticky-top">
    <p class="fw-bolder border-bottom p-1 m-0">上線使用者 (5)</p>
    <div class="d-flex align-items-center border-bottom p-2" id="online-user">
      <img src="https://loremflickr.com/50/50/headshot" style="width: 50px;height:50px;" class="rounded-circle m-1">
      <p class="m-0">name</p>
      <p class="m-0 user-link">&nbsp;@account</p>
    </div>
    <div class="d-flex align-items-center border-bottom p-2" id="online-user">
      <img src="https://loremflickr.com/50/50/headshot" style="width: 50px;height:50px;" class="rounded-circle m-1">
      <p class="m-0">name</p>
      <p class="m-0 user-link">&nbsp;@account</p>
    </div>
    <div class="d-flex align-items-center border-bottom p-2" id="online-user">
      <img src="https://loremflickr.com/50/50/headshot" style="width: 50px;height:50px;" class="rounded-circle m-1">
      <p class="m-0">name</p>
      <p class="m-0 user-link">&nbsp;@account</p>
    </div>
    <div class="d-flex align-items-center border-bottom p-2" id="online-user">
      <img src="https://loremflickr.com/50/50/headshot" style="width: 50px;height:50px;" class="rounded-circle m-1">
      <p class="m-0">name</p>
      <p class="m-0 user-link">&nbsp;@account</p>
    </div>
    <div class="d-flex align-items-center border-bottom p-2" id="online-user">
      <img src="https://loremflickr.com/50/50/headshot" style="width: 50px;height:50px;" class="rounded-circle m-1">
      <p class="m-0">name</p>
      <p class="m-0 user-link">&nbsp;@account</p>
    </div>
  </div>
</div>
<div class="col-8 border-start border-end d-flex flex-column">
  <p class="fw-bolder border-bottom p-1 m-0 sticky-top" style="background-color:white">公開聊天室</p>
  <div id="messages">
    <div id="record" class="flex-fill d-flex flex-column justify-content-end">
      <div id="others-message">
        <div>
          <img src="https://loremflickr.com/50/50/headshot" style="width: 40px;height:40px;" class="rounded-circle m-1">
          <p>somebody say hi~～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～</p>
        </div>
        <p>下午 4:21</p>
      </div>
      <div id="others-message">
        <div>
          <img src="https://loremflickr.com/50/50/headshot" style="width: 40px;height:40px;" class="rounded-circle m-1">
          <p>somebody say hi~～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～</p>
        </div>
        <p>下午 4:21</p>
      </div>
      <div id="others-message">
        <div>
          <img src="https://loremflickr.com/50/50/headshot" style="width: 40px;height:40px;" class="rounded-circle m-1">
          <p>somebody say hi~～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～</p>
        </div>
        <p>下午 4:21</p>
      </div>
      <div id="others-message">
        <div>
          <img src="https://loremflickr.com/50/50/headshot" style="width: 40px;height:40px;" class="rounded-circle m-1">
          <p>somebody say hi~～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～</p>
        </div>
        <p>下午 4:21</p>
      </div>
      <div id="others-message">
        <div>
          <img src="https://loremflickr.com/50/50/headshot" style="width: 40px;height:40px;" class="rounded-circle m-1">
          <p>somebody say hi~～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～</p>
        </div>
        <p>下午 4:21</p>
      </div>
      <div id="others-message">
        <div>
          <img src="https://loremflickr.com/50/50/headshot" style="width: 40px;height:40px;" class="rounded-circle m-1">
          <p>somebody say hi~～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～</p>
        </div>
        <p>下午 4:21</p>
      </div>
      <div id="others-message">
        <div>
          <img src="https://loremflickr.com/50/50/headshot" style="width: 40px;height:40px;" class="rounded-circle m-1">
          <p>somebody say hi~～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～</p>
        </div>
        <p>下午 4:21</p>
      </div>
    </div>
    <div id="broadcast">
      <div id="access-record">
        <p>name1 上線</p>
      </div>
      <div id="access-record">
        <p>name2 上線</p>
      </div>
      <div id="access-record">
        <p>name3 上線</p>
      </div>
      <div id="others-message">
        <div>
          <img src="https://loremflickr.com/50/50/headshot" style="width: 40px;height:40px;" class="rounded-circle m-1">
          <p>somebody say hi~</p>
        </div>
        <p>下午 4:21</p>
      </div>
      <div id="my-message">
        <div>
          <p>i say hi~</p>
          <img src="https://loremflickr.com/50/50/headshot" style="width: 40px;height:40px;" class="rounded-circle m-1">
        </div>
        <p>下午 4:21</p>
      </div>
    </div>
  </div>
  <div id="message-box" class="border-top">
    <form action="">
      <input type="text" autocomplete="off">
      <button type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
          <path
            d="M4.01 6.03l7.51 3.22-7.52-1 .01-2.22m7.5 8.72L4 17.97v-2.22l7.51-1M2.01 3L2 10l15 2-15 2 .01 7L23 12 2.01 3z" />
        </svg>
      </button>
    </form>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chatAll.js"></script>