<div>
  <h5>{{user.name}} 的公開聊天室</h5>
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chatAll.js"></script>