<div class="container">
  <form action="/tweets" method="POST">

    <a href="/index">X</a>
    <div class="form-group mt-5">
      <label for="tweet">寫篇新推文吧</label>
      <hr />
      <input type="text" class="form-control" max="140" name="tweet" id="tweet" placeholder="有什麼新鮮事?">
    </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-primary">推文</button>
  </div>

  </form>
</div>
