<div class="row">
  <div class="mx-auto">
    <form class="form-edit" action="/users/{{user.id}}?_method=PUT" method="POST" style="width: 540px;">
      <div class="text-center">
        <h1>帳戶設定</h1>
      </div>
      <div class="form-group">
        <label for="account">帳號</label>
        <input type="text" class="form-control" name="account" id="account" value="{{user.account}}" required>
      </div>
      <div class="form-group">
        <label for="name">名稱</label>
        <input type="text" class="form-control" name="name" id="name" maxlength="50" value="{{user.name}}" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" value="{{user.email}}" required>
      </div>
      <div class="form-group">
        <label for="password">密碼</label>
        <input type="password" class="form-control" name="password" id="password" required>
      </div>
      <div class="form-group">
        <label for="checkPassword">密碼確認</label>
        <input type="password" class="form-control" name="checkPassword" id="checkPassword" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">儲存</button>
    </form>
  </div>
</div>