<div class="container">
  <div class="bg-info">
    Simple Twitter
  </div>
  <br><br><br>
  <form action="/example" method="post">
    example
    <button type="submit">submit</button>
  </form>

  {{> messages}}