{{!-- following --}}

{{!--
(.user-following>(.user-following-group>(.user-following-group-block>(img.user-avatar+p.user-name)+().user-following-group-block>a.user-following-btn))+(.user-following-group>p.user-info))
--}}

<div class="user-following">
  <div class="user-following-group">
    <div class="user-following-group-block">
      <img src="" alt="" class="user-avatar">
      <p class="user-name"></p>
      <div class="user-following-group-block"><a href="" class="user-following-btn"></a></div>
    </div>
  </div>
  <div class="user-following-group">
    <p class="user-info"></p>
  </div>
</div>