<div class="col-md-6 px-3 border-left border-right">
  <div class="row ml-3 align-items-center">
    <i class="fas fa-arrow-left fa-lg"></i>
    <div class="ml-5">
      <h4 class="m-0 font-weight-bold">user1111111111111111</h4>
      <p class="m-0">25推文</p>
    </div>
  </div>
  <br>
  <div class="row border-bottom">
    <h5 class="m-0 px-4 py-3 font-weight-bold" style="color:orange;border-bottom:2px solid orange;">跟隨者</h5>
    <h5 class="m-0 px-4 py-3 font-weight-bold">正在跟隨</h5>
  </div>

  <div class="row border-bottom">
    <div class="avatar col-2 mt-3">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/cloudstudio/128.jpg" alt="avatar"
        class="border rounded-circle" style="max-width: 90%">
    </div>
    <div class="col mt-3">
      <div class="font-weight-bold">user2</div>
      <div style="color:gray">@user2</div>
      <p style="word-break:break-all; word-wrap:break-all;">
        waeo;ifrnwea;otfhngweao;ftjaw;oijtf;owajfwesfweou;hrfwaol;efhwiolwo;aifjroigjhew49roi7hgol</p>
    </div>
    <form action="" method="POST">
      <button type="submit" class="btn btn-info mt-2 mr-2">正在跟隨</button>
    </form>
  </div>

  <div class="row border-bottom">
    <div class="avatar col-2 mt-3">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/cloudstudio/128.jpg" alt="avatar"
        class="border rounded-circle" style="max-width: 90%">
    </div>
    <div class="col mt-3">
      <div class="font-weight-bold">user2</div>
      <div style="color:gray">@user2</div>
      <p style="word-break:break-all; word-wrap:break-all;">
        waeo;ifrnwea;otfhngweao;ftjaw;oijtf;owajfwesfweou;hrfwaol;efhwiolwo;aifjroigjhew49roi7hgol</p>
    </div>
    <form action="" method="POST">
      <button type="submit" class="btn btn-info mt-2 mr-2">正在跟隨</button>
    </form>
  </div>

  <div class="row border-bottom">
    <div class="avatar col-2 mt-3">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/cloudstudio/128.jpg" alt="avatar"
        class="border rounded-circle" style="max-width: 90%">
    </div>
    <div class="col mt-3">
      <div class="font-weight-bold">user2</div>
      <div style="color:gray">@user2</div>
      <p style="word-break:break-all; word-wrap:break-all;">
        waeo;ifrnwea;otfhngweao;ftjaw;oijtf;owajfwesfweou;hrfwaol;efhwiolwo;aifjroigjhew49roi7hgol</p>
    </div>
    <form action="" method="POST">
      <button type="submit" class="btn btn-outline-info mt-2 mr-2">跟隨</button>
    </form>
  </div>

  <div class="row border-bottom">
    <div class="avatar col-2 mt-3">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/cloudstudio/128.jpg" alt="avatar"
        class="border rounded-circle" style="max-width: 90%">
    </div>
    <div class="col mt-3">
      <div class="font-weight-bold">user2</div>
      <div style="color:gray">@user2</div>
      <p style="word-break:break-all; word-wrap:break-all;">
        waeo;ifrnwea;otfhngweao;ftjaw;oijtf;owajfwesfweou;hrfwaol;efhwiolwo;aifjroigjhew49roi7hgol</p>
    </div>
    <form action="" method="POST">
      <button type="submit" class="btn btn-outline-info mt-2 mr-2">跟隨</button>
    </form>
  </div>

</div>