<div class='container'>
  <div class="row">
    <div class='col-2 left-column'>
      {{> leftColumn}}
    </div>
    <div class='col-7 border middle-column p-0'>
      {{!-- {{> middleColumn}} --}}
      <div class='userHeader p-2' style='border: 1px solid blue;'>
        <i class="fa-solid fa-arrow-left"></i>
        <span class="user-name">{{queryUser.name}}</span>
        <span class="user-tweets">{{queryUser.Tweets.length}} 推文</span>
      </div>
      {{> followship-tabs}}
      {{> followship-tab-contents}}
    </div>
    <div class='col-3 right-column'>
      {{> rightColumn}}
    </div>
  </div>
</div>