<div class="row">
  <div class="col-3" style="width: 350px;">
    {{> left-column}}
  </div>
  {{> message}}
  <div class="center-section col-6">
    <div class="follower-header">
      <div class="title-user-name text-left font-weight-bold mt-1 py-3 pl-2"
        style="font-size: 18px;line-height: 26px;color: #1C1C1C;border: #E6ECF0 1px solid;"> <a
          onclick="history.back()"><i class="fas fa-arrow-left ml-1 mr-4"></i>{{user.name}}</a>
        <div class="title-user-tweets ml-5 " style="font-weight: 500;
font-size: 13px;color: #657786;">25 推文
        </div>
      </div>
    </div>
    <div class="follow-feeds">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " href="/users/follower/:{{user.id}}" style="text-decoration: none;">跟隨者</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/users/following/:{{user.id}}" style="text-decoration: none;">正在跟隨</a>
        </li>
      </ul>
    </div>
    <div class="followers">{{> followship}}</div>
    <div class="col-2" style="width: 350px;">
      {{> right-column}}
    </div>
  </div>