<div class="container">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col-6">
      <div class="tab-above">
        <a href="javascript:history.back()"><img src="/images/basic/back  black.png" alt=""></a>
        <span class="personal-name">John Doe</span>
        <p>25 推文</p>
      </div>
      <div class="tab_css">
        <input id="followers" type="radio" name="tab" checked="checked">
        <label for="followers">追隨者</label>
        <div class="tab_content">
          <div class="card-body tweets">
            <img src="/images/icon/User Photo.png" alt="">
            <span class="card-title tweets-name">user.name</span>
            <span class="tweets-account"> @user.account ．Day.js</span>
            <p class="card-text">
              >>>>user.tweet Some quick example text to
              build on the card title and make up the bulk of the card's content.Some quick example text to
              build on the card title and make up the bulk of the card's content.
            </p>
            <div class="tweets-icons">
              <a><img src="/images/basic/reply white.png">user.reply</a>
              <a><img src="/images/basic/like white.png">user.like</a>
            </div>
          </div>
        </div>
        <input id="followings" type="radio" name="tab">
        <label for="followings">正在追蹤</label>
        <div class="tab_content">
          <div class="card-body tweets">
            <img src="/images/icon/User Photo.png" alt="">
            <span class="card-title tweets-name">user.name</span>
            <span class="tweets-account"> @user.account ．Day.js</span>
            <p class="card-text">
              >>>>user.tweet Some quick example text to
              build on the card title and make up the bulk of the card's content.
            </p>
            <div class="tweets-icons">
              <a><img src="/images/basic/reply white.png">user.reply</a>
              <a><img src="/images/basic/like white.png">user.like</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>