<div class="row justify-content-center">
  <div class="col">
    {{>columnLeft}}
  </div>

  <div class="profile-container">
    <div class="mainpost-nav">
      <div class="row justify-content-start">
        <div class="col1"><i class="bi bi-arrow-left nav-bold"></i></div>
        <div class="col2">
          <p class="nav-bold">Ilia</p><small>25推文</small>
        </div>
      </div>
    </div>
    <ul class="nav followship-tags">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">跟隨者</a></li>
        <li class="nav-item"><a class="nav-link" href="#">正在跟隨</a></li>
      </ul>
    <div class="col flex-direction-column">
      <!--start::跟隨者-->
      <div class="col-12 flex-direction-column">
        <div class="post">
          <div class="post-card1">
            <div class="avatar profile-avatar"><img
                src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg"
                alt="avatar-img" /></div>
          </div>
          <div class="post-card2">
            
            <form class="ms-auto" action="?_method=POST" method="POST">
              <button type="submit" class="btn-outline-orange btn-short upper-right">跟隨</button>
            </form>
            <!--正在跟隨按鈕
            <form class="ms-auto" action="?_method=DELETE" method="POST">
              <button type="submit" class="btn-orange btn-short upper-right">正在跟隨</button>
            </form>-->
            <h5 class="d-inline-block profile-nav-header post-title">Post Title&nbsp;<span class="post-sub-info">@Apple
                &#x2027; 5minutes</span></h5>
            <p>Lorem ipsum dolor sit, amet consecores quam adipisci nulla veniam id sed modi consequatur, voluptatibus nesciunt.
          </div>
        </div>
      </div>
      <!--start::跟隨者-->
      <!--start::正在跟隨-->
      <div class="col-12 flex-direction-column">
        <div class="post">
          <div class="post-card1">
            <div class="avatar profile-avatar"><img
                src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg"
                alt="avatar-img" /></div>
          </div>
          <div class="post-card2">
            <form class="ms-auto" action="?_method=DELETE" method="POST">
              <button type="submit" class="btn-orange btn-short upper-right">正在跟隨</button>
            </form>
            <h5 class="d-inline-block profile-nav-header post-title">Post Title&nbsp;<span class="post-sub-info">@Apple
                &#x2027; 5minutes</span></h5>
            <p>Tsectetur adipisicing elit. Dolorem dolores quam adipisci nulla veniam id sed modi consequatur, vociunt.
          </div>
        </div>
      </div>
      <!--end::正在跟隨-->
    </div>
  </div>

  <div class="col">
    {{>columnRight}}
  </div>
</div>