<div class="wrapper border-top-0">
  <h4 class="header my-4 ms-4">首頁</h4>
  <hr>
  <form action="" class="post-window mx-4 my-3">
    <img src="{{user.avatar}}" width="50" height="50" alt="">
   
      <input  type="text" placeholder="有什麼新鮮事">
      <button type="submit" class="ms-auto"  >推文</button>
  </form>
  <hr size="10px">





  {{>tweet}}
</div>