<div class="wrapper">
  <div class="row">
    <!--左邊載入 -->
    {{>leftColumn}}

    <!--Middle side-->
    <div class="col-8 col-md-5" id="mainSectionContainer">

    </div>
    <!--Right side -->
    {{>rightColumn}}
  </div>
</div>