<div class="home-wrapper border-top-0 pt-4">
  <h4 class="header ms-4">首頁</h4>
  <hr>
  <form action="/tweets" method="POST"  class="post-window mx-4 my-3">
    <img src="{{user.avatar}}" width="50" height="50" alt="">
   
      <input  type="text" placeholder="有什麼新鮮事">
      <button type="submit" class="ms-auto"  >推文</button>
  </form>
  <hr size="10px">





  {{>tweet}}
</div>