<div class="row w-100">
  <div class="col-1"></div>
  <div class="col-10">
    <button class="btn btn-primary" data-toggle="modal" data-target="#createTweet">推文</button>
    {{#each tweets}}
    <div class="card" style="">
      <div class="row no-gutters">
        <div class="col-md-1">
          <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-11">
          <div class="card-body">
            <h5 class="card-title" style="display:inline-block">{{this.User.name}}</h5>
            <small class="text-muted ml-3">Last updated 3 mins ago</small>
            <p class="card-text">{{this.description}}</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="col-1"></div>
</div>