<div class="col-2 nav-left">
  {{> nav-left}}
</div>
<div class="col-8 nav-body">
  <ul class="list-group"  class="me-3">
    <li class="list-group-item d-flex align-items-start" >
      <img src="images/img.png" alt="" style="width: 50px;" class="me-3">

      <div>
        <p>Apple <span class="text-muted">@apple・3 小時</span></p>
        <p>Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
          Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.<small>This line of text is
            meant to be treated as fine print.</small></p>
        <p>
          <i class="fa-solid fa-comment me-2"></i>
          13
          <i class="fa-solid fa-heart ms-4 me-2"></i>
          76
        </p>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-start" >
      <img src="images/img.png" alt="" style="width: 50px;" class="me-3">

      <div>
        <p>Apple @apple・3 小時</p>
        <p>Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
          Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.</p>
        <p>
          <i class="fa-solid fa-comment me-2"></i>
          13
          <i class="fa-solid fa-heart ms-4 me-2"></i>
          76
        </p>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-start" >
      <img src="images/img.png" alt="" style="width: 50px;" class="me-3">

      <div>
        <p>Apple</p><small>@apple・3 小時</small>
        <p>Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
          Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.</p>
        <p>
          <i class="fa-solid fa-comment me-2"></i>
          13
          <i class="fa-solid fa-heart ms-4 me-2"></i>
          76
        </p>
      </div>
    </li>
  </ul>
</div>
<div class="col-2 nav-right">
  {{> nav-right}}
</div>