<link rel="stylesheet" href="/stylesheets/showPage.css">

{{!-- 包一層div讓內部有依據照比例縮 --}}
<div class="wrap d-flex">
  <div class="row col-md-12  justify-content-center" style="margin:0">
    {{!-- 左側欄位 --}}
    <div class="left-side col-md-3">
      <div class="setting-logo">
        <img
          src="https://media.cakeresume.com/image/upload/s--yvVYN9sa--/c_pad,fl_png8,h_200,w_200/v1548316744/ribjsyna9cm9tm4pkv63.png"
          alt="" style="width: 30px;height: 30px;">
      </div>

      <div>
        <ul class="list-group mr-5">

          <li class="list-group-item active " style="background-color: white; color:#FF6600">
            <a href=""></a>
            <div class="d-flex justify-content-space-between"><i class="fas fa-home mr-4"></i>首頁</div>
            </a>
          </li>


          <a href="">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas fa-user mr-4"></i>個人資料</div>
            </li>
          </a>

          <a href="/setting/{{user.id}}">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas fa-cog mr-4"></i>設定</div>
            </li>
          </a>
        </ul>
        <button type="submit" class="tweet-button">推文</button>
        <a href="">
          <div class="logout-button">
            <i class="fas fa-arrow-alt-circle-left"></i>
            登出
          </div>
        </a>
      </div>
    </div>

    <div class="headerDivider"></div>
    {{!-- 中間主欄位 --}}
    <div class="middle-side col-md-5" style="padding:0; height:100%;">
      <div class="text-title ml-4 mt-3">首頁</div>

      <hr style="margin:0; padding:0">

      <div class="add-post d-flex" style="margin:0; padding:0">
        <div class="mt-2 ml-2">
          <img class="user-pic"
            src="https://lh3.googleusercontent.com/proxy/DJ0Cdy5jSI5lJEzSa0TCAXIZA5tt2jRlchLHCCQwH2zrAYOVTndf8OvyK9nKn21r8RGcZ-9vkapH0955Nqg62_bL9IT7f_jOONoNO0Dh3uLko9vREyXHEJjA9-Zz_Put762In8mvUl9Ij5k1SQ_kDH6reHQM6cP1MkCNj7MfL9boI4rzqA"
            alt="">
        </div>

        <div class="type-location mt-2 ml-2 mb-2">
          <input type="text" class="post-content" placeholder="有什麼新鮮事？">
        </div>
      </div>
      <div class="send-area">
        <button type="submit" class="send-button">推文</button>
      </div>

      <hr style="border: 10px solid #E6ECF0; margin-top:0">

      {{!-- TODO:待完成格式 --}}
      {{!-- 貼文 --}}
      <div class="add-post d-flex" style="margin:0; padding:0">
        <div class="mt-2 ml-2">
          <img class="user-pic" src="" alt="404">
        </div>

        <div>
          <div class="account-info d-flex">
            <div>使用者名稱</div>
            <div>@帳號名稱．時間</div>
          </div>
          <div class="content">
            貼文內容
          </div>

          <div class="reply-like d-flex">
            <div>留言數</div>
            <div>讚數</div>
          </div>

        </div>
        <hr />

      </div>



    </div>

    <div class="headerDivider"></div>
    {{!-- 右側欄位 --}}
    <div class="right-side col-md-3" style="padding:auto">


      <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>

    </div>



  </div>
</div>