<<<<<<< HEAD
=======
<div class="d-flex justify-content-center">
  {{!-- navbar --}}
  {{> navbar}}

  {{!--tweet-list --}}
  <div class="col-7 home-page">
    <ul class="list-group home-list">
      {{!-- <li class="list-group-item home-title p-4">
        <h4>首頁</h4>
      </li> --}}

      

    </ul>
  </div>

  {{!-- recommend-followings --}}
  {{> recommend-followings}}

</div>
>>>>>>> 0ace8a6965f104994337d35680fb6122ebfa3747
