<div class="col-2 nav-left">
  {{> nav-left}}
</div>
<div class="col-8 nav-body">
  <ul class="list-group me-3" id="tweets-panel">
    <li class="list-group-item d-flex align-items-start">
      <img src="images/img.png" alt="" style="width: 50px;" class="me-3">

      <div>
        <p>Apple <span class="text-muted">@apple・3 小時</span></p>
        <p>Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
          Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.<small>This line of text is
            meant to be treated as fine print.</small></p>
        <p>
          <i class="fa-solid fa-comment me-2 pointer" data-bs-toggle="modal" data-bs-target="#post-reply"></i>
          13
          <i class="fa-solid fa-heart ms-4 me-2"></i>
          76
        </p>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-start">
      <img src="images/img.png" alt="" style="width: 50px;" class="me-3">

      <div>
        <p>Apple @apple・3 小時</p>
        <p>Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
          Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.</p>
        <p>
          <i class="fa-solid fa-comment me-2 pointer" data-bs-toggle="modal" data-bs-target="#post-reply"></i>
          13
          <i class="fa-solid fa-heart ms-4 me-2"></i>
          76
        </p>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-start">
      <img src="images/img.png" alt="" style="width: 50px;" class="me-3">

      <div>
        <p>Apple<small>@apple・3 小時</small></p>
        <p>Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
          Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.</p>
        <p>
          <i class="fa-solid fa-comment me-2 pointer" data-bs-toggle="modal" data-bs-target="#post-reply"></i>
          13
          <i class="fa-solid fa-heart ms-4 me-2"></i>
          76
        </p>
      </div>
    </li>
  </ul>
</div>
<div class="col-2 nav-right">
  {{> nav-right}}
</div>

<div class="modal fade" id="post-reply" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close p-1 m-1" data-bs-dismiss="modal" aria-label="Close"
          style="background: rgba(var(--bs-white-rgb),var(--bs-bg-opacity));">
          <i class="fa-solid fa-xmark icon-size brand-color"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex mb-1" id="madol-tweet">
          <div class="me-3">
            <img src="./avatar.png" alt="" style="width: 50px;" id="modal-avatar">
            <div class="vertical-line mt-2 mx-auto" style="height: 86px;"></div>
          </div>
          <div>
            <div id="modal-content">
              ...
            </div>
            <small class="text-secondary">
              回覆給&nbsp;&nbsp;<a href="/users/{{this.User.id}}" class="brand-color">@apple</a>
            </small>
          </div>
        </div>
        <div class="d-flex">
          <div class="rounded-circle me-3">
            <img src="images/img.png" alt="" style="width: 50px;">
          </div>
          <div class="flex-fill text-end mt-3">
            <form href="/tweets" action="POST" class="needs-validation" novalidate>
              <textarea class="border border-0 form-control p-0 mb-2" id="tweet" name="tweet" maxlength="140"
                placeholder="有什麼新鮮事？" rows="5" required></textarea>
              <div class="invalid-feedback me-1" style="display: inline;">
                內容不可空白
              </div>
              <button type="submit" class="btn btn-brand radius50 ms-3">回覆</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const panel = document.querySelector("#tweets-panel")
  const content = document.querySelector("#modal-content")

  panel.addEventListener("click", event => {
    content.innerHTML = ''
    const tweet = event.target.parentElement.parentElement.parentElement
    document.querySelector("#modal-avatar").src = tweet.children[0].src
    const modalContent = tweet.children[1].children[0].cloneNode(true)
    modalContent.classList.add("mb-2")
    const modalUser = tweet.children[1].children[1].cloneNode(true)
    modalUser.classList.add("mb-1")
    document.querySelector("#tweet-link").href = "/tweets/{{tweet.id}}"

    content.prepend(modalUser)
    content.prepend(modalContent)

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  })
</script>