<div class="row justify-content-center">
  <div class="col">
    {{>leftColumn}}
  </div>
  
  <div class="modal fade" id="exampleModel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="modal-body">
        <div class="profile-container">
                <div class="profile-messageboard">
      <div class="profile-avatar-container">
         <div class="avatar profile-avatar">
          <img src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg" alt="avatar-img">
        </div>
      </div>

      <div class="profile-textarea-container">
        <textarea name="profile-textarea" class="form-control form-control-lg" id="post" placeholder="有什麼新鮮事?" rows="3"></textarea>
      </div>
      <div class="btn btn-twitter" id="myInput" data-bs-toggle="modal" data-bs-target="#exampleModel"><span>推文</span></div>
    </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="profile-container">
    <div class="profile-nav"><h3>首頁</h3></div>
    <div class="profile-messageboard">
      <div class="profile-avatar-container">
         <div class="avatar profile-avatar">
          <img src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg" alt="avatar-img">
        </div>
      </div>

      <div class="profile-textarea-container">
        <textarea name="profile-textarea" class="form-control form-control-lg" id="post" placeholder="有什麼新鮮事?" rows="3"></textarea>
      </div>
      <div class="btn btn-twitter" id="myInput" data-bs-toggle="modal" data-bs-target="#exampleModel"><span>推文</span></div>
    </div>
    <div class="posts-container">
    
      <div class="post">
            <div class="post-card1">
         <div class="avatar profile-avatar">
          <img src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg" alt="avatar-img">
        </div>
      </div>
            <div class="post-card2">
          <h5 class="d-inline-block">Post Title&nbsp;<span class="post-sub-info">@Apple ‧ 5minutes</span></h5>   
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="post-sub-info"><span class="post-icon-block"><i class="bi bi-chat"></i>75</span><span class="post-icon-block"><i class="bi bi-heart"></i>15</span></p>              
      </div>
      </div>
      <div class="post">
            <div class="post-card1">
         <div class="avatar profile-avatar">
          <img src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg" alt="avatar-img">
        </div>
      </div>
            <div class="post-card2">
          <h5 class="d-inline-block">Post Title&nbsp;<span class="post-sub-info">@Apple ‧ 5minutes</span></h5>   
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="post-sub-info"><span class="post-icon-block"><i class="bi bi-chat"></i>75</span><span class="post-icon-block"><i class="bi bi-heart"></i>15</span></p>              
      </div>
      </div>
      <div class="post">
            <div class="post-card1">
         <div class="avatar profile-avatar">
          <img src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg" alt="avatar-img">
        </div>
      </div>
            <div class="post-card2">
          <h5 class="d-inline-block">Post Title&nbsp;<span class="post-sub-info">@Apple ‧ 5minutes</span></h5>   
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="post-sub-info"><span class="post-icon-block"><i class="bi bi-chat"></i>75</span><span class="post-icon-block"><i class="bi bi-heart"></i>15</span></p>              
      </div>
      </div>
      <div class="post">
            <div class="post-card1">
         <div class="avatar profile-avatar">
          <img src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg" alt="avatar-img">
        </div>
      </div>
            <div class="post-card2">
          <h5>Post Title&nbsp;<span class="post-sub-info">@Apple ‧ 5minutes</span></h5>   
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="post-sub-info"><span class="post-icon-block"><i class="bi bi-chat"></i>75</span><span class="post-icon-block"><i class="bi bi-heart"></i>15</span></p>              
      </div>
      </div>
     <div class="post">
            <div class="post-card1">
         <div class="avatar profile-avatar">
          <img src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg" alt="avatar-img">
        </div>
      </div>
            <div class="post-card2">
          <h5>Post Title&nbsp;<span class="post-sub-info">@Apple ‧ 5minutes</span></h5>   
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="post-sub-info"><span class="post-icon-block"><i class="bi bi-chat"></i>75</span><span class="post-icon-block"><i class="bi bi-heart"></i>15</span></p>              
      </div>
     </div>
   
  </div>
</div>

  <div class="col">
    {{>rightColumn}}
  </div>
</div>