<div class="d-flex justify-content-center">
  {{!-- navbar --}}
  {{> navbar}}
  {{!--tweet-list --}}
  <div class="col-7 home-page">
    <ul class="list-group">
      <li class="list-group-item tweet-list p-4">
        <h4 class="m-0">首頁</h4>

        <h1>HI</h1>

      </li>
    </ul>
  </div>
  {{!-- recommend-followings --}}
  {{> recommend-followings}}
</div>
