<div class="d-flex justify-content-center">
  {{!-- navbar --}}
  {{> navbar}}

  {{!--tweet-list --}}
  <div class="col-7 home-page">
    <ul class="list-group home-list">
      

      
    </ul>
  </div>

  {{!-- recommend-followings --}}
  {{> recommend-followings}}

</div>
