<form class="form-login" action="/login" method="POST" style="width: 100%;">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">登入Alphitter</h1>
  </div>
  <div class="form-label-group">
    <label for="inputAccount">帳號</label>
    <input type="text" name="account" class="form-control" required autofocus>
  </div>
  <div class="form-label-group">
    <label for="inputPassword">密碼</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <br />
  <button class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
  <div class="text-center mb-4">
    <p><a href="/register">註冊</a></p>
  </div>
</form>
