<link rel="stylesheet" href="/stylesheets/showPage.css">

{{!-- 包一層div讓內部有依據照比例縮 --}}
<div class="wrap">

  <div class="logo">
    <img
      src="https://media.cakeresume.com/image/upload/s--yvVYN9sa--/c_pad,fl_png8,h_200,w_200/v1548316744/ribjsyna9cm9tm4pkv63.png"
      alt="" style="width: 40px;height: 40px;">
  </div>

  <div class="sign-title">
    登入Alphitter
  </div>

  <div class="register-from">
    <div>
      <input type="text" class="form-control" placeholder="帳號" aria-label="account">
    </div>
    <div>
      <input type="text" class="form-control" placeholder="密碼" aria-label="password">
    </div>
  </div>

  <div class="text-align-center mt-5">
    <button type="submit" class="sign-button">登入</button>
  </div>

  <div class="text-link" style="margin-left: 54%;">
    <a href="/register" style="text-decoration:underline;">註冊Alphitter</a>
    <a href="">．</a>
    <a href="" style="text-decoration:underline;">後臺登入</a>

  </div>

</div>