<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-4 ">

      <div class="mb-4 text-center">
        <h1 class="h3 font-weight-normal mb-3 fw-bold">登入 Alphitter</h1>
      </div>
      <form class="form-login" action="/login" method="POST">
        <div class="form-row mb-3">
          <label class="form-label" for="account">帳號</label>
          <input class="form-control" id="account" type="text" name="account" class="form-control" placeholder="請輸入帳號"
            required autofocus>
        </div>
        <div class="form-row mb-3">
          <label class="form-label" for="password">密碼</label>
          <input class="form-control" id="password" type="password" name="password" class="form-control"
            placeholder="請輸入密碼" required>
        </div>
        <div class="d-grid gap-2">
          <button style="background-color:orangered; border-color: white"class="btn btn-primary btn-block" type="submit">登入</button>
        </div>
      </form>
      <div class="mb-4 text-end my-3">
        <a href="/regist">註冊</a>  •  <a href="/admin">後台登入</a>
      </div>

    </div>
  </div>
</div>