
<div class="d-flex flex-column align-items-center">
  <form class="form-signin mt-4 col-5" action="/login" method="POST">
    <br>
    <br>
    <div class="text-center">
      <h1 class="h3 mb-3 font-weight-bold">Twitter 衝一波</h1>
    </div>
    <div class="form-label-group">
      <label for="inputEmail">Email</label>
      <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
    </div>
    <div class="form-label-group">
      <label for="inputPassword">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <br />
    <button class="btn btn-lg btn-danger btn-block rounded-pill" type="submit">Submit</button>
    
      <div class="d-flex justify-content-end mt-2">
        <a class="mt-2 h5" href="/signup">註冊</a>
        <p class="mt-2 h5">・</p>
        <a class="mt-2 h5" href="/admin/login">後台登入</a>
      </div>
  </form>
</div>