<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <div class="col mb-5 text-center">
        <img style="width: 50px; height: 50px" src="https://i.imgur.com/yqet9K2.png" alt="AlphaCamp">
        <h1 class="text-center mt-3">登入Alphitter</h1>
      </div>
      <p><a href="/signin">Account Login</a> | <a class="inline" href="/signin/email">Email Login</a></p>
      {{#if params}}
        <form action="/signin/email" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter email">
          </div>
      {{else}}
        <form action="/signin" method="POST">
          <div class="form-group">
            <label for="account">Account</label>
            <input type="text" id="account" name="account" class="form-control" placeholder="Enter account" value="user1"
          </div>
      {{/if}}
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" value="12345678">
      </div>
      <button type="submit" class="btn btn-block"
        style="border-radius: 18px; background: coral; color:white">登入</button>
      {{!-- <a href="/auth/facebook" class="btn btn-info btn-block">Facebook</a> --}}
      </form>
      <p class="lead mt-4 text-right">
        <a href="/signup" style="font-size: 14px; font-weight: bold; "> <u>註冊Alphitter</u></a>
        <a href="/admin/signin" style="font-size: 14px; font-weight: bold"><u>後台登入</u></a>
      </p>
    </div>
  </div>
</div>