<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/tweets">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user/self">個人資料</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/setting">設定</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user/other/{{ this.UserId }}">貼文</a>
  </li>
</ul>
<br />