<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      {{> navigationBar}}
    </div>
    <div class="col-7">
      {{!-- 分頁列 --}}
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link custom-tab custom-tab-active" href="/users/{{ userId }}/tweets">推文</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-tab" href="/users/{{ userId }}/replies">推文與回覆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-tab" href="/users/{{ userId }}/likes">喜歡的內容</a>
        </li>
      </ul>
    </div>
    <div class="col-3">
      {{> topUser}}
    </div>
  </div>
</div>