<div class="row justify-content-center">
  <div class="col">
    {{>leftColumn}}
  </div>

  <div class="profile-container">
    <div class="mainpost-nav">
      <div class="row justify-content-start">
        <div class="col1"><i class="bi bi-arrow-left nav-bold"></i></div>
        <div class="col2">
          <p class="nav-bold">Ilia</p><small>25推文</small>
        </div>
      </div>
    </div>
    <div class="personalpage-wrapper d-f flex-column">
      <div class="personalpage-banner"><img src="https://i.ytimg.com/vi/w_8ddLqNTuo/maxresdefault.jpg" />
        <div class="personalpage-card1">
          <div class="avatar personalpage-avatar"><img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT5cCP8TaZvRFktb9AaXmCsShcNhbzXxJtBw&amp;usqp=CAU"
              alt="avatar-img" /></div>
        </div>
      </div>
      <div class="mainpost-messageboard">
        <div class="personalpage-card2">
          <h5 class="d-inline-block post-title">Illyasviel von Einzbern&nbsp;<br /><span
              class="post-sub-info mainpost-sm">@善良的小女孩</span></h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Ea, vel.</p>
          <p class="mainpost-sm reply-like-text"><b>34個<span class="post-sub-info">&nbsp;跟隨中</span>
              808位<span class="post-sub-info">&nbsp;跟隨者</span></b></p>
          <ul class="nav personalpage-tags mt-2">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">推文</a></li>
            <li class="nav-item"><a class="nav-link" href="#">推文與回覆</a></li>
            <li class="nav-item"><a class="nav-link" href="#">喜歡的內容</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col flex-direction-column">
    <!--start::list of 推文-->
      <div class="post">
        <div class="post-card1">
          <div class="avatar profile-avatar"><img
              src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg"
              alt="avatar-img" /></div>
        </div>
        <div class="post-card2">
          <h5 class="d-inline-block">Post Title&nbsp;<span class="post-sub-info">@Apple &#x2027; 5minutes</span></h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          <p class="post-sub-info"><span class="post-icon-block"><i class="bi bi-chat"></i>75</span><span
              class="post-icon-block"><i class="bi bi-heart"></i>15</span></p>
          </p>
        </div>
      </div>
    <!--end::list of 推文-->
    <!--start::comment-->
      <div class="col-12 flex-direction-column">
        <div class="post">
          <div class="post-card1">
            <div class="avatar profile-avatar"><img
                src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg"
                alt="avatar-img" /></div>
          </div>
          <div class="post-card2">
            <h5 class="d-inline-block profile-nav-header post-title">Post Title&nbsp;<span class="post-sub-info">@Apple &#x2027; 5minutes</span></h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p><span class="post-sub-info">回覆 <span class="orange-text">@Apple</span></span>
            <p>Great~</p>
          </div>
        </div>
      </div>
    <!--start::comment-->
    <!--start::list of 喜歡的內容-->
      <div class="post">
        <div class="post-card1">
          <div class="avatar profile-avatar"><img
              src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg"
              alt="avatar-img" /></div>
        </div>
        <div class="post-card2">
          <h5 class="d-inline-block">Post Title&nbsp;<span class="post-sub-info">@Apple &#x2027; 5minutes</span></h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          <p class="post-sub-info"><span class="post-icon-block"><i class="bi bi-chat"></i>75</span><span
              class="post-icon-block"><span style="color: #E0245E;"><i class="bi bi-heart-fill"></i>15</span></span></p>
          </p>
        </div>
      </div>
    <!--end::list of 推文-->
    </div>
  </div>

  <div class="col">
    {{>rightColumn}}
  </div>
</div>