<div class="row justify-content-center">
  <div class="col">
    {{>leftColumn}}
  </div>

  <div class="profile-container">
    <div class="mainpost-nav">
      <h3> <i class="bi bi-arrow-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;推文</h3>
    </div>
    <div class="mainpost-wrapper d-f flex-column">
      <div class="mainpost-messageboard">
        <div class="post-card1">
          <div class="avatar profile-avatar"><img
              src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg"
              alt="avatar-img" /></div>
        </div>
        <div class="post-card2">
          <h5 class="d-inline-block">Post Title&nbsp;<br /><span class="post-sub-info mainpost-sm">@Apple &#x2027;
              5minutes</span></h5>
          <p class="mainpost-x">Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ea, vel.</p>
          <p class="post-sub-info mainpost-sm">上午10:05 2020年6月10日</p>
        </div>
      </div>
      <div class="mainpost-appendboard">
        <div class="reply-like-container">
          <p class="mainpost-md reply-like-text"><b>34</b>&nbsp;回覆
            <b>808</b>&nbsp;喜歡次數
          </p>
        </div>
        <p class="mainpost-sub-info"><span class="mainpost-icon-block"><i class="bi bi-chat"
              data-bs-toggle="modal"></i></span><span class="mainpost-icon-block"><i class="bi bi-heart"></i></span></p>
      </div>
    </div>
    <div class="col-12 flex-direction-column posts-container">
      <div class="post">
        <div class="post-card1">
          <div class="avatar profile-avatar"><img
              src="https://d5nunyagcicgy.cloudfront.net/external_assets/hero_examples/hair_beach_v391182663/original.jpeg"
              alt="avatar-img" /></div>
        </div>
        <div class="post-card2">
          <h5 class="d-inline-block">Post Title&nbsp;<span class="post-sub-info">@Apple &#x2027; 5minutes</span></h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p><span class="post-sub-info">回覆 @Apple</span>
          <p>Great~</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    {{>rightColumn}}
  </div>
</div>