<div class="mt-5 d-flex justify-content-center">
  
</div>
<div class="alert alert-white alert-dismissible shadow rounded-lg fade show mt-5 col-8 col-lg-5 m-auto" role="alert" >
  <div class="d-flex"> 
    <img src="{{myUser.avatar}}" alt="" width="75px" height="75px" class="rounded-circle mr-2">
  
    <form action="/tweets/newTweets" method="POST" class="flex-grow-1 d-flex flex-column">
      <div class="form-group">
        <textarea class="form-control tweet" id="newTweet" name="newTweet" rows="5" placeholder="有什麼新鮮事?"></textarea>
      </div>
      <div class="align-self-end">
        <button type="submit" class="btn btn-danger rounded-pill">推文</button>
  
      </div>
    </form>
  </div>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>






  {{!-- <div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">

    </div>
  </div>
   --}}
  
</div>
