{{>left route='profile'}}
<div class="col-6">
  <div class="col container">
    <div class=" card mb-3">
      {{>user-header route='profile'}}
      {{>users-info route='profile'}}
      {{>users-tab route='tweets'}}
      {{#each tweets}}
        <div>
          {{>tweet route='personal-tweets'}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{>right}}