{{>left route='profile'}}
<div class="col-6">
  <div class="col container">
    <div class="content" style="border:1px solid #E6ECF0"></div>
    {{>user-header}}
    {{>users-info}}
    {{>users-tab route='likes'}}
    <div class="">
      {{#each tweets}}
        {{>tweet route='tweets'}}
      {{/each}}
    </div>
  </div>
</div>
{{>right}}