<div id="column1" style="float:left; width:20%; position: fixed; top:0%; left:5%">{{> settingLeft}}</div>

<div class="d-flex justify-content-center">
  <div id="column2" class="mx-auto my-auto" style="float:left;width:50%;">
    {{> centerProfile}}
  </div>
</div>

<div id="column3" class="float-right" style="float:left;width:23%; position: fixed; top:0%; right:1%">
  {{> popularRight}}
</div>