<div class="row">
  <div class="col">
    {{> left-nav route='setting'}}
  </div>
  <div class="col-7 border-start border-end px-0">
    <h3 class="my-3 px-4 mx-0 fw-bold">帳戶設定</h3>
    <hr>
    <form action="/users/setting/{{user.id}}?_method=PUT" method="POST">
      <div class="form-floating mb-3 bg-light">
        <input type="text" class="form-control bg-light border-0" id="account" placeholder="Account" name="account" value="{{user.account}}">
        <label for="account">帳號</label>
        <hr style="border:1px solid;">
      </div>
      <div class="form-floating mb-3 bg-light">
        <input type="text" class="form-control bg-light border-0" id="name" placeholder="Name" name="name" value="{{user.name}}" maxlength="50">
        <label for="name">名稱</label>
        <hr style="border:1px solid;">
      </div>
      <div class="form-floating mb-3 bg-light">
        <input type="email" class="form-control bg-light border-0" id="email" placeholder="name@example.com" name="email"
          value="{{user.email}}">
        <label for="email">Email</label>
        <hr style="border:1px solid;">
      </div>
      <div class="mb-3 bg-light">
        <label style="margin-left:10px; color:gray;" for="password">密碼</label>
        <input type="password" class="form-control bg-light border-0" id="password" placeholder="請設定密碼" name="password">
        
        <hr style="border:1px solid;">
      </div>
      <div class="mb-3 bg-light">
        <label style="margin-left:10px; color:gray;" for="passwordCheck">密碼再確認</label>
        <input type="password" class="form-control bg-light border-0" id="passwordCheck" placeholder="請再次輸入密碼" name="passwordCheck">
        
        <hr style="border:1px solid;">
      </div>
      <div class="row justify-content-end mx-3">
        <button class="btn btn-primary btn-block rounded-pill border-0" type="submit"
          style="background-color:#FF6600; width: auto;">儲存</button>
      </div>
    </form>
  </div>
  <div class="col-3"></div>
</div>