{{>left route='profile'}}
<div class="col-6">
  <div class="col container">
    <div class="content" style="border:1px solid #E6ECF0">
      {{>user-header route='profile'}}
      {{>users-info}}
      {{>users-tab route='likes'}}
    </div>
    <div class="">
      {{#each tweets}}
      {{>tweet route='personal-likes'}}
      {{/each}}
    </div>
  </div>
</div>
{{>right}}