<div class="container">
  <div class="profile-header">
    <div>X</div>
    <div>個人資料</div>
    <div>
      <Button class="profile-save">儲存</Button>
    </div>
  </div>
  <div class="background">
    <img src="" alt="" class="profile-image">
  </div>
  <div class="avatar">user avatar</div>
  <div>
    <label for="">名稱</label>
    <input type="text" class="form-label" placeholder="John Doe">
    <div class="name-text">8/50</div>
  <div>
    <label for="">自我介紹</label>
    <input type="text" class="form-label" placeholder="John Doe">
    <div class="name-text">0/160</div>
  </div>
</div>