<div class="page-container">
  {{> left-sidebar route="getUserTweets"}}
  <div class="main-middle border-start border-end" id="profile-page-container">
    {{> main-middle route="getUserTweets"}}
    <h1>Profile</h1>
  </div>
  {{> right-sidebar}}
</div>