<div class="page-container">
  {{> left-sidebar route="getUserTweets"}}
  <div class="main-middle border-start border-end" id="profile-page-container">
    {{> main-middle route="getUserTweets"}}
    <h1>Profile</h1>
    <a href="/users/4/tweets">使用者4</a>
    {{> profile-middle-self route="getUserTweets"}}
    <a href="/users/2/likes">推文</a>
    <a href="/users/2/likes">回覆</a>
    <a href="/users/2/likes">喜歡的內容</a>
  </div>
  {{> right-sidebar}}
</div>