<div class="page-container">
  {{> left-sidebar route="getUserTweets"}}
  <div class="main-middle border-start border-end" id="profile-page-container">
    {{> main-middle route="getUserTweets"}}
    {{> profile-middle-self route="getUserTweets"}}
    
  </div>
  {{> right-sidebar}}
</div>