<div class="container">
<div class="mb-4 text-center">
  <img class="logo mb-5" alt="logo"
    src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89.png" style="height:50px;">
  <h1 class="h3 fw-bold mb-3">建立你的帳號</h1>
</div>
<div class="d-flex justify-content-center mt-5">
<form class="form-signup" action="/signup" method="POST" style="width: 550px;">
  <div class="mb-3 bg-light">
    <label for="account" class="form-label">帳號</label>
    <input type="text" class="form-control bg-light border-0" id="account" name="account"
      aria-describedby="emailHelp" placeholder="請輸入帳號" required>
    <hr style="border:1px solid;">
  </div>
  <div class="mb-3 bg-light">
    <label for="name" class="form-label">名稱</label>
    <input type="text" class="form-control bg-light border-0" id="name" name="name"
      aria-describedby="emailHelp" placeholder="請輸入使用者名稱" maxlength="50" required>
    <hr style="border:1px solid;">
  </div>
  <div class="mb-3 bg-light">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control bg-light border-0" id="email" name="email"
      aria-describedby="emailHelp" placeholder="請輸入Email" required>
    <hr style="border:1px solid;">
  </div>
  <div class="mb-3 bg-light">
    <label for="password" class="form-label">密碼</label>
    <input type="password" class="form-control bg-light border-0 " name="password" id="password"
      placeholder="請輸入密碼" required>
    <hr style="border:1px solid;">
  </div>
  <div class="mb-3 bg-light">
    <label for="checkPassword" class="form-label">密碼確認</label>
    <input type="password" class="form-control bg-light border-0 " name="checkPassword" id="checkPassword"
      placeholder="請再次輸入密碼" required>
    <hr style="border:1px solid;">
  </div>
  <div class="row justify-content-center mb-5">
    <button class="btn btn-primary btn-block rounded-pill border-0" type="submit"
      style="background-color:#FF6600; width: 98%;">註冊</button>
  </div>
</form>
</div>
<div class="mb-4 text-center">
  <p><a href="/signin">取消</a></p>
</div>
</div>