<form class="form-regist m-5" action="/signup" method="POST" style="width: 100%;">
  <div>
    <img class="logo img-fluid mx-auto d-block"
      src="/images/Icon.svg">
    <h1 class="mt-5 text-center h3 font-weight-normal">建立你的帳號</h1>
  </div>
  
  <div class="col-6 mx-auto">
    {{>message}}
    <div class="form-label-group m-3">
      <input type="text" name="account" class="form-control" placeholder="帳號" autofocus>
    </div>
    <div class="form-label-group m-3">
      <input type="text" name="name" class="form-control" placeholder="名稱" autofocus>
    </div>
    <div class="form-label-group m-3">
      <input type="text" name="email" class="form-control" placeholder="Email" autofocus>
    </div>
    <div class="form-label-group m-3">
      <input type="password" name="password" class="form-control" placeholder="密碼" >
    </div>
    <div class="form-label-group m-3">
      <input type="password" name="checkPassword" class="form-control" placeholder="密碼確認" >
    </div>
    <button class="btn btn-block rounded-pill mt-3 btn-orange" type="submit">註冊</button>
    <div class="text-center m-3 mb-4">
      <p><a href="/signin">取消</a></p>
    </div>
  </div>

  <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
</form>