<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <div class="img mt-5 d-flex flex-column align-items-center  ">
                <img src="https://uploads-ssl.webflow.com/60d29cc33f302e62731cf0e1/60d29cc33f302ede181cf183_AC%20nav%20logo.png"
                    style="width: 200px" />
                <span>建立你的帳號</span>
            </div>

            <form action="/signup" method="POST">

                <div class="form-group">
                    <label for="account">帳號</label>
                    <input type="text" class="form-control" id="account" name="account">
                </div>

                <div class="form-group mt-1">
                    <label for="name">名稱</label>
                    <input type="text" class="form-control" id="name" name="name" >
                </div>

                <div class="form-group mt-1">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="form-group mt-1">
                    <label for="password">密碼</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <div class="form-group mt-1">
                    <label for="passwordConfirmed">密碼確認</label>
                    <input type="password" class="form-control" id="passwordConfirmed" name="passwordConfirmed">
                </div>

                <button class="btn btn-primary btn-block mt-4" style="border-radius: 30px;" type="submit">註冊</button>

                <div class="d-flex align-items-center mt-2 justify-content-end">
                    <p><a href="/signin">取消</a></p>
                </div>
            </form>

        </div>
    </div>
</div>