<div class="row mt-5">

  {{!-- 左邊區域 --}}
  <div class="col-md-3">

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active text-dark font-weight-bold" href="#"><i class="fas fa-home"></i> 首頁</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-weight-bold" href="#"><i class="fas fa-user"></i> 個人資料</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-weight-bold" href="#"><i class="far fa-sun"></i> 設定</a>
      </li>
    </ul>


    <a class="btn btn-block text-light" style="border-radius: 40px; background-color:#FF6600" href="#">推文</a>





  </div>

  <div class="ml-3" style="position:fixed; bottom:0px; left: 20px;">
    <a class="text-dark font-weight-bold" style="border-radius: 40px; width:150px;" href="#"><i class="fas
        fa-sign-out-alt"></i> 登出</a>
  </div>
  {{!-- 中間區域 --}}
  <div class="col-md-6" style="position: relative; border:1px #DEE2E6  solid; ">
    <div class="row align-items-center mb-3 mt-2" style="border-bottom:#dee2e6 1px solid;">
      <div class="col-md-2">
        <i class="fas fa-arrow-left"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="h5">推文</div>
        </div>
      </div>
    </div>

    {{!-- 背景圖區域 --}}


    {{!-- 大頭貼區塊 --}}
    <div class=" mt-1 mb-2" style="display: flex; justify-content:flex-start;">
      <div class="mr-2">
        <img src="https://static.newmobilelife.com/wp-content/uploads/2018/11/oppa1.jpg" alt="..."
          class="rounded-circle" style="width: 50px; height:50px;">

      </div>
      <div>
        <div class="h4" style="margin-bottom:0">John Doe</div>
        <div><small>@heyjohn</small></div>
      </div>

    </div>

    {{!-- 個人介紹區域 --}}

    <div class="row d-block">

      <div class="mt-2 ml-3">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.dddydkdkdydkydydyd
      </div>
      <div class="ml-3">
        <small>上午：10:05。2020年6月10日</small>
      </div>
      <div class="mt-2" style="border:1px #DEE2E6  solid; padding: 5px;">
        <div class="font-weight-bold mt-2 ml-3">34 <span class="text-secondary mr-3">回覆</span>59 <span
            class="text-secondary">喜歡次數</span></div>
      </div>
    </div>

    <div class="row " style="border: 1px #DEE2E6 solid; padding: 5px;">
      <span class="mr-5 ml-4"><i class="far fa-comment"></i> </span>
      <span><i class="far fa-heart ml-5"> </i>
      </span>
    </div>

    {{!-- 導航欄 --}}

    {{!-- 留言區域 --}}
    <div class="row  border" style="padding-top:8px; padding-bottom:10px;">
      <div class="col-md-2" style="padding-right: 0px; ">
        <img
          src="https://lh3.googleusercontent.com/proxy/A1Kc0NrFTeQX7W48-uh6jLCFizxnAlXc4TaLdsmRQRGQMKc5trZjS71z8IUXFNWQCapfi_FE0om2E_6KmwUTw10fS7UeyY4sjEBLKwdTEc5mVGl4XCS7"
          alt="..." class="rounded-circle" style="width: 50px; height:50px;">
      </div>
      <div class="col-md-10" style="padding-left: 0px;">
        <div class="h6">John Doe <a href="" class="text-secondary">@heyjohn </a>．3小時</div>
        <div>
          <span>回覆 @apple</span>
        </div>
        <div>這是晚間最新的新聞報導...</div>
      </div>
    </div>

    <div class="row  border" style="padding-top:8px; padding-bottom:10px;">
      <div class="col-md-2" style="padding-right: 0px; ">
        <img
          src="https://lh3.googleusercontent.com/proxy/A1Kc0NrFTeQX7W48-uh6jLCFizxnAlXc4TaLdsmRQRGQMKc5trZjS71z8IUXFNWQCapfi_FE0om2E_6KmwUTw10fS7UeyY4sjEBLKwdTEc5mVGl4XCS7"
          alt="..." class="rounded-circle" style="width: 50px; height:50px;">
      </div>
      <div class="col-md-10" style="padding-left: 0px;">
        <div class="h6">John Doe <a href="" class="text-secondary">@heyjohn </a>．3小時</div>
        <div>
          <span>回覆 @apple</span>
        </div>
        <div>這是晚間最新的新聞報導...</div>
      </div>
    </div>
    <div class="row  border" style="padding-top:8px; padding-bottom:10px;">
      <div class="col-md-2" style="padding-right: 0px; ">
        <img
          src="https://lh3.googleusercontent.com/proxy/A1Kc0NrFTeQX7W48-uh6jLCFizxnAlXc4TaLdsmRQRGQMKc5trZjS71z8IUXFNWQCapfi_FE0om2E_6KmwUTw10fS7UeyY4sjEBLKwdTEc5mVGl4XCS7"
          alt="..." class="rounded-circle" style="width: 50px; height:50px;">
      </div>
      <div class="col-md-10" style="padding-left: 0px;">
        <div class="h6">John Doe <a href="" class="text-secondary">@heyjohn </a>．3小時</div>
        <div>
          <span>回覆 @apple</span>
        </div>
        <div>這是晚間最新的新聞報導...</div>
      </div>
    </div>
    <div class="row  border" style="padding-top:8px; padding-bottom:10px;">
      <div class="col-md-2" style="padding-right: 0px; ">
        <img
          src="https://lh3.googleusercontent.com/proxy/A1Kc0NrFTeQX7W48-uh6jLCFizxnAlXc4TaLdsmRQRGQMKc5trZjS71z8IUXFNWQCapfi_FE0om2E_6KmwUTw10fS7UeyY4sjEBLKwdTEc5mVGl4XCS7"
          alt="..." class="rounded-circle" style="width: 50px; height:50px;">
      </div>
      <div class="col-md-10" style="padding-left: 0px;">
        <div class="h6">John Doe <a href="" class="text-secondary">@heyjohn </a>．3小時</div>
        <div>
          <span>回覆 @apple</span>
        </div>
        <div>這是晚間最新的新聞報導...</div>
      </div>
    </div>
    <div class="row  border" style="padding-top:8px; padding-bottom:10px;">
      <div class="col-md-2" style="padding-right: 0px; ">
        <img
          src="https://lh3.googleusercontent.com/proxy/A1Kc0NrFTeQX7W48-uh6jLCFizxnAlXc4TaLdsmRQRGQMKc5trZjS71z8IUXFNWQCapfi_FE0om2E_6KmwUTw10fS7UeyY4sjEBLKwdTEc5mVGl4XCS7"
          alt="..." class="rounded-circle" style="width: 50px; height:50px;">
      </div>
      <div class="col-md-10" style="padding-left: 0px;">
        <div class="h6">John Doe <a href="" class="text-secondary">@heyjohn </a>．3小時</div>
        <div>
          <span>回覆 @apple</span>
        </div>
        <div>這是晚間最新的新聞報導...</div>
      </div>
    </div>





  </div>

  {{!-- 右邊區域 --}}
  <div class="col-md-3">
    <div class='rounded' style="background-color: #F5F8FA ;">
      <div class="p-2">
        跟隨誰
      </div>
      <div
        style="display: flex; justify-content:space-between; border-top:#E6ECF0 1px solid; border-bottom:#E6ECF0 1px solid;"
        class="p-2">
        <div style="display: flex;">
          <img
            src="https://lh3.googleusercontent.com/proxy/A1Kc0NrFTeQX7W48-uh6jLCFizxnAlXc4TaLdsmRQRGQMKc5trZjS71z8IUXFNWQCapfi_FE0om2E_6KmwUTw10fS7UeyY4sjEBLKwdTEc5mVGl4XCS7"
            style="width: 50px; height:50px; border-radius:50%;">
          <div>
            <div>John Doe</div>
            <div>@heyjohn</div>
          </div>
        </div>

        <div>
          <a class="btn btn-block text-light mt-1" style="border-radius: 40px; background-color:#FF6600 "
            href="#">正在跟隨</a>
        </div>
      </div>

      <div style="display: flex; justify-content:space-between; border-bottom:#E6ECF0 1px solid; " class="p-2">
        <div style="display: flex;">
          <img
            src="https://lh3.googleusercontent.com/proxy/A1Kc0NrFTeQX7W48-uh6jLCFizxnAlXc4TaLdsmRQRGQMKc5trZjS71z8IUXFNWQCapfi_FE0om2E_6KmwUTw10fS7UeyY4sjEBLKwdTEc5mVGl4XCS7"
            style="width: 50px; height:50px; border-radius:50%;">
          <div>
            <div>John Doe</div>
            <div>@heyjohn</div>
          </div>
        </div>

        <div>
          <a class="btn btn-block text-light mt-1" style="border-radius: 40px; background-color:#FF6600 "
            href="#">正在跟隨</a>
        </div>
      </div>

      <div style="display: flex; justify-content:space-between; border-bottom:#E6ECF0 1px solid; " class="p-2">
        <div style="display: flex;">
          <img
            src="https://lh3.googleusercontent.com/proxy/A1Kc0NrFTeQX7W48-uh6jLCFizxnAlXc4TaLdsmRQRGQMKc5trZjS71z8IUXFNWQCapfi_FE0om2E_6KmwUTw10fS7UeyY4sjEBLKwdTEc5mVGl4XCS7"
            style="width: 50px; height:50px; border-radius:50%;">
          <div>
            <div>John Doe</div>
            <div>@heyjohn</div>
          </div>
        </div>

        <div>
          <a class="btn btn-block text-light mt-1" style="border-radius: 40px; background-color:#FF6600 "
            href="#">正在跟隨</a>
        </div>
      </div>

      <div style="display: flex; justify-content:space-between; border-bottom:#E6ECF0 1px solid; " class="p-2">
        <div style="display: flex;">
          <img
            src="https://lh3.googleusercontent.com/proxy/A1Kc0NrFTeQX7W48-uh6jLCFizxnAlXc4TaLdsmRQRGQMKc5trZjS71z8IUXFNWQCapfi_FE0om2E_6KmwUTw10fS7UeyY4sjEBLKwdTEc5mVGl4XCS7"
            style="width: 50px; height:50px; border-radius:50%;">
          <div>
            <div>John Doe</div>
            <div>@heyjohn</div>
          </div>
        </div>

        <div>
          <a class="btn btn-block text-light mt-1" style="border-radius: 40px; background-color:#FF6600 "
            href="#">正在跟隨</a>
        </div>
      </div>

      <div style="display: flex; justify-content:space-between; border-bottom:#E6ECF0 1px solid; " class="p-2">
        <div style="display: flex;">
          <img
            src="https://lh3.googleusercontent.com/proxy/A1Kc0NrFTeQX7W48-uh6jLCFizxnAlXc4TaLdsmRQRGQMKc5trZjS71z8IUXFNWQCapfi_FE0om2E_6KmwUTw10fS7UeyY4sjEBLKwdTEc5mVGl4XCS7"
            style="width: 50px; height:50px; border-radius:50%;">
          <div>
            <div>John Doe</div>
            <div>@heyjohn</div>
          </div>
        </div>

        <div>
          <a class="btn btn-block text-light mt-1" style="border-radius: 40px; background-color:#FF6600 "
            href="#">正在跟隨</a>
        </div>
      </div>

      <div style="display: flex; justify-content:space-between; border-bottom:#E6ECF0 1px solid; " class="p-2">
        <div style="display: flex;">
          <img
            src="https://lh3.googleusercontent.com/proxy/A1Kc0NrFTeQX7W48-uh6jLCFizxnAlXc4TaLdsmRQRGQMKc5trZjS71z8IUXFNWQCapfi_FE0om2E_6KmwUTw10fS7UeyY4sjEBLKwdTEc5mVGl4XCS7"
            style="width: 50px; height:50px; border-radius:50%;">
          <div>
            <div>John Doe</div>
            <div>@heyjohn</div>
          </div>
        </div>

        <div>
          <a class="btn btn-block text-light mt-1" style="border-radius: 40px; background-color:#FF6600 "
            href="#">正在跟隨</a>
        </div>
      </div>


    </div>

  </div>
</div>
</div>