<div class="container">
  <div class="row">
    {{> leftbar}}
    <div class="col-7">
      <div class="replies-page" style="display: flex; height: 37.9px">
        <a href="/tweets"><img src="/images/back@2x.png" alt="back" style="width: 30px; height: 30px"></a>
        <h4><strong>推文</strong></h4>
      </div>
      <hr>
      <div class="row user-description">
        <div class="col-2">
          {{> following-avatar}}
        </div>

        <div class="col-10">
          <a href="/users/{{this.id}}"><strong>Apple</strong></a>
          <p>@apple</p>
        </div>

        <div class="tweet-content-in-replies-page ps-3 px-3 ">
          <p>merjc idblid ngijsnli gririr leirhielr gli g grgiur hghbgn ign merjc idblid
            ngijsnli gririr leirhielr gli g grgiur
            hghbgn ign merjc idblid ngijsnli gririr leirhielr
            gli g grgiur hghbgn ign
          </p>
        </div>

        <div class="tweet-time">
          <p style="color: #6C757D; font-size:smaller;">上午10:05 ‧ 2023年3月23日</p>
          <div style="border-bottom: 1px solid #E6ECF0"></div>
        </div>

        <div class="replies-and-likes-counts p-3">
          <span class="px-2" style="color: #6C757D;"><strong style="color: #000000;">34</strong>回覆</span>
          <spanp style="color: #6C757D;"><strong style="color: #000000;">808</strong>次喜歡</span>
            <div class="p-2 replies-page-border-bottom"></div>
        </div>

        <div class="reply-and-like-btn d-flex replies-page-border-bottom">
          <form action="/reply /:id" method="POST">
            <button type="submit" class="btn"><img class="left-bar-icon" src="/images/reply-outlined@2x.png"
                alt="reply"></button>
          </form>
          <form action="/like/:id" method="POST">
            <button type="submit" class="btn"><img class="left-bar-icon" src="/images/like-outlined@2x.png"
                alt="like"></button>
          </form>
        </div>

      </div>
      <div class="user-replies-reply-page pt-3">
        <div class="user-reply p-3 replies-page-border-bottom" data-bs-toggle="modal"
          data-bs-target="#user-replies-modal2">
          <div class="row">
            <div class="col-2">
              {{> following-avatar}}
            </div>
            <div class="col-10">
              <div>
                <a href="/users/{{this.id}}"><strong>Corcs</strong></a>
                <span>@apple‧3小時</span>
              </div>
              <p>回覆<span style="color: #FF6600;">@apple</span></p>
              <p>merjc idblid ngijsnli gririr leirhielr gli g grgiur hghbgn ign merjc idblid
                ngijsnli gririr leirhielr gli g grgiur
                hghbgn ign merjc idblid ngijsnli gririr leirhielr
                gli g grgiur hghbgn ign</p>
            </div>
          </div>
        </div>

        {{!-- 回覆彈跳視窗 --}}
        <div class="modal" tabindex="-1" id="user-replies-modal2">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                {{!-- <h5 class="modal-title">User name</h5> --}}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-2">
                    {{> following-avatar}}
                    <div class="reply-modal-vr-line"></div>
                  </div>
                  {{!-- --}}
                  <div class="col-10">
                    <div>
                      <a href="/users/{{this.id}}"><strong>Apple</strong></a>
                      <span>@apple‧3小時</span>
                    </div>
                    <div>
                      <p>merjc idblid ngijsnli gririr leirhielr gli g grgiur hghbgn ign merjc idblid ngijsnli gririr
                        leirhielr gli g grgiur
                        hghbgn ign merjc idblid ngijsnli gririr leirhielr gli g grgiur hghbgn ign</p>
                      <span>回覆給<span class="ms-1" style="color: #FF6600;">@mitsubishi</span></span>
                    </div>
                  </div>
                </div>

                {{> user-avatar}}
                <form action="">
                  <textarea class="modal-input-tweets" placeholder="推你的回覆" name="" id="user-reply-in-replies" maxlength="145" rows="3"
                    cols="100"></textarea>
                </form>
              </div>
              <div class="modal-footer">
                <div class="d-flex flex-row-reverse mb-1">
                  <button class="tweetbtn" type="submit">回覆</button>
                  <p id="user-reply-alert-in-replies" class="user-reply-alertMsg"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!-- {{/each}} --}}
      </div>
    </div>
    {{> rightbar}}
  </div>
</div>

<script>
  const userReplyDescription = document.getElementById('user-reply-in-replies')
  const userReplyDescriptionAlertMsg = document.getElementById('user-reply-alert-in-replies')

  userReplyDescription.addEventListener('input', function userTweetModalMsg(e) {
    const replyContent = e.target.value
    const trimedReplyCnt = replyContent.trim()
    console.log(replyContent)
    console.log(trimedReplyCnt.length)
    if (!trimedReplyCnt.length) {
      userReplyDescriptionAlertMsg.innerHTML = '內容不可空白'
    } else if (trimedReplyCnt.length > 0 && trimedReplyCnt.length < 140) {
      userReplyDescriptionAlertMsg.innerHTML = `${trimedReplyCnt.length}/140`
    } else if (trimedReplyCnt.length > 140) {
      userReplyDescriptionAlertMsg.innerHTML = '內容不可超過 140 字'
    }
  })
</script>