<div class="page-container">
  {{> left-sidebar route="editUser"}}
  <div class="main-middle border-start border-end" id="tweets-page-container">
    <h1>Setting</h1>
  </div>
  {{> right-sidebar}}
</div>