<div class="container-fluid">
  {{> left-content}}

  <div class="setting-main-content">
    <div class="setting-main-title">
      帳戶設定
    </div>
    <form method="POST" class="setting-form sign-form">
      <label for="account">帳號</label>
      <input type="text" id="account" name="account">

      <label for="name">名稱</label>
      <input type="text" id="name" name="name">

      <label for="email">Email</label>
      <input type="email" id="email" name="email">

      <label for="password">Password</label>
      <input type="password" id="password" name="password">

      <label for="passwordCheck">確認密碼</label>
      <input type="password" id="passwordCheck" name="passwordCheck">
      <div>
        <button type="submit" class="sign-button" type="submit">儲存</button>
      </div>
    </form>
  </div>
</div>