{{!-- {{>left}} --}}
<div class="main-feed-container">
  <div class="news-feed-input-group">
    <h2 class="news-feed-title">帳戶設定</h2>
    <form action="" class="news-feed-form"><img src="" alt="" class="user-avatar"><input type="text"
        class="news-feed-input"><button class="news-feed-btn"></button></form>
  </div>
  <div class="form-body">
    <label for="">帳號</label>
    <input type="text" class="form-label" placeholder="wonderwoman">
    <label for="">名稱</label>
    <input type="text" class="form-label" placeholder="Diana">
    <label for="">Email</label>
    <input type="text" class="form-label" placeholder="diana@gmail.com">
  </div>
  <label for="">密碼</label>
  <input type="text" class="form-label" placeholder="請設定密碼">
  <label for="">密碼再確認</label>
  <input type="text" class="form-label" placeholder="請再次輸入密碼">
  <div class="form-buttom">
    <a href="" class="login-btn">儲存</a>
  </div>
</div>
{{!-- {{>right}} --}}