<div class="container" style="width:100%">
  <div class="container" style="width:20%; height:auto; float:left; display:inline">

    <div class="text-center mb-4">
      <img class="style-f7df5c62-org-avatar-img" width="50px" height="auto"
        src="https://static.accupass.com/org/2008250550226683301600.jpg">
    </div>
    <div class="form-label-group">
      <i class="fas fa-house"></i>
      <a href="/">首頁</a>
    </div>
    <div class="form-label-group">
      <a href="/">個人資料</a>
    </div>
    <div class="form-label-group">
      <a href="">設定</a>
    </div>
    <br />
    <button class="btn btn-lg btn-warning btn-block" type="submit">推文</button>
  </div>
  <div class="container" style="width:70%; height:auto; float:left; display:inline">
    <div class="float:left">
      <h1 class="h3 mb-3 font-weight-normal">帳戶設定</h1>
    </div>
    <form class="form-signin" action="/signup" method="POST" style="width: 100%;">
      <div class="form-label-group">
        <label for="inputName"></label>
        <input type="text" name="name" class="form-control" placeholder="名稱" required autofocus>
      </div>
      <div class="form-label-group">
        <label for="inputEmail"></label>
        <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
      </div>
      <div class="form-label-group">
        <label for="inputPassword"></label>
        <input type="password" name="password" class="form-control" placeholder="密碼" required>
      </div>
      <div class="form-label-group">
        <label for="inputPasswordCheck"></label>
        <input type="password" name="passwordCheck" class="form-control" placeholder="密碼確認" required>
      </div>
      <br />
      <button class="btn btn-lg btn-warning btn-block" type="submit">儲存</button>
    </form>
  </div>
</div>