<aside id="column_nav" class="col-3 h-100 bg-white d-flex flex-column">
  {{>column_nav}}
</aside>
<main id="column_main" class="col-6 d-flex bg-white align-items-baseline flex-column max-vh-100 p-0">
  {{>column_setting}}
</main>