<div class="wrapper d-flex">

  {{>left-content}}

  <div class="container"
    style="margin:0px; padding:0px;  border-left: 1px solid rgb(209, 203, 203); border-right: 1px solid rgb(209, 203, 203); width:90%;">
    <div>
      <h4 class="fw-bold" style="padding:15px; border-bottom:1px solid rgb(209, 203, 203); margin-bottom: 0rem;">
        <a href="/tweets" style="text-decoration: none; color: inherit;">帳戶設定</a>
      </h4>
      <div class="card p-3" style="border: 0; border-radius: 0%;">
        <div class="col" style="display: contents;">
          <div class="test-start">
            <form action="/users/{{ user.id }}/setting?_method=PUT" method="POST" style='width: 100%;'>
              <div class="form-row mb-3" style="background: #F5F8FA;">
                <label for="account" style="margin:0; padding-left:15px;">帳號</label>
                <input type="text" name="account" class="form-control font-weight-bold" placeholder="帳號"
                  value="{{ user.account }}"
                  style="background: #F5F8FA; border: 0; border-bottom: 2px solid #657786; border-radius:0;"
                  id="account" required autofocus>
              </div>
              <div class="form-row mb-3" style="background: #F5F8FA;">
                <label for="name" style="margin:0; padding-left:15px;">名稱</label>
                <input type="text" name="name" class="form-control font-weight-bold" placeholder="名稱" maxlength="50"
                  value="{{ user.name }}"
                  style="background: #F5F8FA; border: 0; border-bottom: 2px solid #657786; border-radius:0;"
                  id="name" required autofocus>
              </div>
              <div class="form-row mb-3" style="background: #F5F8FA;">
                <label for="email" style="margin:0; padding-left:15px;">Email</label>
                <input type="email" name="email" class="form-control font-weight-bold" placeholder="Email"
                  value="{{ user.email }}"
                  style="background: #F5F8FA; border: 0; border-bottom: 2px solid #657786; border-radius:0;"
                  id="email" required autofocus>
              </div>
              <div class="form-row mb-3" style="background: #F5F8FA;">
                <label for="password" style="margin:0; padding-left:15px;">密碼</label>
                <input type="password" name="password" class="form-control font-weight-bold" placeholder="請設定密碼"
                  style="background: #F5F8FA; border: 0; border-bottom: 2px solid #657786; border-radius:0;"
                  id="password" required>
              </div>
              <div class="form-row" style="background: #F5F8FA;">
                <label for="checkPassword" style="margin:0; padding-left:15px;">密碼再確認</label>
                <input type="password" name="checkPassword" class="form-control font-weight-bold"
                  placeholder="請再次輸入密碼"
                  style="background: #F5F8FA; border: 0; border-bottom: 2px solid #657786; border-radius:0;"
                  id="checkPassword" required>
              </div>
              <div class="mb-4 text-end">
                <button class="btn btn-block mt-4 tweet_btn"
                  style="color: #FFFFFF; background: #FF6600; border-radius: 50px;" type="submit">儲存</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav id="right-sidebar" style="display:flex; align-items:stretch; width:30%; margin-top:16px; margin-left:24px;">
  </nav>

</div>