<div class="body-container text-center"> {{!-- 其他頁面把這個 container 放進去--}}
  {{> side-menu }}
  {{!-- 中央部分 --}}
  <div class="center-part border" id="center-part">
    
  </div>
  {{!-- 中央部分結束 --}}
</div>