<div class="container">
    <div class="ms-3">
      <h5 class="text-start fw-bold mb-4">帳戶設定</h5>
      <form class="form-signup my-3 d-flex flex-column" action="/setting?_method=PUT" method="POST">
        {{> user-account-form}}
        <div class="row justify-content-end mx-3">
          <button class="submit-btn" type="submit" style="width: 100px">
            儲存
          </button>
        </div>
      </form>
    </div>
</div>