<div class="row" style="width:100%;">
  {{!-- navbar --}}
  <div class="col-3">
    <img class="mb-4 pl-2" src="/images/logo.png">
    <div class="nav-ul-wrapper">
      <ul class="nav flex-column">
        <li class="nav-item py-2">
          <a class="nav-link" href="#">
            <i class="fas fa-home"></i>
            <span class="ml-3">首頁</span>
          </a>
        </li>
        <li class="nav-item py-2">
          <a class="nav-link" href="/users/{{user.id}}/tweets">
            <i class="far fa-user"></i>
            <span class="ml-3">個人資料</span>
          </a>
        </li>
        <li class="nav-item py-2">
          <a class="nav-link active" href="#">
            <i class="fas fa-cog"></i>
            <span class="ml-3">設定</span>
          </a>
        </li>
        <li class="nav-item py-2">
          <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">推文</button>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="ml-3">登出</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  {{!-- content --}}
  <div class="col-5 content-container">
    abc
  </div>

  {{!-- popular --}}
  <div class="col-4">
    <div class="card border-light popular">
      <div class="card-header">
        Popular
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex">
          <div class="mr-2">
            <img class="avatar small" src="/images/exampleAvatar1.png">
          </div>
          <div class="mr-5">
            <p class="mb-0">Pizza Hut</p>
            <p class="atAccount">@pizzahut</p>
          </div>
          <div class="pt-2">
            <a class="btn py-2" href="#">正在追蹤</a>
          </div>
        </li>
        <li class="list-group-item d-flex">
          <div class="mr-2">
            <img class="avatar small" src="/images/exampleAvatar2.png">
          </div>
          <div class="mr-5">
            <p class="mb-0">MacDonald</p>
            <p class="atAccount">@macdonald</p>
          </div>
          <div class="pt-2">
            <a class="btn btn-outline py-2" href="#">追蹤</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>