<div class="page-container">
  {{> left-sidebar route="editUser"}}
  <div class="main-middle border-start border-end" id="setting-page-container">
    {{> main-middle route="editUser"}}
    {{!-- Title --}}
    <div class="row d-flex" style="margin-left: 11px">
      <div class="col-5">
        <div class="setting-section">
          {{!-- setting form --}}
          <form action="/users/{{user.id}}?_method=PUT" method="POST">
            <div style="width:593px; height:78px">
              {{!-- account --}}
              <div class="form-group mb-4 mt-4" style="height:78px">
                <div class="label bg-light">
                  <label for="account" class="form-label bg-light" class="form-label bg-light" style="font-family: Noto Sans TC; font-size: 14px; font-weight: 400; line-height: 22px; letter-spacing: 0px; text-align: left; margin-top: 2px; margin-left: 10.55px; color: #696974">帳號</label>
                </div>
                <input type="text" class="form-control shadow-none bg-light"
                  id="account" name="account" placeholder="請輸入帳號" value='{{user.account}}' onkeyup="wordsTotal()">
                <div class="d-flex col justify-content-between">
                  <span class="col"
                    style="font-family: Noto Sans TC; font-size: 12px; font-weight: 500; line-height: 20px; letter-spacing: 0px; display: block; color: #FC5A5A"
                    id="displayErr"></span>
                  <span
                    style="font-family: Noto Sans TC; font-size: 12px; font-weight: 500; line-height: 20px; letter-spacing: 0px; text-align: right; text-align: end; display: block; color: #696974"
                    id="display"> 0 / 50</span>
                </div>
              </div>
              {{!-- name --}}
              <div class="form-group mb-4" style="height:78px">
                <div class="label bg-light">
                  <label for="name" class="form-label bg-light" class="form-label bg-light" style="font-family: Noto Sans TC; font-size: 14px; font-weight: 400; line-height: 22px; letter-spacing: 0px; text-align: left; margin-top: 2px; margin-left: 10.55px; color: #696974">名稱</label>
                </div>
                <input type="text" class="form-control shadow-none bg-light" id="name"
                  name="name" placeholder="請輸入使用者名稱" value='{{user.name}}' onkeyup="wordsTotal2()">
                <div class="d-flex col justify-content-between">
                  <span class="col"
                    style="font-family: Noto Sans TC; font-size: 12px; font-weight: 500; line-height: 20px; letter-spacing: 0px; display: block; color: #FC5A5A"
                    id="displayErr2"></span>
                  <span
                    style="font-family: Noto Sans TC; font-size: 12px; font-weight: 500; line-height: 20px; letter-spacing: 0px; text-align: right; text-align: end; display: block; color: #696974"
                    id="display2"> 0 / 50</span>
                </div>
              </div>
              {{!-- email --}}
              <div class="form-group mb-4" style="height:78px">
                <div class="label bg-light">
                  <label for="email" class="form-label bg-light" class="form-label bg-light" style="font-family: Noto Sans TC; font-size: 14px; font-weight: 400; line-height: 22px; letter-spacing: 0px; text-align: left; margin-top: 2px; margin-left: 10.55px; color: #696974">Email</label>
                </div>
                <input type="email" class="form-control shadow-none bg-light"
                  id="email" name="email" placeholder="請輸入Email" value='{{user.email}}'>
              </div>
              {{!-- password --}}
              <div class="form-group mb-4" style="height:78px">
                <div class="label bg-light">
                  <label for="password" class="form-label bg-light" class="form-label bg-light" style="font-family: Noto Sans TC; font-size: 14px; font-weight: 400; line-height: 22px; letter-spacing: 0px; text-align: left; margin-top: 2px; margin-left: 10.55px; color: #696974">密碼</label>
                </div>
                <input type="password" class="form-control shadow-none bg-light"
                  id="password" name="password" placeholder="請設定密碼">
              </div>
              {{!-- check password --}}
              <div class="form-group mb-4" style="height:78px">
                <div class="label bg-light">
                  <label for="checkPassword" class="form-label bg-light" class="form-label bg-light" style="font-family: Noto Sans TC; font-size: 14px; font-weight: 400; line-height: 22px; letter-spacing: 0px; text-align: left; margin-top: 2px; margin-left: 10.55px; color: #696974">密碼確認</label>
                </div>
                <input type="password" class="form-control shadow-none bg-light"
                  id="checkPassword" name="checkPassword" placeholder="請再次輸入密碼">
              </div>
              {{!-- submit button --}}
              <div class="text-end">
                <button class="btn btn-primary my-3"
                  style="width:88px; height:46px; border: solid; border-radius: 50px; background-color:#FF6600; color: white;"
                  type="submit">儲存</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const input = document.getElementById('account')
  const input2 = document.getElementById('name')
  document.getElementById('display').textContent = input.value.length + ' / 50'
  document.getElementById('display2').textContent = input2.value.length + ' / 50'
  function wordsTotal() {
    let total = document.getElementById('account').value.length
    if (Number(total) > Number(50)) {
      document.getElementById('displayErr').textContent = '字數超出上限！'
      input.style.borderBottom = '#FC5A5A 2px solid'
    } else {
      input.style.borderBottom = '#50B5FF 2px solid'
      document.getElementById('displayErr').textContent = ''
    }
    document.getElementById('display').textContent = total + ' / 50'
  }
  function wordsTotal2() {
    let total = document.getElementById('name').value.length
    if (Number(total) > Number(50)) {
      document.getElementById('displayErr2').textContent = '字數超出上限！'
      input2.style.borderBottom = '#FC5A5A 2px solid'
    } else {
      input2.style.borderBottom = '#50B5FF 2px solid'
      document.getElementById('displayErr2').textContent = ''
    }
    document.getElementById('display2').textContent = total + ' / 50'
  }
</script>