<div class="d-block justify-content-center" style="margin-left: 17rem;">
  <div>
    <h3>帳戶設定</h3>
  </div>
  <div class="d-flex justify-content-start ml-3">
    <form action="/user/{{user.id}}/setting?_method=PUT" method="POST" style="width: 50%;">
      {{> message}}
      <div class="form-group">
        <input type="text" class="form-control" name="account" id="enterAccount" placeholder="帳號"
          value="{{user.account}}" required autofocus>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="name" id="enterName" placeholder="暱稱/名稱" value="{{user.name}}"
          required>
      </div>

      <div class="form-group">
        <input type="email" class="form-control" name="email" id="enterEmail" placeholder="信箱" value="{{user.email}}"
          required>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="password" id="enterPassword" placeholder="密碼" required>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="passwordCheck" id="checkPassword" placeholder="確認密碼" required>
      </div>

      <button class="btn btn-primary my-3" type="submit">儲存</button>
    </form>
  </div>

</div>