<div class="container-fluid">
  <div class="left-content">
    <div class="left-column">
      <img class="logo" src="/images/icon.svg" alt="">
      <div class="nav">
        <div class="nav-item">
          <a href="/tweets">
            <img class="home-icon" src="/images/icon-home.svg" alt="">首頁
          </a>
        </div>
        <div class="nav-item">
          <a href="/users/:id/tweets">
            <img class="pr-1" src="/images/icon-user.svg" alt="">
            個人資料
          </a>
        </div>
        <div class="nav-item">
          <a href="/api/users/:id">
            <img src="/images/icon-setting.svg" alt="">
            設定
          </a>
        </div>
      </div>
      <button type="button" class="tweet-button" data-toggle="modal" data-target="#tweetModal">
        推文
      </button>
    </div>
    <div class="logout">
      <a href="/logout">
        <img class="logout-icon" src="/images/icon-logout.svg" alt="">登出
      </a>
    </div>
  </div>

  <div class="setting-main-content">
    <div class="setting-main-title">
      帳戶設定
    </div>
    <form method="POST" class="setting-form sign-form">
      <label for="account">帳號</label>
      <input type="text" id="account" name="account">

      <label for="name">名稱</label>
      <input type="text" id="name" name="name">

      <label for="email">Email</label>
      <input type="email" id="email" name="email">

      <label for="password">Password</label>
      <input type="password" id="password" name="password">

      <label for="passwordCheck">確認密碼</label>
      <input type="password" id="passwordCheck" name="passwordCheck">
      <div>
        <button type="submit" class="sign-button" type="submit">儲存</button>
      </div>
    </form>
  </div>

</div>
</div>