<div class="row mt-1">

  {{!-- 左邊區域 --}}
  <div class="col-md-3" style="width:auto; height:auto; text-align:center;">

    <img class="style-f7df5c62-org-avatar-img py-3" width="50px" height="auto"
      src="https://static.accupass.com/org/2008250550226683301600.jpg">
    <div style="">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active text-dark font-weight-bold py-3" href="#"><i class="fas fa-home"></i> 首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark font-weight-bold py-3" href="#"><i class="fas fa-user"></i> 個人資料</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark font-weight-bold py-3" href="#"><i class="far fa-sun"></i> 設定</a>
        </li>
      </ul>
    </div>
    <a class="btn text-light" style="border-radius: 40px; text-align:center; width:40%; background-color:#FF6600"
      href="#">推文</a>


  </div>



  {{!-- 登出鈕 --}}
  <div class="ml-3" style="position:fixed; bottom:0px; left: 20px;">
    <a class="text-dark font-weight-bold" style="border-radius: 40px; width:150px;" href="#"><i class="fas
          fa-sign-out-alt"></i> 登出</a>
  </div>


  {{!-- 右邊區域 --}}
  <div class="col-md-9" style="position: relative;">
    {{!-- 標題 --}}
    <div>
      <h1 class="h5 mb-3 font-weight-bold">帳戶設定</h1>
    </div>
    {{!-- 輸入框 --}}
    <form class="form-signin" action="/signup" method="POST" style="width: 35%; position:fixed;">
      <div class="form-label-group py-3" style="background-color: darkgray; border-style:none">
        <input type="text" name="name" class="form-control" placeholder="名稱" required autofocus>
      </div>
      <div class="form-label-group py-3">
        <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
      </div>
      <div class="form-label-group py-3">
        <input type="password" name="password" class="form-control" placeholder="密碼" required>
      </div>
      <div class="form-label-group py-3">
        <input type="password" name="passwordCheck" class="form-control" placeholder="密碼確認" required>
      </div>
      <br />
      <button class="btn text-light" style="border-radius: 40px; background-color:#FF6600; float:right"
        type="submit">儲存</button>
    </form>
  </div>


</div>