<link rel="stylesheet" href="/structure.css">
<div class="left col-3 position-sticky">
  {{>user-left}}
</div>
<div class="middle col-7 border">
  <div class="mx-2 my-3">
    <div class="user-name fw-bold fs-4">帳號設定</div>
  </div>
  <form action="/setting?_method=PUT" method="POST">
    <div class="form-floating mb-3">
      <input type="account" class="form-control" id="floatingAccount" value="{{user.account}}" name="account">
      <label for="floatingAccount">帳號</label>
    </div>
    <div class="form-floating mb-3">
      <input type="name" class="form-control" id="floatingName" value="{{user.name}}" name="name">
      <label for="floatingName">名稱</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingEmail" value="{{user.email}}" name="email">
      <label for="floatingEmail">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" value="" name="password">
      <label for="floatingPassword">密碼</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingConfirmPassword" value="" name="confirmpassword">
      <label for="floatingConfirmPassword">密碼再確認</label>
    </div>
    <button type="submit" class="btn btn-primary">儲存</button>
  </form>
</div>
</div>
<div class="right col position-sticky">
  {{>user-right}}
</div>
<div class="mask"></div>