<div class="d-flex" style="height: 1200px;width:1400px;margin: 0 auto;">
  {{>sidebar route='settings'}}
  {{!-- 帳戶設定 --}}
  <div style="height: 1200px;width:641px">
    <div class="setting-container">
      <div class="setting-title">
        <h4>帳戶設定</h4>
      </div>
      <form class="form-setting" action="/settings?_method=PUT" method="POST">
        <div class="input-setting top">
          <label class="label" for="account">帳號</label>
          <input class="setting-input" id="account" type="text" name="account" placeholder="請輸入帳號" value="{{account}}"
            required>
        </div>
        <div class="input-setting">
          <label class="label" for="name">名稱</label>
          <input class="setting-input" id="name" type="text" name="name" placeholder="請輸入使用者名稱" value="{{name}}"
            required>
        </div>
        <div class="input-setting">
          <label class="label" for="email">Email</label>
          <input class="setting-input" id="email" type="email" name="email" placeholder="請輸入 Email" value="{{email}}"
            required>
        </div>
        <div class="input-setting">
          <label class="label" for="password">密碼</label>
          <input class="setting-input" id="password" type="password" name="password" placeholder="請輸入密碼" required>
        </div>
        <div class="input-setting">
          <label class="label" for="checkPassword">密碼確認</label>
          <input class="setting-input" id="checkPassword" type="password" name="checkPassword" placeholder="請再次輸入密碼"
            required>
        </div>
        <button class="setting-btn" type="submit">儲存</button>
      </form>
      {{> messages}}
    </div>
  </div>
  {{!-- {{>popular}} --}}
</div>

{{!-- 這是推文modal --}}
{{>post-modal}}