<div class="row" style="height: 1200px;">
  {{> homeNavBar}}

  <div class="user-setting col d-flex flex-column mx-4">

    {{!-------------------- Navbar --------------------}}
    <div class="d-flex" style="border-width: 0px 0px 1px 0px; border-style: solid;
  border-color: #e6ecf0; width: 1145px; height:45px;">
      <div class="m-2">
        <div class="home-word">帳戶設定</div>
      </div>
    </div>

    {{!-------------------- 資料欄 --------------------}}
    <div class="container album py-2" style="width: 100%;">
      <form class="form-signin" action="/users/{{user.id}}/setting?_method=PUT" method="POST" style="width: 100%;">
        <div class="form-label-group py-3 signin-form">
          <input type="text" name="account" class="form-control py-3" style="background-color:#F5F8FA; border-bottom: 2px solid #657786; border-top:0px; border-left:0px; border-right:0px;" placeholder="帳號" value="{{userdata.account}}" required autofocus>
        </div>
        <div class="form-label-group py-3 signin-form">
          <input type="text" name="name" class="form-control py-3" style="background-color:#F5F8FA; border-bottom: 2px solid #657786; border-top:0px; border-left:0px; border-right:0px;" placeholder="名稱" value="{{userdata.name}}"
            required autofocus>
        </div>
        <div class="form-label-group py-3 signin-form">
          <input type="text" name="email" class="form-control py-3" style="background-color:#F5F8FA; border-bottom: 2px solid #657786; border-top:0px; border-left:0px; border-right:0px;" placeholder="Email" value="{{userdata.email}}"
            required autofocus>
        </div>
        <div class="form-label-group py-3 signin-form">
          <input type="password" name="password" class="form-control py-3" style="background-color:#F5F8FA; border-bottom: 2px solid #657786; border-top:0px; border-left:0px; border-right:0px;" placeholder="密碼" required>
        </div>
        <div class="form-label-group py-3 signin-form">
          <input type="password" name="passwordCheck" class="form-control py-3" style="background-color:#F5F8FA; border-bottom: 2px solid #657786; border-top:0px; border-left:0px; border-right:0px;"  placeholder="密碼確認" required>
        </div>
        <br />
        <button class="btn btn-block text-light py-2" style="border-radius: 40px; background-color:#FF6600 ;float:right"
          type="submit">儲存</button>
      </form>
    </div>
  </div>
</div>