<div class="container">
  <div class="row">
    {{> left-sidebar route="setting"}}
    <div class="col-6 top" style="border-left:1px solid	#E6ECF0;border-right:1px solid	#E6ECF0;">
      <div>
        <div class="home-header">帳戶設定</div>
        <div class="setting-main">
          <form class="form-setting" action="/users/{{user.id}}?_method=PUT" method="POST" name="formSetting"
            style="width:90%;" id="formSetting" novalidate>
            <div>
              <label for="account">帳號</label>
              <input type="text" class="form-control" name="editAccount" id="account" placeholder="請輸入帳號"
                aria-label="User account" value="{{user.account}}" required>
              <span class="invalid-feedback">內容不可空白</span>
            </div>
            <div style="position: relative;">
              <label for="name">名稱</label>
              <input type="text" name="editName" id="name" placeholder="請輸入使用者名稱" oninput="userNameCounts()"
                aria-label="User name" maxlength="50" value="{{user.name}}" required>
              <p id="nameLengthCount" style="position: absolute;right:0;margin-top:67px;">0/50</p>
              <span class="invalid-feedback">內容不可空白</span>
            </div>
            <div>
              <label for="email">Email</label>
              <input type="email" name="editEmail" id="email" placeholder="請輸入Email" aria-label="User email"
                value="{{user.email}}" required>
              <span class="invalid-feedback">內容不可空白</span>
            </div>
            <div>
              <label for="password">密碼</label>
              <input type="password" name="editPassword" id="password" placeholder="請輸入密碼" aria-label="User password"
                required>
              <span class="invalid-feedback passwordCheck">內容不可空白</span>
            </div>
            <div>
              <label for="checkPassword">密碼確認</label>
              <input type="password" name="editCheckPassword" id="checkPassword" placeholder="請再次輸入密碼"
                aria-label="Confirm user password" onkeyup="validPassword()" required>

              <span class="invalid-feedback">內容不可空白</span>
              {{!-- <span id="passwordFalse">內容不可空白</span> --}}
            </div>

            <button type="submit" id="submitBtn" onclick="validTest()">儲存</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- setting function --}}
<script>

  // 使用者名稱 字數限制 50字
  function userNameCounts() {
    const counts = document.getElementById('name').value.trim().length
    const nameLength = document.getElementById('nameLengthCount')
    nameLength.innerText = counts + '/50'
    if (counts === 50) {
      nameLength.innerHTML = `<span style="color:red;">字數超出上限</span>`
    }
  }
  //輸入不可為空白
  function validTest() {
    const form = document.querySelector('#formSetting')
    const submitButton = document.querySelector('#submitBtn')

    submitButton.addEventListener('click', function onSubmitButtonClicked(event) {
      form.classList.add('was-validated')
    })

    form.addEventListener('submit', function onFormSubmitted(event) {
      if (!form.checkValidity()) {
        event.stopPropagation()
        event.preventDefault()
      }
    })
  }

  //密碼是否相符
  function validPassword() {
    const pd = document.querySelector('#password').value
    const cPd = document.querySelector('#checkPassword').value
    const passwordFalse = document.querySelector('.passwordFalse')
    if (pd.value !== cPd.value) {
      passwordFalse.innerHTML = `<span style="color:red;">兩次密碼輸入不正確!</span>`
    }
  }
</script>