
<div class="col mt-2 mx-0">
    <h6 class="font-weight-bold ml-3">帳戶設定</h6>
    <hr/>
    <div class="d-flex flex-column mt-1">
        <form class="col-md-6 form-signin" action="/user/setting" method="PUT" style="width: 100%;">
            <div class="input-group d-flex flex-column border-bottom border-secondary bg-light mt-2 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light border-0" style="height:15px; font-size:0.8em;">帳號</span>
                </div>
                <input type="text" name="account" class="form-control bg-light border-0 w-100" placeholder=""
                    style="height:30px;" value="{{user.account}}" required autofocus>
            </div>

            <div class="input-group d-flex flex-column border-bottom border-secondary bg-light mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light border-0" style="height:15px; font-size:0.8em;">名稱</span>
                </div>
                <input type="text" name="name" class="form-control  bg-light border-0 w-100" placeholder=""
                    style="height:30px;" value="{{user.name}}" required>
            </div>

            <div class="input-group d-flex flex-column border-bottom border-secondary bg-light mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light border-0" style="height:15px; font-size:0.8em;">Email</span>
                </div>
                <input type="email" name="email" class="form-control  bg-light border-0 w-100" placeholder="" style="height:30px;"
                    value="{{user.email}}" required>
            </div>

            <div class="input-group d-flex flex-column border-bottom border-secondary bg-light mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light border-0" style="height:15px; font-size:0.8em;">密碼</span>
                </div>
                <input type="password" name="password" class="form-control  bg-light border-0 w-100" placeholder=""
                    style="height:30px;" required>
            </div>

            <div class="input-group d-flex flex-column border-bottom border-secondary bg-light mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light border-0" style="height:15px; font-size:0.8em;">密碼確認</span>
                </div>
                <input type="password" name="checkPassword" class="form-control  bg-light border-0 w-100" placeholder=""
                    style="height:30px;" required>
            </div>
            <div class="float-right  mt-2">
                <button class="btn btn-lg btn-block font-weight-bold" type="submit"
                    style="color:white; background-color:#FF6103; border-radius: 25px; width:100px; font-size:1em;">儲存</button>                
            </div>

        </form>
    </div>
</div>