<div class="d-flex flex-column align-items-center mt-5" >

    <img class="my-3" src="https://uploads-ssl.webflow.com/5d3a7aed4e11722bc1d46f10/5d43a805a4923b6b4285c376_medium_alpha-logo-square-89%20256x256.png" alt="" style="max-width: 40px;height: auto;">
 
    <h5 class="font-weight-bold my-2">登入 Alphitter</h5>
    <form class="col-md-4 form-signin" action="/signin" method="POST" style="width: 100%;">
        <div class="input-group border-bottom border-secondary mt-2 mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-light border-0" >帳號</span>
            </div>
            <input type="text" name="account" class="form-control bg-light border-0" placeholder="" required autofocus>
        </div>
        <div class="input-group  border-bottom border-secondary mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-light border-0">密碼</span>
            </div>
            <input type="text" name="password" class="form-control  bg-light border-0" placeholder="" required>
        </div>
        <button class="btn btn-lg btn-block font-weight-bold mt-4" type="submit" style="color:white; background-color:#FF6103; border-radius: 25px;">登入</button>
        <div class="text-center mb-4">
            <p class="text-right font-weight-bold mt-3">
                <a class="border-bottom border-primary pb-0" href="#">註冊 Alphitter</a>．
                <a class="border-bottom border-primary pb-0" href="#">後台登入</a>
            </p>
        </div>
    </form>
</div>