<div class="sign-container">
  <div class="sign-message">
    {{> message}}
  </div>
  <i class="sign-icon fac fa-cus-ac-logo"></i>
  <div class="sign-title">登入 Alphitter</div>
  <form action="/signin" method="POST">
    <div class="sign-form">
      <label for="account">帳號</label>
      <input type="text" id="account" name="account" placeholder="請輸入帳號或電子信箱" required>
      <label for="password">密碼</label>
      <input type="password" id="password" name="password" placeholder="請輸入 6-12 位英數字密碼" maxlength="12" required>
      <button class="sign-button" type="submit">登入</button>
    </div>
  </form>
  <div class="signin-link">
    <a href="/signup">註冊 Alphitter</a>
    ．
    <a href="/admin/signin">後台登入</a>
  </div>
</div>