<div class="d-flex  justify-content-center">
  <div class="first-con">
    <img src="/images/icon/Icon.png" alt="main-icon">
    <div>
      <h1 id="title">建立你的帳號</h1>
      <form class="form-signup needs-validation" action="/signup" method="POST" id="formSetting" novalidate>
        <div class="div">
          <label for="account">帳號</label>
          <input type="text" name="account" id="account" placeholder="請輸入帳號" aria-label="User account" required>
          <span class="invalid-feedback">內容不可空白</span>
        </div>
        <div class="div" style="position: relative;">
          <label for="name">名稱</label>
          <input type="text" name="name" id="name" placeholder="請輸入使用者名稱" aria-label="User name" maxlength="50"
            oninput="userNameCounts()" required>
          <p id="nameLengthCount" style="position: absolute;right: 0;margin-top:67px;">0/50</p>
          <span class="invalid-feedback">內容不可空白</span>
        </div>
        <div class="div">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="請輸入Email" aria-label="User email" required>
          <span class="invalid-feedback">內容不可空白</span>
        </div>
        <div class="div">
          <label for="password">密碼</label>
          <input type="password" name="password" id="password" placeholder="請設定密碼" aria-label="User password" required>
          <span class="invalid-feedback">內容不可空白</span>
        </div>
        <div class="div">
          <label for="checkPassword">密碼確認</label>
          <input type="password" name="checkPassword" id="checkPassword" placeholder="請輸再次輸入密碼"
            aria-label="Confirm user password" required>
          <span class="invalid-feedback">內容不可空白</span>
        </div>
        <button id="login-button" type="submit" onclick="validTest()">註冊</button>
      </form>
      <div class="div cancel text-center">
        <a href="/signin">取消</a>
      </div>
    </div>
  </div>
</div>

<script>
  // 使用者名稱 字數限制 50字
  function userNameCounts() {
    const counts = document.getElementById('name').value.trim().length
    const nameLength = document.getElementById('nameLengthCount')
    nameLength.innerText = counts + '/50'
    if (counts === 50) {
      nameLength.innerHTML = `<span style="color:red;">字數超出上限</span>`
    }
  }
  //輸入不可為空白
  function validTest() {
    const form = document.querySelector('#formSetting')
    const submitButton = document.querySelector('#login-button')

    submitButton.addEventListener('click', function onSubmitButtonClicked(event) {
      form.classList.add('was-validated')
    })

    form.addEventListener('submit', function onFormSubmitted(event) {
      if (!form.checkValidity()) {
        event.stopPropagation()
        event.preventDefault()
      }
    })
  }
</script>