<div style="display: flex; justify-content: center;">
  <div style="
    box-sizing: border-box;
    position: relative;
    width: 1400px;
    height: 1200px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #D5D5DC;">
    {{> messages}}
    <form action="/signin" method="POST" style="display: flex; flex-direction: column; align-items: center">
      <div style="position: absolute; width: 50px; height: 50px; top: 64px;">
        <img src="/images/logo.png" alt="login" style="height: 50px; width: 50px;">
      </div>
      <div style="position: absolute; width: 185px; height: 26px;
            top: 138px; left: 608;">
        <h1 class="h3 font-weight-normal mb-3">登入 Alphitter</h1>
      </div>
      <div style="position: absolute; height: 54px; width: 356px; top: 204px;">
        <div style="display: flex; flex-direction: column">
          <label class="input-form-label-admin" for="signin-account">帳號</label>
          <input class="input-form-admin" id="signin-account" type="text" name="account" placeholder="請輸入帳號" required>
          <span class="account-length">
            {{error_messages}}
          </span>
        </div>
      </div>
      <div
        style="display: inline-block; position: absolute; height: 54px; width: 356px; top: 290px; border-radius: 2px;">
        <div style="display: flex; flex-direction: column">
          <label class="input-form-label-admin" for="signin-password">密碼</label>
          <input class="input-form-admin" id="signin-password" type="password" name="password" placeholder="請輸入密碼"
            required>
          <span class="password-length">
            {{error_messages}}
          </span>
        </div>
      </div>
      <button class="btn btn-primary btn-block" type="submit"
        style="display: inline-block; width: 356px; height: 46px; position: absolute; top: 384px; background: #FF6600; border-radius: 50px;">登入</button>
      <div style="position: absolute; display: flex; top: 452px; margin-left: 150px;">
        <div>
          <a class="signin-href" href="/signup">註冊</a>
        </div>
        <div>
          <p>・</p>
        </div>
        <div>
          <a class="signin-href" href="/admin/signin">後台登入頁</a>
        </div>
      </div>
    </form>
  </div>
</div>