{{#if success_messages}}
<div class="alert alert-success" role="alert" style="margin: 30px 0 ;">
  {{success_messages}}
</div>
{{/if}}
{{#if error_messages}}
<div class="alert alert-danger" role="alert" style="margin: 30px 0 ;">
  {{error_messages}}
</div>
{{/if}}
<form class="form-signin" action="/signin" method="POST" style="width: 100%;">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
  </div>
  <div class="form-label-group">
    <label for="inputEmail">account</label>
    <input type="text" name="account" class="form-control" placeholder="account" required autofocus>
  </div>
  <div class="form-label-group">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
  </div>
  <br />
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  <div class="text-center mb-4">
    <p><a href="/signup">Sign Up</a></p>
  </div>
  <div class="text-center mb-4">
    <p><a href="/admin/signin">後台登入</a></p>
  </div>
</form>