<div class="container login-container">
  <div class="col-5">
    <div class="login-logo">
      <img src="/images/logo.svg" alt="">
      <strong class="mt-3 mb-3" style="font-size:23px">建立你的帳號</strong>
    </div>

    <form action="/signup" method="POST" style='width: 100%;'>

      <div class='form-label-group form-floating' style='margin-top: 32px;'>
        <input type='text' name='account' class='form-control login-input' placeholder='帳號' id="account" required autofocus />
        <label for="account">帳號</label>
      </div>

      <div class='form-label-group form-floating' style='margin-top: 32px;'>
        <input type='text' name='name' class='form-control login-input' placeholder='名稱' maxlength="50" id="account"  required
          autofocus />
          <label for="account">名稱</label>
      </div>

      <div class='form-label-group form-floating' style='margin-top: 32px;'>
        <input type='email' name='email' class='form-control login-input' placeholder='Email' id="Email" required autofocus />
        <label for="Email">Email</label>
      </div>

      <div class='form-label-group form-floating' style='margin-top: 32px;'>
        <input type='password' name='password' class='form-control login-input' placeholder='密碼' id="password" required />
        <label for="password">密碼</label>
      </div>

      <div class='form-label-group form-floating' style='margin-top: 32px;'>
        <input type='password' name='checkPassword' class='form-control login-input' placeholder='密碼確認' id="checkPassword" required />
        <label for="checkPassword">密碼確認</label>
      </div>

      <br />

      <div class="mb-4 text-center">
        <button class="btn btn-block login-button" type="submit">註冊</button>
      </div>

      <div class="mt-3 d-flex justify-content-center">
        <p>
          <a href="/signin">取消</a>
        </p>
      </div>
    </form>
  </div>

</div>