<div class="d-flex justify-content-center">
  <div>
    <div class="d-flex justify-content-center" style="margin-top: 69px;">
      <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89-300x300.png"
        width="50px" height="50px" alt="A logo">
    </div>
    <div class="d-flex justify-content-center" style="margin-top:25px; margin-bottom:25px;">
      <h3 style="font-weight:700;font-family:'Noto Sans TC'; font-size: 28px; color: #1C1C1C;">登入Alphitter</h3>
    </div>
    {{> message}}
    <form class="form-sign" action="/signin" method="POST" style="width: 100%; ">
      <div class="form-row" style="width:356px; height:54px; margin-bottom:32px; background: #F5F8FA; border-radius: 2px;">
        <label class="form-labe" style="font-size: 14px; margin-left:10.55px;" for="account">帳號</label>
        <input type="text" id="account" name="account" class="form-control"
          style="border-style:none; border-bottom: 2px solid #657786; border-radius: 0px 0px 2px 2px; background: #F5F8FA; font-size: 16px;" placeholder="請輸入帳號" required>
      </div>

      <div class="form-row mb-3" style="width:356px; height:54px; margin-bottom:32px; background: #F5F8FA; border-radius: 2px;">
        <label class="form-label" for="password" style="font-size: 14px; margin-left:10.55px;">密碼</label>
        <input type="password" id="password" name="password" class="form-control"
          style="border-style:none; border-bottom: 2px solid #657786; border-radius: 0px 0px 2px 2px;  background: #F5F8FA; font-size: 16px;" placeholder="請輸入密碼" required>
      </div>

      <div class="d-grid gap-2 col-12 mx-auto" style="width: 356px; height: 46px; margin-top:65px;">
        <button class="btn btn-primary" style="border-radius:50px; margin-top:8px; background:#FF6600; border-color:#FF6600; font-size:20px; font-family:'Noto Sans TC'; padding-top:8px;"
          type="submit">登入</button>
      </div>
      <div class="d-flex justify-content-end" style="margin-top:22px; margin-bottom:700px;">
        <a class="btn btn-link" style="font-size:16px; font-weight: 400;" href="/signup">註冊</a>
        <div class="d-flex" style="align-items: center; margin-top:8px;">
          <p style="font-size: 16px; font-weight: 400;">・</p>
        </div>
        <a class="btn btn-link" style="font-size:16px; font-weight: 400;" href="/admin/signin">後台登入</a>
      </div>

    </form>
  </div>
</div>