<div class="sign-container">
  <img class="sign-icon" src="/images/icon.svg" alt="">
  <div class="sign-title">建立你的帳號</div>
  <form method="POST">
    <div class="sign-form">
      <input type="text" id="account" name="account" placeholder="帳號">
      <input type="text" id="name" name="name" placeholder="名稱">
      <input type="email" id="email" name="email" placeholder="Email">
      <input type="password" id="password" name="password" placeholder="密碼">
      <input type="password" id="passwordCheck" name="passwordCheck" placeholder="確認密碼">
      <button class="sign-button" type="submit">註冊</button>
    </div>
  </form>
  <div class="signup-link">
    <a href="/signin">取消</a>
  </div>
</div>