<style>
  main {
    margin: 64px auto;
    min-width: 356px;
  }

  .logo {
    margin-bottom: 24px;
  }

  .title {
    margin-bottom: 40px;
  }

  .links {
    margin: 16px 0;
  }

  a {
    padding: 0 12px;
  }
</style>

<main class="w-25">
  <div class="logo d-flex justify-content-center">
    <img src="/images/logo.svg" alt="">
  </div>
  <h3 class="title d-flex justify-content-center fw-bold" style="margin-bottom: 40px;">
    登入 Alphitter
  </h3>
  <div>
    <form action="/signin" method="post">
      {{> signin-tab}}
    </form>
    <div>
      <div class="links d-flex justify-content-end">
        <a href="/signup">註冊</a>
        <p>・</p>
        <a href="/admin/signin">後台登入</a>
      </div>
    </div>
  </div>
</main>