<div class="login-form">
  <div class="form-head">
    <img src="" alt="" class="ac-icon">
    <p class="form-title">
      建立你的帳號
    </p>
  </div>
  <div class="form-body">
    <input type="text" class="form-label">
    <input type="text" class="form-input">

    <input type="text" class="form-label">
    <input type="text" class="form-input">

    <input type="text" class="form-label">
    <input type="text" class="form-input">

    <input type="text" class="form-label">
    <input type="text" class="form-input">

    <input type="text" class="form-label">
    <input type="text" class="form-input">
  </div>
  <div class="form-buttom">
    <a href="" class="login-btn">註冊</a>
    <a href="" class="login-link">取消</a>
  </div>
</div>
