<div class="bg-dark">
  <h1 class="text-secondary fw-lighter">fw-lighter</h1>
  <h1 class="text-secondary fw-light">fw-light</h1>
  <h1 class="text-secondary fw-normal">fw-normal</h1>
  <h1 class="text-secondary fw-bolder">fw-bolder</h1>
  <h1 class="text-secondary fw-bold">fw-bold</h1>
  <h1 class="text-secondary fw-bold">%1234567890$</h1>
  <h1 class="text-secondary fw-bold">我不會切版</h1>
  <h1 class="text-secondary fw-bold">!$[]?ÀÀÀÀÀÀÀ</h1>

  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-warning">warning</button>
  <button type="button" class="btn btn-brand">brand</button>
  <button type="button" class="btn btn-error">error</button>
  <button type="button" class="btn btn-sup1">sup1</button>
  <button type="button" class="btn btn-sup2">sup2</button>
  <button type="button" class="btn btn-sup3">sup3</button>
  <button type="button" class="btn btn-sup4">sup4</button>
  <button type="button" class="btn btn-sup5">sup5</button>
  <button type="button" class="btn btn-light">light</button>
  <button type="button" class="btn btn-dark">dark</button>
</div>