<div style="display:flex; justify-content: center;">
  <div style="
    box-sizing: border-box;
    position: relative;
    min-width: 1400px;
    min-height: 1200px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #D5D5DC;">
    <form action="/signin" method="POST" style="display: flex; flex-direction: column; align-items: center">
      <div style="position: absolute; width: 50px; height: 50px; top: 64px;">
        <img src="/images/logo.png" alt="login" style="height: 50px; width: 50px;">
      </div>
      <div style="position: absolute; width: 185px; height: 26px;
            top: 138px; left: 608;">
        <h1 class="h3 font-weight-normal mb-3">登入 Alphitter</h1>
      </div>
      <div style="display: inline-block; width: 356px; height: 54px; position: absolute; top: 204px;">
        <label class="form-label" for="account">帳號</label>
        <input class="form-control" id="account" type="text" name="account" placeholder="請輸入帳號" required>
      </div>
      <div style="display: inline-block; width: 356px; height: 54px; position: absolute; top: 290px;">
        <label class="form-label" for="password">密碼</label>
        <input class="form-control" id="password" type="password" name="password" placeholder="請輸入密碼" required>
      </div>
      <button class="btn btn-primary btn-block" type="submit"
        style="display: inline-block; width: 356px; height: 46px; position: absolute; top: 384px; background: #FF6600; border-radius: 50px;">登入</button>
      <div style="position: absolute; top: 452px; left: 730px;">
        <p><a href="/signup">註冊</a></p>
      </div>
      <div style="position: absolute; top: 452px; left: 775px;">
        <p>・</p>
      </div>
      <div style="position: absolute; top: 452px; left: 802px;">
        <p><a href="/admin/signin">後台登入頁</a></p>
      </div>
    </form>
  </div>
</div>

