<div class="container album py-5" style="width: 33%;">
  <form class="form-signin" action="/signup" method="POST" style="width: 100%;">
    <div class="text-center mb-4">
      <img class="style-f7df5c62-org-avatar-img" width="50px" height="50px"
        src="https://static.accupass.com/org/2008250550226683301600.jpg">
    </div>
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal font-weight-bold">建立你的帳號</h1>
    </div>
    <div class="form-label-group py-3">
      <input type="text" name="account" class="form-control font-weight-bold" placeholder="帳號" required autofocus>
    </div>
    <div class="form-label-group py-3">
      <input type="text" name="name" class="form-control font-weight-bold" placeholder="名稱" required autofocus>
    </div>
    <div class="form-label-group py-3">
      <input type="text" name="email" class="form-control font-weight-bold" placeholder="Email" required autofocus>
    </div>
    <div class="form-label-group py-3">
      <input type="password" name="password" class="form-control font-weight-bold" placeholder="密碼" required>
    </div>
    <div class="form-label-group py-3">
      <input type="password" name="passwordCheck" class="form-control font-weight-bold" placeholder="密碼確認" required>
    </div>
    <br />
    <button class="btn btn-block text-light font-weight-bold" style="border-radius: 40px; background-color:#FF6600"
      type="submit">註冊</button>
    <div class="text-center mb-4 py-2 font-weight-bold py-3">
      <p><a class="font-weight-bold" href="/signin">取消</a></p>
    </div>
  </form>
</div>