<div class="sign-template">
  <div class="sign-main">
    <div class="header">
      <i class='ac-icon login'></i>
      <div class="title">建立你的帳號</div>
    </div>
    <form action="/signup" method="POST">

      <div class="edit-text">
        <label for="account">帳號</label>
        <input type="text" name="account" id="account" minlength="4" maxlength="30" required value="{{account}}">
      </div>

      <div class="edit-text">
        <label for="name">名稱</label>
        <input type="text" name="name" id="name" maxlength="50" required value="{{name}}">
      </div>

      <div class="edit-text">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required autocomplete="email" value="{{email}}">
      </div>

      <div class="edit-text">
        <label for="password">密碼</label>
        <input type="password" name="password" id="password" minlength="4" required>
      </div>

      <div class="edit-text">
        <label for="checkPassword">密碼確認</label>
        <input type="password" name="checkPassword" id="checkPassword" minlength="4" required>
      </div>

      <button type="submit" class="btn-fill">註冊</button>

      <a href="/signin" class="btn-text">取消</a>
    </form>
  </div>
</div>