<div class='row w-100'>
  <div class='col-3 mx-auto'>
    <div class='mb-4 text-center'>
      <i class='logo mb-4'></i>
      <p class='h3 fw-bold mb-3'>登入 Alphitter</p>
    </div>
    <form class='form-signin' action='/signin' method='POST'>
      <div class='form-row mb-4' style='background-color: #F5F8FA'>
        <label class='form-label m-0 pt-1 ps-3' for='account' style='color: #696974'>帳號</label>
        <input
          type='text'
          id='account'
          name='account'
          class='form-control border-0 p-0 ps-3'
          style='margin: 0;'
          placeholder='請輸入帳號'
          onkeyup="this.value=this.value.replace(/\s+/g,'')"
          required
          autofocus
        />
        <hr
          class='m-0'
          style='background: #657786; border: 1px solid #657786; border-radius: 0px 0px 4px 4px;  opacity: 1;'
        />
      </div>
      <div class='form-row mb-4' style='background-color: #F5F8FA'>
        <label class='form-label m-0 pt-1 ps-3' for='password' style='color: #696974'>密碼</label>
        <input
          type='password'
          id='password'
          name='password'
          class='form-control border-0 p-0 ps-3'
          style='margin: 0;'
          placeholder='請輸入密碼'
          required
        />
        <hr
          class='m-0'
          style='background: #657786; border: 1px solid #657786; border-radius: 0px 0px 4px 4px;  opacity: 1;'
        />
      </div>
      <div class='mb-4 text-center'>
        <button class='btn btn-brand mb-3 rounded-pill border-0 w-100' type='submit'>登入</button>
        <p class='float-end'>
          <a href='/signup'>註冊</a>
          <span> ・ </span>
          <a href='/admin/signin'>後台登入</a>
        </p>
      </div>
    </form>
  </div>
</div>