<form class="form-login mt-5" action="/signin" method="POST" style="width: 100%;">

  <div class="text-center my-4">
    <h1 class="h3 mb-3 font-weight-normal">登入Alphitter</h1>
  </div>

  <div class="row justify-content-center">
    <div class="form-floating col-4 mb-4">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        name="email"
        placeholder="name@example.com"
        style="background-color: #F5F8FA;"
        required
        autofocus
      />
      <label for="floatingInput">帳號</label>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-floating col-4 mb-4">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        name="password"
        placeholder="******"
        style="background-color: #F5F8FA;"
        required
      />
      <label for="floatingPassword">密碼</label>
    </div>
  </div>

  <div class="d-grid gap-2 col-4 mx-auto text-end">
    <button
      class="btn rounded-pill"
      type="submit"
      style="color:white; background-color:#FF6600"
    >登入</button>
    <p style="color: #0099FF;font-size: 14px"><a href="/signup">註冊 Alphitter</a>
      ·
      <a href="#">後台登入</a></p>
  </div>
</form>