<form class="form-signin" action="/signup" method="POST" style="width: 100%;">
  <div class="sign-logo text-center">
    <i class="logo fas fa-cus-logo"></i>
  </div>
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-bold">建立你的帳號</h1>
  </div>

  <div class="form-label-group">
    <label for="account" class="sign-label-text">帳號</label>
    <input type="text" name="account" class="form-control shadow-none border-none" required autofocus>
  </div>
  <div class="form-label-group">
    <label for="name" class="sign-label-text">名稱</label>
    <input type="text" name="name" class="form-control" required autofocus>
  </div>
  <div class="form-label-group">
    <label for="email" class="sign-label-text">Email</label>
    <input type="email" name="email" class="form-control" required autofocus>
  </div>
  <div class="form-label-group">
    <label for="password" class="sign-label-text">密碼</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <div class="form-label-group">
    <label for="checkPassword" class="sign-label-text">密碼確認</label>
    <input type="password" name="checkPassword" class="form-control" required>
  </div>

  <br />
  <button class="btn btn-lg  btn-block " id="submit" type="submit">註冊</button>
  <div class="text-center mb-4">
    <p id="cancel"><a href="/signin">取消</a></p>
  </div>
</form>