<div class="sign-container">
  <div class="sign-message">
    {{> message}}
  </div>
  <img class="sign-icon" src="/images/icon.svg" alt="">
  <div class="sign-title">登入 Alphitter</div>
  <form action="/signin" method="POST">
    <div class="sign-form">
      <label for="account">帳號 <span class="at-span">@</span></label>
      <input type="text" id="account" name="account" value="{{account}}" style="padding-left: 35px;">
      <label for="password">密碼</label>
      <input type="password" id="password" name="password">
      <button class="sign-button" type="submit">登入</button>
    </div>
  </form>
  <div class="signin-link">
    <a href="/signup">註冊 Alphitter</a>
    ．
    <a href="/admin/signin">後台登入</a>
  </div>
</div>