<div class="d-flex justify-content-center">
  <div>
    <div class="d-flex justify-content-center" style="margin-top: 69px;">
      <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89-300x300.png"
        width="50px" height="50px" alt="A logo">
    </div>
    <div class="d-flex justify-content-center" style="margin-top:25px; margin-bottom:25px;">
      <h3 style="font-weight:700;font-family:'Noto Sans TC'; font-size: 28px;">建立你的帳號</h3>
    </div>
  {{> success-message}}
    <form class="form-signup" action="/signup" method="POST" style="width: 100%; ">
      <div class="form-row" style="width:356px; height:54px; margin-bottom:32px; background: #F5F8FA;">
        <label class="form-labe" style="font-size: 14px; margin-left:10.55px;" for="account">帳號</label>
        <input type="text" id="account" name="account" class="form-control" style="border-style:none; border-bottom: 2px solid #657786; background: #F5F8FA; font-size: 16px; border-radius:0px;" placeholder="請輸入帳號" required >
      </div>
      <div class="form-row" style="width:356px; height:54px; margin-bottom:32px; background: #F5F8FA;">
        <label class="form-label" style="font-size: 14px; margin-left:10.55px;" for="name">名稱</label>
        <input type="text" id="name" name="name" class="form-control" style="border-style:none; border-bottom: 2px solid #657786;background: #F5F8FA; font-size: 16px; border-radius:0px;" placeholder="請輸入使用者名稱" required>
      </div>
      <div class="form-row" style="width:356px; height:54px; margin-bottom:32px; background: #F5F8FA;"> 
        <label class="form-label" style="font-size: 14px; margin-left:10.55px;" for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" style="border-style:none; border-bottom: 2px solid #657786; background: #F5F8FA; font-size: 16px; border-radius:0px;" placeholder="請輸入Email" required>
      </div>
      <div class="form-row mb-3">
        <label class="form-label" style="font-size: 14px; margin-left:10.55px;" for="password">密碼</label>
        <input type="password" id="password" name="password" class="form-control" style="border-style:none; border-bottom: 2px solid #657786;background: #F5F8FA; font-size: 16px; border-radius:0px;" placeholder="請設定密碼" required>
      </div>
      <div class="form-row" style="width:356px; height:54px; margin-bottom:52px; background: #F5F8FA;">
        <label class="form-label" style="font-size: 14px; margin-left:10.55px;" for="checkPassword">密碼確認</label>
        <input type="password" id="checkPassword" name="checkPassword" class="form-control" style="border-style:none; border-bottom:2px solid #657786; background: #F5F8FA; font-size: 16px; border-radius:0px;" placeholder="請再次輸入密碼" required>
        {{> message}}
      </div>
      <div class="d-grid gap-2 col-12 mx-auto" style="width: 356px; height: 46px; margin-top:10px;">
        <button class="btn btn-primary"style="border-radius:50px; margin-top:8px; background:#FF6600; border-color:#FF6600; font-size:20px; font-family:'Noto Sans TC'; padding-top:8px;"type="submit">註冊</button>
      </div>
      <div class="d-flex justify-content-center" style="margin-top:22px; margin-bottom:512px; font-size:16px;">
        <a class="btn btn-link" href="/signin">取消</a>
      </div>
    </form>
  </div>
</div>

