<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-5">
      <div class="img mt-3 d-flex flex-column align-items-center">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="_base/icon/logo">
            <g id="Icon">
              <path id="Vector" fill-rule="evenodd" clip-rule="evenodd"
                d="M30.6995 23.4709C30.6995 23.4709 23.2327 35.5781 17.1108 35.5781C6.40302 35.5781 16.3819 12.5132 24.1915 12.5132C29.6409 12.5132 30.6995 23.4709 30.6995 23.4709Z"
                fill="#FF6600" />
              <path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd"
                d="M39.5723 38.6972C37.4451 40.9607 34.8198 42.6976 31.9044 43.7701C28.989 44.8426 25.8639 45.2213 22.7767 44.8761C19.6895 44.5309 16.7252 43.4713 14.1188 41.7813C11.5125 40.0914 9.33573 37.8175 7.76123 35.1401C9.5314 37.5477 12.5338 39.1527 16.803 39.1527C27.3199 39.1527 33.2899 30.98 33.2899 30.98C33.2899 30.98 33.8062 37.4392 39.5593 38.6972H39.5723Z"
                fill="#FF6600" />
              <path id="Vector_3" fill-rule="evenodd" clip-rule="evenodd"
                d="M42.7223 15.7451C44.2963 18.7527 45.0781 22.1116 44.9939 25.505C44.9096 28.8984 43.9621 32.2144 42.2407 35.1401C40.8792 34.3764 39.8725 33.1082 39.4379 31.609L37.1558 24.7724L42.7223 15.7451Z"
                fill="#FF6600" />
              <path id="Vector_4" fill-rule="evenodd" clip-rule="evenodd"
                d="M25.0031 5.01737C30.0185 5.01403 34.8513 6.89881 38.5398 10.2967L34.7521 16.4088C33.3811 12.843 30.5957 9.2729 25.1767 9.2729C14.0784 9.2729 5.85231 21.3888 5.85231 28.9846C5.84986 29.9669 5.97528 30.9454 6.22543 31.8953C5.11558 28.8725 4.75205 25.6265 5.16572 22.4331C5.57938 19.2398 6.75802 16.1934 8.60147 13.5531C10.4449 10.9127 12.8987 8.75634 15.7542 7.26726C18.6097 5.77818 21.7826 5.00039 25.0031 5V5.01737Z"
                fill="#FF6600" />
            </g>
          </g>
        </svg>
        <strong class="mt-3 mb-3" style="font-size:23px">建立你的帳號</strong>
      </div>

      <form action="/signup" method="POST">

        <div class="form-group">
          <input type="text" name="account" class="form-control font-weight-bold" placeholder="帳號"
            style="background-color:#F5F8FA; border-bottom: 2px solid #657786; border-top:0px; border-left:0px; border-right:0px;"
            required autofocus>
        </div>
        <div class="form-group mt-4">
          <input type="text" name="name" class="form-control font-weight-bold" placeholder="名稱" maxlength="50"
            style="background-color:#F5F8FA; border-bottom: 2px solid #657786; border-top:0px; border-left:0px; border-right:0px;"
            required autofocus>
        </div>
        <div class="form-group mt-4">
          <input type="email" name="email" class="form-control font-weight-bold" placeholder="Email"
            style="background-color:#F5F8FA; border-bottom: 2px solid #657786; border-top:0px; border-left:0px; border-right:0px;"
            required autofocus>
        </div>
        <div class="form-group mt-4">
          <input type="password" name="password" class="form-control font-weight-bold" placeholder="密碼"
            style="background-color:#F5F8FA; border-bottom: 2px solid #657786; border-top:0px; border-left:0px; border-right:0px;"
            required>
        </div>
        <div class="form-group mt-4">
          <input type="password" name="checkPassword" class="form-control font-weight-bold" placeholder="密碼確認"
            style="background-color:#F5F8FA; border-bottom: 2px solid #657786; border-top:0px; border-left:0px; border-right:0px;"
            required>
        </div>

        <br />

        <div class="mb-4 text-center">
          <button class="btn btn-block mt-4" style="border-radius: 50px; background-color:#FF6600; color: white; width:356px; 
          height: 46px;padding: 8px 24px;" type="submit">註冊</button>
        </div>
        <div class="mt-3 d-flex justify-content-center">
          <p><a href="/signin">取消</a></p>
        </div>
      </form>
    </div>
  </div>
</div>