<form class="form-signin mx-auto" action="/signin" method="POST" style="width: 100%;">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
  </div>
  <div class="form-label-group mb-2">
    <label for="inputAccount">Account</label>
    <input type="text" name="account" class="form-control" placeholder="Account" required autofocus>
  </div>
  <div class="form-label-group mb-2">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
  </div>
  <br />
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  <div class="text-center mb-4">
    <p><a href="/signup">No account? Sign Up</a></p>
    <p><a href="/admin/signin">Admin Sign In</a></p>
  </div>
</form>