<div class="signin-wrapper d-flex flex-column align-items-center">
  {{>logo}}
  <h class="title">登入Alphitter</h>
  <form class="" action="/signin" method="POST">
    <input name="account" t ype="text">
    <input name="password" type="text">
    <button>登入</button>
  </form>
  <div class="footer">
    <a href=""></a>
    <a href=""></a></div>
</div>