<div class="row d-flex justify-content-center" style="text-align: top;">
  <div class="card border-light px-0" style="width: 400px; background-color: #FFFFFF; border: 0px">

    <div class="card-body ">
      <div class="mb-4 text-center">
        <img src="https://i.imgur.com/T5IhY8x.png" alt="icon" style="margin: 53px 0 24px 0" width="50" height="50">
        <h1 class="h3 font-weight-normal mb-3" style="margin: 0 0 40px 0;font-weight: bold;">建立你的帳號</h1>
      </div>

      <form class="form-signup" action="/signup" method="POST" style="width: 100%;">      
      {{> account-form}}
      
      <button id="signup" type="submit" style="background-color:#FF6600;color:#FFFFFF;padding: 8px 24px;width: 356px;border: 0;display: flex;flex-direction: column;
      justify-content: center;
      align-items: center;border-radius: 50px;">註冊</button>
      </form>

      <div class="text-center">
        <p style="padding: 20px 24px;width: 356px;"><a href="/signin">取消</a></p>
      </div>
    </div>
  </div>
</div>