<div class="container">
  <div class="row justify-content-center align-item-center vh-100">

    <form class="form-signin" action="/signin" method="POST">

      <!-- logo -->
      <img src="/images/AC.png" alt="ac-logo" class="rounded mx-auto d-block"
        style="width: 50px; height: 50px; margin-bottom: 40px;">

      <!-- title -->
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-bold">登入 Alphitter</h1>
      </div>

      {{> message}}

      <!-- form -->
      <div class="form-label-group">
        <label for="account">帳號</label>
        <input type="text" name="account" id="account" class="form-control"
          required>
      </div>

      <div class="form-label-group">
        <label for="password">密碼</label>
        <input type="password" name="password" id="password"
          class="form-control" required>
      </div>

      <!-- button -->
      <button class="btn btn-lg btn-primary btn-block mt-5" type="submit"
        style="border-radius: 30px;background-color:#FF6600;border-color: #fff;">
        登入
      </button>

      <div class="text-right mb-4 mt-3" style="color: #007bff">
        <p>
          <a class="sign-link" href="/signup">
            註冊 Alphitter
          </a>
          •
          <a class="sign-link" href="/admin/signin">
            後台登入
          </a>
        </p>
      </div>

    </form>
  </div>
</div>
