<form class="form-signin" action="/signin" method="POST" style="width: 60%;">
  <div class="logo">
    <img src="https://imgur.com/8DjhHxL">
  </div>
  <div class="text-center ">
    <div class="sign-title">登入Alphitter</div>
  </div>
  <div class="form-label-group">
    <input type="text" name="account" id="account" class="form-control" placeholder="帳號" required autofocus>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-label-groups">
    <input type="password" name="password" id="password" class="form-control" placeholder="密碼" required>
    <div class="invalid-feedback"></div>
  </div>
  <br>
  <button class="btn siginin-button" type="submit">登入</button>
  <div class="text-center-signup mt-4">
    <a href="/signup">註冊Alphitter</a>•
    <a href="/admin/signin">後台登入</a>
  </div>
</form>