<div class="sign-template">
  <div class="sign-main">
    <div class="header">
      <i class='ac-icon login'></i>
      <div class="title">
        {{#if isBackend}}
        後台登入
        {{else}}
        登入 Alphitter
        {{/if}}
      </div>
    </div>
    {{#if isBackend}}
    <form action="/admin/signin" method="POST">
      {{else}}
      <form action="/signin" method="POST">
        {{/if}}

        <div class="edit-text">
          <label for="account">帳號</label>
          <input type="account" name="account" id="account" required value={{#if isBackend}}"root"{{else}}"user1"{{/if}}>
        </div>

        <div class="edit-text">
          <label for="password">密碼</label>
          <input type="password" name="password" id="password" required value="12345678">
        </div>

        <button type="submit" class="btn-fill">登入</button>

        <div class="buttons">
          {{#if isBackend}}
          <a href="/signin" class="btn-text">前台登入</a>
          {{else}}
          <a href="/signup" class="btn-text">註冊 Alphitter</a>
          <span>•</span>
          <a href="/admin/signin" class="btn-text">後台登入</a>
          {{/if}}
        </div>

      </form>
  </div>
</div>