<div class="signin-container">

  {{!-- Logo --}}
  <div class="signin-logo-container">
    <img src="/stylesheets/icons/logo.svg" alt="logo" class="signin-logo">

  </div>

  {{!-- Title --}}
  <h3 class="signin-title">登入 Alphitter</h3>

  {{!-- Form --}}
  <form action="/signin" method="POST" id="form" class="needs-validation" novalidate>


    {{!-- 帳號 --}}
    <div class="form-item-account">
      <label for="account" class="form-label">帳號</label>
      <input type="text" id="account" name="account" placeholder="請輸入帳號" class="form-input" value="{{ account }}" required />
      
      {{!-- 驗證錯誤的提示訊息 --}}
      {{!-- <div class="invalid-feedback">請輸入帳號</div>
      <div class="input-minmax">0/10</div> --}}
    </div>

    {{!-- 密碼 --}}
    <div class="form-item-password">
      <label for="password" class="form-label">密碼</label>
      <input type="password" id="password" name="password" placeholder="請輸入密碼" class="form-input" value="{{ password }}" required />
      
      {{!-- <div class="invalid-feedback">請輸入密碼</div> --}}
      {{!-- <div class="input-minmax"></div> --}}
    </div>


    {{!-- 登入 button --}}
    <button type="submit" class="btn btn-info btn-submit" id="submit">
      <span class="btn-signin-text">登入</span>
    </button>
  </form>


  <div class="sub-btn">
    <a href="/signup" style="text-decoration:underline">註冊</a>
    <span>・</span>
    <a href="/admin/signin" style="text-decoration:underline">後台登入</a>
  </div>

</div>