<form class="form-signin" action="/signin" method="POST" style="width: 100%;">
  <div class="text-center mb-4">
    <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89-300x300.png" alt=""
      style="width:100px; height:100px">
  </div>

  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">登入Alphitter</h1>
  </div>

  <div class="mx-auto col-md-5">
    <div class="form-label-group">
      <label for="inputEmail">Email</label>
      <input type="text" name="email" class="form-control" placeholder="email" required autofocus>
    </div>
    <div class="form-label-group">
      <label for="inputPassword">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <br />
    <button class="btn btn-block" style="border-radius: 18px; background: #FF6600;" type="submit">登入</button>

    </br>
    <div class="text-center mb-4">
      <p class="lead mt-1 text-right">
        <a href="/signup" style="font-size: 14px; font-weight: bold; "> <u>註冊Alphitter</u></a>
        <a href="/admin/signin" style="font-size: 14px; font-weight: bold"><u>後台登入</u></a>
      </p>
    </div>
    <p class="mt-5 mb-3 text-muted text-center ">© 2020 Austin Calvin Ann Collaboration Project</p>

  </div>
</form>