<form class="form-signin mx-auto" action="/signup" method="POST" style="width: 100%;">

  <div class="text-center mb-4">
    <img class="mb-2" src="https://i.imgur.com/5wAep0e.png" style="width:50px; height:50px">
    <h1 class="h3 mb-3 font-weight-normal"><strong>建立你的帳號</strong></h1>
  </div>

  <div class="form-label-group mb-2 md-form">
    <label for="inputAccount">帳號</label>
    <input type="text" id="inputAccount" name="account" class="form-control" required autofocus>
  </div>

  <div class="form-label-group mb-2 md-form">
    <label for="inputName">名稱</label>
    <input type="text" id="inputName" name="name" class="form-control" required>
  </div>

  <div class="form-label-group mb-2 md-form">
    <label for="inputEmail">Email</label>
    <input type="text" id="inputEmail" name="email" class="form-control" required>
  </div>

  <div class="form-label-group mb-2 md-form">
    <label for="inputPassword">密碼</label>
    <input type="text" id="inputPassword" name="password" class="form-control" required>
  </div>

  <div class="form-label-group mb-2 md-form">
    <label for="inputPasswordCheck">確認密碼</label>
    <input type="text" id="inputPasswordCheck" name="passwordCheck" class="form-control" required>
  </div>

  <br />
  <button class="btn btn-md btn-primary btn-block mb-3" type="submit"
    style="font-size:medium; border-radius:20px;">註冊</button>

  <div class="text-center mb-4">
    <p><a href="/signin">取消</a></p>
  </div>
</form>