<div class="mt-5">
	<form class="form-style form-signup" action="/signup" method="POST">
		{{!-- logo --}}
		<div class="logo text-center">
			<img src="/images/ac@2x.png" alt="" />
		</div>
		{{!-- 後台登入 --}}
		<div class="tittle-text mb-4 text-center">
			<h1 class="h3 font-weight-normal mb-4">建立你的帳號</h1>
		</div>
		{{!-- 帳號 --}}
		<div class="form-content mb-2">
			<label class="form-label mb-0 p-2 pb-0" for="account">帳號</label>
			<input class="form-control p-2 pb-0 pt-0" id="account" type="text" name="account" placeholder="請輸入帳號" required autofocus>
		</div>
		{{!-- 名稱 --}}
		<div class="form-content mb-2">
			<label class="form-label mb-0 p-2 pb-0" for="name">名稱</label>
			<input class="form-control p-2 pb-0 pt-0" id="name" type="text" name="name" placeholder="請輸入使用者名稱" required autofocus>
		</div>
		{{!-- email --}}
		<div class="form-content mb-2">
			<label class="form-label mb-0 p-2 pb-0" for="email">Email</label>
			<input class="form-control p-2 pb-0 pt-0" id="email" type="text" name="email" placeholder="請輸入Email" required autofocus>
		</div>
		{{!-- 密碼 --}}
		<div class="form-content mb-2">
			<label class="form-label mb-0 p-2 pb-0" for="password">密碼</label>
			<input class="form-control p-2 pb-0 pt-0" id="password" type="password" name="password" placeholder="請輸入密碼" required>
		</div>
		{{!-- 密碼 --}}
		<div class="form-content mb-0">
			<label class="form-label mb-0 p-2 pb-0" for="checkPassword">密碼確認</label>
			<input class="form-control p-2 pb-0 pt-0" id="checkPassword" type="password" name="checkPassword" placeholder="請再次輸入密碼" required>
		</div>
		{{!-- 登入 --}}
		<button class="submit btn btn-primary btn-block " type="submit">註冊</button>

		{{!-- 取消 --}}
		<div class="mt-4 text-center">
			<p><a href="/signin">取消</a></p>
		</div>
	</form>
</div>