<div class="d-flex  justify-content-center">
  <div class="first-con">
    <img src="/images/icon/Icon.png" alt="main-icon">
    <div>
      <h1 id="title">登入 Alphitter</h1>
      <form class="form-signin" action="/signin" method="POST">
        <div>
          <label for=" name">帳號</label>
          <input type="text" name="name" id="name" placeholder="請輸入帳號" aria-label="Username">
        </div>
        <div>
          <label for="password">密碼</label>
          <input type="text" name="password" placeholder="請輸入密碼" aria-label="Username">
        </div>
        <button id="button" type="submit">登入</button>
      </form>
      <div class="register inline text-end">
        <a href=" /">註冊</a><span>‧</span><a href="/">後台登入</a>
      </div>
    </div>
  </div>
</div>