<form class="form-login mt-5" action="/signup" method="POST" style="width: 100%;" novalidate>
  <div class="text-center my-4">
    <h1 class="h3 mb-3 font-weight-normal">建立你的帳號</h1>
  </div>

  <div class="row justify-content-center">
    <div class="form-floating col-4 mb-4">
      <input type="text" class="form-control" id="floatingAccount" placeholder="@Will" value="{{ account }}"
        name="account" style="background-color: #F5F8FA;" required autofocus />
      <label for="floatingAccount">帳號</label>
      <div class="invalid-feedback">請輸入帳號</div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-floating col-4 mb-4">
      <input type="text" class="form-control" id="floatingName" placeholder="name" value="{{ name }}" name="name"
        style="background-color: #F5F8FA;" maxlength="50" required autofocus />
      <label for="floatingName">名稱</label>
      <div class="invalid-feedback">請輸入名稱，最多50字</div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-floating col-4 mb-4">
      <input type="Email" class="form-control" id="floatingEmail" placeholder="name@example.com" value="{{ email }}"
        name="email" style="background-color: #F5F8FA;" required autofocus />
      <label for="floatingEmail">Email</label>
      <div class="invalid-feedback">請輸入Email</div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-floating col-4 mb-4">
      <input type="password" class="form-control" id="floatingPassword" placeholder="******" name="password"
        style="background-color: #F5F8FA;" required />
      <label for="floatingPassword">密碼</label>
      <div class="invalid-feedback">請輸入密碼</div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-floating col-4 mb-4">
      <input type="password" class="form-control" id="floatingcheckPassword" placeholder="******"
        name="checkPassword" style="background-color: #F5F8FA;" required />
      <label for="floatingcheckPassword">確認密碼</label>
      <div class="invalid-feedback">和密碼不符</div>
    </div>
  </div>

  <div class="d-grid gap-2 col-4 mx-auto text-center">
    <button class="btn rounded-pill" type="submit" style="color:white; background-color:#FF6600">註冊</button>
    <p style="color: #0099FF;font-size: 14px"><a href="/signin">取消</a></p>
  </div>
</form>