{{!-- signup page --}}
<div class="mb-4 text-center">
  <div class="pt-5 mb-3">
    <img src="/images/logo.svg" alt="">
  </div>
  <h1 class="h3 fw-bolder mb-3">建立你的帳號</h1>
</div>
{{> message}}
<form class="d-flex flex-column align-items-center form-signup" action="/signup" method="POST">
  <div class="form-row mb-5">
    <label class="form-label account-label" for="account">帳號</label>
    <input class="form-control account-input" id="account" type="text" name="account" class="form-control" placeholder="請輸入帳號" required autofocus>
  </div>
  <div class="form-row mb-5">
    <label class="form-label password-label" for="name">名稱</label>
    <input class="form-control password-input" id="name" type="text" name="name" class="form-control" placeholder="請輸入使用者名稱" required autofocus>
  </div>
  <div class="form-row mb-5">
    <label class="form-label password-label" for="email">Email</label>
    <input class="form-control password-input" id="email" type="text" name="email" class="form-control" placeholder="請輸入 Email" required autofocus>
  </div>
  <div class="form-row mb-5">
    <label class="form-label password-label" for="password">密碼</label>
    <input class="form-control password-input" id="password" type="text" name="password" class="form-control" placeholder="請輸入密碼" required autofocus>
  </div>
  <div class="form-row mb-5">
    <label class="form-label password-label" for="passwordCheck">密碼確認</label>
    <input class="form-control password-input" id="passwordCheck" type="text" name="passwordCheck" class="form-control" placeholder="請再次輸入密碼" required autofocus>
  </div>
  <div>
    <button class="btn btn-primary mb-4 signin-btn" type="submit">註冊</button>
  </div>
</form>
<div class="d-flex flex-column align-items-center text-center other-page-btn">
  <p><a href="/signin">取消</a></p>
</div>