<div class="sign-up-container">
  <img id="ac-logo-icon" src="/images/icons/logo.png" alt="">
  <h3 id="sign-up-h3">建立你的帳號</h3>
  <div id="container-form-signup">
    <form class="form-signup"  action="/signup" method="POST">
      <div class="mb-3" id="form-input-line">
        <label class="form-label" for="account">帳號</label>
        <input type="text" id="account" name="account" class="form-control" placeholder="請輸入帳號" required autofocus>
      </div>
      <div class="mb-3" id="form-input-line">
        <label class="form-label" for="name">名稱</label>
        <input type="text" id="name" name="name" class="form-control" maxlength="50" placeholder="請輸入使用者名稱" required autofocus>
      </div>
      <div class="mb-3" id="form-input-line">
        <label class="form-label" for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="請輸入Email" required>
      </div>
      <div class="mb-3" id="form-input-line">
        <label class="form-label" for="password">密碼</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="請設定密碼" required>
      </div>
      <div class="mb-3" id="form-input-line">
        <label class="form-label" for="checkPassword">密碼確認</label>
        <input type="password" id="checkPassword" name="checkPassword" class="form-control" placeholder="請再次輸入密碼"
          required>
      </div>
      <button class="btn btn-primary" id="btn-signin-signup-submit" type="submit">註冊</button>
    </form>
  </div>



  <div class="text-center">
    <a href="/signin" class="btn btn-link">取消</a>
  </div>

</div>