<div class="row">
  <div class="mx-auto">
    <form class="form-signup" action="/signup" method="POST" style="width: 540px;">
      <div class="text-center">
        <img src="/images/logo.png" alt="logo" style="width: 50px; height: 50px;">
      </div>
      <div class="text-center">
        <h1>建立你的帳號</h1>
      </div>
      <div class="form-group">
        <label for="account">帳號</label>
        <input type="text" class="form-control" name="account" id="account" required value="test">
      </div>
      <div class="form-group">
        <label for="name">名稱</label>
        <input type="text" class="form-control" name="name" id="name" maxlength="50" required value="test">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" required value="test@example.com">
      </div>
      <div class="form-group">
        <label for="password">密碼</label>
        <input type="password" class="form-control" name="password" id="password" required value="test">
      </div>
      <div class="form-group">
        <label for="checkPassword">密碼確認</label>
        <input type="password" class="form-control" name="checkPassword" id="checkPassword" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">註冊</button>
      <a href="/signin" class="btn btn-link btn-block">取消</a>
    </form>
  </div>
</div>