<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-5">
      <div class="login-section">
        {{!-- logo --}}
        <div class="text-center mb-4" style="margin-top: 64px">
          <img src="/images/logo.png" alt="Icon" style="width: 50px">
        </div>
        {{!-- login Title --}}
        <h5 class="text-center mb-4" style="font-size:28px; margin-top: 24px"><Strong> 登入 Alphitter <Strong></h5>
        {{!-- login form --}}
        <form action="/signin" method="post">
          <div class="mx-auto" style="width:356px; height:46px;">
            {{!-- account --}}
            <div class="form-group mb-4" style="width:356px; height:78px">
              <div class="label bg-light">
                <label for="account" class="form-label bg-light" style="font-family: Noto Sans TC; font-size: 14px; font-weight: 400; line-height: 22px; letter-spacing: 0px; text-align: left; margin-top: 2px; margin-left: 10.55px; color: #696974">帳號</label>
              </div>
              <input type="text" class="form-control shadow-none bg-light" style="outline: none; resize: none;" maxlength="50" id="account" name="account" placeholder="請輸入帳號" onkeyup="wordsTotal()" required>
              <div class="d-flex col justify-content-between">
                  <span class="col"
                    style="font-family: Noto Sans TC; font-size: 12px; font-weight: 500; line-height: 20px; letter-spacing: 0px; display: block; color: #FC5A5A"
                    id="displayErr"></span>
                  <span class="text-end"
                    style="font-family: Noto Sans TC; font-size: 12px; font-weight: 500; line-height: 20px; letter-spacing: 0px; display: block; color: #696974"
                    id="display"> 0 / 50</span>
              </div>
            
            </div>
            {{!-- password --}}
            <div class="form-group mb-4" style="width:356px; height:78px">
              <div class="label bg-light">
                <label for="password" class="form-label bg-light" style="font-family: Noto Sans TC; font-size: 14px; font-weight: 400; line-height: 22px; letter-spacing: 0px; text-align: left; margin-top: 2px; margin-left: 10.55px; color: #696974">密碼</label>
              </div>
              <input type="password" class="form-control shadow-none bg-light" style="font-family: Noto Sans TC; font-size: 16px;font-weight: 400; line-height: 26px; letter-spacing: 0px; text-align: left;" id="password" name="password" placeholder="請輸入密碼" maxlength="50" required>
            </div>
            {{!-- submit button --}}
            <div class="text-center">
              <button class="btn btn-primary my-3"
                style="width:356px; height:46px; border-radius: 50px; background-color:#FF6600; color: white; border-color: #FF6600"
                type="submit">登入</button>
            </div>
            {{!-- others--}}
            <div class="d-flex justify-content-end">
              <a href="/signup" style="font-family: Noto Sans TC; font-size: 16px; font-weight: 400; line-height: 24px; letter-spacing: 0px; text-align: center; color: #0062FF;">註冊</a>
              <span style="font-family: Noto Sans TC; font-size: 16px; font-weight: 400; line-height: 24px; letter-spacing: 0px; text-align: center; color: #000000;">・</span>
              <a href="/admin/signin" style="font-family: Noto Sans TC; font-size: 16px; font-weight: 400; line-height: 24px; letter-spacing: 0px; text-align: center; color: #0062FF">後台登入</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const input = document.getElementById('account')
  function wordsTotal() {
    let total = document.getElementById('account').value.length
    if (Number(total) === Number(50)) {
      document.getElementById('displayErr').textContent = '字數超出上限！'
      input.classList.add('custom-validation')
    } else {
      input.classList.remove('custom-validation')
      document.getElementById('displayErr').textContent = ''
    }
    document.getElementById('display').textContent = total + ' / 50'
  }
</script>