<div class="container">
  <div class="icon text-center">
    <img src="/images/alphacamp.png" alt="icon">
  </div>
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">登入 Alphitter</h1>
  </div>
  <form action="/signin" method="POST">
    <div class="form-row mb-3">
      <label class="form-label" for="account">帳號</label>
      <input type="text" id="account" name="account" class="form-control" placeholder="請輸入帳號" value="{{ account }}"
        required autofocus>
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="password">密碼</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="請輸入密碼"
        value="{{ password }}" required>
    </div>
    <button class="btn btn-primary btn-block" type="submit">登入</button>
  </form>
  <div class="mb-4 text-center">
    <a href="/signup">註冊</a>
    <span>•</span>
    <a href="/admin/signin">後台登入</a>
  </div>
</div>