<div class="container album py-5" style="width: 35%;font-family:
Noto Sans TC;">
  <form class="form-signin" action="/signin" method="POST" style="width: 100%;">
    <div class="text-center mb-4">
      <img class="style-f7df5c62-org-avatar-img" width="50px" height="50px"
        src="https://static.accupass.com/org/2008250550226683301600.jpg">
    </div>
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal font-weight-bold">登入 Alphitter</h1>
    </div>
    <div class="form-label-group py-3">
      <input type="text" name="email" class="form-control py-3 " style="background-color:#F5F8FA; border-bottom: 2px solid #657786; border-top:0px; border-left:0px; border-right:0px;" placeholder="帳號" required autofocus>
    </div>
    <div class="form-label-group py-3"> 
      <input type="password" name="password" class="form-control py-3" style="background-color:#F5F8FA; border-bottom: 2px solid #657786; border-top:0px; border-left:0px; border-right:0px;" placeholder="密碼" required>
    </div>
    <br />
    <div style="height:70px">
      <button class="btn btn-block text-light form-control py-2" style="border-radius: 40px; background-color:#FF6600"
        type="submit">登入</button>
    </div>
    <div>
      <div style="width:65px;height:20px;float:right;">
        <p><a class="font-weight-bolder" href="/admin/signin">後台登入</a></p>
      </div>
      <div style="width:30px;height:50px;float:right;color:blue">
        <p class="font-weight-bolder">or</p>
      </div>
      <div style="width:110px;height:20px;float:right;">
        <p><a class="font-weight-bolder" href="/signup">註冊Alphitter</a></p>
      </div>
    </div>
  </form>
</div>