<div class="w-25" style="margin: 64px auto;min-width: 356px;">
  <div class="d-flex justify-content-center" style="margin-bottom: 24px;">
    <img src="/images/logo.svg" alt="">
  </div>
  <h3 class="d-flex justify-content-center fw-bold" style="margin-bottom: 40px;">
    登入 Alphitter
  </h3>
  <div class="">
    <form action="/signin" method="post">
      {{> signin-tab}}
    </form>
    <div>
      <div class="d-flex justify-content-end">
        <a href="/signup">註冊</a>
        <p>．</p>
        <a href="/admin/signin">後台登入</a>
      </div>
    </div>
  </div>
</div>