<h3 class="form-title">登入Alphitter</h3>
{{#if success_messages}}
<div class="alert alert-success alert-dismissible fade show signin-message" role="alert">
  {{success_messages}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if error_messages}}
<div class="alert alert-success alert-dismissible fade show warning" role="alert">
  {{error_messages}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<form action="/signin" method="POST" class="form-frame">
  <div class="form-input">
    <p>帳號</p>
    <input type="text" class="account-input-sign" name="account" placeholder="請輸入帳號" required>
  </div>
  <span class="form-account-notice"></span>
  <div class="form-input">
    <p>密碼</p>
    <input type="password" class="password-input" name="password" placeholder="請輸入密碼" required>
  </div>
  <button class="form-button">登入</button>
  <div class="form-signin">
    <a class="form-signup-link" href="/signup">註冊Alphitter</a>
    <a class="form-admin-link" href="/admin/signin">後台登入</a>
  </div>
</form>