<div class="container py-5 ">
  <form action="/signin" method="POST" style="width: 100%;" class="signin-form">
    <div class="adminForm-container">
      <div class="sign-logo text-center">
        <img src="../images/logo.svg" alt="" />
      </div>
      <div class="admin-text text-center mb-4">
        <h1 class="h3 mb-3 font-weight-bord">登入 Alphitter</h1>
      </div>

      <div class="form-account form-label-group mb-4 mt-5">
        <label for="account">帳號</label>
        <input id="account" name="account" type="text" class="form-control signin-input" required>
      </div>

      <div class="form-password form-label-group mb-3">
        <label for="password">密碼</label>
        <input id="password" name="password" type="password" class="form-control signin-input" required>
      </div>
      <button class="btn btn-lg btn-primary btn-block mb-3 w-100 signin-btn" type="submit" :disabled="isProcessing">
        登入
      </button>
      <div class="sign-in text-center mb-3 w-100">
        <p class="text-right">
          <a href="/signup">註冊 Alphitter</a>．
          <a href="/admin/signin">後台登入</a>
        </p>
      </div>
    </div>
  </form>
</div>