<div class="container mt-5">
  <div class="row justify-content-center" style="">
    <form class="form-signin m-auto" action="/signup" method="POST" style="width: 50%;">
      <div class="icon icon-ac-mark text-center" style="color:#FF6600;font-size: 50px;"></div>
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">建立您的帳號</h1>
      </div>
      {{> message}}
      <div class="form-label-group">
        <input type="text" name="account" class="form-control mt-4" placeholder="帳號" 
          style="outline: none;border: none;background-color:#F5F8FA;border-radius:0px; border-bottom: 2px solid black;" value="{{userInput.account}}"
          required autofocus>
      </div>
      <div class="form-label-group">
        <input type="text" name="name" class="form-control mt-4" placeholder="名稱"
          style="outline: none;border: none;background-color:#F5F8FA;border-radius:0px; border-bottom: 2px solid black;" value="{{userInput.name}}"
          required>
      </div>
      <div class="form-label-group">
        <input type="email" name="email" class="form-control mt-4" placeholder="Email"
          style="outline: none;border: none;background-color:#F5F8FA;border-radius:0px; border-bottom: 2px solid black;" value="{{userInput.email}}"
          required>
      </div>
      <div class="form-label-group">
        <input type="password" name="password" class="form-control mt-4" placeholder="密碼"
          style="outline: none;border: none;background-color:#F5F8FA;border-radius:0px; border-bottom: 2px solid black;"
          required>
      </div>
      <div class="form-label-group">
        <input type="password" name="checkPassword" class="form-control mt-4" placeholder="密碼確認"
          style="outline: none;border: none;background-color:#F5F8FA;border-radius:0px; border-bottom: 2px solid black;"
          required>
      </div>
      <br />
      <button class="btn btn-lg btn-primary btn-block mt-4" type="submit"
        style="border-radius: 30px;background-color:#FF6600;border-color: #fff;">註冊</button>
      <a class="btn btn-lg btn-primary btn-block mt-2" href="javascript:history.back()"
        style="border-radius: 30px;background-color:#fff;border-color: #FF6600;color:#FF6600;">取消</a>

    </form>
  </div>
</div>