<div class="d-flex flex-column justify-content-between">
  {{>alphitter}}
  <h4 class="text-center fw-bold my-4">登入 Alphitter</h4>

  {{>messages}}

  <form action="/signin" method="post" class="d-flex flex-column">
    {{>signin-form-control}}
  </form>
  
  <div class="d-flex flex-row justify-content-end">
    <a href="/signup" class="link-primary">註冊</a>
    <p class="mx-3">．</p>
    <a href="/admin/signin" class="link-primary">後臺登入</a>
  </div>
  
</div>