<form action="/users/id?_method=PUT" method="post" class="modal-edit-box">
  <div class="modal-edit-title-box">
    <button type="button" class="close-edit"><i class="fas fa-times modal-close-btn"></i></button>
    <span class="modal-edit-title">編輯個人資料</span> 
    <button type="submit" class="modal-edit-submit">儲存</button>
  </div>
  <div class="modal-edit-cover">
    <img src="" alt="" srcset="">
    <input type="file" name="cover" id="edit-cover">
  </div>
  <div class="modal-edit-avatar">
    <img src="" alt="" srcset="">
    <input type="file" name="avatar" id="edit-avatar">
  </div>
  <div class="edit-account">
    <span>名稱</span>
    <input type="text" maxlength="50">
    <span>/50</span>
  </div>
  <div class="edit-account">
    <span>自我介紹</span>
    <textarea type="text" name="comment" maxlength="160" placeholder="推你的回覆"></textarea>
    <span>/160</span>
  </div>
</form>