<div class="w-100">
  <form action="/tweets" method="POST" class="border border-top-0 border-bottom-0">
    <h5 class="my-0 p-2 border-bottom">首頁</h5>
    <div class="container py-2">
      <div class="row">

        <div class="col-auto px-1">
          <a href="/users/{{user.id}}/tweets">
            {{#if user.avatar}}
            <img class="rounded-circle" src="{{user.avatar}}" style="max-width: 50px;max-height: 50px;">
            {{else}}
            <img class="rounded-circle" src="https://i.imgur.com/3P9xRqb.jpg" style="max-width: 50px;max-height: 50px;">
            {{/if}}
          </a>
        </div>

        <div class="col px-1" style="min-height: 100px;">
          <textarea class="border-0 w-100" name="description" rows="5" style="resize: none;"
            placeholder="有什麼新鮮事？"></textarea>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-regular rounded-pill float-end" type="submit">推文</button>
        </div>
      </div>
    </div>
  </form>
  {{#each tweets}}
  {{> tweet}}
  {{/each}}

</div>