<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      {{> navigationBar}}
    </div>

    <div class="col-7">
      <div class="card">
        <div class="border-bottom p-3">
          {{> nav}}
        </div>
        <div class="card-body">
          <div class="media">
            <img src="{{ user.avatar }}" class="mr-3 rounded-circle" alt="..." width="50" height="50">
            <div class="media-body">
              {{> addNewTweet}}
            </div>
          </div>

        </div>
      </div>

      {{!-- tweets --}}
      <div class="mt-3">
        {{#each tweets}}
        {{> tweetList isUserPage=../isUserPage}}
        {{/each}}
      </div>
    </div>

    <div class="col-3">
      {{> topUser}}
    </div>
  </div>
</div>