{{!--中間上半部 --}}
<div class="card" style="height: 300px;">
  <div class="card-header bg-white">
    <h5 class="text-start fw-bold">首頁</h5>
  </div>
  <div class="card-body">
    <form action="/tweets" method="POST">
      <div class="card p-1" style="border: none">
        <div class="row">
          <div class="col-1">
            <img src="{{loginUser.avatar}}" style="border-radius: 50px; width: 50px; height: 50px;">
          </div>
          <div class="col-11">
            <textarea class="form-control" id="text" name="description" rows="3" style="border: none"
              placeholder="有什麼新鮮事？" maxlength="140" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="submit-btn" style="width: 100px">
            推文
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{{!-- 中間下半部 --}}
<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>
        <h5 class='my-3 fw-bold'>推文清單</h5>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each tweetData}}
      {{> tweet-card}}
    {{/each}}
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="tweet-reply-modal" tabindex="-1" aria-labelledby="tweet-reply-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 634px; height: 400px;">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/tweets" method="POST">
          <div class="row">
            <div class="col-1 me-2">
              <img src="{{loginUser.avatar}}" style="border-radius: 50px; width: 50px; height: 50px;">
            </div>
            <div class="form-row mb-2 col-10">
              <textarea class="form-control" type="text" id="text" name="description" rows="3" placeholder="有什麼新鮮事？"
                maxlength="140" required></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="submit-btn" style="width: 100px">推文</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>