<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      {{> navigationBar}}
    </div>
    <div class="col-7">
      <div class="border p-3">
        {{> nav}}
      </div>
      {{!-- tweet with reply --}}
      <div class="">
        {{> tweet}}
      </div>
    </div>
    <div class="col-3">
      {{> topUser}}
    </div>
  </div>
</div>