<div class="row">
  <div class="home-nav-bar col-12 col-md-3 mt-2">
    <a href="#">
      <img src="https://loremflickr.com/50/50/paris,girl/all" alt="alpha simple twitter" title="alpha simple twitter"
        class="rounded-circle">
    </a>
    <div class="navigation d-flex flex-column mt-5">
      <p><a href="#"><i class="fas fa-home me-2 mb-3"></i> 首頁</a></p>
      <p><a href="#"><i class="far fa-user me-2 mb-3"></i> 個人資料</a></p>
      <p><a href="#"><i class="fas fa-cog me-2 mb-3"></i> 設定</a></p>
      <button type="button" class="btn rounded-pill fw-bolder" >
        推文
      </button>
    </div>
    <a href="#" class="logout"><i class="fas fa-sign-out-alt me-2"></i> 登出</a>
  </div>
  <div class="tweets col-12 col-md-6 d-flex flex-column mx-4">
    <div class="p-2">
      <span class="home-word">首頁</span>
    </div>
    <div class="input-block">
      <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      <span class="input-word">有什麼新鮮事？</span>
      <div class="input-btn">
        <button type="button" class="btn rounded-pill fw-bolder">
          推文
        </button>
      </div>
    </div>
    {{#each 1}}
    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">Name</span>
          <span class="account">&nbsp;account</span>
          <span class="time"><b>•</b>&nbsp;tweet time</span>
        </div>
        <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis deleniti, facilis recusandae et quaerat unde est maxime. Fuga incidunt provident tempora voluptate amet, suscipit maiores voluptatibus, adipisci repellat laborum delectus.</p>
        <div class="row">
          <div class="col-2">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;23</i>
          </div>
          <div class="col-2">
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">Name</span>
          <span class="account">&nbsp;account</span>
          <span class="time"><b>•</b>&nbsp;tweet time</span>
        </div>
        <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis deleniti, facilis recusandae et
          quaerat unde est maxime. Fuga incidunt provident tempora voluptate amet, suscipit maiores voluptatibus, adipisci
          repellat laborum delectus.</p>
        <div class="row">
          <div class="col-2">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;23</i>
          </div>
          <div class="col-2">
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>
    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">Name</span>
          <span class="account">&nbsp;account</span>
          <span class="time"><b>•</b>&nbsp;tweet time</span>
        </div>
        <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis deleniti, facilis recusandae et
          quaerat unde est maxime. Fuga incidunt provident tempora voluptate amet, suscipit maiores voluptatibus, adipisci
          repellat laborum delectus.</p>
        <div class="row">
          <div class="col-2">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;23</i>
          </div>
          <div class="col-2">
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>
    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">Name</span>
          <span class="account">&nbsp;account</span>
          <span class="time"><b>•</b>&nbsp;tweet time</span>
        </div>
        <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis deleniti, facilis recusandae et
          quaerat unde est maxime. Fuga incidunt provident tempora voluptate amet, suscipit maiores voluptatibus, adipisci
          repellat laborum delectus.</p>
        <div class="row">
          <div class="col-2">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;23</i>
          </div>
          <div class="col-2">
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>
    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">Name</span>
          <span class="account">&nbsp;account</span>
          <span class="time"><b>•</b>&nbsp;tweet time</span>
        </div>
        <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis deleniti, facilis recusandae et
          quaerat unde est maxime. Fuga incidunt provident tempora voluptate amet, suscipit maiores voluptatibus, adipisci
          repellat laborum delectus.</p>
        <div class="row">
          <div class="col-2">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;23</i>
          </div>
          <div class="col-2">
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>
    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">Name</span>
          <span class="account">&nbsp;account</span>
          <span class="time"><b>•</b>&nbsp;tweet time</span>
        </div>
        <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis deleniti, facilis recusandae et
          quaerat unde est maxime. Fuga incidunt provident tempora voluptate amet, suscipit maiores voluptatibus, adipisci
          repellat laborum delectus.</p>
        <div class="row">
          <div class="col-2">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;23</i>
          </div>
          <div class="col-2">
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>
    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">Name</span>
          <span class="account">&nbsp;account</span>
          <span class="time"><b>•</b>&nbsp;tweet time</span>
        </div>
        <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis deleniti, facilis recusandae et
          quaerat unde est maxime. Fuga incidunt provident tempora voluptate amet, suscipit maiores voluptatibus, adipisci
          repellat laborum delectus.</p>
        <div class="row">
          <div class="col-2">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;23</i>
          </div>
          <div class="col-2">
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>
    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">Name</span>
          <span class="account">&nbsp;account</span>
          <span class="time"><b>•</b>&nbsp;tweet time</span>
        </div>
        <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis deleniti, facilis recusandae et
          quaerat unde est maxime. Fuga incidunt provident tempora voluptate amet, suscipit maiores voluptatibus, adipisci
          repellat laborum delectus.</p>
        <div class="row">
          <div class="col-2">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;23</i>
          </div>
          <div class="col-2">
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="popular col-12 col-md-3 d-flex flex-column mt-3">
    <p class="word mt-2">Popular</p>
    <div class="popular-user row">
      <div class="col-2">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="col-2 d-flex align-items-center">
        <p class="popular-name">&nbsp;&nbsp;Name<br />&nbsp;&nbsp;<span class="popular-account">account</span></p>
      </div>
      <div class="follow-btn col-8">
        <button type="button" class="btn rounded-pill fw-bolder">
          正在追隨
        </button>
      </div>
    </div>
    <div class="popular-user row">
      <div class="col-2">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="col-2 d-flex align-items-center">
        <p class="popular-name">&nbsp;&nbsp;Name<br />&nbsp;&nbsp;<span class="popular-account">account</span></p>
      </div>
      <div class="follow-btn col-8">
        <button type="button" class="btn rounded-pill fw-bolder">
          正在追隨
        </button>
      </div>
    </div>
    <div class="popular-user row">
      <div class="col-2">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="col-2 d-flex align-items-center">
        <p class="popular-name">&nbsp;&nbsp;Name<br />&nbsp;&nbsp;<span class="popular-account">account</span></p>
      </div>
      <div class="follow-btn col-8">
        <button type="button" class="btn rounded-pill fw-bolder">
          正在追隨
        </button>
      </div>
    </div>
    <div class="popular-user row">
      <div class="col-2">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="col-2 d-flex align-items-center">
        <p class="popular-name">&nbsp;&nbsp;Name<br />&nbsp;&nbsp;<span class="popular-account">account</span></p>
      </div>
      <div class="follow-btn col-8">
        <button type="button" class="btn rounded-pill fw-bolder">
          正在追隨
        </button>
      </div>
    </div>
  </div>
</div>