{{>left route='tweets'}}
<div class="col-6">
  {{!-- test --}}
  <div class="card">
    <div class="card-home" style="border-bottom: 18px solid	#E6ECF0;">
      {{>header route='tweets'}}
      <div class="post-tweet" style="width:639px;height:153px;border-top: 1px solid	#E6ECF0;" data-bs-toggle="modal"
        data-bs-target="#tweet-modal">
        <div class="card-image m-3">
          {{#if user.avatar}}
            <img src="{{user.avatar}}" class="user-photo" class="user-avatar"
              style="width:50px;height:50px;border-radius:50%;">
          {{else}}
            <img src="/images/icon/user.png" class="user-photo" class="user-avatar"
              style="width:50px;height:50px;border-radius:50%;">
          {{/if}}
          <span style="color:#6C757D;font-size: 18px;margin:8px;">有什麼新鮮事？</span>
        </div>
        <div class="d-flex justify-content-end m-4">
          <button type="submit" class="btn btn-primary"
            style="color: white;font-size: 16px;background-color:#ff6600;border: 1px solid #FF6600;border-radius:20px; width:96px;height:40px;margin-left:24px">推文</button>
        </div>
      </div>
    </div>
    <div class="">
      {{#each tweets}}
        {{>tweet route='tweets'}}
      {{/each}}
    </div>
  </div>
</div>
{{!-- tweet Modal --}}
<div class="modal fade" id="tweet-modal" tabindex="-1" aria-labelledby="tweet-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:639px; position:relative; right:40px;">
    <div class="modal-content" style="border-radius:16px">
      <div class="" style="">
        <label for="description" class="form-label">
        </label>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/tweets" method="POST">
        <div class="modal-body d-flex">
          {{#if users.avatar}}
            <img src="{{users.avatar}}" class="bi pe-none me-2" style="width:50px;height:50px;border-radius:50%;">
          {{else}}
            <img src="/images/avatar.png" class="bi pe-none me-2" style="width:50px;height:50px;border-radius:50%;">
          {{/if}}
          <textarea class=" form" id="description" name="description" rows="4" maxlength="140" placeholder="有什麼新鮮事？"
            style="border:none; width:600px; top:10px;resize:none;height:250px;" required></textarea>
          <div class="" style="color:#FF0000;top: 270px;right: 120px;">
            <span id="insertEmptyMessage"></span>
          </div>
          <div class="" id="char_count"><span>140/140</span></div>
        </div>
        <button type="submit" class="btn btn-orange btn-tweets-models"
          style="border-radius: 50px; left:550px;bottom:20px;">
          <span style="font-size:16px;">推文</span>
        </button>
      </form>
    </div>
  </div>
</div>
{{!-- tweet Modal end --}}
{{>right}}
<script>
  const textArea = document.getElementById( 'description' )
  const charCount = document.getElementById( 'char_count' )
  let insertEmptyMessage = document.getElementById( 'insertEmptyMessage' )
  const maxNumOfCount = 140
  const countCharacters = () => {
    const numOfEnter = textArea.value.length
    const counter = maxNumOfCount - numOfEnter
    charCount.textContent = counter + '/140'

    if ( numOfEnter === 0 ) {
      insertEmptyMessage.innerText = '內容不可以是空白'
    }
    if ( counter < 0 || counter >= 140 ) {
      charCount.style.color = 'red'
    }
  }
  textArea.addEventListener( 'input', countCharacters )

</script>