{{!-- main/tweet --}}
{{!-- check form method --}}
{{!-- (.news-feed-form>(img.user-avatar+input.news-feed-input)+btn.news-feed-btn) --}}
<div class="news-feed-form">
  <img src="" alt="" class="user-avatar">
  <input type="text" class="news-feed-input">
  <button class="news-feed-btn"></button>
</div>