<div id="whole-container" class="container d-flex ">
  <div id="left-nav" class="col-2">
    {{> nav }}
  </div>
  <div id="mid-tweets" class="col-7">
    <div id="mid-tweets-content"class="tweet container">

      <div id="tweets-top">
        <h4 id="home-word"class="pt-3 ps-3">首頁</h4>
      </div>

      <div id="tweet-post"class="tweetpost ">
        <div class="avatar d-flex mt-3">
          <a href="/users/{{user.id}}/tweets" style="text-decoration:none;">
            <img id="tweet-post-avatar" src="http://i.imgur.com/ehh37fR.jpg"
              class="rounded-circle me-3">
          </a>
          <button id="tweet-post-link" type="button" class="btn"
            data-bs-toggle="modal" data-bs-target="#tweetModal">
            有什麼新鮮事?
          </button>
        </div>
        <div class="button d-flex justify-content-end">
          <button id="tweet-post-btn" type="submit" class="btn tweet-button d-flex" data-bs-toggle="modal" data-bs-target="#tweetModal">
            <span id="tweet-post-btn-word">推文</span>
          </button>
        </div>
      </div>

      <div class="tweets container">

        <div id="tweet-frame"class="tweets d-flex mt-3">
          <div class="avatar ps-3">
            <a href="/users/{{this.User.dataValues.id}}/tweets" style="text-decoration:none;">
              <img id="tweet-post-avatar"
                src="http://i.imgur.com/ehh37fR.jpg"
                class="rounded-circle me-3">
            </a>
          </div>
          <div class="tweet-content">
            <div class="name">
              <span id="tweet-name" >Name</span>
              <span id="tweet-account">Account・Time</span>
            </div>
            <div id="tweet-text-aria"class="content mt-3">
              <a id="tweet-text" href="/">
                Descriptionssssss
              </a>
            </div>
            <div class="tweetfooter d-flex">
              <div class="replies d-flex align-items-center">
                <button type="button" class="mt-4 mb-4 btn" data-bs-toggle="modal" data-bs-target="#replyModal{{this.id}}">
                  <i class="fa-regular fa-comment"></i>&ensp;77
                </button>
              </div>
              <div class="likes d-flex align-items-center">
               
                <form action="/" method="">
                  <div class="d-flex">
                    <button type="submit" class="btn"><i class="fa-solid fa-heart" style="color: #FF6600">&ensp;</i>
                      <span>11</span>
                    </button>
                  </div>
                </form>
             
                <form action="/" method="">
                  <button type="submit" class="btn"><i class="fa-regular fa-heart">&ensp;</i>
                    <span>12</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div id="right-followship"class="col-3 ms-3">
    {{> follow }}
  </div>
</div>
{{> post-modal}}
{{> reply-modal}}