<div class="container">
  <div class="row justify-content-md-center">
    {{> left-side route='tweets'}}
    <div class="main col-6">
      {{> header}}
      {{!-- 推文區塊 --}}
      <form class="tweet-post" action="/tweets" method="POST">
        <a href="/users/{{user.id}}/tweets">
          <img class='rounded-circle' src="{{user.avatar}}" alt="avatar">
        </a>
        <div class="text-box">
          <textarea type="text" name="description" placeholder="有什麼新鮮事？" rows="2" cols="63" maxlength="140"
            id="index-description" required></textarea>
        </div>
        <div class="bd-highlight">
          <button type="submit" class="tweet-btn">
            推文
          </button>
        </div>
      </form>

      <div class="hr-line-b"></div>

      {{#each tweets}}
      {{> tweet route='tweets'}}
      {{/each}}

    </div>
    {{> right-side}}
  </div>
</div>