<div class="container-fluid">

  {{!-- left-column --}}
  {{> left-column}}
  <div class="tweets-center">
    <div class="tweets-title">
      首頁
    </div>
    <div class="tweets-input">
      <div class="main-left">
        <img src="https://i.imgur.com/mP4m8UI.jpg" class="rounded-circle" style="width: 50px;height:50px;">
      </div>
      <div class="main-right">
        <form action="">
          <textarea class="form-control tweetText" placeholder="有什麼新鮮事？"></textarea>
          <button type="submit" class="btn btn-tweet-2">推文</button>
        </form>
      </div>
    </div>
    <div class="tweets-list">
      <div class="tweets-content">
        <div class="left-item">
          <img src="https://i.imgur.com/mP4m8UI.jpg" class="rounded-circle" style="width: 50px;height:50px;">
        </div>
        <div class="right-item">
          <div class="title">
            <span class="name">
              <a href="">
                nono
              </a>
            </span>
            <span class="time">
              @nonolin·3小時前
            </span>
          </div>
          <div class="body">
            Needless to say, I keep her in check
            She was a bad bad, nevertheless (yeah)
            Callin' it quits now, baby, I'm a wreck (ayy)
            Crash at my place, baby, you're a wreck (ayy)
          </div>
          <div class="footer">
            <div class="reply-item">
              <button type="button" class="btn" data-toggle="modal" data-target="#replyModal">
                <i class="icon-reply"></i> 13
              </button>
            </div>
            <div class="like-item">
              <button type="button" class="btn">
                <i class="icon-like"></i> 79
              </button>
            </div>
          </div>
        </div>
      </div>
      {{!-- ---------------------------------------------------- --}}
      <div class="tweets-content">
        <div class="left-item">
          <a href="">
            <img src="https://i.imgur.com/mP4m8UI.jpg" class="rounded-circle" style="width: 50px;height:50px;">
          </a>
        </div>
        <div class="right-item">
          <div class="title">
            <span class="name">
              <a href="">
                nono
              </a>
            </span>
            <span class="time">
              @nonolin·3小時前
            </span>
          </div>
          <div class="body">
            Needless to say, I keep her in check
            She was a bad bad, nevertheless (yeah)
            Callin' it quits now, baby, I'm a wreck (ayy)
            Crash at my place, baby, you're a wreck (ayy)
          </div>
          <div class="footer">
            <div class="reply-item">
              <button type="button" class="btn" data-toggle="modal" data-target="#replyModal">
                <i class="icon-reply"></i> 13
              </button>
            </div>
            <div class="like-item">
              <button type="button" class="btn">
                <i class="icon-like"></i> 79
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="tweets-content">
        <div class="left-item">
          <img src="https://i.imgur.com/mP4m8UI.jpg" class="rounded-circle" style="width: 50px;height:50px;">
        </div>
        <div class="right-item">
          <div class="title">
            <span class="name">
              <a href="">
                nono
              </a>
            </span>
            <span class="time">
              @nonolin·3小時前
            </span>
          </div>
          <div class="body">
            Needless to say, I keep her in check
            She was a bad bad, nevertheless (yeah)
            Callin' it quits now, baby, I'm a wreck (ayy)
            Crash at my place, baby, you're a wreck (ayy)
          </div>
          <div class="footer">
            <div class="reply-item">
              <button type="button" class="btn">
                <i class="icon-reply"></i> 13
              </button>
            </div>
            <div class="like-item">
              <button type="button" class="btn">
                <i class="icon-like"></i> 79
              </button>
            </div>
          </div>
        </div>
      </div>
      {{!-- -------------------------------------------------------- --}}
    </div>
  </div>

  {{!-- right-column --}}
  {{> right-column}}
  {{> modal}}
</div>