<div class="container">
{{!-- 瀏覽特定貼文區域 --}}
  <hr />
  <div class ="row">
    <div class = "col-md-4">
      <div class="text-center" style="background:cornflowerblue; width: 100px;
        height: 100px;">User.ava</div>
    </div>
    <div>
      {{tweet.description}}
    </div>
  </div>

  <hr />
  {{#each tweet.Replies}}
  <h2>{{this.comment}}</h2>
  {{/each}}

{{!-- 回覆貼文區域 --}}
  <form action="/index/{{tweet.id}}" method="POST">

    <div class="form-group mt-5">
      <textarea class="form-control" id="reply" name="reply" rows="3"></textarea>
      <input type="hidden" name="TweetId" value="{{tweet.id}}" />
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
      <button type="submit" class="btn btn-primary">回覆(還不能用)</button>
    </div>

  </form>

  <a href="/index">回上一頁</a>
</div>

