<div class="container">
  <div style="margin: 100px;"></div>
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="card col-6" style="border:none;">
      <div>
        <div class="card-body tweets">
          <img src="/images/icon/User Photo.png" alt="">
          <span class="card-title tweets-name">user.name</span>
          <span class="tweets-account"> @user.account ．Day.js</span>
          <p class="card-text">
            >>>>user.tweet Some quick example text to
            build on the card title and make up the bulk of the card's content.
          </p>
          <div class="tweets-icons">
            <a><img src="/images/basic/white/reply white.png">user.reply</a>
            <a><img src="/images/basic/white/like white.png">user.like</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>