<div class="col mt-2 mx-0 px-0">
    <h6 class="font-weight-bold ml-3">首頁</h6>
    <hr/>
    <div class="col-md-12">
        <div class="row">
            <img src="{{user.avatar}}" alt="" style="height: 40px; width: auto; border-radius: 50%;">
            <p>有什麼新鮮事？</p>
        </div>
        <button>推文</button>
    </div>
    <div class="row">
        tweets
    </div>
</div>