<div id="left">
	<div class="row" style="text-align: center;">
		<ul>
      <h1>
				<li>
					<a class="nav-link" href="/">首頁</a>
				</li>
				<li>
					<a class="nav-link" href="/">個人資料</a>
				</li>
				<li>
					<a class="nav-link active" href="/">設定</a>
				</li>
      </h1>
		</ul> 
	</div>
  <button type="submit" class="btn btn-warning btn-lg btn-block">推文</button>
</div>
<div id="main">
	<div class="col-md-7 column">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Panel title
				</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>
</div>
<div id="right">
	<div class="col-md-7 column">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Panel title
				</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
</div>
