{{!--中間上半部 --}}
<div class="card mt-2" style="height: 280px; border-radius: 0px;">
  <div class="card-header bg-white">
    <h5 class="text-start fw-bold">首頁</h5>
  </div>
  <div class="card-body">
    <form action="/tweets" method="POST">
      <div class="card " style="border: none">
        {{> post-tweet-form}}
      </div>
    </form>
  </div>
</div>
{{!-- 中間下半部 --}}
<table class="table table-bordered mt-3">
  <tbody>
    {{#each tweetsData}}
    {{> tweet-card}}
    {{!-- 點擊留言時產生的 Modal --}}
    {{> reply-modal tweet=this}}
    {{/each}}
  </tbody>
</table>