<div class="row mt-3">
  <div class="col-md-3 d-flex justify-content-center">

    {{> leftColumn}}

  </div>
  <div class="col-md-6 pl-0">



  </div>
  <div class="col-md-3 pl-0">

    {{> rightColumn}}

  </div>

</div>