<div class="row">
  {{> left-column}}
  <div class="center-section col-6">
    <div class="homepage">
      <div class="title text-left font-weight-bold mt-1" style="font-size: 18px;line-height: 26px;color: #1C1C1C;
          ">首頁
      </div>
      <hr>
      <form method="POST" action="/tweets">
        <div class="row">
          <div class="col-2 ">
            <img {{#if user.avatar}}src={{user.avatar}}{{/if}}
              style="background: #C4C4C4; border-radius: 100%; width: 50px; height: 50px">
          </div>
          <div class="col-10">
            <textarea class="form-control mb-2" name="description" id="description" cols="30" rows="5"
              placeholder="有什麼新鮮事？"></textarea>
          </div>
        </div>
        <div class="d-flex flex-row-reverse">
          <button type="submit" class="btn  btn-block "
            style="border-radius: 100px; background:#FF6600;font-size: 18px;color: #FFFFFF;width: 64px;">推文</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-3" style="width: 350px;">
    {{> right-column}}
  </div>
</div>