<div class="container">
  <div class="row">
    <div class="left">
      <a href=""><img class="ac-img" src="/images/ac@2x.png" alt=""></a>
      <div>
        <a href="/tweets" class="icon-home leftbar-text">
          <img class="home-img" src="/images/home@2x.png" alt="">
          <strong>首頁</strong>
        </a>
      </div>
      <div>
        <a href="/tweets" class="icon-user leftbar-text">
          <img class="user-img" src="/images/user@2x.png" alt="">
          <strong>個人資料</strong>
        </a>
      </div>
      <div>
        <a href="/tweets" class="icon-setting leftbar-text">
          <img class="setting-img" src="/images/setting@2x.png" alt="">
          <strong>設定</strong>
        </a>
      </div>
      <div class="tweetbtn-MP">
        <a class="tweetbtn" style="" href="/tweets/new" method="">推文</a>
      </div>
    </div>
    <div class="middle right-line-2 left-line-2">
      <div>
        <p class="middle-title">首頁</p>
      </div>
      <div class="tweetbox bottom-line-18 top-line-2 rel">
        <form action="/tweets/new" method="POST">
          <a href="">
            <img class="avatar-img" src="/images/avatar@2x.png" alt="">
          </a>
          <input class="tweetbox-input" type="text" name="tweets" id="tweets" placeholder="有什麼新鮮事?">
          <button class="tweetbtn-s abs"><a href="" class="text-decoration-n font-color-wh">推文</a></button>
        </form>
      </div>

      {{!-- 推文 start--}}
      <div class="bottom-line-2">
        <div class="fl">
          <a href=""><img class="ac-img" src="/images/img@2x.png" alt=""></a>
        </div>
        <div class="tweet-flow-text fl">
          <a href="" class="text-decoration-n">
            <span class="twitterbox-name">Apple</span>
          </a>
          <span class="twitterbox-time">@apple ‧ 3小時</span>
          <p class="twitterbox-text">
            Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation
            incididunt
            aliquip deserunt reprehenderit elit laborum.
          </p>
          <span class="twitterbox-time mx-40"><img class="tweet-flow-img" src="/images/reply@2x.png" alt="">13</span>
          <span class="twitterbox-time"><img class="tweet-flow-img" src="/images/like@2x.png" alt="">16</span>
          <div class="bottom-line-f"></div>
        </div>
      </div>
      {{!-- 推文 end--}}
      {{!-- 推文 start--}}
      <div class="bottom-line-2">
        <div class="fl">
          <a href=""><img class="ac-img" src="/images/img@2x.png" alt=""></a>
        </div>
        <div class="tweet-flow-text fl">
          <a href="" class="text-decoration-n">
            <span class="twitterbox-name">Apple</span>
          </a>
          <span class="twitterbox-time">@apple ‧ 3小時</span>
          <p class="twitterbox-text">
            Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation
            incididunt
            aliquip deserunt reprehenderit elit laborum.
          </p>
          <span class="twitterbox-time mx-40"><img class="tweet-flow-img" src="/images/reply@2x.png" alt="">13</span>
          <span class="twitterbox-time"><img class="tweet-flow-img" src="/images/like@2x.png" alt="">16</span>
          <div class="bottom-line-f"></div>
        </div>
      </div>
      {{!-- 推文 end--}}
      {{!-- 推文 start--}}
      <div class="bottom-line-2">
        <div class="fl">
          <a href=""><img class="ac-img" src="/images/img@2x.png" alt=""></a>
        </div>
        <div class="tweet-flow-text fl">
          <a href="" class="text-decoration-n">
            <span class="twitterbox-name">Apple</span>
          </a>
          <span class="twitterbox-time">@apple ‧ 3小時</span>
          <div>
            <p class="twitterbox-text">
              Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation
              incididunt
              aliquip deserunt reprehenderit elit laborum.
            </p>
          </div>
          <span class="twitterbox-time mx-40"><img class="tweet-flow-img" src="/images/reply@2x.png" alt="">13</span>
          <span class="twitterbox-time"><img class="tweet-flow-img" src="/images/like@2x.png" alt="">16</span>
          <div class="bottom-line-f"></div>
        </div>
      </div>
      {{!-- 推文 end--}}

    </div>


  </div>
  <div class="right">
    <div class="right-follow-title bottom-line-2">
      <p class="middle-title">推薦跟隨</p>
    </div>
    {{!-- 推薦跟隨 start--}}
    <div class="follow-flow fl">
      <div>
        <div class="fl">
          <a href="">
            <img class="ac-img-x" src="/images/img@2x.png" alt="">
          </a>
        </div>
        <div class="fl follow-flow-d">
          <a href="" class="text-decoration-n">
            <p class="follow-flow-account">Pizza Hut</p>
          </a>
          <p class="follow-flow-name">@pizzahut</p>
        </div>
        <div class="fl">
          <button class="tweetbtn-M">
            <a href="" class="text-decoration-n font-color-wh">正在跟隨</a>
          </button>
        </div>
      </div>
    </div>
    {{!-- 推薦跟隨 end--}}

    {{!-- 推薦跟隨 start--}}
    <div class="follow-flow fl">
      <div>
        <div class="fl">
          <a href="">
            <img class="ac-img-x" src="/images/img@2x.png" alt="">
          </a>
        </div>
        <div class="fl follow-flow-d">
          <a href="" class="text-decoration-n">
            <p class="follow-flow-account">Pizza Hut</p>
          </a>
          <p class="follow-flow-name">@pizzahut</p>
        </div>
        <div class="fl">
          <button class="tweetbtn-M-follow">
            <a href="" class="text-decoration-n font-color-or">跟隨</a>
          </button>
        </div>
      </div>
    </div>
    {{!-- 推薦跟隨 end--}}

  </div>
</div>
</div>
