<div id="column1" style="float:left; width:20%; position: fixed; top:15px; left:5%">{{> settingLeft}}</div>

<div class="d-flex justify-content-center">
<<<<<<< HEAD
  <div id="column2" class=" mx-auto my-auto col-md-10" style="float:left;">
=======
  <div id="column2" class="mx-auto my-auto" style="float:left;width:100%">
>>>>>>> 9660ee17f0eb29bdfbe1796bbdb0da8f445120d9
    {{> centerSingleTweet}}
  </div>
</div>

<div id="column3" class="float-right" style="float:left;width:23%; position: fixed; top:15px; right:1%">
  {{> popularRight}}
</div>