<li class="list-group-item tweet-list position-relative" style="height:130px;" type="button" data-bs-toggle="modal"
  data-bs-target="#tweet-modal">
  <img src="/images/profile-img.svg" alt="" class="recommend-followings-img">
  <span class="tweet-placeholder">有什麼新鮮事？</span>
  <div class="btn tweet-btn mb-2 me-2 position-absolute end-0 bottom-0">推文</div>
</li>

<!-- each tweets -->
<li class="list-group-item tweet-list mt-2">
  <div class="d-flex align-items-start">
    <div class="flex-shrink-1 p-0">
      <img src="/images/profile-img.svg" alt="" class="recommend-followings-img">
    </div>
    <div class="tweet-text">
      <span class="tweet-name">Apple </span>
      <span class="tweet-account">@apple・8 小時</span>
      <p class="mb-0" style="white-space:break-spaces;">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis
        ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.</p>
      <img src="/images/reply_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">13</span>
      <img src="/images/like_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">76</span>
    </div>
  </div>
</li>

<li class="list-group-item tweet-list mt-2">
  <div class="d-flex align-items-start">
    <div class="flex-shrink-1 p-0">
      <img src="/images/profile-img.svg" alt="" class="recommend-followings-img">
    </div>
    <div class="tweet-text">
      <span class="tweet-name">Apple </span>
      <span class="tweet-account">@apple・8 小時</span>
      <p class="mb-0" style="white-space:break-spaces;">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis
        ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.</p>
      <img src="/images/reply_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">13</span>
      <img src="/images/like_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">76</span>
    </div>
  </div>
</li>
<li class="list-group-item tweet-list mt-2">
  <div class="d-flex align-items-start">
    <div class="flex-shrink-1 p-0">
      <img src="/images/profile-img.svg" alt="" class="recommend-followings-img">
    </div>
    <div class="tweet-text">
      <span class="tweet-name">Apple </span>
      <span class="tweet-account">@apple・8 小時</span>
      <p class="mb-0" style="white-space:break-spaces;">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis
        ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.</p>
      <img src="/images/reply_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">13</span>
      <img src="/images/like_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">76</span>
    </div>
  </div>
</li>
<li class="list-group-item tweet-list mt-2">
  <div class="d-flex align-items-start">
    <div class="flex-shrink-1 p-0">
      <img src="/images/profile-img.svg" alt="" class="recommend-followings-img">
    </div>
    <div class="tweet-text">
      <span class="tweet-name">Apple </span>
      <span class="tweet-account">@apple・8 小時</span>
      <p class="mb-0" style="white-space:break-spaces;">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis
        ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.</p>
      <img src="/images/reply_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">13</span>
      <img src="/images/like_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">76</span>
    </div>
  </div>
</li>
<li class="list-group-item tweet-list mt-2">
  <div class="d-flex align-items-start">
    <div class="flex-shrink-1 p-0">
      <img src="/images/profile-img.svg" alt="" class="recommend-followings-img">
    </div>
    <div class="tweet-text">
      <span class="tweet-name">Apple </span>
      <span class="tweet-account">@apple・8 小時</span>
      <p class="mb-0" style="white-space:break-spaces;">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis
        ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.</p>
      <img src="/images/reply_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">13</span>
      <img src="/images/like_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">76</span>
    </div>
  </div>
</li>
<li class="list-group-item tweet-list mt-2">
  <div class="d-flex align-items-start">
    <div class="flex-shrink-1 p-0">
      <img src="/images/profile-img.svg" alt="" class="recommend-followings-img">
    </div>
    <div class="tweet-text">
      <span class="tweet-name">Apple </span>
      <span class="tweet-account">@apple・8 小時</span>
      <p class="mb-0" style="white-space:break-spaces;">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis
        ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.</p>
      <img src="/images/reply_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">13</span>
      <img src="/images/like_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">76</span>
    </div>
  </div>
</li>
<li class="list-group-item tweet-list mt-2">
  <div class="d-flex align-items-start">
    <div class="flex-shrink-1 p-0">
      <img src="/images/profile-img.svg" alt="" class="recommend-followings-img">
    </div>
    <div class="tweet-text">
      <span class="tweet-name">Apple </span>
      <span class="tweet-account">@apple・8 小時</span>
      <p class="mb-0" style="white-space:break-spaces;">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis
        ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.</p>
      <img src="/images/reply_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">13</span>
      <img src="/images/like_outlined.svg" alt="" class="tweets-icon me-1">
      <span class="tweets-interact-counts me-4">76</span>
    </div>
  </div>
</li>

<!-- Modal -->
<div class="modal fade" id="tweet-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="tweetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="tweet-close-button" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="/images/message/message_danger.svg" alt=""></span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form -->
        <div class="d-flex align-items-start">
          <div class="flex-shrink-1 p-0">
            <img src="/images/profile-img.svg" alt="" class="recommend-followings-img">
          </div>
          <div class="flex-grow-1 position-relative">
            <form action="/user/tweets" method="POST">
              <div class="form-group mb-5">
                <textarea class="form-control border-0" id="description" name="description" rows="3"
                  placeholder="有什麼新鮮事？"></textarea>
              </div>
              <button type="submit" class="btn btn-primary position-absolute end-0 bottom-0 mx-5 me-2">推文</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>