<div class="single-tweet">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex align-items-center">
      <a href="javascript:history.back()" class="back">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left-short font-weight-bold text-dark" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z" />
          <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
        </svg>
      </a>
      <div class="font-weight-bold h5 ml-5 mt-2">推文</div>
    </li>
    <li class="list-group-item">
      <div class="user-wrap d-flex">
        <img src="https://i.imgur.com/73A1th4.png" alt="" class="rounded-circle mr-4" style="width: 60px; height: 60px;">
        <div class="user d-flex flex-column justify-content-center">
          <div class="user-name font-weight-bold">
            Marc
          </div>
          {{!-- 連結到user 頁面 --}}
          <a href="/users/{{this.id}}" class="user-account text-secondary">
            @marc
          </a>
      
        </div>
      </div>

      <p class="h3">fffffff</p>
      <div class="time">

      </div>
    </li>
    <li class="list-group-item d-flex">
      <div class="mr-3">   回覆</div>
      <div>   喜歡次數</div>
    </li>
    <li class="list-group-item"></li>
    <li class="list-group-item list-group-item-action">jijij</li>
  </ul>
</div>