<div>
  tweets 首頁
</div>
<div id="column1" style="float:left; width:25%; position: fixed;">{{> settingLeft}}</div>

<div class="d-flex justify-content-center">
  <div id="column2" class="mx-auto my-auto" style="float:left;width:50%;">
    {{> centerSingleTweet}}
  </div>
</div>

<div id="column3" class="float-right" style="float:left;width:25%; position: fixed; top:0%; right:0%">
  {{> popularRight}}
</div>