<div class="container">
  <div class="wrapper">

    {{> navbar}}

    {{!-- main --}}
    <section class="main">
      <h4 class="main-title">
        首頁
      </h4>
      <div class="main-create-bar">
        <div class="avatar">
          <div class="avatar-img">
            avatar-img
          </div>
        </div>
      </div>
      <form action="/tweets" method="post">
        <input type="text" class="main-create-input" placeholder="有什麼新鮮事？">
        <button type="submit" class="btn btn-info">
          推文
        </button>
      </form>
      <div class="main-bg-bray"></div>
      <div class="card">
        <div class="avatar">
          <div class="avatar-img">avatarimg</div>
        </div>
      </div>
      <div class="card-text">
        <div class="card-text-info">
          <span class="card-name">Apple</span>
          <span class="card-account">@apple</span>
          <span class="card-date">3小時</span>
        </div>
        <p class="card-description">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
          Voluptate exercitation incididunt
          aliquip deserunt reprehenderit elit laborum.</p>
        <div class="card-datas">
          <span class="card-datas-icon">icon</span>
          <span class="card-datas-counts">13</span>
          <span class="card-datas-icon">icon</span>
          <span class="card-datas-counts">76</span>
        </div>
      </div>
    </section>

    {{!-- followship --}}
    <section class="followship">
      <h4 class="followship-title">title</h4>
      <div class="followship-card">
        <div class="avatar">
          <div class="avatar-img">avatar img</div>
        </div>
        <div class="card-text-info">
          <span class="card-name">name</span>
          <span class="card-account">account</span>
        </div>
        <div class="btn btn-info">btn-follow</div>
      </div>
    </section>
  </div>
</div>