{{!-- 發文 --}}
<div class="col-6 mx-auto" style="border: 1px solid #E6ECF0">
  <h5 class="d-flex flex-row ps-3 pt-3 pb-3" style="border-bottom: 1px solid #E6ECF0">首頁</h5>
  <div class="d-flex flex-column p-2">
    <div class="d-flex flex-row">
      <a href="#">
        <img class="" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/14990/Bernard_keyer.png" alt="" width="40px" height="40px"
        style="background-color:#FF6600; border-radius: 30px">
      </a>
      <p class="inline ms-1 mt-2">有什麼新鮮事?</p>
    </div>

    <div class="d-flex flex-row-reverse">
      <button class="btn pt-1 pb-1 ps-3 pe-3" style="background-color:#FF6600; color:white; border-radius: 30px" type="submit" data-bs-toggle="modal" data-bs-target="#myModalmain">
        推文
      </button>
    </div>
  </div>
</div>


{{!-- 留言 --}}

<div class="col-6 mx-auto p-2 mt-2" style="border: 1px solid #E6ECF0">
  <div class="card-body">
    <div class="d-flex flex-row">
      <a href="#">
        <img class="" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/14990/Bernard_keyer.png" alt="" width="40px" height="40px"
        style="background-color:#FF6600; border-radius: 30px">
      </a>
      <p class="inline ms-1 mt-1">Christofu</p>
      <span class="ms-1 mt-2" style="font-size: 0.2rem;">@account</span>
      <span class="ms-1 mt-2" style="font-size: 0.2em;">. 3小時</span>
    </div>

    <a href="/tweets/replies" style="text-decoration: none; color:#171725">
      <div class="col-10 mx-auto">
        <p>Voluptatem cumque non quibusdam. Repudiandae consequatur veritatis ducimus ut. Quia quae harum fuga et rerum eos neque ut. Aut unde aliquam </p>
      </div>
    </a>

    <div class="d-flex flex-row ms-5">

      <div class="me-4">
        <button type="submit" style="background-color:transparent; border-color:transparent; border: none; padding: 0;" data-bs-toggle="modal" data-bs-target="#ModalReply"> 
          <img src="/icon/Reply.png" alt="" width="20px" height="20px"/>
        </button>
        <span class="m-1" style="font-size: 0.2rem;">10</span>
      </div>

      <div>
        <a href="#" style="text-decoration: none;">
          <img class="" src="/icon/icon_like.png" alt="" width="20px" height="20px">
        </a>
        <span class="m-1"  style="font-size: 0.2rem;">20</span>
      </div>
      
    </div>
  </div>
</div>


{{!-- modal 主頁欄 --}}

<div class="modal" id="myModalmain" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="d-flex justify-content-start">
        <button type="button" class="btn-close ms-2 mt-2"  data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <hr style="margin-top: 5px; margin-bottom: 5px;">

      <form action="" method="POST">
        <div class="ms-2">
          <div class="d-flex flex-row">
            <a href="#">
              <img class="" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/14990/Bernard_keyer.png" alt="" width="40px" height="40px"
              style="background-color:#FF6600; border-radius: 30px">
            </a>
    
            <textarea class="ms-1 mt-2" name="tweet" id="" cols="45" rows="6" placeholder="有什麼新鮮事"style="border:none" ></textarea>
          </div>
        </div>
      
        <div class="d-flex flex-row-reverse mb-3 me-2">
          <button class="btn pt-1 pb-1 ps-3 pe-3" style="background-color:#FF6600; color:white; border-radius: 30px" type="submit">
          推文
          </button>
        </div>
      </form>
    </div>
  </div>
</div>




{{!-- modal sidecolumn --}}

<button style="width:178px;background-color:#FF6600; color:white; border-radius: 30px" class="btn" data-bs-toggle="modal" data-bs-target="#myModal">推文
</button>

<div class="modal" id="myModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="d-flex justify-content-start">
        <button type="button" class="btn-close ms-2 mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <hr style="margin-top: 5px; margin-bottom: 5px;">

      <form action="" method="POST">
        <div class="ms-2">
          <div class="d-flex flex-row">
            <a href="#">
              <img class="" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/14990/Bernard_keyer.png" alt="" width="40px" height="40px"
              style="background-color:#FF6600; border-radius: 30px">
            </a>
    
            <textarea class="ms-1 mt-2" name="tweet" id="" cols="45" rows="6" placeholder="有什麼新鮮事"style="border:none" ></textarea>
          </div>
        </div>
      
        <div class="d-flex flex-row-reverse mb-3 me-2">
          <button class="btn pt-1 pb-1 ps-3 pe-3" style="background-color:#FF6600; color:white; border-radius: 30px" type="submit">
          推文
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- 留言modal --}}

<div class="modal" id="ModalReply" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="d-flex justify-content-start">
        <button type="button" class="btn-close ms-2 mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <hr style="margin-top: 5px; margin-bottom: 5px;">

      <form action="" method="POST">
        <div class="ms-2">
          <div class="d-flex flex-row">
            <a href="#">
              <img class="" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/14990/Bernard_keyer.png" alt="" width="40px" height="40px"
              style="background-color:#FF6600; border-radius: 30px">
            </a>
            <p class="inline ms-1 mt-1">Christofu</p>
            <span class="ms-1 mt-2" style="font-size: 0.2rem;">@account</span>
            <span class="ms-1 mt-2" style="font-size: 0.2em;">. 3小時</span>
          </div>

          <div class="col-10 mx-auto ps-1">
            <p>Voluptatem cumque non quibusdam. Repudiandae consequatur veritatis ducimus ut.Quia quae harum fuga et rerum eos neque ut. Aut unde aliquam </p>
            <P style="font-size: 14px">回覆給<span style="color:#FF6600">@Christofu</span></P>
          </div>

          <div class="d-flex flex-row">
            <a href="#">
              <img class="" src="https://i.imgur.com/Na2PT87.jpg" alt="" width="40px" height="40px"
              style="background-color:#FF6600; border-radius: 30px">
            </a>
            <textarea class="ms-1 mt-2" name="tweet" id="" cols="45" rows="6" placeholder="推你的回覆"style="border:none" ></textarea>
          </div>
        </div>

        <div class="d-flex flex-row-reverse mb-3 me-2">
          <button class="btn pt-1 pb-1 ps-3 pe-3" style="background-color:#FF6600; color:white; border-radius: 30px" type="submit">
          回覆
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


{{!-- 個人資料頁modal --}}
<button style="width:128px;background-color:white; color:#FF6600; border-radius: 50px; border:#FF6600 solid 1px;" class="btn" data-bs-toggle="modal" data-bs-target="#personalData">編輯個人資料
</button>

<div class="modal" id="personalData" tabindex="-1">
  <form action="" method="POST">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="d-flex justify-content-between m-2">
        <div class="d-flex">
          <button type="button" class="btn-close ms-2 mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
          <span class="ms-4 mt-2" style="font-weight:bold">編輯個人資料頁</span>
        </div>

        <div class="d-flex mt-2">
          <button class="btn pt-1 pb-1 ps-3 pe-3" type="submit" style="background-color:#FF6600; color:white; border-radius: 30px" type="submit">儲存
          </button>
        </div> 
      </div>

      <div class="p-0 mb-5 position-relative">
        <img src="https://live.staticflickr.com/65535/49985934496_ce401213ed_3k.jpg" class="card-img-top" alt="...">
        <div style="width:140px; height:140px" class="bg-primary position-absolute top-100 start-0 translate-middle-y rounded-circle ms-3 overflow-hidden border border-4 border-white ">
          <img src="https://cdn2.ettoday.net/images/1457/1457773.jpg" style="max-width: 100%; height: auto" class="" alt="...">
        </div>
      </div>

      <div class="mt-4">
        <div class="d-flex flex-column mx-auto" style="max-width: 90%;">
          <input class="mb-3" type="text" name="name" style="border-bottom: 2px solid #657786; border-left: none; border-right: none; border-top: none; background-color:#F5F8FA; background-color:#F5F8FA" placeholder="名稱">
          <textarea class="mb-4" name="description" id="" cols="30" rows="6" placeholder="自我介紹"style="border-bottom: 2px solid #657786; border-left: none; border-right: none; border-top: none; background-color:#F5F8FA" ></textarea>  
        </div>
      </div>
      </div>
  </div>

  </form>

</div>

