<div id="column1" style="float:left; width:25%; position: fixed;">{{> settingLeft}}</div>
<a href="/logout"><button class="btn btn-outline-success my-2 my-sm-0">登出</button></a>

  {{!-- <div class="d-flex justify-content-center">
    <div id="column2" class="mx-auto my-auto" style="float:left;width:50%;">{{> indexCenter}}</div>
  </div>

  <div id="column3" class="float-right" style="float:left;width:25%; position: fixed; top:0%; right:0%">{{> popularRight}}</div> --}}