<div class="wrapper">
  <nav class="col-2"></nav>
  <div class="mainSectionContainer col-10 col-md-8 col-lg-6">
    <div class="titleContainer">
      <h1>Home</h1>
      <div class="postFormContainer">
        <div class="userImageContainer">
          <img src="{{user.avatar}}" alt="User's profile picture" />
        </div>
        <div class="textareaContainer">
          <textarea id="postTextarea" placeholder="有什麼新鮮事?"></textarea>
          <div class="buttonsContainer"><button id="submitPostButton">Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>