<div class="container-fluid">
  <div class="row row-cols-3">
    <div class="col-6 col-md-3">
      <span class="d-block p-2"><a href="#">首頁</a></span>
      <span class="d-block p-2"><a href="#">個人資料</a></span>
      <span class="d-block p-2"><a href="#">設定</a></span>
      <button class="btn">推文</button>
    </div>
    <div class="col-6 col-md-6">.col-6 .col-md-4</div>
    <div class="col-6 col-md-3">.col-6 .col-md-4</div>
  </div>
</div>