<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
      <div class="left-side">
        left-side
      </div>
    </div>
    <div class="main col-6">
      main
    </div>
    <div class="col">
      <div class="right-side">
        right-side
      </div>
    </div>
  </div>
</div>