{{>left route='tweets'}}
<div class="col-6">
  {{!-- test --}}
  <div class="card">
    <div class="card-home" style="border-bottom: 18px solid	#E6ECF0;">
      {{>header route='tweets'}}
      <div class="post-tweet" style="width:639px;height:153px;border-top: 1px solid	#E6ECF0;" data-bs-toggle="modal"
        data-bs-target="#tweet-modal">
        <div class="card-image m-3">
          {{#if user.avatar}}
            <img src="{{user.avatar}}" class="user-photo" class="user-avatar"
              style="width:50px;height:50px;border-radius:50%;">
          {{else}}
            <img src="/images/icon/user.png" class="user-photo" class="user-avatar"
              style="width:50px;height:50px;border-radius:50%;">
          {{/if}}
          <span style="color:#6C757D;font-size: 18px;margin:8px;">有什麼新鮮事？</span>
        </div>
        <div class="d-flex justify-content-end m-4">
          <button type="submit" class="btn btn-primary"
            style="color: white;font-size: 16px;background-color:#ff6600;border: 1px solid #FF6600;border-radius:20px; width:96px;height:40px;margin-left:24px">推文</button>
        </div>
      </div>
    </div>
    <div class="">
      {{#each tweets}}
        {{>tweet route='tweets'}}
      {{/each}}
    </div>
  </div>
</div>
{{>right}}