<link rel="stylesheet" href="/stylesheets/showPage.css">

{{!-- 包一層div讓內部有依據照比例縮 --}}
<div class="wrap d-flex">
  <div class="row col-md-12  justify-content-center" style="margin:0">
    {{!-- 左側欄位 --}}
    <div class="left-side col-md-2">
      <div class="setting-logo">
        <img
          src="https://media.cakeresume.com/image/upload/s--yvVYN9sa--/c_pad,fl_png8,h_200,w_200/v1548316744/ribjsyna9cm9tm4pkv63.png"
          alt="" style="max-width: 30px;max-height: 30px;">
      </div>

      <div>
        <ul class="list-group">

          <li class="list-group-item ">
            <a href=""></a>
            <div class="d-flex justify-content-space-between"><i class="fas fa-home mr-4"></i>首頁</div>
            </a>
          </li>


          <a href="/users/{{user.id}}/edit">
            <li class="list-group-item active ">
              <div class="d-flex"><i class="fas fa-user mr-4"></i>個人資料</div>
            </li>
          </a>

          <a href="/users/{{user.id}}/setting">
            <li class="list-group-item">
              <div class="d-flex"><i class="fas fa-cog mr-4"></i>設定</div>
            </li>
          </a>
        </ul>
        <button type="submit" class="tweet-button">推文</button>
        <a href="">
          <div class="logout-button">
            <i class="fas fa-arrow-alt-circle-left"></i>
            登出
          </div>
        </a>
      </div>
    </div>

    {{!-- <div class="headerDivider"></div> --}}
    {{!-- 中間主欄位 --}}
    <div class="middle-side col-md-5" style="padding:0; height:100%;">
      <div class="text-title d-flex">
        <div class="back-icon">
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="name-info">
          <div class="title-name">
            John Doe
          </div>
          <div class="title-info">
            25推文
          </div>
        </div>


      </div>

      <hr style="margin:0; padding:0">
      {{!-- 個人資訊 --}}
      <div class="cover">
        <img src="https://cdn.pixabay.com/photo/2013/07/18/20/26/sea-164989__340.jpg" alt="">
      </div>

      <div class="user-info">
        <div class="avatar">
          <img src="https://randomuser.me/api/portraits/men/88.jpg" alt="">
        </div>
        <div class="edit-button">
          <button type="submit" class="unfollow-button">編輯個人資料</button>
        </div>

      </div>

      <div class="text-info-tweets">

        <div class="info-text">
          <div class="name"> John Doe</div>
          <div class="account">@heyjohn</div>
          <div class="introduction">以下教材是來自學期二「Flexbox 佈局系統」和「巢狀 Flexbox 與 Flex Item」教材的重點摘錄，提供給大家複習和查閱，也推薦你可以自行閱讀經典的
            CSS
            教學文件 CSS Tricks - A Complete Guide
            to Flexbox。</div>
          <div class="follow d-flex">
            <div class="followship d-flex m-0">
              <div class="follow-title">
                34個
              </div>
              <div class="follow-body">
                跟隨中
              </div>

              <div class="follow-title ml-2">
                34位
              </div>
              <div class="follow-body">
                跟隨者
              </div>
            </div>

          </div>


        </div>

        {{!-- 個人資訊結束 --}}

        {{!-- 推文/推文與回覆/喜歡的內容區塊 --}}
        {{!-- 推文與回覆開始 --}}
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="">推文</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" href="">推文與回覆</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">喜歡的內容</a>
          </li>
        </ul>
        <br /><br />
        <div class="user-tweet">
          {{!-- 貼文開始 --}}
          <div class="tweet col-md-12">
            <div class="d-flex">
              <div class="mt-2 ml-2 col-md-1" style="padding:0">
                <img class="user-pic mr-2" src="" alt="">
              </div>

              <div class="col-md-11">
                <div class="account-info d-flex" style="flex:auto">
                  <div class="user-name">Orange</div>
                  <div class="account-time ml-2">@orange．3小時</div>
                </div>
                <div class="reply">
                  <div class="reply-text">回覆</div>
                  <div class="reply-account">@Daniel</div>
                </div>

                <div class="post-text d-flex" style="flex:auto">
                  [筆記] 談談Javascript 中的 Hoisting
                  [筆記] JavaScript: undefined不是真的undefined !!
                  [筆記] 不同execution context的變項不會互相影響─了解function背後運作的邏輯
                </div>
              </div>

            </div>
          </div>
          <hr />
          {{!-- 貼文結束 --}}

          {{!-- 貼文開始 --}}
          <div class="tweet col-md-12">
            <div class="d-flex">
              <div class="mt-2 ml-2 col-md-1" style="padding:0">
                <img class="user-pic mr-2" src="" alt="">
              </div>

              <div class="col-md-11">
                <div class="account-info d-flex" style="flex:auto">
                  <div class="user-name">Orange</div>
                  <div class="account-time ml-2">@orange．3小時</div>
                </div>
                <div class="reply">
                  <div class="reply-text">回覆</div>
                  <div class="reply-account">@Daniel</div>
                </div>

                <div class="post-text d-flex" style="flex:auto">
                  [筆記] 談談Javascript 中的 Hoisting
                  [筆記] JavaScript: undefined不是真的undefined !!
                  [筆記] 不同execution context的變項不會互相影響─了解function背後運作的邏輯
                </div>
              </div>

            </div>
          </div>
          <hr />
          {{!-- 貼文結束 --}}





        </div>
        {{!-- 推文區結束 --}}

        {{!-- 推文/推文與回覆/喜歡的內容區塊結束 --}}
      </div>



    </div>
    {{!-- <div class="headerDivider"></div> --}}
    {{!-- 右側欄位 --}}
    <div class="right-side col-md-3">
      <div class="popular mt-2" style="padding:auto;">
        <div class="popular-title mt-2">
          Popular
        </div>
        <ul class="list-group">
          {{!-- //TODO: 需判斷追隨中或未追隨(按鈕名稱為follow-button和unfollow-button) --}}
          {{!-- 跟隨中使用者開始 --}}
          <li class="list-group-item">
            <div class="d-flex col-md-12" style="padding:0">
              <div>
                <img class="user-pic" src="" alt="">
              </div>
              <div class="name-account ml-2">
                <div class="name">Pizza Hut</div>
                <div class="account">@pizzahut</div>
              </div>
              <div class="button">
                <button type="submit" class="follow-button">正在跟隨</button>
              </div>
            </div>
          </li>
          {{!-- 使用者結束 --}}

          {{!-- 未跟隨中使用者開始 --}}
          <li class="list-group-item">
            <div class="d-flex col-md-12" style="padding:0">
              <div>
                <img class="user-pic" src="" alt="">
              </div>
              <div class="name-account ml-2">
                <div class="name">McDonald's</div>
                <div class="account">@McDonald's</div>
              </div>
              <div class="button">
                <button type="submit" class="unfollow-button"> 跟隨 </button>
              </div>
            </div>
          </li>
          {{!-- 使用者結束 --}}

        </ul>
      </div>



    </div>



  </div>
</div>