<div class="page-container">
  {{> left-sidebar route="getTweets"}}
  <div class="main-middle border-start border-end" id="tweets-page-container">
    {{> main-middle route="getTweets"}}
    <h1>Tweets</h1>
  </div>
  {{> right-sidebar}}
</div>
