<div class="container">
  <div class="row">
    {{>message}}
    {{>left-sidebar route="homepage"}}
    {{!-- 首頁/tweets --}}
    <div class="col-6 top">
      <div class="card">
        <div class="card-home">
          <div class=" home-header">
            首頁
          </div>
          <div class="main-top">
            <img src="/images/icon/User Photo.png" class="user-avatar">
            <div class="">
              <form action="/tweets" method="POST">
                <textarea style=" resize:none;" type="text" name="description" id="description" placeholder="有什麼新鮮事？"
                  required></textarea>
                <button type="submit" class="btn-sml">推文</button>
              </form>
            </div>
          </div>
          <div class="main-bottom">
            <div class="card-body tweets-box">
              <img src="/images/icon/User Photo.png" alt="" class="user-avatar">
              <div class="tweets-box-main">
                <div class="tweets-header">
                  <span class="card-title tweets-name">user.name</span>
                  <span class="tweets-account"> @user.account ．Day.js</span>
                </div>
                <div class="tweets-content">
                  <a href="users/{{user.id}}/replies" id="toReply" class="card-text">
                    >>>>user.tweet Some quick example text to
                    build on the card title and make up the bulk of the card's content.
                  </a>
                </div>
                <div class="tweets-icons">
                  <a><img src="/images/basic/white/reply.svg">user.reply</a>
                  <a><img src="/images/basic/white/like.svg">user.like</a>
                </div>
              </div>
            </div>

            <div class="card-body tweets-box">
              <img src="/images/icon/User Photo.png" alt="" class="user-avatar">
              <div class="tweets-box-main">
                <div class="tweets-header">
                  <span class="card-title tweets-name">user.name</span>
                  <span class="tweets-account"> @user.account ．Day.js</span>
                </div>
                <div class="tweets-content">
                  <a href="/tweet" id="toReply" class="card-text">
                    >>>>user.tweet Some quick example text to
                    build on the card title and make up the bulk of the card's content.
                  </a>
                </div>
                <div class="tweets-icons">
                  <a><img src="/images/basic/white/reply.svg">user.reply</a>
                  <a><img src="/images/basic/white/like.svg">user.like</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>right-sidebar}}
  </div>
</div>