<div class="card w-50 mx-auto">
  <h5 class="card-header">首頁</h5>
  <div class="test">test</div>
  <div class="card-body">
    <div class="flex-row">
      <img src="" alt="">
      <p class="inline-block">有什麼新鮮事?</p>
    </div>
    <a href="#" class="btn btn-primary">推文</a>
  </div>
</div>