<div class="container">
  <header class="border border-1 border-box " style="background-color: #FFFFFF; border-color: #E6ECF0; height: 55px;">
    <div class="m-2" style="font-size: 18px; font-family: 'Noto Sans TC'; font-color: #1C1C1C">
      <p class="fw-bold lh-base ">首頁</p>
    </div>
  </header>

  <div class="border border-1 border-box" style="background-color: #FFFFFF; border-color: #E6ECF0; height: 120px;">
    <div class="d-flex flex-row" style="width: 500px">
      <img src="https://randomuser.me/api/portraits/women/40.jpg" style="width: 50px; height: 50px; "
        class="rounded-circle m-2" alt="...">
      <div class="m-2" style="">
        <input class="form-control" type="text" placeholder="有什麼新鮮事?" aria-label="userPostArea"
          style="width: 480px; height: 50px; border-color: #FFFFFF; font-size: 18px;">
      </div>
    </div>
    <div class="d-flex flex-row-reverse me-2">
      <a href="#" class="btn btn-white-orange rounded-pill " style="width: 66px; height: 38px; font-size: 18px">推文</a>
    </div>
  </div>

  <div class="divider" style="background-color: #E6ECF0; height: 10px;"></div>

  <div class="card p-3">
    <div class="d-flex">
      <div>
        <img src="https://randomuser.me/api/portraits/women/40.jpg" style="width: 3rem" class="rounded-circle me-3"
          alt="...">
      </div>

      <div class="col-md-8">
        <div class="userInfo d-flex">
          <h6 class="fontWeight700 me-2">{{user.name}}</h6>
          <h6 class="fontWeight500" style="color:#657786;">@heyjohn</h6>
          <h6 class="fontWeight500" style="color:#657786;">‧3小時</h6>
        </div>
        <p class="card-text fontWeight500">Some quick example text to build on the card title and make up the bulk of
          the card's
          content. Some quick example text t.
        </p>
        <i class="far fa-heart me-3"></i><span class="fontWeight500 me-5">13</span>
        <i class="far fa-comment me-3"></i><span class="fontWeight500">76</span>
      </div>
    </div>
  </div>

</div>