<div class="container">
  <div class="row">
    {{> leftbar}}
    <div class="col-7">
      <div class="user-profile-page">
        <div class="user-header d-flex align-items-center mt-3">
          <div class="user-profile-header-back flex-shrink-0">
            <a href="/tweets">
              <img src="/images/back@2x.png" alt="home">
            </a>
          </div>
          <div class="user-profile-header-info flex-grow-1">
            <a href="/user/tweets">
              <div class="user-profile-header-nickname">
                <h5 class="mb-0">John Doe</h5>
              </div>
              <div class="user-profile-header-tweets">
                <p class="mb-0">25 推文</p>
              </div>
            </a>
          </div>
        </div>
        <div class="user-profile mt-3">
          <div class="user-profile-cover">
            <div class="cover-image">
              <img src="/images/john-cover@2x.png" alt="Cover Image">
            </div>
          </div>
          <div class="user-profile-about">
            <div class="user-profile-image">
              <img src="/images/john-photo@2x.png" alt="Profile Image">
            </div>
            <button type="submit" class="user-profile-edit-btn">編輯個人資料</button>
            <div class="user-profile-about-nickname">
              <h5 class="mb-0">John Doe</h5>
            </div>
            <div class="user-profile-about-name">
              <p class="mb-0">@heyjohn</p>
            </div>
            <div class="user-profile-about-description">
              <p class="mt-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </div>
            <div class="user-profile-about-follow">
              <p><span class="user-profile-follow-count">34 個</span>跟隨中</p>
              <P><span class="user-profile-follow-count">59 位</span>跟隨者</P>
            </div>
          </div>
        </div>
        {{> users-tab}}
      </div>
    </div>
    {{> rightbar}}
  </div>
</div>