<div class="d-flex justify-content-center mt-2">
  <form action="/signin" method="POST" style="width: 500px;">
    <div class="text-center mb-4">
      <p class="fw-bold" style="font-family: 'Noto Sans TC', sans-serif;">登入 Alphitter</p>
    </div>

    <div class="form-group">
      <p class="mb-0 rounded-top"
        style="background-color: #F5F8FA; font-size: 10px;font-family: 'Noto Sans TC', sans-serif;">帳號</p>
      <input class="border-0 rounded-0" type="text" name="account" class="form-control"
        style="background-color: #F5F8FA; width: 500px;">
      <hr class="mt-0">
    </div>

    <div class="form-group">
      <p class="mb-0 rounded-top"
        style="background-color: #F5F8FA; font-size: 10px;font-family: 'Noto Sans TC', sans-serif;">密碼</p>
      <input class="border-0 rounded-0" type="password" name="password" class="form-control"
        style="background-color: #F5F8FA; width: 500px;">
      <hr class="mt-0">
    </div>

    <button class="btn btn-block rounded-pill" style="background-color: #FF6600; width: 500px; color:white"
      type="submit">登入</button>

    <div class="text-center mt-2 d-flex justify-content-end">
      <a href="/signup">註冊 Alphitter</a>
      <p style="color: blue;">．</p>
      <a href="/admin/signin">後台登入</a>
    </div>

  </form>
</div>