<div class="container">
 {{!-- /user/self --}}
 <div class="card mb-3">
  <img src="https://loremflickr.com/639/200/nature" class="card-img-top" alt="...">
  <div class="card-body">
   <h5 class="card-title">Card title</h5>
   <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
    content is a little bit longer.</p>
   <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
 </div>
 <ul class="nav">
  <li class="nav-item">
   <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
   <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
   <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
   <a class="nav-link disabled">Disabled</a>
  </li>
 </ul>
</div>