<div class="row">
  {{> homeNavBar}}
  <div class="tweets col d-flex flex-column mx-4 user-tweets">
    <div class="p-2 d-flex flex-row">
      <a href="javascript:history.back()">
        <i class="fas fa-arrow-left fa-lg mx-3 my-3"></i></a>
        <div class="ms-3">
          <p class="home-word">John Doe</p>
          <p class="twi-count"> 25推文</p>
        </div>
      
    </div>
    <div class="cover-block">
      <img src="" alt="cover" onerror='this.style.display = "none"'>
    </div>
    <div class="user-info-block d-flex justify-content-between">
      <div class="user-info ms-3">
        <img class="user-img" src="https://icon-library.com/images/default-user-icon/default-user-icon-1.jpg" width="120"
          height="120" alt="Card image cap">
        <div class="user-detail">
          <h5 class="user-name mb-0">John Doe</h5>
          <h6 class="user-acc-name mb-0">@heyjohn</h6>
          <p class="user-intro my-1">
            afdasd fads fsad hfasjd sdkafjshf asd adksjfhaskdj sadkjf
          <p class="user-followship">
            <strong>34個</strong>跟隨中&nbsp;&nbsp;&nbsp;&nbsp;<strong>59位</strong>跟隨者
            <p />
        </div>
      </div>
      <div class="edit-profile">
        <button type="button" class="btn btn-outline-warning edit-profile-btn">
        編輯個人資料
      </button>
      </div>
      
      {{!-- 加modal --}}
    </div>
    <div class="px-2 pt-3 mt-0 d-flex flex-row user-nav">
      <ul class="nav nav-tabs">
        <li class="nav-item current-nav">
          <a class="nav-link active" aria-current="page" href="#">推文</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">推文與回覆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">喜歡的內容</a>
        </li>
      </ul>
    </div>

    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar"
          width="50px" height="50px">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">Name</span>
          <span class="account">&nbsp;account</span>
          <span class="time"><b>•</b>&nbsp;tweet time</span>
        </div>
        <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis deleniti, facilis recusandae
          et quaerat unde est maxime. Fuga incidunt provident tempora voluptate amet, suscipit maiores voluptatibus,
          adipisci repellat laborum delectus.</p>
        <div class="row">
          <div class="col-2">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;23</i>
          </div>
          <div class="col-2">
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>
    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">Name</span>
          <span class="account">&nbsp;account</span>
          <span class="time"><b>•</b>&nbsp;tweet time</span>
        </div>
        <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis deleniti, facilis recusandae
          et
          quaerat unde est maxime. Fuga incidunt provident tempora voluptate amet, suscipit maiores voluptatibus,
          adipisci
          repellat laborum delectus.</p>
        <div class="row">
          <div class="col-2">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;23</i>
          </div>
          <div class="col-2">
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>
    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">Name</span>
          <span class="account">&nbsp;account</span>
          <span class="time"><b>•</b>&nbsp;tweet time</span>
        </div>
        <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis deleniti, facilis recusandae
          et
          quaerat unde est maxime. Fuga incidunt provident tempora voluptate amet, suscipit maiores voluptatibus,
          adipisci
          repellat laborum delectus.</p>
        <div class="row">
          <div class="col-2">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;23</i>
          </div>
          <div class="col-2">
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>
    <div class="tweets-article d-flex">
      <div class="">
        <img class="rounded-circle" src="https://loremflickr.com/50/50/paris,girl/all" alt="avatar" title="avatar">
      </div>
      <div class="d-flex flex-column tweet-article">
        <div>
          <span class="name">Name</span>
          <span class="account">&nbsp;account</span>
          <span class="time"><b>•</b>&nbsp;tweet time</span>
        </div>
        <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis deleniti, facilis recusandae
          et
          quaerat unde est maxime. Fuga incidunt provident tempora voluptate amet, suscipit maiores voluptatibus,
          adipisci
          repellat laborum delectus.</p>
        <div class="row">
          <div class="col-2">
            <i class="reply-icon far fa-comment">&nbsp;&nbsp;&nbsp;23</i>
          </div>
          <div class="col-2">
            <i class="like-icon far fa-heart">&nbsp;&nbsp;&nbsp;12</i>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> popular}}
</div>