<div class="user-template">
  <div class="leftside">
    <div class="navigation" id="navigation">
      <i class='ac-icon'></i>
      <a class="active" herf='/tweets'><i class='home active'></i>首頁</a>
      <a class="" herf='/user/id/tweets'><i class='info'></i>個人資料</a>
      <a class="" herf='/api/user/id'><i class='setting'></i>設定</a>
      <button type="button" class="btn-fill" id="post">推文</button>
    </div>
    {{!-- 展示icon用 --}}
    <div>
      <i class='ac-icon'></i>
      <i class='ac-icon login'></i>
      <i class='home'></i>
      <i class='home active'></i>
      <i class='info'></i>
      <i class='info active'></i>
      <i class='setting'></i>
      <i class='setting active'></i>
      <i class='logout'></i>
      <i class='btn-message'></i>
      <i class='btn-noti'></i>
      <i class='btn-noti active'></i>
      <i class='comment'></i>
      <i class='comment lg'></i>
      <i class='like'></i>
      <i class='like active'></i>
      <i class='like lg'></i>
      <i class='like lg active'></i>
      <i class='back-arror'></i>
      <i class='X-orange'></i>
      <i class='X-gray'></i>
      <i class='success'></i>
      <i class='warning'></i>
    </div>

    <div class="footer">
      <a herf="/logout"><i class='logout'></i>登出</a>
    </div>
  </div>

  <div class="main">
    <div class="header">首頁</div>
    <div class="postarea">
      <a>
        <img class="thumbnail" src="/icons/avatar.svg" alt="">
      </a>
      <form action="/tweets" method="post">
        <textarea name="description" maxlength="140" cols="48" rows="2" placeholder="有什麼新鮮事？" required></textarea>
        <button type="summit" class="btn-fill" id="posting">推文</button>
      </form>
    </div>
    <hr>
    <div class="tweets">

      {{#each data}}
      <div class="tweet">
        <a>
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
        </a>
        <div class="postcontent">
          <a class="postuser">
            <span class="name ellipsis">{{this.User.name}}</span>
            <span class="at-name ellipsis">@{{this.User.account}}jfalksdflka</span>
            <span class="timer ellipsis">{{this.User.createdAt}}</span>
          </a>
          <button type="button" class="content" id="content">
            {{this.description}}
          </button>
          <div class="action">
            <button type="button" class="commenting" id="commenting">
              <i class='comment'></i>
              13
            </button>
            <button type="button" class="liking" id="liking">
              <i class='like'></i>
              76
            </button>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>

  <div class="rightside">

    <div class="popular">
      <span>Popular</span>

      <div class="wrap">
        <a href="#"><img class="thumbnail" src="/icons/avatar.svg" alt="#">
          <span>
            <span class="name">Pizza Hut</span>
            <span class="at-name ellipsis">@pizzahutasdkfjwaofjojoawefpajwefawejn</span>
          </span>
        </a>
        <a class="btn-fill sm" href="#followship">正在追蹤</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonaldserfnoeanfonwaoenowne</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

    </div>

  </div>
</div>