<div class="page-container">
  {{> left-sidebar route="getReplies"}}
  <section class="main-middle border-start border-end" id="profile-page-container"
    style="width:636px; border:1px solid #E6ECF0; overflow:scroll">
    {{> main-middle route="getReplies"}}
    {{> profile-middle-self route="getReplies"}}
  </section>
  {{> right-sidebar topUsers=topUsers}}
</div>