<div class="user-template">
  <div class="leftside">
    <div class="navigation" id="navigation">
      <i class='ac-icon'></i>
      <a class="active" herf='/tweets'><i class='home active'></i>首頁</a>
      <a class="" herf='/user/id/tweets'><i class='info'></i>個人資料</a>
      <a class="" herf='/api/user/id'><i class='setting'></i>設定</a>
      <button type="button" class="btn-fill" id="post">推文</button>
    </div>
    {{!-- 展示icon用 --}}
    <div>
      <i class='ac-icon login'></i>
      <i class='btn-message'></i>
      <i class='btn-noti'></i>
      <i class='btn-noti active'></i>
      <i class='comment'></i>
      <i class='comment lg'></i>
      <i class='like'></i>
      <i class='like active'></i>
      <i class='like lg'></i>
      <i class='like lg active'></i>
      <i class='back-arror'></i>
      <i class='X-orange'></i>
      <i class='X-gray'></i>
      <i class='success'></i>
      <i class='warning'></i>
    </div>

    <div class="footer">
      <a herf="/logout"><i class='logout'></i>登出</a>
    </div>
  </div>

  <div class="main">
    {{!-- {{> tweets}} --}}
    {{> profile}}
  </div>

  <div class="rightside">

    <div class="popular">
      <span>Popular</span>

      <div class="wrap">
        <a href="#"><img class="thumbnail" src="/icons/avatar.svg" alt="#">
          <span>
            <span class="name">Pizza Hut</span>
            <span class="at-name ellipsis">@pizzahutasdkfjwaofjojoawefpajwefawejn</span>
          </span>
        </a>
        <a class="btn-fill sm" href="#followship">正在追蹤</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonaldserfnoeanfonwaoenowne</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

      <div class="wrap">
        <a href="#">
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
          <span>
            <span class="name">McDonald's</span>
            <span class="at-name ellipsis">@McDonalds</span>
          </span>
        </a>
        <a class="btn-outline sm" href="#followship">跟隨</a>
      </div>

    </div>

  </div>
</div>

{{!-- posting modal --}}
<div class="modal d-none" id="modal-post">
  <div class="mask" id="modal-post-mask">
    <div class="dialog">
      <a><i class='X-orange' id="modal-post-close"></i></a>
      <div class="postarea">
        <a>
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
        </a>
        <form action="/tweets" method="post">
          <input type="hidden" name="userId" value="{{user.id}}">
          <textarea name="description" maxlength="140" cols="48" rows="6" placeholder="有什麼新鮮事？" required></textarea>
          <button type="summit" class="btn-fill" id="posting">推文</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- replying modal --}}
<div class="modal d-none" id="modal-reply">
  <div class="mask" id="modal-reply-mask">
    <div class="dialog">
      <a><i class='X-orange' id="modal-reply-close"></i></a>
      <div class="replyarea">

        <div class="tweet">
          <a>
            <img class="thumbnail" src="/icons/avatar.svg" alt="">
          </a>
          <div class="tweetcontent">
            <a class="tweetuser">
              <span class="name ellipsis">Loading...</span>
              <span class="at-name ellipsis">@Loading...</span>
              <span class="timer ellipsis">Loading...</span>
            </a>
            <span class="tweetdescription" id="modal-reply-content">
              Loading . . .
            </span>
            <span class="replyto">回覆給
              <span class="at-name">@Loading...</span>
            </span>
          </div>

        </div>
      </div>

      <div class="postarea">
        <a>
          <img class="thumbnail" src="/icons/avatar.svg" alt="">
        </a>
        <form action="/notyet" method="post">
          <input type="hidden" name="userId" value="{{user.id}}">
          <textarea name="description" maxlength="140" cols="48" rows="2" placeholder="推你的回覆" required></textarea>
          <button type="summit" class="btn-fill" id="posting">回覆</button>
        </form>
      </div>

    </div>
  </div>
</div>
</div>