<div class="d-flex" style="height: 1200px;width:1400px;margin: 0 auto;">
  {{>sidebar}}
  <div class="d-flex flex-column" style="width:641px">
    {{>profile}}
    {{>tabs}}
  </div>
  {{>popular}}
</div>