<div class="page-container">
  {{> left-sidebar route="getReplies"}}
  <div class="main-middle border-start border-end" id="profile-page-container">
    {{> main-middle route="getReplies"}}
    {{> profile-middle-self route="getReplies"}}
  </div>
  {{> right-sidebar topUsers=topUsers}}
</div>