{{!-- 路由 tweets/id --}}
<div class="user-homepage">
  {{>leftSideBar user = user to = to}}
  <div class="central">
    {{#if error_messages}}
    <div class="alert alert-success alert-dismissible fade show operate-fail" role="alert">
      {{error_messages}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    <h4 class="central-title">首頁</h4>
    <form action="/tweets" method="post" class="central-input">
      <div class="central-input-upper">
        <div>
          <a href="/users/{{getId user}}">
            <img src="{{getAvatar user}}" alt="user avatar" class="tweets-img">
          </a>
        </div>
        <textarea type="text" maxlength="140" name="description" placeholder="有什麼新鮮事?" class="user-tweet-input"></textarea>
      </div>
      <button type="submit">推文</button>
    </form>
    <div class="tweets">
       {{>tweet sortTweets = sortTweets user = user}}
    </div>
  </div>
  <div class="rightSideBar" data-userid="{{getId user}}">
    {{>top10Twitter}}
  </div>
</div>