<div class="page-container">
  {{> left-sidebar route="getLikes"}}
  <div class="main-middle border-start border-end" id="profile-page-container" style="overflow:scroll">
    {{> main-middle route="getLikes"}}
    {{> profile-middle-self route="getLikes"}}
  </div>
  {{> right-sidebar topUsers=topUsers}}
</div>

