.admin-tweets-wrapper{
    width:937px;
    
    .avatar {
        width: 82px;
      }
      
      .name-account {
        height: 26px;
      }
      
      img{
        border-radius:50%
      }
      
      
      .name{
        font-weight:700;
        font-size:16px;
      }
      
      .account {
        color: #6C757D;
        font-size: 14px;
      }
      
      .description{
        width: 830px;
      }
      
      .reply-like {
        position: relative;
        height: 16px;
        /* background-color: #d5d5d5; */
        padding: 0;
      }
      
      .reply,
      .like {
        display: inline-block;
        height: 16px;
        line-height: 16px;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: #6C757D;
      }
      
      .reply {
        position: absolute;
        left: 0px;
      }
      
      .like {
        position: absolute;
        left: 78px;
      }
      
      .reply-like button {
        background: none;
        border: none;
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin: 0 8px 0 0;
        padding: 0;
        vertical-align: 1px;
      }
      
      .like .isLiked,
      .like .notLiked {
        display: none;
      }
      
      .like .liked .isLiked {
        display: inline;
      }
      
      .like :not(.liked) .notLiked {
        display: inline;
      }




}

