.header{
  font-weight: 700;
}


input {
  border: none 
}
input:focus {
  border: none;
  outline: none !important;
}

.post-window input::placeholder{
  font-weight: 700;
  font-size: 18px;
  color: #6C757D;
  
}

.post-window button
 {
  display: block;
  width: 64px;
  height: 40px;
  border: none;
  color: white;
  background: #FF6600;
    border-radius: 50px;
  
 }

