.home-wrapper hr {
  background-color: #E6ECF0;
  opacity: 100%;
}

.home-wrapper .header {
  font-weight: 700;
}

.home-wrapper input {
  border: none
}

.home-wrapper input:focus {
  border: none;
  outline: none !important;
}

.home-wrapper .post-window input::placeholder {
  font-weight: 700;
  font-size: 18px;
  color: #6C757D;

}

.home-wrapper .post-window button {
  display: block;
  width: 64px;
  height: 40px;
  border: none;
  color: white;
  background: #FF6600;
  border-radius: 50px;

}