.signin-wrapper {

    width: 356px;

    .form-control {
        height: 54px !important;
        font-size:16px;
        padding:8px;
    }
    label{
        padding:8px;
    }
    button{
        width:100%;
        font-size:20px;
  
    }
    .footer{
        margin: 0 48px 0 auto
        
    }
    a{
        text-decoration: underline;
        color:blue;
    }

}
.signup-wrapper{
    width:500px;
    button{
        width:100%;
        font-size:20px;
    }
}