.tweet {
  /* height: 168px; */
}

.avatar {

  width: 82px;

}

.name-account {

  height: 26px;
}

.account {
  color: #6C757D;
  font-size: 14px;
}

.description {
  /* height: 78px; */
  /* background-color: #e5e5e5; */
}

.reply-like {
  position:relative;
  height: 16px;
  /* background-color: #d5d5d5; */
  padding: 0;
}

.reply-like svg {
  margin:0 8px 0 0;
}

.reply-like svg path
{
  fill: #6C757D;
}

.reply, .like{
  display: inline-block;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #6C757D;
}

.reply{
  position: absolute;
    left: 0px;
}
.like{
  position:absolute;
  left:78px;
}

.reply span, .like span{
  vertical-align: -1px;

}