section#Huei-region #navbar {
  color: #171725;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0px;
}
section#Huei-region .flex-home-page {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 992px;
}
section#Huei-region .middle-region-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 639px;
}
section#Huei-region .left-region-home {
  display: flex;
  width: 173px;
  margin-left: 130px;
}
section#Huei-region .right-region-home {
  display: flex;
  width: 273px;
  margin-right: 130px;
}
section#Huei-region .a-orange {
  color: #FF6600;
}
section#Huei-region .btn-orange {
  color: #FFFFFF;
  background-color: #FF6600;
  border-color: #FF6600;
}
section#Huei-region a {
  color: #44444F;
  background-color: #FFFFFF;
}
section#Huei-region a .color-mask {
  color: #FF6600;
}
section#Huei-region a .img-mask {
  filter: invert(48%) sepia(41%) saturate(6991%) hue-rotate(6deg) brightness(109%) contrast(102%);
}
section#Huei-region .icon {
  width: 50px;
  height: 50px;
}
section#Huei-region .icon img {
  width: 40px;
  height: 40px;
}
section#Huei-region img {
  width: 25px;
  height: 25px;
}
section#Huei-region .logout {
  position: absolute;
  bottom: 0px;
}
section#Huei-region .nav-user {
  width: 273px;
  height: 731px;
  background: #FAFAFB;
  border-radius: 16px;
}
section#Huei-region .nav-user-title {
  position: relative;
  top: 30px;
  left: 20px;
}
section#Huei-region .circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
section#Huei-region .user-list {
  position: relative;
  top: 50px;
}
section#Huei-region .user-name-position {
  position: absolute;
  left: 60px;
}
section#Huei-region .user-follow-bottom {
  border-radius: 50px;
  position: absolute;
  right: 6px;
}
section#Huei-region .list-separate {
  position: relative;
  top: 60px;
  height: 1px;
  margin: 9px 0;
  background-color: #E2E2EA;
}
section#Huei-region .btn-white {
  color: #FF6600;
  background-color: #FFFFFF;
  border-color: #FF6600;
}
section#Huei-region .tweets {
  width: 639px;
  margin-left: 24px;
}
section#Huei-region .tweets .title {
  position: relative;
  top: 24px;
  right: 280px;
}
section#Huei-region .tweets .list-separate-top {
  position: relative;
  top: 40px;
  height: 1px;
  width: 639px;
  background-color: #E2E2EA;
  margin-bottom: 18px;
}
section#Huei-region .tweets .list-separate-lg {
  position: relative;
  top: 190px;
  height: 10px;
  width: 639px;
  background-color: #E2E2EA;
}
section#Huei-region .tweets .list-separate-m {
  position: relative;
  top: 70px;
  height: 1px;
  width: 639px;
  background-color: #E2E2EA;
  margin-bottom: 18px;
}
section#Huei-region .tweet-card {
  word-wrap: break-word;
  position: relative;
  top: 60px;
  right: 1px;
}
section#Huei-region .tweet-card .account {
  margin-left: 8px;
  color: #6C757D;
}
section#Huei-region .tweet-card .name {
  color: #171725;
  font-weight: bold;
}
section#Huei-region .tweet-card .time {
  color: #6C757D;
}
section#Huei-region .tweet-card .content {
  margin-top: 8px;
  width: 528px;
  height: 78px;
}
section#Huei-region .tweet-card .p {
  position: relative;
  bottom: 5px;
  font-size: 14px;
  margin-right: 41.3px;
  color: #6C757D;
}
section#Huei-region .tweet-card .tweet-user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.tweet-text {
  position: relative;
  top: 30px;
  left: 24px;
}
.tweet-text .description {
  width: 526px;
}
.tweet-text .btn-tweets-bottom {
  position: relative;
  right: 50px;
  top: 100px;
  width: 64px;
  height: 40px;
}

.tweet-user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.flex-nowrap-element {
  white-space: nowrap;
  width: 173px;
}

.position-left {
  position: relative;
  left: 10px;
}

.position-left-text {
  position: relative;
  left: 20px;
}