@charset "UTF-8";
/* reset css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

html,
body {
  /* 先套用 Noto Sans TC 這個 思源黑體，再來是 Montserrat 數字字體 */
  font-family: "Noto Sans TC", "Montserrat", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 68px;
}

h2 {
  font-weight: bold;
  font-size: 42px;
}

h3 {
  font-weight: 500;
  font-size: 28px;
}

h4 {
  font-weight: 500;
  font-size: 24px;
}

h5 {
  font-weight: 500;
  font-size: 18px;
}

p {
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  #ys-admin-region.container-ys {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #ys-admin-region.container-ys {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
section#ys-admin-region * {
  color: #171725;
}
section#ys-admin-region * .cancel-button {
  padding: 0px;
  font-size: 14px;
  position: absolute;
  right: 10px;
}
section#ys-admin-region .left-region-sidebar {
  width: 178px;
  height: 100vh;
}
section#ys-admin-region .left-region-sidebar .side-bar {
  display: flex;
  flex-direction: column;
}
section#ys-admin-region .left-region-sidebar .side-bar img {
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 14px;
  width: 50px;
  height: 50px;
}
section#ys-admin-region .left-region-sidebar .side-bar a {
  padding: 16px;
  margin-bottom: 24x;
  color: #44444F;
}
section#ys-admin-region .left-region-sidebar .side-bar a.active {
  filter: invert(48%) sepia(41%) saturate(6991%) hue-rotate(6deg) brightness(109%) contrast(102%);
}
section#ys-admin-region .left-region-sidebar .side-bar .logout {
  position: absolute;
  bottom: 0px;
}
section#ys-admin-region .right-region-tweet-list {
  height: 100vh;
  flex: 1;
  margin-left: 24px;
  border-left: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
  padding-left: 20px;
}
section#ys-admin-region .right-region-tweet-list .title {
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E6ECF0;
}
section#ys-admin-region .right-region-tweet-list .scroll-container {
  height: 85vh;
  overflow-y: scroll;
  scrollbar-color: #F1F1F5 #FAFAFB;
  scrollbar-width: thin;
}
section#ys-admin-region .right-region-tweet-list .scroll-container::-webkit-scrollbar {
  width: 6px;
}
section#ys-admin-region .right-region-tweet-list .scroll-container::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}
section#ys-admin-region .right-region-tweet-list .scroll-container .tweet-card {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #E6ECF0;
}
section#ys-admin-region .right-region-tweet-list .scroll-container .tweet-card .head {
  align-items: center;
}
section#ys-admin-region .right-region-tweet-list .scroll-container .tweet-card .name {
  margin-right: 8px;
  font-weight: 700;
  font-size: 16px;
}
section#ys-admin-region .right-region-tweet-list .scroll-container .tweet-card .account,
section#ys-admin-region .right-region-tweet-list .scroll-container .tweet-card .time {
  font-weight: 400;
  font-size: 14px;
  color: #6C757D;
}
section#ys-admin-region .right-region-tweet-list .scroll-container .tweet-card .content {
  margin-top: 8px;
  padding-right: 3rem;
}
section#ys-admin-region .user-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
section#ys-admin-region .user-card .user-card-cover {
  border-radius: 10px 10px 0px 0px;
  height: 7rem;
  width: 100%;
}
section#ys-admin-region .user-card .name-photo {
  position: relative;
  top: 3%;
  transform: translate(0%, -55%);
}
section#ys-admin-region .user-card .name-photo .user-card-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.25rem solid #FFFFFF;
}
section#ys-admin-region .user-card .row-actions {
  position: relative;
  top: -3rem;
  display: flex;
}
section#ys-admin-region .user-card .row-actions p {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
section#ys-admin-region .user-card .row-actions img {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}
section#ys-admin-region .user-card .follow {
  position: relative;
  top: -3rem;
  display: flex;
}
section#ys-admin-region .user-card .follow p {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
section#ys-admin-region .user-card .follow span {
  color: #6C757D;
}