<div class="d-flex mt-5">
  {{!-- 左側欄位 --}}
  <div class="row" style="height: 500px;width: 300px;">
    {{!-- 上 --}}
    <div class="col-12">
      <p>Twitter</p>
    </div>
    {{!-- 中 --}}
    <div class="col-12 pt-0">
      <a href="/admin/tweets" style=" text-decoration:none;color:rgb(179, 123, 50)">
        <p>首頁</p>
      </a>
      <a href="/admin/users" style=" text-decoration:none;color:rgb(0, 0, 0)">
        <p>個人資料</p>
      </a>
      <a href="/admin/users" style=" text-decoration:none;color:rgb(0, 0, 0)">
        <p>設定</p>
      </a>
      <a href="/admin/users" style=" text-decoration:none;color:rgb(0, 0, 0)">
        <p>推文</p>
      </a>
    </div>
    {{!-- 下 --}}
    <div class="col-12">
      <p>登出</p>
    </div>
  </div>

  <div style="width: 800px;">
    {{!-- 標題 --}}
    <div>推文清單</div>

    <div class="d-flex flex-column align-items-center">
    </div>
  </div>

  <div>{{> recommendedFollower }}</div>
</div>