<div class="container d-flex mx-0">
  <!--left bar-->
  <div class="col-3 nav">
    {{> sidebar-left}}
  </div>
  <!--middle bar-->
  <div class="col-7 user-profile" style="width: 639px;">
    <div class="tweets-container">
      {{>profile-card route='user-tweets'}}
    </div>
  </div>
    <!--right bar-->
    <div class="col-2 followship mx-0" style="width: 273px; height:100%px;">
      {{> recommendation}}
    </div>
</div>
{{> edit-modal}}