/* admin_user */
.border-avatar {
  border-width: 4px;
  border-style: solid;
  border-color: white;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.admin_nav {
  position: absolute;
  width: 178px;
  height: 1200px;
  left: 130px;
  top: 0px;

  background: #ffffff;
}

.admin_page {
  position: absolute;
  width: 938px;
  height: 1200px;
  left: 332px;
  top: 1px;
}

.adminleft_navcard {
  border-style: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 178px;
  height: 124px;
  left: 0px;
  top: 66px;
}

/* admin tweets */
.admintitle_card {
  border-style: hidden;
  position: absolute;
  width: 938px;
  height: 51px;
  margin-left: -11px;
  border-bottom: 1px solid #e6ecf0;
}

.admintitle_title {
  position: absolute;
  width: 150px;
  height: 26px;
  top: 15px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #171725;
}

.admintweets_card {
  border-style: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 937px;
  top: 52px;
  border-left: 1px solid #d5d5dc;
  border-right: 1px solid #d5d5dc;
}

.admintweet_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 937px;
  height: 103px;
  flex: none;
  flex-grow: 0;
  border-bottom: 1px solid #e6ecf0;
}

.admin_imgbody {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 24px;
  gap: 8px;
  width: 634px;
  height: 86px;
  flex: none;
  flex-grow: 0;
}

.admintweet_cardbody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 855px;
  height: 86px;
  margin-left: 30px;
  margin-top: -101px;
  flex: none;
  flex-grow: 0;
}

.btn-link {
  width: 24px;
  height: 24px;
  margin-left: 870px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
