.profile-container {
  position: relative;
  top: -1px;
  margin: 0 auto;
  height: 100%;
  width: 600px;
  max-width: 600px;
  background: #e6ecf0;
}
.profile-container > * {
  border: 1px solid #e6ecf0;
}
.profile-container .mainpost-sm {
  font: 500 15px "Noto Sans TC", sans-serif;
}
.profile-container .mainpost-x {
  font: 500 23px "Noto Sans TC", sans-serif;
}
.profile-container .mainpost-md {
  font: 500 19px "Noto Sans TC", sans-serif;
}
.profile-container .mainpost-nav {
  height: 55px;
  background: #fff;
  border: 1px solid #e6ecf0;
}
.profile-container .mainpost-nav .col1 {
  flex: 0 0 20px;
  margin-left: 32px;
  padding: 0;
}
.profile-container .mainpost-nav .col2 {
  flex: 0 0 200px;
  margin-left: 37px;
  padding: 0;
}
.profile-container .mainpost-nav .nav-bold {
  color: #1c1c1c;
  font-weight: 700;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.profile-container .mainpost-nav p.nav-bold {
  margin-top: 5px;
  font-weight: 900;
  font-size: 19px;
}
.mainpost-nav i.nav-bold::before {
  color: #000000;
  line-height: 55px;
  font-weight: 700;
  font-size: 20px;
}
.profile-container .mainpost-nav small {
  margin-top: 0;
  font-family: "Noto Sans TC", sans-serif;
  color: #657786;
  font-size: 13px;
}
.profile-container .mainpost-messageboard {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  position: relative;
}
.profile-container .mainpost-avatar-container {
  flex: 0 0 65px;
  width: 65px;
}
.profilepage-messageboard {
  background-color: #fff;
  position: relative;
}
.profilepage-banner {
  position: relative;
  height: 200px;
  border: 1px solid #e6ecf0;
}
.profilepage-banner img {
  object-fit: cover;
  min-height: 200px;
  height: 200px;
  width: 598px;
}
.profilepage-card1 {
  position: absolute;
  height: 140px;
  width: 140px;
  top: 124px;
  left: 15px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #fff;
  z-index: 5;
}
.profilepage-card1 .profilepage-avatar {
  position: relative;
  height: 150px;
  width: 150px;
  top: -5px;
  left: -5px;
}
.profilepage-card1 .profilepage-avatar img {
  object-fit: cover;
  object-position: center center;
  height: 150px;
  width: auto;
  max-width: 200px;
}
.profilepage-card2 {
  flex: 0 0 598px;
  width: 598px;
  padding-left: 15px;
  padding-top: 70px;
  min-height: 70px;
}
.profilepage-card2 * {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  margin-bottom: 10px;
}
.profilepage-card2 .post-title {
  font-weight: 700;
}

.profilepage-tags {
  position: relative;
  left: -15px;
  margin-bottom: 0;
}
.followship-tags {
  position: relative;
  margin-bottom: 0;
  background: #fff;
}
.nav-item {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 130px;
  margin-bottom: 0;
  text-align: center;
}
.nav-item .nav-link {
  margin: 0;
  padding: 0;
  color: #657786;
  font-weight: 700;
  cursor: pointer;
}
.nav-item .nav-link.active {
  color: #ff6600;
}
.nav-item .nav-link.active::after {
  content: "";
  height: 2px;
  width: 130px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #ff6600;
}

.posts-container {
  margin-top: 10px;
}

.post {
  display: flex;
  flex: 1;
  background-color: #fff;
  position: relative;
  border: 1px solid #e6ecf0;
}

.post-card1 {
  flex: 0 0 65px;
  width: 65px;
  font-weight: 400;
}

.post-card2 {
  flex: 0 0 535px;
  width: 535px;
  padding-left: 10px;
  padding-top: 10px;
  min-height: 70px;
}
.post-card2 h5,
.post-card2 p {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
}

.post-sub-info {
  font-family: "Noto Sans TC", sans-serif;
  color: #657786;
  font-weight: 500;
  font-size: 15px;
}

.post-icon-block {
  display: inline-block;
  width: 75px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 13px;
}

.profile-avatar {
  position: relative;
  height: 100%;
  top: 10px;
  left: 15px;
  margin-right: 0;
  flex: 0 0 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-avatar img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
}
/*global*/
.btn-outline-orange {
  border: 1px solid #ff6600;
  background: #fff;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  /* identical to box height, or 100% */
  color: #ff6600;
}
.btn-orange {
  padding: 10px 15px;

  background: #ff6600;
  border: 1px solid #ff6600;
  box-sizing: border-box;
  border-radius: 100px;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
}
.btn-orange.btn-short,
.btn-outline-orange.btn-short {
  padding: 5px 15px;
}
.upper-right {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: end;
}
.upper-right > * {
  flex: 0 0 auto;
}
.icon-btn {
  position: relative;
  border: 1px solid #ff6600;
  background: #fff;
  border-radius: 100px;
  height: 35px;
  width: 35px;
  color: #ff6600;
  margin-right: 10px;
}
.icon-btn.fill {
  border: 1px solid #fff;
  background: #ff6600;
  color: #fff;
}
.icon-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  fill: currentColor;
}
.m75 {
  margin-top: 75px;
}
.modal-input {
  width: 570px;
  margin-left: 0px;
  margin-right: 0px;
  background: #f5f8fa;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #657786;
  border-radius: 4px 4px 0 0;
}
textarea.modal-input {
  resize: none;
}
.modal-input ~ label {
  top: 15px;
  left: 15px;
  font-size: 15px;
  transform: translateY(-15px);
  font: 500 15px "Noto Sans TC";
  color: #657786;
}
.form-floating {
  padding: 15px;
}
.form-floating small {
  text-align: right;
  font-size: 15px;
  font: 500 15px "Noto Sans TC";
  color: #657786;
}
.form-floating > textarea.form-control {
  height: 150px;
  margin-bottom: 56px;
}
.modal-content {
  border-radius: 14px;
}
.modal-input-count,
.modal-textarea-count {
  position: absolute;
  top: 70px;
  right: 15px;
  font-size: 15px;
  color: #657786;
}
.modal-textarea-count {
  top: 166px;
}
.floating-wrapper {
  position: relative;
}
.modal .modal-dialog .modal-header.profile-edit {
  height: 59px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal-header .modal-heading {
  position: absolute;
  left: 79px;
  top: 15px;
  font-size: 19px;
}
.modal .modal-dialog .modal-header.profile-edit .btn-close i {
  font-size: 15px;
}
.modal-header.profile-edit .upper-right.btn-short {
  top: 17px;
  right: 17px;
}
.block-centerBanner,
.profilepage-avatar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.block-centerBanner svg {
  margin-left: 18px;
  margin-right: 18px;
  cursor: pointer;
}
.profilepage-avatar svg {
  cursor: pointer;
}
