.chatroom-content {
  grid-column: 2 / 3;
  background-color: rgb(212, 209, 209);
}

.online-user-content {
  grid-column: 3 / 4;
  background-color: rgb(228, 227, 205);
}

#chat-form {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  padding-left: 20px;
}

#chat-form input {
  width: 500px;
}

#output div { 
  margin: 10px 10px;
  background-color: rgb(206, 108, 108);
}

.chat-window {
  background-color: darkseagreen;
}