::placeholder {
  /* CSS 3 標準 */
  position: absolute;
  margin-top: -3px !important;
  margin-left: 2px !important;
  font-size: 15px !important;
}

::placeholder {
  position: absolute;
  margin-top: -3px !important;
  margin-left: 2px !important;
  font-size: 15px !important;
}

.tweet-text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #1c1c1c;
}

.heavy-tweet-text {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 34px;
  color: #1c1c1c;
}

.reply-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #1c1c1c;
}

* {
  //outline: 1px dotted red;
}
