/**font-size*/

.font-size-sm{
    font-size: 0.875rem;
}

/*Position class*/
.child-img-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*color*/
.filter-main-color {
    /*for svg icon*/
    filter: invert(48%) sepia(53%) saturate(5638%) hue-rotate(4deg) brightness(107%) contrast(102%);
}

.filter-main-color:hover {
    filter:brightness(0) invert(1);
}

.filter-grey-7{
    filter: invert(41%) sepia(8%) saturate(495%) hue-rotate(202deg) brightness(97%) contrast(85%);
}
.main-color{

    color: #FF6600;
}

/*remove style of link*/
.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

/*bottom boarder of card*/
.bottom-border {
    width: 100%;
    height: 1px;
    background-color: #E6ECF0;
}

/*Tweet-Component*/
.tweet-user-horizontal,
.tweet-user-replied {
    height: 26px;
}

.tweet-user-icon {
    height: 50px;
    width: 50px;
}

.tweet-user-action {
    width: 120px;
}

.tweet-action-icon{
    height:1rem;
    width: 1rem;
}

.tweet-card{
    width:639px;
}

/*tweet-reply*/
.tweet-reply{
    width:639px;
    padding:0 21px 0 16px;
}
.tweet-reply-icons{
    padding: 3px 0 3px 0;
    width: 188px;
}
.tweet-reply-icons img{
    height: 30px;
    width: 30px;
}
.tweet-reply-number-follower{
    width:210px;
    font-size: 19px;
}

/*後台區*/
/*tweet*/
.admin-tweet-card{
    width:1075px;
    padding:0 24px 0 24px;
}
.admin-delete-btn{
    height: 24px;
    width: 24px;
    margin: 0;
    padding: 4.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .sign-in,
  .sign-up {
      top: 64px;
  }

  .sign-in h3,
  .sign-up h3 {
      font-weight: 700;
  }

  .sign-in input,
  .sign-up input,
  .edit-user-info input {
      height: 54px;
      padding: 24px 10.55px 0 10.55px;

      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-radius: 2px;
  }

  .sign-in label,
  .sign-up label,
  .edit-user-info label {
      top: 2px;
      left: 10.55px;

      color: #696974;
  }

  .sign-in button,
  .sign-up button {
      border-radius: 50px;
  }

  .sign-in .dot {
      font-weight: 400;
  }

  .sign-in a,
  .sign-up a {
      color: #0062FF;
      text-decoration: underline;
  }

  .edit-user-info button {
      width: 88px;
      height: 46px;
      border-radius: 50px;
  }

  .partial-title {
      border-bottom: 1px #E6ECF0 solid;
  }

  .partial-title h4 {
      font-weight: 700;
  }