/**font-size*/
.font-size-sm{
    font-size: 0.875rem;
}
/*Position class*/
.child-img-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*color*/
.filter-main-color{ /*for svg icon*/
    filter: invert(48%) sepia(53%) saturate(5638%) hue-rotate(4deg) brightness(107%) contrast(102%);
}
.filter-white-color{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
.filter-grey-7{
    filter: invert(41%) sepia(8%) saturate(495%) hue-rotate(202deg) brightness(97%) contrast(85%);
}
.main-color{
    color: #FF6600;
}
.bg-main-color{
    background-color: #FF6600;
}

/*remove style of link*/
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

/*bottom boarder of card*/
.bottom-border{
    width: 100%;
    height: 1px;
    background-color: #E6ECF0;
}
/*Tweet-Component*/
.tweet-user-horizontal, .tweet-user-replied{
    height: 26px;
}

.tweet-user-icon{
    height: 50px;
    width: 50px;
}

.tweet-user-action{
    width:120px;
}

.tweet-action-icon{
    height:1rem;
    width: 1rem;
}

.tweet-card{
    width:637px;
}

/*tweet-reply*/
.tweet-reply{
    width:639px;
    padding:0 21px 0 16px;
}
.tweet-reply-icons{
    padding: 3px 0 3px 0;
    width: 188px;
}
.tweet-reply-icons img{
    height: 30px;
    width: 30px;
}
.tweet-reply-number-follower{
    width:210px;
    font-size: 19px;
}

/*Navbar區*/
.nav-link{
    height:58px;
    width: 182px;
    margin: 0;
    padding: 16px 0 16px 16px;
    font-size: 18px;
}
.nav-link-content img{
    height: 24px;
    width: 24px;
}

.nav-tweet-btn-sm{
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
}
.nav-tweet-btn-sm img{
    position: absolute;
    top: 8px;
    left:8px;
    height:24px;
    width: 24px;
    margin: 0;
    padding: 0;
}

.navbar-main{
    position: relative;
    height:1200px;
    width:182px;
}
.navbar-ac-icon{
    height:50px;
    width:50px;
    padding: 5px;
}
.navbar-ac-icon img{
    height:40px;
    width: 40px;
}
.nav-link.active{
    filter: invert(48%) sepia(53%) saturate(5638%) hue-rotate(4deg) brightness(107%) contrast(102%);
}

.nav-link:hover{
    filter: invert(65%) sepia(87%) saturate(563%) hue-rotate(324deg) brightness(100%) contrast(102%);
} 
.nav-link-home:hover img, .nav-link-home.active img{
    content:url("/images/icons/home_filled.svg");
}

.nav-link-info:hover img, .nav-link-info.active img{
    content:url("/images/icons/user_filled.svg");
}

.nav-link-setting:hover img, .nav-link-setting.active img{
    content:url("/images/icons/cog_filled.svg");
}

.nav-link-logout{
    position: absolute;
    bottom: 0px;
}
/*後台區*/
/*tweet*/
.admin-tweet-card{
    width:1075px;
    padding:0 24px 0 24px;
}
.admin-delete-btn{
    height: 24px;
    width: 24px;
    margin: 0;
    padding: 4.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*以下是model*/
.modal{
}
.modal-content{
    position: fix;
    margin-top: 56px;
    left: 50%;
    transform: translateX(-50%);
    width: 637px;
    min-height: 500px;
}
.modal-close-btn{
    position: relative;
    height: 24px;
    width:24px;
    margin:0px;
    padding: 0px;
    border: none;
}
.modal-close-btn img{
    position: absolute;
    top:3px;
    left:3px;
    height: 15px;
    width: 15px;
    margin:0px;
    padding: 0px;
}

.reply-modal-bar{
    width:2px;
    height:calc(100% - 66px);
    padding:0;
    margin:5px 0 0 0;
    background-color: #B5B5BE;
}


.modal-form .btn{
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.form-label{
    height: 50px;
    width: 50px;
}
.form-label img{
}
.modal-form textarea, .modal-form textarea:focus{
    padding-top:17px;
    border: none;
    overflow: auto;
    outline: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}