/**font-size*/
.font-size-sm {
    font-size: 0.875rem;
}

/*Position class*/
.child-img-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*color*/
.filter-main-color {
    /*for svg icon*/
    filter: invert(48%) sepia(53%) saturate(5638%) hue-rotate(4deg) brightness(107%) contrast(102%);
}

.filter-main-color:hover {
    filter:brightness(0) invert(1);
}

.filter-grey-7 {
    filter: invert(41%) sepia(8%) saturate(495%) hue-rotate(202deg) brightness(97%) contrast(85%);
}

.main-color {
    color: #FF6600;
}

/*remove style of link*/
.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

/*bottom boarder of card*/
.bottom-border {
    width: 100%;
    height: 1px;
    background-color: #E6ECF0;
}

/*Tweet-Component*/
.tweet-user-horizontal,
.tweet-user-replied {
    height: 26px;
}

.tweet-user-icon {
    height: 50px;
    width: 50px;
}

.tweet-user-action {
    width: 120px;
}

.tweet-action-icon {
    height: 1rem;
    width: 1rem;
}

.tweet-card {
    width: 639px;
}

/*tweet-reply*/
.tweet-reply {
    width: 639px;
    padding: 0 21px 0 16px;
}

.tweet-reply-icons {
    padding: 3px 0 3px 0;
    width: 188px;
}

.tweet-reply-icons img {
    height: 30px;
    width: 30px;
}

.tweet-reply-number-follower {
    width: 210px;
    font-size: 19px;
}

/*後台區*/
/*tweet*/
.admin-tweet-card {
    width: 1075px;
    padding: 0 24px 0 24px;
}

.admin-delete-btn {
    height: 24px;
    width: 24px;
    margin: 0;
    padding: 4.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}