#left-sidebar {
  display: flex;
  align-items: stretch;
  min-width: 308px;
  height: 1200px;
}

#list {
  position: fixed;
  left: 130px;
}

#ac-logo {
  margin-top: 20px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

#ac-logo {
  width: 52px;
  height: 52px;
}

.icon {
  width: 24px;
  height: 24px;
}

.post-icon {
  width: 50px;
  height: 50px;
}

.container {
  margin: 0px;
  padding: 0px;
  border-left: 2px solid rgb(209, 203, 203);
  border-right: 2px solid rgb(209, 203, 203);
  width: 65%;
}

#header {
  padding: 15px;
  border-bottom: 2px solid rgb(209, 203, 203);
  font-weight: bold;
}

#avatar {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.post-tweet-button {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#placeholder {
  position: absolute;
  top: 15px;
  left: 60px;
}

#post-tweet {
  border-bottom: 8px solid rgb(209, 203, 203);
  position: relative;
  margin: 0px;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.tweet-button {
  border: none;
}

/* modal樣式設定 */