a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(83, 81, 81);
}


/* 整體字型 =??? */
html,
body {
  font-family: 'Montserrat';
}


/* 中間index區域 */
.index {
  width: 652px;
  left: 332px;
  top: 1px;
  border-left: 1px solid;
  border: 1px solid #E6ECF0;
  padding: 0px;
}


#header {
  margin-top: 25px;
  margin-left: 0px;
  padding-bottom: 25px;
  padding-left: 25px;
  border-bottom: 1px solid #E6ECF0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #171725;
}

.post-tweet {
  /* width: 639px; */
  height: 130px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 25px;
}

#placeholder {
  position: absolute;
  top: 15px;
  left: 83px;
}

.post-tweet {
  position: relative;
  margin: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #6C757D;
  border-bottom: 8px solid rgb(209, 203, 203);
}

#tweet-button {
  position: absolute;
  bottom: 16px;
  right: 25px;
  color: #FFFFFF;
  background: #FF6600;
  width: 80px;
  height: 40px;
  border: none;
}

/* 全部推文內容 */
#postPanel {
  margin-top: 16px;
  width: 639px;
}

.each-post {
  width: 528px;
  margin-bottom: 32px;

}

.avatar-block {
  width: 62px;
  padding: 0px;
}

.post-avatar {
  margin-left: 12px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-name {
  font-family: 'Noto Sans TC';
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #171725;
}

.user-account {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.post-button {
  color: #6C757D;
}


.likes {
  display: inline;
  border: none;
  background-color: transparent;
}

.description {
  font-size: 24px;
}

.dashboard {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

textarea {
  width: 100%;
  height: 100px;
  border: none;
  background-color: transparent;
  resize: none;
}

.tweet-button {
  border: none;
  width: 80px;
  height: 40px;
  color: #FFFFFF;
  background: #FF6600;
  border-radius: 50px;
}

.tweet-button:hover {
  color: #FFFFFF;
}


#reply,
#likes {
  width: 25px;
  height: 25px;
  margin: 0px 5px;
}

.tweet-avatar {
  top: 5px;
  left: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.reply-author {
  color: #FF6600;
}