:root {
  --brand-main: #FF6600;
  --primary: #0062FF;
  --secondary: #6C757D;
  --success: #3DD598;
  --warning: #FFC542;
  --error: #FC5A5A;
  --secondary-orange: #FF974A;
  --secondary-blue: #50B5FF;
  --secondary-green: #82C43C;
  --secondary-purple: #A461D8;
  --secondary-pink: #FF9AD5;
  --white: #FFFFFF;
}

* {
  font-family: 'Noto Sans TC','Montserrat', 'Roboto';
}

.font-text {
  font-family: 'Noto Sans TC';
}

.font-number {
  font-family: 'Montserrat';
}

.submit-btn {
  padding-block: 0.5rem;
  margin-block: 1rem;
  border: none;
  border-radius: 50px;

  background-color: var(--brand-main);
  color: var(--white);
}

.reply {
  border: #E6ECF0 solid 1px;
  padding: 16px;
}

.reply-avatar {
  width: 50px;
  height: 50px;
  margin: 0 8px 0 7px;
}

.reply-name {
  font-size: 16px;
  line-height: 26px;
  color: #171725;
  margin-right: 8PX;
}

.reply-secondary {
  font-size: 14px;
  line-height: 22px;
  color: var(--secondary);
  margin-bottom: 8px;
}

.reply-account {
  color: var(--brand-main);
}

.reply-comment {
  font-size: 16px;
  line-height: 26px;
}