html, body {
  font-family: 'Noto Sans TC', sans-serif;
  background: #ffffff;
}

.light-border {
  border: 1px solid #e6ecf0;
}

.light-color {
  color: #657786;
}

.action-icon {
  font-size: 13px;
}

.action-icon:hover {
  text-decoration: none;
  color: #3786c7
}

.isLiked {
  color: rgb(218, 68, 93);
  filter: invert(47%) sepia(96%) saturate(2922%) hue-rotate(322deg) brightness(103%) contrast(101%);
}

.isReplied {
  color: rgb(27, 129, 247);
  filter: invert(51%) sepia(46%) saturate(6570%) hue-rotate(197deg) brightness(96%) contrast(103%);
}

.thumbnail {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.button-submit {
  padding: 5px 15px;
  background: #ff6600;
  color: #fff;
  font-size: 1.125rem;
  border: none;
  border-radius: 100px;
}

.button-follow {
  padding: 5px 15px;
  background: transparent;
  color: #ff6600;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #ff6600;
  border-radius: 100px;
}

.button-follow.following {
  background: #ff6600;
  color: #fff;
  border: 0;
}

.center {
  position: relative;
  padding: 0;
  width: 600px;
  margin: 0 auto;
  background: #e6ecf0;
}

.center-wide {
  width: 69.5%;
  margin: 0 0 0 30.5%;
}

.header {
  background: #ffffff;
  overflow: hidden;
}

.textarea-tweet {
  border: 0;
  outline: none;
  resize: none;
}

.link-description {
  color: #212529
}

.link-description:hover {
  color: #212529;
  text-decoration: none;
}

.list-tweet {
  font-size: 15px;
}

.right-bar {
  width: 350px;
  position: absolute;
  top: 10px;
  right: -380px;
}

.list-topUser {
  border-radius: 14px;
  background: #f5f8fa;
}

.list-topUser > li {
  padding: 12px;
  font-size: 15px;
  background: transparent;
}

.left-bar {
  width: 235px;
  position: absolute;
  top: 10px;
  left: -265px;
}

.navbar-wrapper {
  margin: 45px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.icon-wrapper {
  margin-right: 12px;
  width: 25px;
  text-align: center;
  display: flex;
  align-items: center;
}

.navbar-action {
  width: 100%;
  color: #1c1c1c;
  font-weight: bold;
  font-size: 18px;
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.navbar-action img {
  filter: invert(3%) sepia(17%) saturate(13%) hue-rotate(329deg) brightness(97%) contrast(82%);
}

.navbar-action:hover {
  color: #657786;
  text-decoration: none;
}

.navbar-action:hover img {
  filter: invert(49%) sepia(14%) saturate(516%) hue-rotate(165deg) brightness(90%) contrast(93%);
}

.navbar-action.active {
  color: #ff6600;
}

.navbar-action.active img {
  filter: invert(51%) sepia(85%) saturate(3451%) hue-rotate(359deg) brightness(100%) contrast(106%);
}

.modal-tweet {
  max-width: 600px;
  height: 300px;
}

.modal-tweet > .modal-content {
  border-radius: 14px;
}

.button-close {
  background: transparent;
  border: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  color: #ff6600;
}

.avatar-container {
  position: absolute;
  bottom: -70px;
  left: 12px;
  width: 140px;
  aspect-ratio: 1;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-action {
  position: absolute;
  top: -65px;
  right: 12px;
}

.list-item-profile {
  box-sizing: border-box;
  padding: 15px 0;
  font-weight: bold;
  text-align: center;
  width: 130px;
  border: 0;
  color: #657786
}

.list-item-profile:hover {
  color: #ff6600;
  cursor: pointer;
  border-bottom: 3px solid #ff6600;
}

.list-item-profile.item-active {
  color: #ff6600;
  cursor: default;
  border-bottom: 3px solid #ff6600;
}

.input-setting {
  position: relative;
}

.input-setting > input {
  height: 52px;
  padding-top: 24px;
  font-size: 19px;
  font-weight: 500;
  color: #1c1c1c;
  border: 0;
  border-bottom: 3px solid #657786;
  border-radius: 4px 4px 0px 0px;
}

.input-setting > label {
  font-size: 15px;
  color: #657786;
  position: absolute;
  top: 0;
  left: 28px;
}

.input-setting > .input-prepend {
  position: absolute;
  color: #1c1c1c;
  font-size: 19px;
  font-weight: 500;
  top: 18px;
  left: 28px;
}

.input-prepend + input {
  padding-left: 32px;
}