/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

a, button {
  -webkit-transition: all .3s ease; 
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
a:hover, button:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* flash message */
.flash {
  position: absolute;
  top: -96px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 394px;
  height: 96px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  -webkit-transition: all .8s; 
  -moz-transition: all .8s;
  -ms-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  transition-timing-function: cubic-bezier(.25,.1,.25,1.4);
}

.cb {
  top: 20%;
}

.flash > .text {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:invalid {
  color: #FC5A5A;
  font-size: 15px;
  line-height: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* layout grid */
html, body {
  position: relative;
  font-size: 14px;
  min-width: 1245px;
  min-height: 520px;
  width: 100vw;
  height: 100vh;
  font-family: "Noto Sans TC","Microsoft JhengHei",sans-serif;
}

.user-template {
  display: grid;
  grid-template-columns: 1fr 235px 30px 600px 30px 350px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "l leftside i main j rightside k";
  width: 100%;
  height: 100%;
}

.sign-template {
  display: grid;
  grid-template-columns: 1fr 540px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "i main j";
  width: 100%;
  height: 100%;
}

.admin-template, .user-template-setting {
  display: grid;
  grid-template-columns: 1fr 235px 40px minmax(600px, 1200px);
  grid-template-rows: 100%;
  grid-template-areas: "i leftside j main ";
  width: 100%;
  height: 100%;
}

.leftside, .main, .rightside, .sign-main,
.admin-main > :nth-child(2) {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

/* user-template left side */
.leftside {
  display: flex;
  flex-flow: column nowrap;
  grid-area: leftside;
  justify-content: space-between;
}

.leftside > .navigation > i {
  margin-left: 10px;
  margin-top: 14px;
  margin-bottom: 45px;
}

.leftside > .navigation > a:nth-child(n) {
  margin-left: 10px;
}

.leftside > .navigation > a:nth-child(n) > i {
  margin-right: 20px;
}

.leftside > .navigation > a:nth-child(2),
.leftside > .navigation > a:nth-child(3) {
  margin-bottom: 35px;
}

.leftside > .navigation > a:nth-child(4) {
  margin-bottom: 25px;
}

.leftside > .navigation > a, .footer > a {
  color: #1c1c1c;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  display: flex;
  flex-flow:row nowrap;
  justify-content: start;
  align-items: center;
}

.leftside > .navigation > a.active {
  color: #F60
}

.leftside > .navigation > button.btn-fill {
  width: 210px;
  height: 38px;
}

.leftside > .footer > a {
  margin-bottom: 17px;
}

.leftside > .footer > a > i {
  margin-left: 10px;
  margin-right: 20px;
}

/* user-template center content for tweets */
.main {
  grid-area: main;
  border: 1px solid #E6ECF0;
}

.main > .header {
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #E6ECF0;
  font-size: 18px;
  font-weight: 700;
  line-height: 55px;
  padding-left: 15px;
}

.main > .postarea {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 120px;
}

.main > .postarea > a > .thumbnail {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

.main > .postarea > form {
  display: flex;
  flex-flow: column wrap;
}

.main > .postarea > form > textarea {
  border: none;
  resize: none;
  margin-right: 15px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.main > .postarea > form > button {
  width: 66px;
  height: 38px;
  margin-right: 15px;
  margin-bottom: 10px;
  align-self: flex-end;
  justify-self: flex-end;
}

.main > hr {
  width: 100%;
  height: 10px;
  background-color: #E6ECF0;
  border: none;
}

.main > .tweets > .tweet {
  width: 100%;
  height: 136px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #e6ecf0;
  margin-top: 10px;
}

.main > .tweets > .tweet.profileTweet {
  height: 121px;
}

.main > .tweets > .tweet > a {
  margin-top: 3px;
  display: inline;
}

.main > .tweets > .tweet > div:first-child {
  margin-top: 3px;
  display: inline;
}

.main > .tweets > .tweet > .postcontent {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.main > .tweets > .tweet > .postcontent > .postuser {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 6px;
  line-height: 22px;
}

.main > .tweets > .tweet > .postcontent > .postuser > span {
  font-size: 15px;
  line-height: 22px;
  max-width: 140px;
}

.main > .tweets > .tweet > .postcontent > .postuser > .name {
  color: #1c1c1c;
  font-weight: 700;
  margin-right: 5px;
}

.main > .tweets > .tweet > .postcontent > .postuser > .at-name,
.main > .tweets > .tweet > .postcontent > .postuser > .timer
 {
  color: #657786;
  font-weight: 500;
}

.main > .tweets > .tweet > .postcontent > .postuser > .timer::before {
  content: "•";
  margin-left: 3px;
  margin-right: 3px;
}

.main > .tweets > .tweet > .postcontent > .content {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  width: 510px;
  height: 66px;
  text-align: start;
  padding: 0;
}

.main > .tweets > .tweet > .postcontent > .action {
  display: flex;
  flex-flow: row wrap;
  font-size: 13px;
  font-weight: 500;
  height: 40px;
  color: #657786
}
.main > .tweets > .tweet > .postcontent > .action button i {
  margin: -3px 0;
}

.main > .tweets > .tweet > .postcontent > .action button .lg {
  margin: -7px 0;
}

.main > .tweets > .tweet > .postcontent > .action .commenting,
.main > .tweets > .tweet > .postcontent > .action .liking
 {
  width: 90px;
  line-height: 40px;
  text-align: left;
  display: inline-block;
  justify-self: center;
  padding: 0;
}

.main > .tweets > .tweet > .postcontent > .replyto {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  margin-top: -1px;
  margin-bottom: -8px;
}

.main > .tweets > .tweet > .postcontent > .replyto > .at-name {
  color: #f60;
}

/* user-template center content for profile (Likes, Replies, Tweets) */
.main > .back-arror-header {
  height: 55px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.main > .back-arror-header > a {
  margin: auto 43px auto 19px;
}

.main > .back-arror-header > .header-text {
  display: flex;
  flex-flow: column wrap;
}

.main > .back-arror-header > .header-text > .name {
  color: #1c1c1c;
  font-size: 19px;
  font-weight: 900;
  line-height: 28px;
  margin-top: 5px;
}

.main > .back-arror-header > .header-text > .post-count {
  color: #567786;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.main > .banner {
  position: relative;
}

.main > .banner > .cover {
  width: 598px;
  height: 200px;
  object-fit: cover;
}

.main > .banner > .avatar {
  width: 140px;
  height: 140px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 124px;
  left: 14px;
  object-fit: cover;
}

.main > .banner > .buttons {
  display: flex;
  height: 69px;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.main > .banner > .buttons > a {
  margin-top: 10px;
  margin-right: 10px;
}

.main > .banner > .buttons > button {
  margin-right: 15px;
  height: 35px;
  margin-top: 10px;
  font-weight: 700 !important;
  padding-left: 14px;
  padding-right: 14px;
}

.main > .information {
  width: 100%;
  height: 126px;
  padding-left: 15px;
}

.main > .information > .name {
  color: #1c1c1c;
  font-size: 19px;
  font-weight: 900;
  line-height: 28px;
  display: block;
}

.main > .information > .at-name {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  display: block;
  margin-bottom: 10px;
}

.main > .information > .introduction {
  color: #000;
  font-size: 14%;
  font-weight: 400px;
  line-height: 20px;
  display: block;
  margin-bottom: 10px;
}

.main > .information > .followship {
  margin-bottom: 20px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.main > .information > .followship > .following {
  margin-right: 20px;
}

.main > .information > .followship a {
  color: #567786;
  font-weight: 500;
}

.main > .paginator {
  font-size: 15px;
  font-weight: 700;
  line-height: 54px;
  border-bottom: 1px solid #e6ecf0;
}

.main > .paginator > a{
  color:#657786;
  display: inline-block;
  height: 54px;
  width: 130px;
  text-align: center;
}

.main > .paginator > a.active {
  border-bottom: 2px solid #f60;
  color: #f60;
}

/* user-template center content for profile (followship) */
.main > .followship {
  width: 100%;
}

.main > .followship > .follower {
  padding: 10px 15px 10px 0;
  height: 105px;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #e6ecf0;
  position: relative;
}

.main > .followship > .follower > a {
  margin-top: 3px;
}

.main > .followship > .follower > .followerinfo {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.main > .followship > .follower > .followerinfo > .followeruser {
  display: flex;
  flex-flow: column nowrap;
}

.main > .followship > .follower > .followerinfo > .followeruser > span {
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 5px;
}

.main > .followship > .follower > .followerinfo > .followeruser > .name {
  color: #1c1c1c;
  font-weight: 700;
}

.main > .followship > .follower > .followerinfo > .followeruser > .at-name {
  color:#657786;
  font-weight: 500;
}

.main > .followship > .follower > .followerinfo > .followerintro {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.main > .followship > .follower > button {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: .1px 15px;
}

/* user-template center content for single tweet page */
.main > .back-arror-header > .header-text > .tweet {
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 700;
  line-height: 55px;
}

.main > .tweet {
  height: 400px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #E6ECF0;
  border-right: 0px;
  border-left: 0px;
}

.main > .tweet > .tweetuser {
  display: flex;
  flex-flow: row wrap;
  margin: 15px 0;
}

.main > .tweet > .tweetuser > span:nth-child(2) {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.main > .tweet > .tweetuser > span:nth-child(2) > .name {
  color:#1C1C1C;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
}

.main > .tweet > .tweetuser > span:nth-child(2) > .at-name {
  color:#657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.main > .tweet > .tweetcontent {
  height: 100%;
  width: 570px;
  margin: auto;
}

.main > .tweet > .tweetcontent > .content {
  width: 100%;
  height: 136px;
  color:#1c1c1c;
  font-size: 23px;
  font-weight: 500;
  line-height: 34px;
  text-align: left;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.main > .tweet > .tweetcontent > .datetime {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  padding: 14px 0;
  border-bottom: 1px solid #E6ECF0;
}

.main > .tweet > .tweetcontent > .datetime > .time::after {
  content: "•";
  margin-left: 6px;
  margin-right: 3px;
}

.main > .tweet > .tweetcontent > .stat {
  color: #000;
  font-size: 19px;
  font-weight: 700px;
  line-height: 28px;
  padding: 20px 0;
  border-bottom: 1px solid #E6ECF0;
}

.main > .tweet > .tweetcontent > .stat a {
  color: #567786;
  font-weight: 500;
}

.main > .tweet > .tweetcontent > .stat > span:first-child {
  margin-right: 20px;
}

.main > .tweet > .tweetcontent > .action {
  height: 57px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.main > .tweet > .tweetcontent > .action button:first-child {
  margin-right: 146px;
}

.main > .replies > .reply {
  width: 100%;
  height: 105px;
  border-bottom: 1px solid #E6ECF0;
  display: flex;
  flex-flow: row nowrap;
}

.main > .replies > .reply > a {
  margin-top: 18px;
}

.main > .replies > .reply > .comment {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.main > .replies > .reply > .comment > .commentuser > span {
  max-width: 170px;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 4px;
}

.main > .replies > .reply > .comment > .commentuser > .name {
  color: #1C1C1C;
  font-weight: 700;
}

.main > .replies > .reply > .comment > .commentuser > .at-name,
.main > .replies > .reply > .comment > .commentuser > .timer {
  color: #657786;
  font-weight: 500;
}

.main > .replies > .reply > .comment > .commentuser > .timer::before {
  content: "•";
  margin-left: 3px;
  margin-right: 3px;
}

.main > .replies > .reply > .comment > .replyto {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 5px;
}

.main > .replies > .reply > .comment > .replyto > .at-name {
  color: #f60;
}

.main > .replies > .reply > .comment > .commentcomment {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

/* user-template-setting main for setting page */
.user-template-setting > .main > form {
  width: 647px;
  padding:30px 16px 0;
}

.user-template-setting > .main > form > button {
  align-self: flex-end;
  width: 116px;
}


/* user-template right side */
.rightside {
  grid-area: rightside;
}

.rightside > .popular {
  width: 100%;
  border-radius: 14px;
  background-color: #f5f8fa;
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.rightside > .popular > span {
  display: block;
  height: 45px;
  width: 100%;
  color:#1c1c1c;
  font-size: 18px;
  font-weight: 700;
  line-height: 45px;
  padding-left: 15px;
}

.rightside > .popular > .wrap {
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top: 1px solid #e6ecf0;
}

.rightside > .popular > .wrap > a {
  display: flex;
  flex-flow: row wrap;
}

.rightside > .popular > .wrap > a > span {
  display: flex;
  flex-flow: column wrap;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  width: 155px;
}

.rightside > .popular > .wrap > a > span .name {
  width: 100%;
  color:#1c1c1c;
  margin-top: 20px;
}

.rightside > .popular > .wrap > a > span .at-name {
  width: 100%;
  color:#657786;
  margin-bottom: 20px;
}

.rightside > .popular > .wrap > a.btn-fill {
  display: inline-block;
  width: 90px;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  margin: auto 15px;
}

.rightside > .popular > .wrap > a.btn-outline {
  display: inline-block;
  width: 60px;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  margin: auto 15px auto 0;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
}

.modal > .mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal > .mask > .dialog {
  background-color: #fff;
  width: 600px;
  min-height: 300px;
  margin: 54px auto 0;
  border-radius: 14px;
}

.modal > .mask > .dialog > .dialog-header > a {
  display: inline-block;
  padding: 9.5px;
  margin: 10px 10px 7.8px;
}

.modal > .mask > .dialog > .postarea,
.modal > .mask > .dialog > .replyarea {
  width: 100%;
  border-top: 1px solid #E6ECF0;
  display: flex;
  flex-flow: row wrap;
}

.modal > .mask > .dialog > .postarea > a,
.modal > .mask > .dialog > .replyarea > a {
  display: inline-block;
  margin-top: 15px;
}

.modal > .mask > .dialog > .postarea > form,
.modal > .mask > .dialog > form {
  display: flex;
  flex-flow: column wrap;
}

.modal > .mask > .dialog > .postarea > form > textarea,
.modal > .mask > .dialog > form > textarea {
  display: inline-block;
  width: 510px;
  border: none;
  resize: none;
  margin-top: 27px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal > .mask > .dialog > .postarea > form > button {
  width: 66px;
  margin-right: 15px;
  margin-bottom: 15px;
  align-self: flex-end;
}

/* modal for replying replyarea*/
.modal > .mask > .dialog > .replyarea > .tweet {
  width: 100%;
  height: 136px;
  display: flex;
  flex-flow: row wrap;
  margin-top: 18px;
}

.modal > .mask > .dialog > .replyarea > .tweet > a {
  display: inline;
  margin-bottom: 5px;
  position: relative;
}

.modal > .mask > .dialog > .replyarea > .tweet > a::after {
  content: "";
  position: absolute;
  top: 55px;
  left: 39px;
  width: 2px;
  height: 80px;
  background: #CCD6DD;
}

.modal > .mask > .dialog > .replyarea > .tweet > .tweetcontent {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.modal > .mask > .dialog > .replyarea > .tweet > .tweetcontent > .tweetuser {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 5px;
  line-height: 22px;
}

.modal > .mask > .dialog > .replyarea > .tweet > .tweetcontent > .tweetuser > span {
  font-size: 15px;
  line-height: 22px;
  max-width: 140px;
}

.modal > .mask > .dialog > .replyarea > .tweet > .tweetcontent > .tweetuser > .name {
  color: #1c1c1c;
  font-weight: 700;
  margin-right: 5px;
}

.modal > .mask > .dialog > .replyarea > .tweet > .tweetcontent > .tweetuser > .at-name,
.modal > .mask > .dialog > .replyarea > .tweet > .tweetcontent > .tweetuser > .timer
 {
  color: #657786;
  font-weight: 500;
}

.modal > .mask > .dialog > .replyarea > .tweet > .tweetcontent > .tweetuser > .timer::before {
  content: "•";
  margin-left: 3px;
  margin-right: 3px;
}

.modal > .mask > .dialog > .replyarea > .tweet > .tweetcontent > .tweetdescription {
  color: #1c1c1c;
  width: 510px;
  height: 66px;
  text-align: start;
  padding: 0;
  font-size: 15px;
}

.modal > .mask > .dialog > .replyarea > .tweet > .tweetcontent > .replyto {
  margin-top: 19px;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  color: #657786;
}

.modal > .mask > .dialog > .replyarea > .tweet > .tweetcontent > .replyto > .at-name {
  color:#F60;
}

/* modal for editing modal*/
#modal-edit > .mask > .dialog {
  height: 657px;
}

.modal > .mask > .dialog > .dialog-header {
  width: 100%;
  height: 58px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid #e6ecf0;
}

.modal > .mask > .dialog > .dialog-header > span {
  color: #1c1c1c;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  margin-left: 20px;
}

.modal > .mask > .dialog > form {
  position: relative;
  padding-bottom: 30px;
}


.modal > .mask > .dialog > form > button {
  position: absolute;
  top: -44px;
  right: 15px;
}

.modal > .mask > .dialog > form > .edit-cover {
  width: 598px;
  height: 260px;
  position: relative;
  margin: 0 auto;
}

.modal > .mask > .dialog > form > .edit-cover > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.modal > .mask > .dialog > form > .edit-cover > a:nth-child(3) {
  position: absolute;
  top: 90px;
  left: 262px;
}

.modal > .mask > .dialog > form > .edit-cover > a:last-child {
  position: absolute;
  top: 92.5px;
  right: 265.5px;
}

.modal > .mask > .dialog > form > .edit-avatar {
  position: relative;
  margin-top: -120px;
  width: 100%;
}

.modal > .mask > .dialog > form > .edit-avatar > img {
  width: 120px;
  height: 120px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 15px;
  object-fit: cover;
}

.modal > .mask > .dialog > form > .edit-avatar > a:last-child {
  position: absolute;
  top: 50px;
  left: 65px;
}

.modal > .mask > .dialog > form > .edit-text {
  width: 570px;
  margin: 0 15px;
}

.modal > .mask > .dialog > form > .edit-text.for-name {
  position: absolute;
  top: 280px;
  left: 0;
}

.modal > .mask > .dialog > form > .edit-text.for-intro {
  position: absolute;
  top: 376px;
  left: 0;
}

.modal > .mask > .dialog > form > .edit-text > .text-label {
  background-color: #F5F8FA;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  padding: 5px 15px 4px;
}

.modal > .mask > .dialog > form > .edit-text > .edit-form {
  background-color: #F5F8FA;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid #657786;
  padding: 0 15px 4px;
}

.modal > .mask > .dialog > form > .edit-text > .edit-form > .edit-name {
  height: 25px;

}

.modal > .mask > .dialog > form > .edit-text > .edit-form > .edit-introduction {
  height: 121px;
}

.modal > .mask > .dialog > form > .edit-text > .edit-form :first-child {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  vertical-align: top;
  color: #000;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
}

.modal > .mask > .dialog > form > .edit-text > .counter {
  color:#657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: end;
}

/* modal for replying postarea */
#modal-reply > .mask > .dialog > .postarea > a {
  display: inline-block;
  margin-top: 10px;
}

#modal-reply > .mask > .dialog > .postarea > form > textarea {
  height: 169px;
  margin-top: 22px;
}

#modal-reply > .mask > .dialog > .postarea {
  border-top: 0;
}

/* sign-template main */

.sign-template > .sign-main {
  grid-area: main;
}

.sign-template > .sign-main > .header {
  text-align: center;
}

.sign-template > .sign-main > .header > i {
  margin-top: 65px;
  margin-bottom: 25px;
}

.sign-template > .sign-main > .header > .title {
  color: #1C1C1C;
  font-size: 23px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 40px;
}

.sign-template > .sign-main > form,
.user-template-setting > .main > form {
  display: flex;
  flex-flow: column nowrap;
}

.sign-template > .sign-main > form > .edit-text,
.user-template-setting > .main > form > .edit-text {
  background-color: #F5F8FA;
  height: 49px;
  border-bottom: 2px solid #657786;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 5px 10px 0;
}

.sign-template > .sign-main > form > .edit-text > label,
.user-template-setting > .main > form > .edit-text >label {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  border: none;
}

.sign-template > .sign-main > form > .edit-text > input,
.user-template-setting > .main > form > .edit-text > input {
  color: #1C1C1C;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  vertical-align: top;
  background-color: transparent;
  border: none;
  width: 100%;
}

.sign-template > .sign-main > form > button,
.user-template-setting > .main > form > button {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 50px;
  height: 46px;
}

.sign-template > .sign-main > form > .buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  margin-bottom: 20px;
}

.sign-template > .sign-main > form > .buttons > span {
  color: #0099FF;
  margin: 0 5px;
  line-height: 26px;
}

.sign-template > .sign-main > form > a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 20px;
}

/* admin-template leftside */
.admin-template > .admin-main {
  display: flex;
  flex-flow: column nowrap;
  grid-area: main;
  border-left: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
}

/* admin-template main */
.admin-template > .admin-main > .title,
.user-template-setting > .main > .title {
  padding-left: 26.55px;
  color:#1C1C1C;
  font-size: 18px;
  font-weight: 700;
  line-height: 54px;
  border-bottom: 1px solid #E6ECF0;
}

/* admin-template main for tweets */
.admin-template > .admin-main > .tweets {
  padding-top: 5px;
}

.admin-template > .admin-main > .tweets > .tweet {
  display: flex;
  flex-flow: row nowrap;
  height: 75px;
  border-bottom: 1px solid #E6ECF0;
  position: relative;
}

.admin-template > .admin-main > .tweets > .tweet > .postcontent {
  padding-left: 5px;
}

.admin-template > .admin-main > .tweets > .tweet > .postcontent {
  color: #657786;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  margin: 10px 0 6px;
}

.admin-template > .admin-main > .tweets > .tweet > .postcontent > .postuser > .name {
  color: #1C1C1C;
  font-weight: 700;
  padding-right: 5px;
}

.admin-template > .admin-main > .tweets > .tweet > .postcontent > .postuser > .timer::before {
  content: "•";
  margin-left: 3px;
  margin-right: 6px;
}

.admin-template > .admin-main > .tweets > .tweet > .postcontent > .content {
  color: #1c1c1c;
}

.admin-template > .admin-main > .tweets > .tweet > .del-btn {
  position: absolute;
  top: 18.5px;
  right: 13.5px;
}

/* admin-template main for users */
.admin-template > .admin-main > .users {  
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.admin-template > .admin-main > .users > .usercard {
  width: 245px;
  height: 314px;
  margin: 15px 0 0 15px;
}

.admin-template > .admin-main > .users > .usercard > .imgs {
  width: 100%;
  height: 140px;
  position: relative;
}

.admin-template > .admin-main > .users > .usercard > .imgs > .thumbnail-card {
  background-color: #c4c4c4;
  border: 4px solid #fff;
  position: absolute;
  top: 68px;
  left: 72.5px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

.admin-template > .admin-main > .users > .usercard > .imgs > .img-card {
  background-color: #c4c4c4;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.admin-template > .admin-main > .users > .usercard > .texts {
  color: #1C1C1C;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  background-color: #F6F7F8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 174px;
  padding-top: 33px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.admin-template > .admin-main > .users > .usercard > .texts > .name {
  font-weight: 900;
  margin-bottom: 2px;
}

.admin-template > .admin-main > .users > .usercard > .texts > .account {
  color: #657786;
  margin-bottom: 15px;
}

.admin-template > .admin-main > .users > .usercard > .texts > .counting,
.admin-template > .admin-main > .users > .usercard > .texts > .counting > span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #1C1C1C;
}

.admin-template > .admin-main > .users > .usercard > .texts > .counting > span > i {
  margin-left: 15px;
  margin-right: 5px;
}

.admin-template > .admin-main > .users > .usercard > .texts > .followship {
  color: #000;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.admin-template > .admin-main > .users > .usercard > .texts > .followship > span > span {
  color: #657786;
}


/* general style */
.d-none {
  display: none !important;
}

.btn-fill {
  color: #fff !important;
  justify-content: center !important;
  background-color: #F60;
  border-radius: 50px;
  font-weight: 500 !important;
  text-align: center;
  font-size: 18px;
}

.btn-fill.sm, .btn-fill.xs {
  font-size: 15px;
}

.btn-fill.form {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  width: 66px;
}

.btn-text {
  color: #0099FF;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: underline #0099FF;
}

.btn-text:hover {
  text-decoration: underline #0099FF;
}

.btn-outline {
  color: #f60 !important;
  justify-content: center !important;
  background-color: transparent;
  border: 1px solid #f60;
  border-radius: 50px;
  font-weight: 500 !important;
  text-align: center;
  font-size: 18px;
}

.btn-outline.sm, .btn-outline.xs {
  font-size: 15px;
}

img.thumbnail {
  display: inline-block;
  border-radius: 50%;
  background-color: #c4c4c4;
  height: 50px;
  width: 50px;
  background-size: cover;
  margin: auto 10px auto 15px;
}

.ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
