.left-bar {
  width: 20%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.left-bar a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
  color: darkgray;
}

.upper-region {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upper-region .links{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logout-region {
  margin-top: 220px;
}

.left-side-span, .left-side-span-logout {
  margin-left: 10px !important;
}

.left-side-span-btn {
  border: none;
  background-color: white;
  font-size: 15px;
  font-weight: bolder;
  color: darkgray;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0;
}

.left-side-span-btn span {
  margin: 0 !important;
}

.fa-cog {
  margin-right: 10px;
}

.left-side-span.on {
  color: #ff6600;
}

.publish-tweet {
  border: none;
  border-radius: 12px;
  font-weight: bolder;
  color: aliceblue;
  background-color: #ff6600;
  height: 24px;
}