/* div {
  color:aquamarine
} */

/* left-side-bar */
.left-column {
  position: absolute;
  width: 178px;
  height: 1200px;
  left: 130px;
  top: 0px;
  background: #ffffff;
}
.navigation {
  display: flex;
  :auto ;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 178px;
  height: 244px;
  left: 0px;
  top: 66px;
}
.ac-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 8px;
  top: 8px;
}
.navigation-item {
  width: 178px;
  height: 58px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.navigation-item-text {
  width: 72px;
  height: 26px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #44444f;
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* main-middle */
.main-middle {
  position: absolute;
  width: 641px;
  height: 1200px;
  left: 332px;
  top: 1px;
}
.header {
  width: 641px;
  height: 51px;
  left: 332px;
  top: 24px;
}
.post-tweet {
  width: 639px;
  height: 130px;
  left: 333px;
  top: 91px;
}
.post-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 588.61px;
  height: 50px;
  left: 357.19px;
  top: 91px;
}
.user-photo {
  /* Photo */
  width: 50px;
  height: 50px;
  background: url(.jpg), #c4c4c4;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 639px;
  height: 153px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.description {
  /* /tweet/base/content */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 528px;
  height: 78px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.description-text {
  width: 528px;
  height: 78px;

  /* body/16px/regular */

  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  /* grayscale/dark-100 */

  color: #171725;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.tweet-btn-outline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 64.5px;
  height: 40px;
  right: 452.19px;
  top: calc(50% - 40px / 2 - 425px);
}
.tweet-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 64px;
  height: 40px;
  background: #ff6600;
  border-radius: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.tweet-btn-text {
  /* Text */
  width: 32px;
  height: 24px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.tweets-feed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 639px;
  height: 998px;
  left: 333px;
  top: 237px;
}
.right-column {
  position: absolute;
  width: 273px;
  height: 731px;
  left: 997px;
  top: 16px;
  background: #fafafb;
  border-radius: 16px;
}
.navigation-btn-color {
  /* _base */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: 178px;
  height: 46px;
  /* color/brand/main */
  background: #ff6600;
  border-radius: 50px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.navigation-btn-text {
  /* Text */

  width: 40px;
  height: 30px;

  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Global/09. White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.log-out {
  position: absolute;
  width: 178px;
  height: 58px;
  left: 0px;
  top: 1142px;
}
/* tweet */
.tweet-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 639px;
  height: 153px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* modal */
.modal-box {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  border-radius: 14px;
}
.side-bar-left {
  position: fixed;
}
.side-bar-right {
  position: fixed;
}
