/* 共用區 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 1200px;
  font-family: "Noto Sans TC", sans-serif; /* 設定字型 */
  font-size: 1rem;
  font-style: normal;
  background-color: #ffffff;
}

a {
  text-decoration: none; /* 拿掉底線 */
}

p {
  margin: 0;
}

::placeholder {
  color: #657786;
  font-size: 0.5em;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  text-align: top;
}

.common-button {
  background-color: #ff6600 !important;
  color: #ffffff !important;
}

.unfollow-button {
  margin: auto;
  color: #ff6600 !important;
  border-color: #ff6600;
}

.unfollow-button-follower {
  color: #ff6600 !important;
  border-color: #ff6600;
  background-color: #ffffff !important;
  line-height: 12px;
}

.for-center {
  width: 90%;
}

.reply-icon,
.like-icon,
.like-number {
  color: #657786;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.unlike-icon {
  color: #e0245e;
  cursor: pointer;
}

/* 以下是各別各組css */
/* tweets區 */
.home-nav-bar {
  max-width: 235px;
  position: relative;
}

.home-nav-bar a {
  color: #1c1c1c;
  font-size: 1.1rem;
  font-weight: 700;
}

.home-nav-bar a:hover {
  color: #ff6600;
}

.logout {
  position: fixed;
  bottom: 2%;
}

.tweets {
  max-width: 600px;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: #e6ecf0;
  padding: 0;
}

.tweets .home-word {
  color: #1c1c1c;
  font-size: 1.1rem;
  font-weight: bold;
}

.tweets .input-block {
  border-width: 1px 0px 10px 0px;
  border-style: solid;
  border-color: #e6ecf0;
  padding: 10px 15px;
}

.tweets .input-word {
  font-size: 1.1rem;
  color: #9197a3;
  font-weight: 700;
  margin-left: 0.8rem;
}

.tweets .input-btn {
  text-align: right;
}

.tweets .tweets-article {
  padding: 10px 15px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #e6ecf0;
}

.tweets-article .tweet-article {
  margin-left: 0.8rem;
}

.tweets-article .name {
  color: #1c1c1c;
  font-size: 1rem;
  font-weight: bold;
}

.tweets-article .account {
  color: #657786;
  font-size: 1rem;
  font-weight: 500;
}

.tweets-article .time {
  color: #657786;
  font-size: 1rem;
  font-weight: 500;
}

.tweets-article .content {
  color: #1c1c1c;
  font-size: 1rem;
  font-weight: 500;
}

.tweets-article .reply-to {
  font-size: 1rem;
}


.tweets-article .reply-account a {
  color:#ff6600;
  font-size: 1rem;
}

.popular {
  max-width: 350px;
  background: #f5f8fa;
  border-radius: 14px;
  padding: 0;
}

.popular .word {
  padding: 10px 15px;
  color: #1c1c1c;
  font-size: 1rem;
  font-weight: 700;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #e6ecf0;
}

.popular .popular-user {
  padding: 10px 15px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #e6ecf0;
  margin: 0;
}

.popular .follow-btn {
  text-align: right;
  margin: auto;
  padding: 0;
}

.popular .follow-btn form {
  max-width: 90px;
}

.popular .popular-name {
  line-height: 18px;
  color: #1c1c1c;
  font-size: 1rem;
  font-weight: 700;
}

.popular .popular-account {
  line-height: 18px;
  color: #657786;
  font-size: 1rem;
  font-weight: 700;
}


/*=============== tweet-followfhip ===============*/

.tweet-followfhip {
  max-width: 600px;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: #e6ecf0;
  padding: 0;
}

.tweet-followfhip .home-word {
  color: #1c1c1c;
  font-size: 19px;
  font-weight: 700;
}

.tweet-followfhip .count {
  color: #657786;
  font-size: 13px;
  font-family: Noto Sans TC;
  font-style: Medium;
  font-weight: 700;
}

.tweet-followfhip .follow-name {
  color: #1c1c1c;
  font-size: 15px;
  font-weight: 700;
}

.tweet-followfhip .follow-account {
  color: #657786;
  font-size: 15px;
  font-family: Noto Sans TC;
  font-style: Medium;
  font-weight: 500;
}

.tweet-followfhip .following {
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #e6ecf0;
  height: 100px;
}

.tweet-followfhip .follow-btn {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-style: normal;
  size: 15px;
  line-height: 15px;
}

/*====================== tweet modal區 ======================*/

.tweet-modal-content {
  border-radius: 14px;
  width: 600px;
}

.tweet-modal-head {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #e6ecf0;
}

.tweet-modal-close-btn {
  padding: 19.5px;
  width: 15px;
  height: 15px;
  color: #ff6600;
  box-shadow: none !important;
}

.tweet-modal-body {
  min-height: 245px;
  padding: 15px;
}

.tweet-modal-textarea {
  border: none;
  outline: none;
  padding: 12px 15px 0px 15px;
  font-size: 1.1rem;
  color: #9197a3;
  font-weight: 700;
  resize: none;
  box-shadow: none !important;
}

.tweet-modal-textarea::placeholder {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 26px;
  color: #9197a3;
}

.tweet-modal-tweet-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.tweet-modal-textarea-feedback {
  text-align: end;
  padding-right: 65px;
}

.textarea-feedback-word-limit{
  font-weight: 500;
  font-size: 1rem;
}

.warn{
  color:  #FC5A5A;
}

.warn::after{
  color:  #FC5A5A;
  content: '字數不能超過140字'
}

/*=============== 後台 ===============*/
.tweets-back,
.users-back {
  border: 1px solid #e6ecf0;
  height: 1202px;
}

.tweets-back .page-header,
.users-back .page-header {
  border-bottom: 0.1px solid #e6ecf0;
  height: 30px;
  margin-top: 10px;
}

.tweets-back .tweet {
  border-bottom: 0.1px solid #e6ecf0;
  height: 75px;
  padding: 12.5px;
}

.tweets-back .btn-close {
  background-color: #ffffff !important;
}

.tweets-back .avatar-img {
  border-radius: 50%;
}

.tweets-back .acc-time {
  color: #657786;
  font-size: 15px;
}

.user-back .user-detail {
  padding-right: 0;
}

.users-back .card {
  border-radius: 10px;
  margin-bottom: 10px;
}

.users-back .cover-container,
.users-back .card-cover-img {
  height: 140px;
  background: #c4c4c4;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.users-back .card-body {
  background: #f6f7f8;
  text-align: center;
  padding: 30px 0 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
}

.users-back .card-user-img {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -50px;
  background: #c4c4c4;
  border: 4px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
}
.users-back .user-name {
  font-size: 18px;
  font-weight: 900;
}

.users-back .user-acc-name {
  color: #657786;
}

.users-back .user-com-likes {
  font-size: 15px;
}

/*=============== 登入、註冊頁面 ===============*/

.signpage {
  background-color: #f5f8fa;
  border: none;
  border-bottom: 2px solid #657786;
}
