*{
  font-family: 微軟正黑體;
}


#ac-logo{
  width: 50px;
}
.userImage{
  width: 60px;
}
.orange{
  background-color:#FF6600;
}

.round{
  border-radius:50px;
}

.popularArea{
  width: 350px;
  height: 710px;
  border-radius: 14px;
  background-color:#F5F8FA;
}

.followButton{
  border-color: #FF6600;
  color: #FF6600;
}
