*{
  font-family: 微軟正黑體;
}

.grid{ 
  display:grid;
  grid-template-columns:1.5fr 6.5fr 3fr;
}

.fixed{
  position:fixed;
}

.color-orange{
  color: #FF6600;
}


#ac-logo{
  width: 50px;
}
.userImage{
  width: 60px;
}
.orange{
  background-color:#FF6600;
}

.text-orange{
  color:#FF6600;
}

.round{
  border-radius:50px;
}

.popularArea{
  width: 350px;
  height: 710px;
  border-radius: 14px;
  background-color:#F5F8FA;
}


.followButton{
  border-color: #FF6600;
  color: #FF6600;
}


.userProfileImg{
  width: 150px;
  position: absolute;
  transform: translate(0,-75px);  /*往上移蓋過cover */
  z-index: 1;
  margin-left:5px;  
}

.cover {
   width: 800px; /* whatever width you want for the cover div */
   height: 270px;
   background-color: white; /* optional */
   overflow: hidden;
}
.cover > img {
   width: 100%;
}

.whathtNew{
  border: 0;  
  outline: none;   /*去掉有甚麼新鮮事的外框*/
  width: 400px;
  min-height: 150px;
}
