.cover{
position: relative
}

.cover-mask {
  position: absolute;
  top:0;
  left:0;
  background:rgba(0,0,0,.6);
  color: #ffffff;
  opacity: 0;
}

.cover .cover-hover:hover .cover-mask { 
    opacity: 1;
}

.avatar{
position: relative
}

.avatar-mask {
  position: absolute;
  top:0;
  left:0;
  background:rgba(0,0,0,.6);
  color: #ffffff;
  opacity: 0;
}


.avatar .avatar-hover:hover .avatar-mask { 
    opacity: 1;
}

