.rightSideBar {
  width: 27%;
  margin: 20px 5px 0 15px;
  border-radius: 15px 15px 0 0;
}

.right-side-title {
  margin: 0 0 1px 0;
  padding-left: 5px;
  height: 40px;
  line-height: 40px;
  background-color: #f5f8fa;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  font-weight: bolder;
  color: darkgray;
}

.top-twitters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
  padding: 8px;
  background-color: #f5f8fa;
}

.top-twitters-info {
  display: flex;
  align-items: center;
  width: 60%;
}

.top-twitters a {
  height: 40px;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 10px;
  font-size: 12px;
}

button.following {
  height: 24px;
  width: 100px;
  border-radius: 12px;
  border: none;
  background-color: #ff6600;
  color: aliceblue;
  font-weight: bolder;
}

button.not-follow {
  height: 24px;
  width: 60px;
  border-radius: 12px;
  border-color: #ff6600;
  border-width: 2px;
  background-color: white;
  color: #ff6600;
  font-weight: bolder;
  padding: 0;
}

.useraccount {
  color: lightslategray;
}

.top-twitter-id {
  display: none;
}