/* 選單btn */
.navCol-btn {
  color: #000000;
}

.navCol-btn:active {
  color: #ff6600;
}

.navCol-btn-active {
  color: #ff6600;
}

.left_navtitle:active {
  color: #ff6600;
}
.left_navtitle-active {
  color: #ff6600;
}

/* 登出 */
.logout-btn {
  color: #000000;
}

.logout-btn:hover {
  color: #ff6600;
}

/* modal */
.modal-backdrop {
  z-index: 9;
}


.close {
  color: #ff6600;
  left: 18.75%;
  right: 18.75%;
  top: 18.75%;
  bottom: 18.75%;
  outline: none;
  border-style: none;
  font-size: 30px;
  background-color: white;
}
