.wrap {
  margin: 0;
  /* min-width:768px; */
  max-width: 1440px; 
  min-height: 1200px;
  /* max-height: 1200px;  */
  margin: 0 auto; 
  /* overflow:scroll; */
  flex-grow: 1;
}

hr {
  width:60vw;
  margin:0;
}

.logo {
  margin-top: 5vh;
}

.setting-logo {
  text-align: start;
  margin-top: 2vh;
}

.sign-title {
position: relative;
margin-top: 2.1%;
font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 23px;
line-height: 33px;
text-align: center;
}

.register-from {
position: relative;
 margin-left: 31.25%;
  width: 37.5%;
  height: 46px;
margin:auto;
max-width: 540px;
}

.form-control {
  position: relative; 
  top: 0;             
  bottom: 0;           
  left: 0;        
  right: 0;
  margin: 0;
  margin-bottom: 0;
  max-width: 540px;
  width: 37.5vw;
  height: 52px;
  background-color: #F5F8FA;
  border-radius: 4px;
  border: none;
  border-bottom: solid 3px #657786
}

.form-control :hover :focus{
  margin-bottom: 2.5%;
  width: 37.5vw;
  height: 46px;
  background-color: #F5F8FA;
  border-radius: 4px;
  border: none;
  border-bottom: solid 3px #50b5ff
}

/* .register-from ::placeholder {
  color: #657786;
  position: absolute;
  height: 15px;
  left: 10px;
  top: 5px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
} */

.signin-button {
  position: relative;
  margin-top: 12vh;
  margin-left: 31.25%; 
  width: 37.5%;
  height: 46px;
  max-width: 540px;
  border-radius: 50px;
  align-items: center;
  background-color: #fF6600;
  color: #ffffff;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  border:  #ffffff
}

.signin-button.active {
  position: relative;
  margin-top: 12vh;
  margin-left: 31.25%; 
  width: 37.5%;
  height: 46px;
  max-width: 540px;
  border-radius: 50px;
  align-items: center;
  background-color: #fF6600;
  color: #ffffff;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  border:  #ffffff
}


.signup-button {
  position: relative;
  margin-top: 40vh;
  margin-left: 31.25%; 
  width: 37.5%;
  height: 46px;
  max-width: 540px;
  border-radius: 50px;
  align-items: center;
  background-color: #fF6600;
  color: #ffffff;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  border:  #ffffff
}

.text-link {
position: relative;
height: 26px;
margin-left: 48.75%;
margin-top: 1.67%;
font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 26px;
text-decoration-line: none;
color: #0099FF;
}


.list-group-item{
  padding:0;
  background-color: WHITE;
  color:black;
  border: none;
  margin-top: 25px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}

.list-group-item.active {
 background-color: white; 
 color:#FF6600
}

.list-group-item .name-account{
 margin: auto 0;
} 

a:hover{
  background-color: transparent;
  text-decoration:none;
}

.tweet-button {
position: relative;
margin:auto;
width: 12vw;
max-width:10vw;
margin-top: 25px;
padding:0;
border-radius: 100px;
text-align:center;
background-color: #fF6600;
color: #ffffff;
font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 38px;
border:  #ffffff
}


.tweet-button:hover {
position: relative;
margin:auto;
width: 12vw;
max-width:10vw;
margin-top: 25px;
padding:0;
border-radius: 100px;
text-align:center;
background-color: #fF6600;
color: #ffffff;
font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 38px;
border:  #ffffff
}



.headerDivider { 
  height:100vh;
  border-left:1px solid rgba(0,0,0,.1); 
  margin:0;
} 

.text-title {
position: relative;
font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 26px;
margin: 15px;
}

.text-title a {
  color:black;
}

.save-area{
  position: relative; 
  top: 0;             
  bottom: 0;           
  left: 0;        
  right: 0;
  margin: 0;
  margin-bottom: 0;
  max-width: 540px;
  width: 37.5vw;
  height: 52px;
  text-align: right;
}

.save-button {
  position: relative;
  /* left: 20vw; */
  width: 8vw;
  margin:0;
  max-width: 120px;
  margin-left: 31.25vmin;
  height: 46px;
  border-radius: 50px;
  align-items: center;
  background-color: #fF6600;
  color: #ffffff;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  border:  #ffffff
}

.logout-button {
  position: fixed;
  top: 96.4vh;

  font-size: 18px;
  color:black;

}

.left-side {
  padding:0;
  position: relative;
  text-align: left;
  border-right: 1px solid #e5e5e5;
  flex-grow: 1;
}

.middle-side {
  position:relative;
  border-right: 1px solid #e5e5e5;
    overflow: hidden;
}

.right-side {
  position: r;
}

.user-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#c4c4c4;
}

.type-location { 
  flex-grow: 1;  
  margin-left: 10px;
}

.tweet {
  padding: 10px 0 0 0;
  /* width: 50vw; */
}

.account-info {
  position: relative;
  margin-left: 10px;
}

.account-info a{
  color:black
}

.new-post-content {
  border: none;
  background-color: white;
  word-wrap: break-word;
}

.reply-like {
  margin-left: 10px;
  margin-bottom: 14.26px;
color:#657786;
font-size: 13px;
}

input { 
  width: 100%; 
  height: 100%; 
  resize:none;
  border: solid white;
}

.post-content::placeholder {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  word-wrap:break-word;
}


.send-area {
  position: relative;
  background-color: white;
  text-align: right;
  /* height: 5vmin; */
}

.send-button {
  position: relative;
  right: 5px;
  width: 66px;
  margin-bottom: 10.5px;
  border-radius: 50px;
  background-color: #fF6600;
  color: #ffffff;
  font-family: Noto Sans TC;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  border:  #ffffff
}

.is-valid {

}

.is-invalid {
}

.valid-feedback {

}

.invalid-feedback {
  position: relative; 
  top: 0;             
  bottom: 0;           
  left: 0;        
  right: 0;
  margin: 0;
  max-width: 540px;
}

.user-name {
font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
}

.account-time {
font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
color: #657786;
}

.post-content {
max-width:25vw;
margin:0;
height: 66px;
font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
color: #1C1C1C;
word-wrap: wrap;
}

.post-text {
font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
margin-top: 6px;
margin-right: 15px;
margin-bottom: 14px;
margin-left: 10px;
color:black;
}



/* 右側欄位 */
.popular {
  position:relative;
  border-radius: 10px;
  background: #f5f8fa;
}

.popular-title {
position:relative;
margin: 0px;
padding-left: 15px;
padding-top: 10px;
padding-bottom: 10px;
font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 18px;
border-bottom: 1px solid #E6ECF0;
color: #1C1C1C;
}

.popular .list-group-item {
  padding: 5px;
  margin-top: 0;
  background: #f5f8fa;
}

.popular-user-pic {
  margin: 10px;
  margin-left: 15px;
}

.name-account {
  padding: 0 auto;
}


.button {
  position:relative;
  flex-grow: 1;
  text-align: right;
}

/* 垂直置中 */
.follow-button {
position: relative; 
top: 50%;
transform: translate(0%,-50%);
border-radius: 50px;
background-color: #fF6600;
color: #ffffff;
font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 3vh;
border:1px #fF6600 solid;
padding:0 15px;
}

.unfollow-button {
position: relative; 
top: 50%;
transform: translate(0%,-50%);
border-radius: 50px;
background-color: #ffffff;
color: #fF6600;
font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 3vh;
border:1px #fF6600 solid;
padding:0 15px;
}

.popular .name {
font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 15px;
}

.popular .account {
  font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 15px;
color: #657786;
}

.tweets {
position: relative; 
/* margin: auto; */
}

.close-button {
text-align: right;
overflow:hidden;
float:right;
background-color: transparent;
}

.close-button .close.active{
border:transparent;
background-color: transparent;
}

/* 管理者查看使用者 */
.container {
  margin: 0;
}

.row {
  padding: 15px;
}

.card {
  border-radius: 10px 10px 10px 10px;
  position:relative;
  width: 245px;
  height: 314px;
  overflow: hidden;
  margin: 15px;
}

.card-img-top {
  position:relative;
  border-radius: 10px 10px 0px 0px;
  width: 245px;
  height: 140px;
  background: #c4c4c4;
}

/* img:after {
  content: "\f1c5"attr(alt);
  position: relative;
  z-index: 2;
  top: 0;
  color: #c4c4c4;
  font-size: 50px;
  background-color: #c4c4c4;
} */


.card-body {
  position: relative;
  height:174px;
  background: #E5E5E5;
  padding:0;
}

.card-body 

.name-photo {
  position:relative;
  top: -41.3%;
  text-align: center;
  background-color:transparent;
  z-index: 1;
}

.name-photo .avatar {
  position:relative;
}

.name-photo .name {
  position:relative;
  margin-top: 5px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 22px;
}

.name-photo .account {
  position:relative;
  margin-top:2px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #657786;
}

.avatar .btn {
  position: relative;
  background-color:transparent;
  padding: 0;
}

.avatar img {
  border-radius: 80px; 
  width:100px;
  height:100px;
  border: 4px solid white;
  overflow: hidden;
}

.show-modal {
  background: #c4c4c4;
}

.like-reply {
  position: relative;
  width: 130px;
  margin: 15px auto 0 auto;
  top: -41.3%;
  text-align: center;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}

.follow {
  position: relative;
  margin-top: 17px;
  top: -41.3%;
  text-align: center;
}

.followship {
  margin:0 auto;
}

.followship .follow-title {
  font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}

.followship .follow-body {
font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #657786;
}

/* 使用者tweets頁面 */
.back-icon {
  width:17px;
  height:14px;
  margin:19px;
  font-size: 14px;
  display:flex;
}



.name-info {
  
}

.title-name {
font-family: Noto Sans TC;
font-style: normal;
font-weight: 900;
font-size: 19px;
line-height: 28px;
text-align: center;
}

.title-info {
font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 19px;
}

.cover {
  position:relative;
  flex-grow: 1;
  max-width: 598px;
  max-height: 200px;
  min-height:200px;
  overflow: hidden;
  background-color: #999999;
}

.cover img {
  width:100%;
 max-height: 200px;
  max-width: 100%;
}

.user-info {
  position:relative;
  text-align:left;
  background-color:transparent;
  z-index: 1;
  padding-left: 15px;
  margin-bottom: 0;
  top: -76px;
}

.user-info .avatar {
  position:relative;
  max-width: 140px;
  max-height: 140px;
  /* top:-76px; */
  background-color:transparent;
  overflow: hidden;
}

.user-info .avatar img {
  position: relative;
  background-color:#c4c4c4;
  width: 140px;
  height: 140px;
}

.user-info .edit-button {
  position:relative;
  display: flex;
  justify-content: right;  
  top: -30px;
  bottom: 0;
  margin-right: 15px;
}

.edit-button .unfollow-button {
  position:relative;
  text-align: right;
  padding:5px 15px;
}

/* 其他使用者 */
.other-user-icon {
  position:relative;
  display:flex;
  justify-content: right;  
  top: -40px;
  margin-right:15px;
  align-items: center;
}

.other-user-icon .mail {
  position: relative;
  top: 50%;
transform: translate(0%,-50%);
padding:0 5px;
border-radius: 50%;
border: 1px solid #fF6600;
color:#fF6600;
}

.other-user-icon .notification {
  position: relative;
  top: 50%;
transform: translate(0%,-50%);
padding:0 5px;
border-radius: 50%;
border: 1px solid #fF6600;
color:#fF6600;
margin: 0 10px;
}



.text-info-tweets {
  position: relative;
  top:-106px;

}

.info-text {
  position: relative;
  padding-left: 15px; 
}

.info-text .name {
  position:relative;
  font-family: Noto Sans TC;
font-style: normal;
font-weight: 900;
font-size: 19px;
line-height: 28px;
}

.info-text .account {
  position:relative;
  font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
color: #657786;
}

.info-text .introduction {
  position:relative;
  font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
margin-top: 10px;
}

.info-text .follow {
  position:relative;
  margin:0;
  margin-top: 10px;
}

/* 使用者tweets頁面-推文 */
.nav-tabs {
  position:relative;
  top:0;
  margin-top: 20px;
}

.nav-link {
  position:relative;
  width: 130px;
  padding: 13px auto;
  text-align: center;
  font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
color: #657786;
}

.nav-link::after {
  position:relative;
  width: 130px;
  padding: 13px auto;
  text-align: center;
  font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
border: 2px solid orange;
color: #ff6600;
}

.nav-tabs .nav-link.active {
  font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
color: #FF6600; 
border: none;
border-bottom: 2px solid #ff6600;
}

.user-tweet{
  position:relative;
  top:-45px;
}

.user-tweet .tweet{
  position:relative;
  padding-top:10px;
}

/* 使用者tweets頁面-推文與回覆 */
.reply {
  display:flex;
  margin-left: 10px;
}

.reply .reply-text {
font-family: 'Noto Sans TC';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
color: #657786;
}

.reply .reply-account {
font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
color: #fF6600;
margin-left: 4px;
}

.like.active{
  color: #E0245E;
}

.like.active .far.fa-heart{
  border:2px orange;
  color: #E0245E;
}

/* 單一推文頁面 */

.main-reply-tweet .account-info{
  position: relative;
  margin: 10px;
}

.main-reply-tweet .name-account {
  position: relative;
  margin-left:10px;
}

.main-reply-tweet .name {
  position:relative;
  font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
}

.main-reply-tweet .account {
  position: relative;
  font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
color: #657786;
}

.main-reply-tweet .content {
  position: relative;
  margin-left: 15px;
  font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 34px;
}

.main-reply-tweet .time {
  position: relative;
  margin: 15px;
  font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
color: #657786;
}

.main-reply-tweet .number-followers {
  position: relative;
  margin: 20px;
}

.main-reply-tweet .number {
  font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 28px;
}

.main-reply-tweet .text {
  font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 28px;
color: #657786;
}

.icon-reply {
  position: relative;
  margin: 21px 0px 15px 17px;
  font-size: 19px;
}

.icon-reply .fa-comment {
  position: relative;
  margin-right: 150px;
}


.icon-reply a {
  color:black;
}

/* 追蹤和被追蹤者貼文 */
.follow-tweet .nav-tabs{
  margin-top: 0;
}

.account-followship {
  position: relative;
  display:flex;
}

.account-followship .followship-button {
  top:0;
}

.account-followship .account-time {
  
}


/* modal樣式 */

.modal-content{
border-radius: 14px;
width:600px;
height:300px;
}

.modal-content button.close{
  color:#fF6600;
  text-align:left;
  margin: 19.5px;
}

.type-area {
  display: flex;
  height:192px;
}

.type-area .user-pic {
margin: 15px 10px 15px 15px
}

.user-pic img{
  width:50px;
  height:50px;
   border-radius: 50%;
  background-color:#c4c4c4;
  border:#fF6600 1px solid
}


.type-area .type-text {
margin-top: 27px;;
width:510px;

}

.type-text .new-post-content {
  width:510px;
overflow-wrap: break-word;
resize:none
}

.type-text .new-post-content::placeholder{
font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #9197A3;
text-align:left;
}


.add-button {
  text-align:right;
  margin-bottom: 0;
}

.add-button button.button {
  margin-right: 15px;
  margin-bottom: 15px;
  width:66px;
  height:38px;
font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
background-color: #fF6600;
color: #FFFFFF;
border-radius: 100px;
}