.adminSign-signUp p,
.adminSign-signUp a{
  font-weight: bold;
  font-size: 1.1rem;
  color:#0099FF;
}

.adminSign-signUp a{
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #0099FF;
}

.alphitter-signin{
  color: #1C1C1C;
  font-weight: bold;
  font-size: 1.4rem;
}

.signin-form .form-control::placeholder{
  position: absolute;
  top: 5px;
  left: 10px;
}