/* HELPER CLASSES */
.max-vh-100 {
  max-height: 100vh;
}

.header-block {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  top: 0;
}

.logo {
  max-height: 50px;
}

.item-header .info,
.item-other {
  color: rgba(0, 0, 0, .525);
}

/* COLUMN SETUP */
.container-fluid .row > * {
  height: 100vh;
  overflow: scroll;
}

/* PER COLUMN STYLE */
#column_nav {
  padding-right: 3rem;
  padding-left: 3rem;
}

#column_main {
  border-left: 2px solid rgba(0, 0, 0, .125);
  border-right: 2px solid rgba(0, 0, 0, .125);
}

#column_main > *:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, .125);
}

#mainblock-list .list-item:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, .125);
}

#mainblock-list .list-item img {
  max-height: 70px;
}

#mainblock-list .list-item .item-other > *:not(:last-of-type) {
  margin-right: 3rem;
}


/* Toast Message for flash message */
#snackbarMsg {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 5%;
  top: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbarMsg.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}