::-webkit-scrollbar {  display: none;  }
* {
  font-family: Noto Sans TC;
}
a p,
a p:hover {
  text-decoration: none;
}
.alert {
  border: none !important;
}

/* 共用元素 */
.user-name {
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  color: #1C1C1C;
}
.user-name:hover {
  text-decoration: none;
}
.user-account {
  font-weight: 500;
  font-size: 15px;
  color: #657786;
}
.user-account-color-span {
  color: #FF6600;
  font-size: 13px;
}
.button {
  border: none;
  background-color: transparent;
}
.tweet-post-button,
.tweet-post-error,
.tweet-post-button-modal, 
.tweet-post-error-modal {
  width: 64px;
  height: 30px;
  background: #FF6600;
  border-radius: 100px;
  color: #FFFFFF;
  border: none;
  z-index: 999;
}
.container-fluid {
  height: 800px;
  display: grid;
  grid-template-columns: 378px 600px 378px;
  overflow: scroll;
}
.replyto-span {
  font-size: 13px;
  color: #657786;
}
.replyto-span-m {
  font-size: 15px;
  color: #657786;
}
.avtar-upload {
  z-index: 999;
}
.extention-line {
  width: 2px;
  height: 100%;
  margin-top: 5px;
  background-color: #CCD6DD;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/* 使用者頁面 */
.main-title .column {
  margin: -5px 0px 10px 43px;
}
.main-title span {
  font-size: 13px;
  color: #657786;
  position: relative;
  top: -10px;
}
.user-page-cover {
  width: 600px;
  height: 200px;
}
.user-page-top {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.user-page-top .avatar {
  width: 140px;
  height: 140px;
  border: 4px solid #FFFFFF;
  position: relative;
  top: -76px;
  left: 14px;
}
.feature-link {
   display: flex;
   align-items: center;
}
.profile-button {
  width: 122px;
  height: 40px;
  color: #FF6600;
  border: 1px solid #FF6600;
  border-radius: 100px;
  margin-right: 15px;
}
.icon-circle,
.icon-circle-fill {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 0px 5px;
}
.icon-circle {
  color: #FF6600;
  border: 1px solid #FF6600;
}
.icon-circle-fill {
  background-color: #FF6600;
  color: #FFF;
}
.feature-link button{
  height: 40px;
}
.user-page-imformation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 15px;
}
.user-page-imformation .user-name {
  font-weight: 900;
  font-size: 19px;
  color: #1C1C1C;
  margin: 5px 0px 0px 15px;
}
.user-page-imformation .user-account {
  font-weight: 500;
  font-size: 15px;
  color: #657786;
  margin: 5px 0px 10px 15px;
}
.user-introduction {
  padding: 0px 15px;
}
.user-follow-link {
  width: 100%;
  display: flex;
  padding-left: 15px;
  margin-top: -10px;
}
.user-follow-link  a {
  font-weight: 500;
  font-size: 14px;
  margin-right: 15px;
  color: #000;
}
.user-follow-link div a {
  text-decoration: none;
}
.user-follow-link div a:hover {
  color: black;
}
.user-follow-link span {
  color: #657786;

}
.user-page-nav {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #E6ECF0;
}
.user-navbar .nav-link {
  text-align: center;
  width: 130px;
  padding-bottom: 12px;
  font-size: 15px;
  color: #657786 !important;
}
.user-navbar .active {  
  color: #FF6600 !important;
  font-weight: bold;
  border-bottom: 2px solid #FF6600;
}

.follow-title {
  border-bottom: none !important;
}
.follow-page-nav {
  width: 100%;
  height: 45px;
  margin-top: 30px;
  border-bottom: 1px solid #E6ECF0;
}
.follow-list {
}
.follow-item {
  display: flex;
  border-bottom: 1px solid #E6ECF0;
}
.follow-item .left {
  width: 70px;
  padding: 15px 0px 0px 15px;
}
.follow-item .right {
  margin: 15px 10px;
}
.follow-item .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.follow-item .top .column {
  display: flex;
  flex-direction: column;
}
.folloe-item-introduction {
  padding-right: 30px;
}


/* 使用者頁面列表 */
.user-page-tweets-list {
  border-bottom: 1px solid #E6ECF0;
  overflow: scroll;
}
.user-page-list-item {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: auto;
  border-bottom: 1px solid #E6ECF0;
}
.user-page-list-item .left {
  min-width: 75px;
  padding: 15px 0px 0px 15px;
}
.user-page-list-item .user-name-account {
  margin-top: 10px ;
}
.user-page-list-item .tweet-item-footer {
  display: flex;
  margin-bottom: 10px;
  margin-left: -15px;
} 

/* 登入註冊頁面 */
.sign-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign-icon {
  width: 40px;
  margin-top: 60px;
  top: 60px;
}
.sign-title {
  margin-top: 35px;
  font-weight: bold;
  font-size: 23px;
  color: #1C1C1C;
}
.sign-form {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin-top: 20px;
}
.sign-form input {
  height: 50px;
  background: #F5F8FA;
  border-radius: 4px;
  outline: 0;
  border: none;
  padding-left: 15px;
  border-bottom: 2px solid #657786;
  margin-bottom: 20px;
}
.sign-form input::placeholder{
  padding-right: 10px;
  text-align: right;
  bottom: 10px;
  font-size: 15px;
  color: #c7d2db;
}
.at-span {
  position: relative;
  color: #1C1C1C;
  top: 23px;
  left: -35px;
}
.sign-button {
  height: 50px;
  margin-top: 10px;
  background: #FF6600;
  border-radius: 50px; 
  border: none;
  color: white; 
}
.signin-link {
  margin-top: 41px;
  width: 540px;
  text-align: right;
}
.signup-link {
  margin-top: 41px;
  width: 540px;
  text-align: center;
}
.signin-link a,.signup-link a {
  font-weight: bold;
  font-size: 18px;
  color: #0099FF;
  text-decoration-line: underline;
}
.sign-form label{
  position: relative;
  margin-top: -34px;
  top: 20px;
  left: 18px;
  font-size: 15px;
  color: #657786;
}
.sign-message {
  display: flex;
  position: absolute;
  z-index: 999;
  top: 5px;
}

/* 左側導覽區塊 */
.left-content{
  position: fixed;
  grid-column: 1 / 2;
  display:flex;
  flex-direction: column;
}
.logo {
  margin-top: 14px;
  width: 40px;
  height: 40px;
}
.left-column {
  margin-left: 103px;
}
.nav {
  display: flex;
  flex-direction: column;
  margin-top: 63px;
}
.nav-item{
  margin-bottom: 34px;
}
.nav-item a {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #1C1C1C;
}
.nav-item a img{
  margin-right: 21px;
}
.tweet-button{
  width: 210px;
  height: 45px;
  background: #FF6600;
  border-radius: 100px;
  border: none;
  color: white;
}
.tweet-button:hover{
  background: rgba(255,102,0,.8);
}
.logout {
  margin: 370px 0px 0px 104px;
  
}
.logout a{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #1C1C1C;
}
.logout a img {
  margin-right: 21px;
}
.nav-item a:hover,
.logout a:hover {
  width: 600px;
  filter: drop-shadow(#FF6600 330px 0);
  transform: translateX(-330px);
  text-decoration: none;
}

/* 首頁推文 */
.main-content {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E6ECF0;
}
.main-title {
  width: 600px;
  height: 55px;
  font-weight: bold;
  font-size: 18px;
  padding: 14px 0px 0px 15px;
  border: none;
  border-bottom: 1px solid #E6ECF0;
}
.main-text {
display: flex;
flex: row;
width: 600px;
/* height: 120px; */
}
.main-text img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 10px 0px 0px 15px;
}
.main-text form textarea {
  width: 500px;
  margin: 20px 0px 0px 15px;
  height: 90px;
  border: none;
  resize:none;
  overflow: scroll;
  outline: none;
}
.main-text form textarea::placeholder{
  font-size: 18px;
  color: #9197A3;
}
.main-text form button {
  float: right;
  margin: -5px 25px 10px 0px;
}
.main-tweet-list{
  border-top: 10px solid #E6ECF0;
  max-height: 550px;
  overflow-x: hidden
}
.tweet-item {
  border-bottom: 1px solid #E6ECF0;
  display: flex;
  padding-bottom: 30px;
  margin-bottom: -25px;
}
.tweet-box:hover {
  background-color: #f5f8fa;
}
.tweet-item-left {
  width: 80px;
}
.tweet-item-left .avatar {
  margin: 15px 0px 0px 15px;
}
.tweet-item-right {
  width: 516px;
  display: flex;
  flex-direction: column;
}
.tweet-item-title {
  height: 34px; 
  padding-top: 15px;
  display: flex;
}
.tweet-item-title a {
  color: #000;
}
.tweet-item-title a:hover {
  color: #000;
  text-decoration: none;
}
.user-account {
  margin: 1px 0px 0px 6px;
}
.tweet-item-text {
  max-height: 100px;
  margin: 5px 0px;
  padding: 6px 15px 0px 0px;
  font-size: 15px;
  line-height: 18px;
}
.tweet-box .tweet-item-footer {
  display: flex;
  align-items: center;
  position: relative;
  top: -10px;
  left: 58px;
}
.tweet-item-footer .reply-link,
.tweet-item-footer .like-link {
  width: 70px;
  font-weight: 500;
  font-size: 13px;
  color: #657786;
}
.reply-link:hover {
  text-decoration: none;
  position: relative;
  color: black;
}
.like-link:hover {
  text-decoration: none;
  position: relative;
  color: red;
}
.fa-cus-solid-like{
  color: red;
}

/* 右側推薦清單 */
.right-content {
  grid-column: 3 / 4;
}
.right-column{
  position: fixed;
  width: 350px;
  margin: 15px 0px 0px 15px;
  background: #F5F8FA;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}
.right-column-title {
  height: 45px;
  padding: 10px 0px 0px 15px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #E6ECF0;
}
.top-user-list {
  height: 426px;
  overflow: hidden;
}
.user-list-item {
  height: 70px;
  border-bottom: 1px solid #E6ECF0;
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.user-list-item .avatar{
  margin-left: 15px;
}
.user-list-item-name {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}
.user-list-item-name a {
  margin-left: 6px;
}
.unfollow-button {
  width: 92px;
  font-size: 15px;
  background: #FF6600;
  border: 1px solid #FF6600;
  box-sizing: border-box;
  border-radius: 100px;
  color: #FFFFFF;
  float: right;
}
.follow-button {
  margin-left: 30px;
  width: 62px;
  font-size: 15px;
  border: 1px solid #FF6600;
  box-sizing: border-box;
  border-radius: 100px;
  color: #FF6600;
  background-color: transparent;
  float: right;
}
.more-users {
  height: 45px;
  font-size: 15px;
  color: #FF6600;
  padding-left: 20px;
  text-align: left;
}
.more-users:hover {
  text-decoration: none;
}

/* Modal */
.modal-content {
  background: transparent !important;
  border: none !important;
}
.close-button{
  margin: 0px 30px 0px 15px;
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: #FF6600;
}
.modal-button {
  border: none;
  width: 64px;
  height: 40px;
  color: white !important;
  background-color: #FF6600;
  border-radius: 100px ;
  margin-left: 420px;
}
.modal-textarea {
  width: 480px;
  height: 150px;
  background-color: transparent;
  margin-left: 10px;
  padding-top: 10px;
  outline: none;
  border: none;
  resize:none
}
.modal-header {
  font-weight: bold;
  font-size: 19px;
  color: #1C1C1C;
}
.tweet-modal-header,
.reply-modal-header,
.edit-modal-header {
  font-weight: bold;
  font-size: 19px;
  height: 54px;
  border-bottom: 1px solid #E6ECF0;
}

.tweet-modal {
  border-radius: 14px;
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.tweet-modal-body {
  height: 190px ;
  padding: 15px;
  display: flex;
}

.reply-modal {
  border-radius: 14px;
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.reply-modal-body {
  padding: 15px;
}
.reply-modal-tweet, 
.reply-modal-textarea {
  display: flex;
  flex: row wrap;
}
.reply-modal-tweet-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.reply-modal-tweet-left .avatar{
  min-height: 50px;
}

.edit-modal {
  border-radius: 14px;
  width: 600px;
  height: 654px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.edit-modal-body {
  display: flex;
  flex-direction: column;
}
.edit-modal-cover {
  height: 200px;
  background-color: rgb(241, 239, 235) !important;
  width: 100%;
}
.edit-modal-cover input,
.edit-modal-avatar input {
  visibility: hidden;
}
.edit-modal-cover label:hover,
.edit-modal-avatar label:hover {
  cursor: pointer;
}
.cover-upload {
  position: relative;
  top: 85px;
  left: 260px;
  color: #FFFFFF;
  font-size: 22px;
}
.remove-icon {
  color: #FFFFFF;
  font-size: 18px;
}
.cover-remove {
  position: relative;
  top: 21px;
  left: 360px;
}
.edit-modal-avatar {
  position: relative;
  top: -60px;
  left: 40px;
  height: 120px;
  width: 120px;
  border-radius: 100%; 
  border: 4px solid #FFFFFF;
  margin-bottom: -35px;
}
.edit-modal-avatar label {
  border-radius: 100%;
  width: 120px;
  height: 120px;
}
.avatar-upload {
  position: relative;
  left: 45px;
  top: 40px;
  color: #FFFFFF;
  font-size: 22px;
}
.edit-modal-username,
.edit-modal-brief {
  text-align: center;
}
.edit-modal-body input,
.edit-modal-body textarea {
  width: 95%;
  background: #F5F8FA;
  border-radius: 4px;
  outline: 0;
  border: none;
  border-bottom: 2px solid #657786;
  padding-left: 15px;
}
.edit-modal-body input {
  height: 50px;
  margin-bottom: 15px;
}
.edit-modal-body textarea {
  height: 150px;
  resize: none;
  padding-top: 20px;
  margin-bottom: 10px;
}
.edit-modal-body input::placeholder,
.edit-modal-body textarea::placeholder{
  position: relative;
  top: -10px;
  left: 5px;
  bottom: 10px;
  font-size: 15px;
  color: #657786;
}
.profile-save-button {
  position: relative;
  top: -630px;
  left: 100px;
  height: 30px;
}
.word-count {
  margin: -15px 30px 30px 0px;
  font-weight: 500;
  font-size: 15px;
  text-align: right;
  color: #657786;
}

#postError .modal-dialog {
  margin-top: 50px;
  background-color: rgba(0,0,0,.7);
  color: white;
  padding: 20px;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
  border-radius: 10px;
}

/* 帳號設定與管理員頁面 */
.setting-form {
  margin: 50px 0px 0px 30px;
}
.setting-form div button{
  width: 122px;
  height: 45px;
  float: right;
}
.admin-main-content,
.setting-main-content 
 {
  grid-column: 2 / 4;
  border-left: 1px solid #E6ECF0;
}
.admin-main-title,
.setting-main-title {
  height: 55px;
  font-size: 18px;
  color: #1C1C1C;
  display: flex;
  align-items: center;
  padding-left: 26px;
  border-bottom: 1px solid #E6ECF0;
}
.admin-tweets-list {
  height: 700px;
  overflow: scroll;
}
.admin-tweets-list-item {
  display: flex;
  height: 120px;
  border-bottom: 1px solid #E6ECF0;
}
.admin-tweets-list-item-left {
  padding: 15px 15px 0px 15px;
}
.admin-tweets-list-item-right {
  width: 100%;
}
.admin-tweets-list-item-right .top {
  padding: 15px 15px 6px 0px;
  display: flex;
  justify-content: space-between;
}
.admin-tweets-list-item-right p {
  font-size: 15px;
  line-height: 22px;
  color: #1C1C1C;
  padding-right: 100px;
}
.delete-tweet-item {
  color: #657786;
}
.admin-users-list {
  display: flex;
  flex-wrap: wrap;
  height: 625px;
  overflow: scroll;
  padding-bottom: 50px;
}
.admin-users-list-item {
  width: 225px;
  height: 290px;  
  background: #F6F7F8;
  border-radius: 10px;
  margin: 15px 15px 0px 0px;
}
.user-cover {
  height: 120px;
  border-radius: 10px 10px 0px 0px;
}
.user-avtar{
  position: relative;
  width: 100px;
  height: 100px;
  top: -68px;
  left: 58.5px;
  width: 100px;
  height: 100px;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
}
.user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
}
.user-data div {
  width: 100%;
  text-align: center;
}
.reply-data span {
  font-weight: 500;
  font-size: 15px;
  color: #1C1C1C;
  margin-right: 5px;
}
.follow-data {
  font-size: 14px;
  margin-top: -10px;
}
.follow-data span{
  color: #657786;
  margin-right: 5px;
}

/* 單一推文頁面 */
.main-title .fa-cus-back {
  color: #657786;
}
.main-title .fa-cus-back:hover {
  color: black;
}
.tweet-content {
  padding: 15px 15px 0 15px;
  border-bottom: 1px solid #E6ECF0;
}
.tweet-content-top {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.tweet-content-top .avatar {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 10px;
}
.tweet-content-top .column span {
  display: block;
}
.tweet-content-top .column a,
.reply-item a{
  color: black;
}
.tweet-content-top .column a:hover,
.reply-item a:hover {
  color: black;
  text-decoration: none;
}
.tweet-content-top .user-account {
 margin: 0;
}
.tweet-content-footer .tweet-time{
  margin-bottom: 10px;
  color: #657786;
  font-size: 15px;
}
.tweet-content-footer .tweet-data{
  color: #657786;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 3px;
  border-top: 1px solid #E6ECF0;
  border-bottom: 1px solid #E6ECF0;
}
.tweet-content-footer .tweet-data .number{
  color: black;
}
.tweet-like-reply-link {
  padding: 10px 0px;
}
.tweet-like-reply-link .reply-link{
  margin-right: 100px;
}
.tweet-like-reply-link a, 
.tweet-like-reply-link .fa-cus-like {
  color: #657786;
  font-size: 25px;
}
.tweet-like-reply-link .fa-cus-like {
  padding-top: 1px;   /*覺得愛心偏高，把他拉下來*/
}
.tweet-like-reply-link .fa-cus-like:hover {
  color: red;  
}
.tweet-like-reply-link .fa-cus-solid-like{
  color: red; 
  font-size: 23px;
}
.reply-author-command , 
.author-relply, 
.reply-item{
  padding: 15px;
}
.reply-like-post a,
.reply-like-post span{
  color: #657786;
}
.reply-like-post img {
  margin-right: 10px;
}
.reply-item {
  border-bottom: 1px solid #E6ECF0;
}
.reply-item .left {
  margin-right: 10px;
}
.reply-comment{
  margin-bottom: 0;
  margin-top: 5px;
}

