textarea:focus,
input:focus,
button:focus {
  outline: 0;
  box-shadow: 0 0 0 0 white;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.body-container {
  height: 100%;
  display: flex;
  margin: 0 auto 0 auto;
  justify-content: center;
}

.menu {
  height: 100%;
  width: 290px;
}

.side-menu {
  height: 100%;
  width: 178px;
  margin-left: 75px;
}

.window-description-input {
  resize: none;
  height: 150px;
}

/* center-part */

.center-part {
  height: 100%;
  min-width: 300px;
  width: 640px;
  padding: 0 0 85px 0;
}

.scroll-part {
  height: 100%;
  overflow-y: scroll;
}

/* .scrollbar {
  padding-left: 6px;
} */

.scrollbar::-webkit-scrollbar {
  display: none;
  /* width: 6px; */
}

/* .scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
} */

.tweet-container {
  height: 100%;
}

.name-link {
  color: #171725;
  text-decoration: none;
}

.name-link:hover {
  color: #6C757D;
  text-decoration: none;
}

.account-link {
  text-decoration: none;
}

.reply-btn {
  border: 0;
  background-color: white;
}

.like-submit-btn {
  border: 0;
  background-color: white;
}

.avatar-sm {
  width: 3.125rem;
  height: 3.125rem;
  object-fit: cover;
}

.admin-user-avatar {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
}

.send-button {
  width: 5rem;
}

.description-input,
.modal-description-input,
.side-description-input,
.reply-description-input {
  min-width: 30px;
  resize: none;
}

#description-length,
#modal-description-length,
#side-description-length {
  line-height: 22px;
}

.diver {
  padding: 0 13px 0 13px;
  border-bottom: 10px solid #E6ECF0;
}

/* .tweet-container {
  height: ;
} */

.user-comment-container {
  width: auto;
}

.user-name-account {
  width: auto;
}

.user-name {
  display: inline;
  width: 10rem;
  line-height: 24px;
  cursor: pointer;
}

.user-account {
  display: inline;
  color: #6C757D;
  height: 24px;
  line-height: 24px;
}

.description-link,
.back-link {
  text-decoration: none;
  color: #171725;
}

.description-link:hover,
.back-link :hover {
  text-decoration: none;
  color: #171725;
}

.description,
.description-content,
.modal-description {
  max-width: 100%;
  height: 100%;
  text-decoration: none;
  word-break: break-all;
}


.description-content:hover {
  text-decoration: none;
}

.description-like-btn-container {
  display: flex;
  align-items: center;
}

.count {
  display: inline;
  margin-bottom: 0;
}

.like-btn {
  border: 0 0 0 0;
}



/* follow-list */
.recommend-follow-list {
  height: 100%;
  width: 273px;
  margin-left: 20px;
}

.follow-list {
  background-color: #FAFAFB;
}

.follow-list-user-name-account {
  width: 240px;
}

.follow-list-user-name-account {
  width: 50px;
  overflow: hidden;
}

.list-user-name,
.list-user-account {
  width: 80%;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.following-btn {
  min-width: 96px;
}

.follow-btn {
  min-width: 65px;
}

/* reply modal */
.modal-description-container {
  position: relative;
  top: 10px;
  left: -35px;
  border-left: 3px solid #CCD6DD;
  padding-left: 35px;
  max-width: 90%;
}

.modal-avatar-container {
  z-index: 1;
}

.modal-avatar-border {
  border-bottom: 10px solid white;
}

/* profile */
#profile-cover-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#profile-avatar {
  width: 21.8%;
  height: 55.1%;
  object-fit: cover;
  position: absolute;
  top: 42%;
  right: 72%;
}

.user-item-tab {
  box-sizing: border-box;
  width: 130px;
  height: 99.9%;
}

.profile-tweet-word,
.profile-reply-word,
.profile-like-word {
  box-sizing: border-box;
  height: 100%;
  text-decoration: none;
  line-height: 52px;
  color: #657786;
}

.profile-tweet-word:hover,
.profile-reply-word:hover,
.profile-like-word:hover {
  box-sizing: border-box;
  height: 100%;
  text-decoration: none;
  line-height: 52px;
  color: #FF6600;
}

/* editinfo */
.upload-photo:hover {
  filter: var(--base-filter);
}

#remove-photo:hover {
  filter: var(--error-filter);
  cursor: pointer;
}

#info-name:focus {
  outline: none;
}

#messages-area {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* sign in & sign up */
input.form-control:hover,
input.form-control:focus
 {
  border-bottom: 2px solid #50B5FF;
}