.btn {
  padding:3px 12px 3px 12px;
}

.btn-regular {
  color: white;
  background-color: #FF6600;
}

.btn-regular:hover {
  color: white;
  background-color: coral;
}

.orange-button{
  color: #FF6600;
}

.orange-button:hover{
  color: coral;
}

.btn-outline-regular {
  color: #FF6600;
  background:none;
  border: 1px solid #FF6600;
}

.btn-outline-regular:hover {
  color: white;
  background-color: coral;
}

.list-group-item {
  border: none;
  background-color:#F5F8FA;
}

#navbarUpper > a {
  color: black;
  font-weight: bolder;
}

#navbarUpper > a:hover {
    color: #FF6600;
}

#navbarUpper > a:hover > svg > path {
  fill: #FF6600;
}

#signout {
color: black;
  font-weight: bolder;
}

#signout:hover{
  color: #FF6600;
}

#signout:hover > svg > path {
  stroke: #FF6600;
}

.inThesePages > p {
  color: #FF6600;
}

.inThesePages > svg > path  {
  fill: #FF6600;
}

.user-link {
  color: #657786;
}

.user-link:hover {
  color:black;
}

#titleText > p {
  line-height: 1.1;
}

a {
    text-decoration: none;
}

.nav > a {
  width: 130px;
  text-align: center;
  color: black;
}

.nav > a:hover {
  color: #FF6600;
}

.nav > a.active{
  color:#FF6600;
  border-bottom: 2px solid #FF6600;
}

.orange-close {
  background: none;
  opacity: 1;
}

.orange-close > svg > path {
  fill:#FF6600;
}

#edit-image{
background-repeat: no-repeat;
background-size: cover;
opacity: 0.8;
height: 200px;
margin-bottom: 80px;
}

#edit-image > div > div > label{
  padding: 0;
}

#edit-image > div > div > label > svg:hover > path {
  fill: #FF6600;
}

#avatar-label {
  height: 120px;
  width: 120px;
  background-size: cover;
  margin-top: 140px;
  margin-left: 15px;
}