body {
  background: #fff;
}
/* HELPER CLASSES */
.max-vh-100 {
  max-height: 100vh;
}

.text-lightgrey {
  color: rgba(0, 0, 0, .525) !important;
}

.border-lightgrey {
  border-color: rgba(0, 0, 0, .525) !important;
}

.bg-lightgrey {
  background-color: rgba(0, 0, 0, .525) !important;
}

.text-orange {
  color: #ff6600 !important;
}

.bg-orange {
  background-color: #ff6600 !important;
}

.btn-orange {
  color: #fff !important;
  background-color: #ff6600 !important;
  border-color: #ff6600 !important;
}
.btn-orange:hover {
  color: #fff !important;
  background-color: #e65c00 !important;
  border-color: #e65c00 !important;
}

.btn-outline-orange {
  color: #e65c00!important;
  background-color: #fff !important;
  border-color: #e65c00 !important;
}
.btn-outline-orange:hover {
  color: #fff !important;
  background-color: #ff6600 !important;
  border-color: #ff6600 !important;
}

.header-block {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  top: 0;
}

.logo {
  max-height: 50px;
}

.item-header .info,
.item-other {
  color: rgba(0, 0, 0, .525);
}

/* Main Frame */
.navbar .nav-item .nav-link, .nav-tabs .nav-item .nav-link {
  color: #212529;
}
.navbar .nav-item.active .nav-link, .nav-tabs .nav-item.active .nav-link {
  color: #ff6600;
}

/* COLUMN SETUP */
.container-fluid #column_main:not(.admin) .row > * {
  height: 100vh;
  overflow: scroll;
}

/* PER COLUMN STYLE */
#column_nav {
  padding-right: 3rem;
  padding-left: 3rem;
}

#column_main {
  border-left: 2px solid rgba(0, 0, 0, .125);
  border-right: 2px solid rgba(0, 0, 0, .125);
}

#column_main > div:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, .125);
}

#column_main textarea[name=description] {
  resize: none;
  background: transparent;
  outline-offset: 0px;
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: rgba(0, 0, 0, .125);
}

#column_main textarea[name=description]:hover {
  outline-color: rgba(0, 0, 0, .125);
}

#column_main #add-tweet-block {
  border-bottom: 10px solid rgba(0, 0, 0, .125);
}

#column_main .user-block .cover-image-wrap {
  overflow: hidden;
  max-height: 200px;
}

#column_main .user-block .avatar {
  object-fit: cover;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  border: 2px solid #fff;
  margin-top: -73px;
}

#column_main .nav-tabs .nav-item.active {
  margin-top: -2px;
  padding-top: 0px;
}

#column_main .nav-tabs .nav-item .nav-link {
  color: rgba(0, 0, 0, .525);
}

#column_main .nav-tabs .nav-item.active .nav-link {
  border-bottom: 2px solid #ff6600;
}

#column_main .nav-tabs .nav-item.active .nav-link:hover {
  border-bottom: 2px solid #ff6600;
  text-shadow:
    -0.2px -0.2px 0 #ff6600,
    0.2px -0.2px 0 #ff6600,
    -0.2px 0.2px 0 #ff6600,
    0.2px 0.2px 0 #ff6600;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

#column_main .nav-tabs .nav-item .nav-link:hover {
  border: none;
  text-shadow:
    -0.2px -0.2px 0 rgba(0, 0, 0, .25),
    0.2px -0.2px 0 rgba(0, 0, 0, .25),
    -0.2px 0.2px 0 rgba(0, 0, 0, .25),
    0.2px 0.2px 0 rgba(0, 0, 0, .25);
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

#mainblock-list .list-item:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, .125);
}

#mainblock-list .list-item img {
  max-height: 70px;
}

#mainblock-list .list-item .item-other > *:not(:last-of-type) {
  margin-right: 3rem;
}

/* Toast Message for flash message */
#snackbarMsg {
  visibility: hidden;
  min-width: 250px;
  margin-left: 0;
  text-align: center;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 5%;
  top: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbarMsg.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

/* Admin Site */
.user-card .card-img-top {
  max-height: 150px;
  height: 150px;
  width: auto;
}
.user-card .avatar {
  width: 100px;
  height: auto;
  max-height: 100px;
  border-radius: 50%;
  margin-top: -82px;
  border: 2px solid #fff;
}

/* Self Editing Modal*/
.self-edit-modal.card-img-top {
  max-height: 150px;
  height: 150px;
  width: 100%;
  border: 0.5px solid #fff;
}
.self-edit-modal.avatar {
  margin-left: 1em;
  width: 100px;
  height: auto;
  max-height: 100px;
  border-radius: 50%;
  margin-top: -50px;
  border: 2px solid #fff;
}
.modal-edit-icons {
  margin-top: -120px;
  color:white;
}
.modal-header .close {
  color:#ff6600
}
.modal-form {
  margin-top: 8rem!important;
}

i.fa-camera.fa-lg {
  margin: 10px;
  cursor: pointer;
  font-size: 30px;
}
i.fa-camera.fa-lg:hover {
  opacity: 0.6;
}
input#avatar, input#cover {
  display: none;
}