@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+TC:wght@400;500;700&family=Roboto&display=swap');

/****** body ******/
html,
body {
  /* layout */
  height: 100vh;
  margin: 0;

  /* font */
  font-family: 'Noto Sans TC', sans-serif;

  /* scrollbar */
  overflow-y: hidden;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

/****** home ******/
.home-page {
  /* layout */
  margin: 0px 24px;
  padding: 0;
  border: 1px solid #e6ecf0;

  /* scrollbar */
  overflow-y: auto;
}

/* list content */
.home-list {
  /* layout */
  height: 100vh;

  /* style */
  border-radius: 0 !important;
}

.tweet-list {
  border: 0px;
  border-radius: 0 !important;
  border-bottom: 1px solid #e6ecf0;
  /* border: 1px solid #E6ECF0; */
}

.home-title {
  border: 0px;
  border-bottom: 1px solid #e6ecf0;
}

/****** signin signup admin/signin ******/
.form-row {
  width: 354px;
  height: 54px;
  border-radius: 2px;
  background-color: #f5f8fa;
}

.account-label,
.password-label {
  margin-bottom: 0;
  padding: 0 0 0 10px;
  font-size: 14px;
}

.account-input,
.password-input {
  padding-left: 10px;
  font-size: 16px;
  background-color: #f5f8fa;
  border: 0;
  border-bottom: 2px solid #657786;
  border-radius: 0;
}

.account-input::placeholder,
.password-input::placeholder {
  color: #b5b5be;
}

.signin-btn {
  width: 354px;
  height: 46px;
  font-size: 20px;
  border: 0;
  border-radius: 50px;
  background-color: #ff6600;
}

.other-page-btn p {
  width: 354px;
}

/****** admin-users ******/
.secondary-color {
  color: #6c757d;
}

.admin-user-info {
  text-decoration: none;
}

.admin-user-card {
  width: 210px;
  height: 314px;
  border: 0;
  border-radius: 10px;
  background-color: #f6f7f8;
  transition: 0.5s;
}

.admin-user-card:hover {
  transform: scale(1.03);
}

.admin-user-card i {
  font-style: normal;
}

.admin-user-card-cover {
  width: 210px;
  height: 140px;
}

.admin-user-card-cover img {
  width: 210px;
  height: 140px;
  border-radius: 10px 10px 0 0;
}

.admin-user-avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -95%);
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.admin-user-avatar img {
  border-radius: 50%;
}

.admin-user-info-name {
  margin-top: 35px;
  font-size: 16px;
}

.admin-user-info-account {
  font-size: 14px;
  color: #6c757d;
}

.admin-user-info-count i {
  vertical-align: text-top;
}

.admin-user-info-follower i {
  font-size: 14px;
}

/****** nav ******/
.navbar.navbar-vertical {
  padding: 0;
}

.navbar-nav {
  height: 100vh;
  padding-top: 13px;
  padding-bottom: 16px;
}

.navbar-nav .nav-item .nav-link {
  /* layout */
  display: flex;
  align-items: center;

  /* font */
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #44444f;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #ff6600;
}

.navbar-nav .nav-item.active .nav-link {
  color: #ff6600;
}

.navbar-nav .nav-item .nav-link .nav-text {
  margin-left: 16.9px;
}

.navbar-nav .nav-item .nav-link .nav-icon {
  /* size */
  width: 24px;
  height: 24px;

  /* img */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* nav-icon */
/* default state */
.navbar-nav .nav-item .nav-link .home-icon {
  background-image: url('/images/navbar/home_outlined.svg');
}

.navbar-nav .nav-item .nav-link .user-icon {
  background-image: url('/images/navbar/user_outlined.svg');
}

.navbar-nav .nav-item .nav-link .cog-icon {
  background-image: url('/images/navbar/cog_outlined.svg');
}

.navbar-nav .nav-item .nav-link .logout-icon {
  background-image: url('/images/navbar/logout.svg');
}

/* toggle state */
.navbar-nav .nav-item.active .nav-link .home-icon,
.navbar-nav .nav-item:hover .nav-link .home-icon {
  background-image: url('/images/navbar/home_filled.svg');
}

.navbar-nav .nav-item.active .nav-link .user-icon,
.navbar-nav .nav-item:hover .nav-link .user-icon {
  background-image: url('/images/navbar/user_filled.svg');
}

.navbar-nav .nav-item.active .nav-link .cog-icon,
.navbar-nav .nav-item:hover .nav-link .cog-icon {
  background-image: url('/images/navbar/cog_filled.svg');
}

.navbar-nav .nav-item:hover .nav-link .logout-icon {
  background-image: url('/images/navbar/logout_colored.svg');
}

/****** btn ******/
.btn {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px auto;

  /* Inside layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  /* style */
  background: #ff6600;
  border-radius: 50px;
  border-color: #ff6600;

  /* font */
  font-weight: 400;
  color: #ffffff;
}

.btn:hover {
  /* style */
  color: #ffffff;
  background: #ff6600;
  border-color: #ff6600;
  transform: scale(1.05);
}

.btn:active {
  /* style */
  color: #ff6600 !important;
  background-color: #ffffff !important;
  border-color: #ff6600 !important;
}

.nav-btn {
  /* size */
  max-width: 178px;
  height: 46px;

  /* font */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.recommend-followings-btn {
  /* size */
  width: auto;
  height: 40px;

  /* style */
  background: #ffffff;
  border: 1px solid #ff6600;

  /* font */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ff6600;
}

.recommend-followings-btn.followed {
  /* style */
  background: #ff6600;
  border: 1px solid #ff6600;
  color: #ffffff;
}

/****** recommend-followings ******/
.recommend-followings {
  /* layout */
  height: calc(100vh - 2rem);
  max-width: 273px;

  /* style */
  border-radius: 16px;

  /* scrollbar */
  overflow-y: auto;
}

/* scrollbar */
.recommend-followings::-webkit-scrollbar {
  /* size */
  width: 6px;
}

.recommend-followings::-webkit-scrollbar-thumb {
  /* style */
  background-color: transparent;
}

.recommend-followings:hover::-webkit-scrollbar-thumb {
  /* style */
  background-color: #e6ecf0;
  border-radius: 50px;
}

/* list content */
.recommend-followings-item {
  /* layout */
  padding: 0.8vw;

  /* style */
  background: #fafafb;
  border: 0;
}

.recommend-followings-title {
  /* style */
  background: #fafafb;
  border-bottom: 1px solid #e6ecf0;
}

.recommend-followings-img {
  /* size */
  max-width: 100%;
  height: auto;
}

.recommend-followings-text {
  /* layout */
  margin-left: 8px;
  margin-right: 3px;

  /* text length limit */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* style */
  width: 76px;
}

.following-name {
  /* font */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #171725;
}

.following-account {
  /* font */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #92929d;
}

/* profile */
.profile-page {
  /* layout */
  margin: 0px 24px;
  padding: 0;
  border: 1px solid #e6ecf0;
  height: 100vh;
}

.user-container > div > span > .tweet {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #6c757d;
}

.user-container {
  height: 100vh;
}

.user-container .head {
  margin-left: 28px;
}

.user-container h5 {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #171725;
}

.user-container > .card {
  position: relative;
  border-radius: 0px;
}

.user-container > .card > .cover {
  size: 100% 200px;
  width: 100%;
  height: 200px;
  border-radius: 0px;
}

.user-container > .card > .avatar {
  position: absolute;
  height: 140px;
  left: 15px;
  top: 124px;
  /* transform: translateY(50%); */
  border-radius: 50%;
  border: 4px solid #ffffff;
}

.user-container > .card > div > .at-name {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6c757d;
}

.user-container > .card > div > span,
.user-container > .card > div > span > a {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #171725;
  text-decoration: none;
}

.user-container > .card > .edit-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.user-container > .card > .edit-btn .btn {
  width: 128px;
  margin-top: 16px;
  margin-right: 16px;
}

.user-container > .card > .follow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
  margin-right: 16px;
}

.user-container > .card > .follow > .mail,
.user-container > .card > .follow > .notification {
  width: 40px;
  margin-right: 16px;
}

.user-container .nav {
  border-top: 1px solid #e6ecf0;
}

.user-container .nav-link {
  border: 0;
  width: 130px;
  text-align: center;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #657786;
}

.user-container .nav-link.active {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
}

.user-container .tweet-text {
  margin-left: 8px;
  margin-right: 3px;
  width: 528px;
}

.user-container .tweet-list li,
.user-container .follow-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-container .tweet-list .icon {
  margin: 0 0 0 24px;
}

.user-container .tweet-name {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #171725;
}

.user-container .tweet-account {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6c757d;
}

.user-container .reply-name {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.user-container .reply-name > .text {
  color: #6c757d;
}

.user-container .reply-name > .account {
  color: #ff6600;
}

.user-container .tweet-description {
  margin: 0;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #171725;
}

.user-container .tweet-list .count,
.user-container .follow-list a {
  margin-right: 65px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #6c757d;
  text-decoration: none;
}

.user-container .tweet-list .reply-icon,
.user-container .tweet-list .like-icon {
  width: 16px;
}

.user-container .follow-list .btn-unfollow {
  background: #ffffff;
  color: #ff6600;
}

.user-container .follow-list .follow {
  margin: 0 24px;
}

/* user edit modal */
.user-edit-modal .modal-content {
  margin: 0;
  padding: 0;
  width: 634px;
}

.user-edit-modal .modal-header {
  position: relative;
  height: 57px;
  margin: 0;
  padding: 0;
}

.user-edit-modal .modal-header > .modal-close {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff6600 !important;
  background-color: transparent;
  border: 0;
  width: 15px;
}

.user-edit-modal .modal-header > .modal-title {
  position: absolute;
  left: 71px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #1c1c1c;
}

.user-edit-modal .modal-header > .btn-edit {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
}

.user-edit-modal .modal-body {
  position: relative;
  margin: 0;
  padding: 0;
}

.user-edit-modal .modal-body > .cover-edit,
.user-edit-modal .modal-body > .avatar-edit {
  position: relative;
}

.user-edit-modal .modal-body > .cover-edit > .cover-img {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
  width: 100%;
  height: 200px;
  border-radius: 0px;
}

.user-edit-modal .modal-body > .cover-edit > .cover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.user-edit-modal .modal-body > .cover-edit > .cover > .form-control,
.user-edit-modal .modal-body > .avatar-edit > .avatar > .form-control {
  top: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
}

.user-edit-modal .modal-body > .cover-edit > .cover > .form-label {
  margin: 0;
  top: 0;
  left: 0;
  color: #ffffff;
  cursor: pointer;
}

.user-edit-modal .modal-body > .cover-edit > .cover > .cover-delete {
  width: 15px;
  text-align: center;
  border: 0;
  margin: 0;
}

.user-edit-modal .modal-body .avatar-img {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
  position: absolute;
  height: 140px;
  width: 140px;
  transform: translateY(-50%);
  left: 15px;
  border-radius: 50%;
  z-index: 0;
}

.user-edit-modal .modal-body > .avatar-edit > .avatar {
  position: absolute;
  top: 0;
  left: 75px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.user-edit-modal .modal-body > .avatar-edit > .avatar > .form-label {
  margin: 0;
  top: 0;
  color: #ffffff;
  cursor: pointer;
}

.user-edit-modal .modal-body > .form-text {
  margin: 80px 16px 0;
}

.user-edit-modal .modal-body > .form-text .box {
  background: #f5f8fa;
}

.user-edit-modal .modal-body > .form-text .box > input,
.user-edit-modal .modal-body > .form-text .box > textarea {
  border-bottom: 2px solid #657786;
}

.user-edit-modal .modal-body > .form-text .box > input:valid,
.user-edit-modal .modal-body > .form-text .box > textarea:valid {
  border-bottom: 2px solid #50b5ff;
}

.user-edit-modal .modal-body > .form-text .box > input:invalid,
.user-edit-modal .modal-body > .form-text .box > textarea:invalid {
  border-bottom: 2px solid #fc5a5a;
}

.user-edit-modal .modal-body > .form-text .form-label {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #696974;
}

.user-edit-modal .modal-body > .form-text .form-control {
  background-color: transparent;
  border: 0;
}

.user-edit-modal .modal-body > .form-text .name-amount,
.user-edit-modal .modal-body > .form-text .introduction-amount {
  text-align: right;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #696974;
}

.user-edit-container {
  margin: 24px;
}

.user-edit-container h4 {
  margin-bottom: 24px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #171725;
}

.user-edit-container form {
  width: 100%;
  align-self: stretch;
}

.user-edit-container .save-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.user-edit-container .box {
  width: 100%;
  background: #f5f8fa;
  margin-bottom: 32px;
}

.user-edit-container .box > input {
  border-bottom: 2px solid #657786;
}

.user-edit-container .validated .box > input:valid {
  border-bottom: 2px solid #50b5ff;
}

.user-edit-container .validated .box > input:invalid {
  border-bottom: 2px solid #fc5a5a;
}

.user-edit-container .form-label {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #696974;
}

.user-edit-container .form-control {
  background-color: transparent;
  border: 0;
}

/****** tweets-list ******/
.tweet-btn {
  width: 64px;
  height: 40px;
}

.tweet-placeholder {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6c757d;
}

.tweet-close-button {
  background: transparent;
  border: none;
}

#description::placeholder {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #6c757d;
}

.tweet-text {
  margin-left: 8px;
  margin-right: 3px;
  width: auto;
}

.tweet-name {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #171725;
}

.tweet-account,
.reply-tag-text {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #6c757d;
}

.tweet-description {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #171725;
}

.tweets-icon {
  width: 16px;
  height: 16px;
}

.tweets-interact-counts {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #6c757d;
}

.list-header {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #171725;
}

.list-header-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.tweet-content {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #171725;
}

.hr {
  border: 0px;
  /* 不要框架 */
  height: 1px;
  /* 設定 1px 的高度 */
  background: #e6ecf0;
  /* 讓背景色填滿高度 1px 的元素空間 */
  margin: 20px 0;
}

.tweet-interact-counts {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: #171725;
  margin-right: 5px;
}

.tweet-interact-text {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  color: #6c757d;
  margin-right: 24px;
}

.reply-tag {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ff6600;
}

.vertical-line {
  width: 0;
  border-left: 1px solid #b5b5be;
  border-right: 1px solid #b5b5be;
  height: 60%;
  margin: 10px auto 0;
}

/* 錯誤訊息 */
.invalid-feedback .tweet-feedback,
.invalid-feedback .reply-feedback {
  display: none;
  font-weight: 500;
  font-size: 15px;
  color: #FC5A5A;
  text-align: right;
}

form.was-validated .invalid-message:invalid~.invalid-parent .tweet-feedback,
form.was-validated .invalid-message:invalid ~ .invalid-parent .reply-feedback {
  display: initial;
  /* 顯示 */
}

/* message */
.msg-container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 394px;
  height: 96px;
  background-color: #ffffff;
}

.msg-container > .msg {
  margin-left: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.msg-container > .btn-error {
  margin-right: 20px;
  border: 2px solid #fc5a5a;
  background-color: transparent;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.msg-container > .btn-success {
  margin-right: 20px;
  border: 2px solid #82c43c;
  background-color: transparent;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

/* input */
form.invalid-feedback {
  display: none;
  font-size: 0.8em;
}

form.invalid-feedback {
  color: #fc5a5a;
}

.validated .form-control:invalid ~ .invalid-feedback {
  display: initial;
}
