.tweet-text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #1c1c1c;
}

.tweets_tweet {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 937px;
  height: 103px;
}

.tweet_btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.tweet-error-message {
  position: absolute;
  text-align: right;
  width: 300px;
  height: 15px;
  right: 101px;
  bottom: 27px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;

  color: #fc5a5a;
}
