.user-homepage {
  display: flex;
  justify-content: space-between;
}

.central {
  width: 53%;
  background-color: lightgrey;
  padding: 1px;
}

.central-title {
  display: flex;
  height: 50px;
  font-size: 16px;
  font-weight: bolder;
  color: darkgray;
  margin: 0 0 1px 0;
  background-color: white;
  line-height: 40px;
  padding-left: 10px;
}

.central-title .central-title-name {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.central-title-name .user-name {
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  color: black;
}

.central-title-name .tweet-num {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.central-input {
  background-color: white;
  margin-bottom: 10px;
  padding: 2px;
}

.central-input button {
    width: 60px;
    height: 24px;
    margin-left: 80%;
    border: none;
    border-radius: 12px;
    background-color: #ff6600;
    font-weight: bolder;
    color: aliceblue;

}

.central-input-upper {
  display: flex;
}

.central-input-upper a {
  text-decoration: none;
  width: 40px;
}

.tweets-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.user-tweet-input {
  width: 100%;
  border: none;
  margin-left: 3px;
  font-weight: bolder;
}

button.btn-close {
  padding: 3px !important;
  height: 16px !important;
  margin-right: 10px !important;
  font-size: 8px !important;
  color: white !important;
}

.operate-fail {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  width: 30%;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  border-radius: 12px;
  margin-bottom: 2px !important;
  padding: 3px !important;
  height: 24px !important;
  border: none !important;
  background-color: rgba(241, 14, 14, 0.7) !important;
  font-size: 16px !important;
  color: white !important;
}

/* 修改placeholder font-color */
::-webkit-input-placeholder {
  color: lightgrey;
}
:-moz-placeholder {
  color: lightgrey;
}
::-moz-placeholder {
 color: lightgrey;
}
:-ms-input-placeholder {
  color: lightgrey;
}