$mainColor:#FF6600;
$secondaryColor: #6C757D;
$successColor: #3DD598;
$warningColor: #FFC542;
$errorColor: #FC5A5A;

// 輔助色
$assistColorOrange: #FF974A;
$assistColorBlue: #50B5FF;
$assistColorGreen: #82C43C;
$assistColorPurple: #A461D8;
$assistColorPink: #FF9AD5;

// 灰階
$dark100: #171725;
$dark90: #44444F;
$dark80: #696974;
$dark70: #92929D;
$dark60: #B5B5BE;
$dark50: #D5D5DC;
$dark40: #E2E2EA;
$dark30: #F1F1F5;
$dark20: #FAFAFB;
$dark0: #FFFFFF;