* {
  font-family: Noto Sans TC;
  font-style: normal;
}

button:focus,
button:active {
  outline: 0px !important;
  box-shadow: none;
}

a,
a:hover {
  text-decoration: none;
  color: #1c1c1c;
}

.btn:focus,
.btn:active {
  outline: 0px !important;
  box-shadow: none;
}

.like {
  color: #e0245e !important;
}

.container-fluid {
  display: grid;
  /* grid-template-columns: 27% 43.5% 29%; */
  grid-template-columns: 1fr 350px 600px 400px 1fr;
  height: 100vh;
  width: 100%;
}

/* 左邊列表 */
.left-content {
  grid-column-start: 2;
  grid-column-end: 3;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.navbar-content {
  margin-left: 103px;
}

.nav-top {
  margin: 4px 0px 20px 0px;
}

.icons i {
  color: #ff6600;
}

.nav-item {
  display: flex;
  align-content: center;
  margin-bottom: 25px;
}

.nav-item a {
  text-decoration: none;
  color: #1c1c1c;
}

.nav-item .icons {
  margin-right: 20px;
}

.nav-item :hover {
  color: #ff6600;
}

.navbar-footer {
  margin-left: 103px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-self: end;
}

.navbar-footer a {
  text-decoration: none;
  color: #1c1c1c;
}

.navbar-footer :hover {
  color: #ff6600;
}

.btn-tweet {
  width: 210px;
  height: 45px;
  background: #ff6600;
  border-radius: 100px;
  border: none;
  color: #ffff;
  font-weight: 500;
  line-height: 18px;
  margin-top: -3px;
}

/* 右邊列表 */

.right-content {
  grid-column-start: 4;
  grid-column-end: 5;
}

.follow-content {
  background: #f5f8fa;
  border-radius: 14px;
  width: 350px;
  /* height: 500px; */
  font-weight: 700;
  margin-left: 20px;
  margin-right: 80px;
  margin-top: 12px;
  border: none;
}

.follow-title {
  background: #f5f8fa !important;
  border-top-left-radius: 14px !important;
  border-top-right-radius: 14px !important;
  height: 45px;
  font-size: 18px;
  border-bottom: 1px solid #e6ecf0;
}

.top-follow-list {
  /* height: 700px; */
  width: 350px;
  background: #f5f8fa !important;
}

.follow-body {
  border-bottom: 1px solid #e6ecf0;
  height: 70px;
  width: 350px;
  display: flex;
  align-items: center;
  position: relative;
}

.follow-avatar {
  margin: 10px 0px 0px 15px;
}

.list-item-name {
  align-self: center;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.list-item-name a {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  color: #1c1c1c;
}

.list-item-account {
  align-self: flex-start;
  margin-top: -3px;
  font-weight: bold;
  font-size: 15px;
  color: #657786;
}

.follow-footer {
  background: #f5f8fa !important;
  border-top: 1px solid #e6ecf0;
  border-bottom-left-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
  height: 45px;
  font-size: 15px;
  color: #ff6600 !important;
}

.follow-body .btn-follow {
  width: 92px;
  height: 30px;
  background: #ff6600;
  border: 1px solid #ff6600;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: bold;
  color: #ffffff;
  font-size: 15px;
  float: right;
  align-self: right;
  position: absolute;
  right: 20px;
  top: 20px;
}

.follow-body .btn-unfollow {
  width: 62px;
  height: 30px;
  color: #ff6600;
  background: #f5f8fa;
  border: 1.5px solid #ff6600;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: bold;
  font-size: 15px;
  float: right;
  align-self: right;
  position: absolute;
  right: 20px;
  top: 20px;
}

/* 中間 tweets */
.tweets-center {
  grid-column-start: 3;
  grid-column-end: 4;
  border: 1px solid #e6ecf0;
}

.tweets-title {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e6ecf0;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 13px;
  align-self: center;
}

.tweets-title i {
  font-size: 14px;
  margin-right: 43px;
}

.tweets-input {
  height: 110px;
  width: 600px;
  border-bottom: 10px solid #e6ecf0;
  display: flex;
}

.tweets-input .main-left {
  margin-left: 15px;
  margin-top: 10px;
}

.tweets-input .main-right {
  margin-left: 15px;
  margin-top: 10px;
  width: 500px;
}

.tweets-input .main-right .tweetText {
  border: none;
  resize: none;
  height: 40px;
  margin-bottom: 5px;
}

.tweets-input .main-right .tweetText:focus {
  outline: none !important;
  box-shadow: none !important;
}

.tweets-input .main-right .tweetText::placeholder {
  color: #9197a3;
}

.tweets-input .main-right .btn-tweet-2 {
  float: right;
  width: 60px;
  height: 30px;
  line-height: 18px;
  background: #ff6600;
  color: #ffff;
  border-radius: 100px;
}
.tweets-list {
  overflow-y: scroll;
  width: 600px;
  height: 100vh;
}

.btn-tweet-2:focus,
.btn-tweet-2:active {
  outline: 0px !important;
  box-shadow: none;
}

.tweets-content {
  display: flex;
  border-radius: 0px !important;
  border-bottom: 0.5px solid #e6ecf0;
  /* width: 600px; */
}

.tweets-body {
  display: flex !important;
  padding: 0px !important;
}
.tweets-content .left-item .tweet-user-avatar {
  border-radius: 25px;
}
.tweets-content .left-item {
  margin-left: 15px;
  margin-top: 13px;
}

.tweets-content .right-item {
  width: 530px;
  margin-left: 10px;
  margin-right: 15px;
}

.tweets-content .right-item .title {
  margin-top: 10px;
  display: flex;
}

.tweets-content .right-item .title .name {
  margin-right: 5px;
  align-self: center;
}

.tweets-content .right-item .title .name a {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  color: #1c1c1c;
}

.tweets-content .right-item .title .time {
  color: #657786;
  align-self: center;
  font-size: 15px;
}

.tweets-content .right-item .body {
  margin-top: 5px;
  width: 500px;
  font-size: 15px;
  font-weight: 500;
}

.tweets-content .right-item .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 40px;
}

.tweets-content .btn:focus,
.btn:active {
  outline: 0px !important;
  box-shadow: none;
}

.tweets-content .right-item .footer .footer-item {
  display: flex;
  align-items: center;
  justify-content: start;
}

.tweets-content .right-item .footer .footer-item .btn {
  color: #657786;
  text-align: center;
  padding: 0.2rem 0.5rem 0 0;
  /* padding-top: 0.5rem; */
}

.tweets-content .right-item .footer .footer-item i {
  width: 14px;
  height: 14px;
  font-weight: 500;
  color: #657786;
}

.tweets-content .right-item .footer .footer-item .item-count,
.tweets-content .right-item .footer .footer-item .unlike-item-count {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #657786;
}
.tweets-content .right-item .footer .footer-item .like-item-count {
  color: #e0245e !important;
}
.tweets-content .form-like {
  display: flex !important;
  align-items: center !important;
}

/* 推文與回覆 */
.reply-content {
  display: flex;
  border-radius: 0px !important;
  border-left: 0.5px solid #e6ecf0;
  width: 500px;
}

.reply-content .left-item {
  margin-left: 15px;
  margin-top: 13px;
}

.reply-content .right-item {
  width: 450px;
  margin-left: 10px;
}

.reply-content .right-item .body {
  width: 420px;
}

/* 單一畫面 */
.tweet-content {
  border: 1px solid #e6ecf0;
  width: 600px;
}

.tweet-content-top {
  display: flex;
  align-items: center;
}

.tweet-content-top img {
  margin: 15px 10px 0px 15px;
}

.tweet-content-name {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  font-size: 15px;
}

.tweet-content-name .user-name {
  font-weight: bold;
  margin-bottom: -5px;
}

.tweet-content-name .user-account {
  font-weight: 500;
  color: #657786;
}

.tweet-content-main {
  border-bottom: 1px solid #e6ecf0;
  font-size: 20px;
  word-wrap: break-word;
  margin: -10px 15px 0px 15px;
}

.tweet-content-main p {
  width: 550px;
  margin-left: -15px;
  margin-bottom: -1px;
}

.tweet-content-main span {
  font-size: 15px;
  margin-left: -15px;
  margin-bottom: -5px;
  color: #657786;
  font-weight: 500;
}

.tweet-content-footer {
  font-weight: 500;
}

.tweet-content-footer .tweet-info {
  color: #657786;
  font-size: 18px;
  padding: 15px 3px;
  border-bottom: 1px solid #e6ecf0;
}

.tweet-content-footer .tweet-info span {
  color: #000000;
  margin-left: 20px;
}

.tweet-reply-like .icon-reply {
  margin-left: 17px;
  color: #657786;
}

.tweet-reply-like .btn:focus,
.btn:active {
  outline: 0px !important;
  box-shadow: none;
}

.tweet-reply-like .icon-like {
  margin-left: 100px;
  color: #657786;
}

.tweets-content .body-reply .reply-mark {
  font-weight: 500;
  font-size: 15px;
  color: #657786;
}

.tweets-content .body-reply .reply-user {
  color: #ff6600;
  font-weight: bold;
}

/* tweet-modal */
.tweet-modal-content {
  background: #ffffff;
  border-radius: 14px !important;
  width: 600px;
  height: 300px;
  border: none !important;
}

.tweet-modal-header {
  border-bottom: 1px solid#E6ECF0;
  height: 54px;
  display: flex;
}

.close-button {
  margin: 0px 30px 0px 15px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #ff6600;
}

.tweet-modal-avatar {
  margin: 15px 10px 0 15px;
}

.tweet-modal-body {
  height: 190px;
  display: flex;
}

.tweet-modal-text {
  margin-top: 20px;
  width: 500px;
  height: 150px;
  border: none;
  resize: none !important;
  outline: 0px !important;
}

.tweet-post-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.tweet-post-btn .btn-post-modal {
  color: #ffff;
  width: 64px;
  height: 40px;
  background: #ff6600;
  border-radius: 100px;
}

/* reply-modal */
.reply-modal-content {
  background: #ffffff;
  border-radius: 14px !important;
  width: 600px;
  border: none !important;
}

.reply-modal-header {
  border-bottom: 1px solid#E6ECF0;
  height: 54px;
  display: flex;
}

.reply-modal-body {
  padding: 15px;
}

.reply-modal-tweet {
  display: flex;
  border-bottom: 1px solid#E6ECF0;
}

.reply-modal-userPic {
  margin-right: 10px;
}

.reply-modal-name a {
  font-weight: bold;
  font-size: 15px;
  color: #1c1c1c;
}

.reply-modal-name span {
  font-weight: 500;
  font-size: 15px;
  color: #657786;
}

.reply-target {
  margin-bottom: 15px;
}

.reply-target span {
  font-weight: 500;
  font-size: 14px;
  color: #657786;
}

.reply-target a {
  font-weight: 500;
  font-size: 14px;
  color: #ff6600;
}

.reply-modal-post {
  display: flex;
  padding: 0px 15px 15px 15px;
}

.reply-modal-textarea {
  margin-top: 5px;
  width: 500px;
  height: 170px;
  border: none;
  resize: none !important;
  text-shadow: none !important;
}

.reply-modal-textarea:focus,
.reply-modal-textarea:active {
  outline: 0px !important;
}

.reply-modal-textarea:focus,
.reply-modal-textarea:active {
  outline: 0px !important;
}

/* user profile */
.user-main {
  border: 1px solid #e6ecf0;
  grid-column-start: 3;
  grid-column-end: 4;
}
.user-header {
  display: flex;
  align-items: center;
  height: 55px;
  border-bottom: 1px solid #e6ecf0;
  /* flex-direction: row; */
}
.user-arrow {
  margin: 20px;
}
.user-header-info {
  margin-left: 1rem;
}

.user-header-name,
.user-name {
  font-family: Noto Sans TC;
  font-size: 19px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.user-header-tweet-count {
  margin-top: -3px;
  font-family: Noto Sans TC;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #657786;
}
.user-cover {
  background-position: center;
  background-size: cover;
}
.user-info {
  display: flex;
  position: relative;
  flex-direction: column;
}
.user-avatar {
  position: absolute;
  left: 14px;
  top: -70px;
  border: 4px solid #ffffff;
  border-radius: 70px;
}
.user-action {
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: 70px;

  /* margin-top: 10px; */
  padding-right: 15px;

  align-items: center;
}
.user-action .action-item {
  margin: 5px;
}
.user-action .btn-edit-profile {
  width: 122px;
  height: 40px;
  border: 1px solid #ff6600;
  border-radius: 100px;
  background-color: #ffffff;

  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;

  color: #ff6600;
}
.user-action .btn-edit-profile:hover {
  background-color: #ffffffe5;
  color: #ff6600e3;
  cursor: pointer;
}

.user-action .user-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ff6600;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.user-action .user-icon .icon {
  font-size: 30px;
  color: #ff6600;

  position: absolute;
  top: 1px;
  left: 5px;
}

.user-action .btn-user-follow {
  width: 92px;
  height: 40px;

  color: #ff6600;
  border: 1px solid #ff6600;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
}

.user-action .btn-user-unfollow {
  width: 92px;
  height: 40px;

  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #ff6600;
  box-sizing: border-box;
  border-radius: 100px;
}

.user-info .user-data {
  width: 600px;
  margin-top: 5px;
  padding: 0 15px;
}

.user-account {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  color: #657786;
}

.user-info .user-data .user-account {
  margin-top: -3px;
}

.user-info .user-data .user-intro {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

.user-info .user-data .user-follow {
  display: flex;
  flex-direction: row;

  font-family: Noto Sans TC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #657786;
}

.user-info .user-data .user-follow span {
  font-weight: 500;
  color: #000000;
}
.user-following {
  margin-right: 10px;
}

.user-follower {
  margin-left: 10px;
}

/* 列表頁籤 */

.user-page-nav {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #e6ecf0;
  margin-top: 10px;
}

.user-page-nav .user-navbar .nav-link {
  width: 130px;
  text-align: center;
  padding-bottom: 12px;
  font-size: 15px;
  color: #657786;
}

.user-page-nav .user-navbar .active {
  color: #ff6600 !important;
  font-weight: bold !important;
  border-bottom: 3px solid #ff6600;
}
.user-tweets-list,
.user-replies-list {
  border-bottom: 1px solid #e6ecf0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 715px;
}

/* 管理者首頁 */
.admin-tweets-list {
  grid-column-start: 3;
  grid-column-end: 5;
}

.admin-tweets-title {
  height: 50px;
  border: 1px solid #e6ecf0;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 13px;
  align-self: center;
}

.admin-list-item {
  display: flex;
  padding: 15px;
  border: 1px solid #e6ecf0;
  justify-content: space-between;
}

.admin-list-left {
  display: flex;
}

.list-name {
  display: flex;
  font-size: 15px;
}

.list-name a {
  font-weight: bold;
  color: #1c1c1c;
}

.list-name span {
  font-weight: 500;
  color: #657786;
  margin-left: 5px;
}

.right-list-item {
  margin-left: 15px;
}

.admin-list-right .delete-btn {
  background: none;
  border: none;
  color: #657786;
  font-size: 20px;
}

/* 管理者使用者列表 */
.admin-right-list {
  grid-column-start: 3;
  grid-column-end: 5;
  border: 1px solid #e6ecf0;
}

.admin-users-title {
  height: 50px;
  border-bottom: 1px solid #e6ecf0;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 13px;
  align-self: center;
}

.admin-users-list {
  display: inline-flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: scroll;
}

.user-list-item {
  width: 225px;
  height: 300px;
  background: #f6f7f8;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 15px;
  position: relative;
}

.user-list-item-cover {
  height: 140px;
  border-radius: 10px 10px 0px 0px;
}

.user-list-item-avatar img {
  position: absolute;
  left: 66.5px;
  top: 65px;
  border: 5px solid #ffffff;
}

.user-list-item-info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list-item-follow,
.user-list-item-icons {
  display: flex;
  font-size: 14px;
  font-weight: 500;
}

.user-list-item-icons .reply-data,
.user-list-item-icons .like-data {
  display: flex;
  align-items: center;
}

.user-list-item-info a {
  font-weight: 900;
  font-size: 20px;
  color: #1c1c1c;
}

.user-list-item-follow span {
  color: #657786;
}

/* edit-modal */
.edit-modal-content {
  background: #ffffff;
  border-radius: 14px !important;
  width: 600px;
  height: 650px;
  border: none !important;
}

.edit-modal-header {
  border-bottom: 1px solid#E6ECF0;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}

.edit-left-top span {
  font-weight: bold;
  font-size: 19px;
}

.edit-right-top .btn-post-modal {
  color: #ffff;
  width: 64px;
  height: 35px;
  background: #ff6600;
  border-radius: 100px;
}

.edit-item-cover {
  height: 200px;
  width: 600px;
  background-color: #f5f8fa !important;
}

.edit-item-cover:hover {
  opacity: 0.8;
}

.edit-item-cover label {
  position: relative;
  left: 270px;
  top: 95px;
  /* z-index: 1; */
}

.edit-item-cover .remove {
  position: relative;
  left: 300px;
  top: 95px;
  border: none !important;
  background-color: none !important;
  /* z-index: 2; */
}

.edit-item-cover input,
.edit-item-avatar input {
  display: none;
}

.edit-item-cover label:hover,
.edit-item-avatar label:hover {
  cursor: pointer;
}

.edit-item-cover i,
.edit-item-avatar i {
  color: #ffffff;
  font-size: 20px;
}

.edit-item-avatar {
  position: relative;
  top: -65px;
  left: 25px;
  border: 5px solid #ffff;
  border-radius: 100px;
  width: 120px;
  height: 120px;
}
/* 
.edit-item-avatar img {
  position: absolute;
  top: -5px;
  left: -5px;
  border: 4px solid #ffff;
  border-radius: 100px;
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: cover;
} */

.edit-item-avatar label {
  position: relative;
  left: 45px;
  top: 45px;
  /* z-index: 1; */
}

.edit-item-name {
  margin-top: -60px;
  padding: 0 15px 0 15px;
}

.edit-item-name input {
  width: 570px;
  height: 60px;
  background-color: #f5f8fa;
  border-radius: 4px;
  border: none;
  border-bottom: 3px solid #657786;
  resize: none !important;
  font-weight: 600;
  font-size: 19px;
  padding-top: 15px;
}

.edit-item-name input:active,
.edit-item-name input:focus,
.item-text-center:active,
.item-text-center:focus {
  border: none;
  resize: none !important;
  outline: 0px !important;
  border-bottom: 3px solid #657786;
}

.item-name-top-mark,
.item-text-top-mark {
  position: relative;
  top: 20px;
  font-size: 15px;
}

.item-name-bottom,
.item-text-bottom {
  display: flex;
  justify-content: flex-end;
}

.edit-item-text {
  padding: 0 15px 0 15px;
}

.edit-item-text .item-text-center {
  width: 570px;
  height: 150px;
  border: none;
  border-bottom: 3px solid #657786;
  resize: none !important;
  font-weight: 600;
  border-radius: 4px;
  font-size: 19px;
  background-color: #f5f8fa;
  padding-top: 2rem;
}

/* follower頁面 */

.follower-center {
  grid-column-start: 3;
  grid-column-end: 4;
  border: 1px solid #e6ecf0;
}

.follower-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.follower-title-left {
  padding: 15px;
}

.follower-title-left i {
  font-size: 14px;
  margin-right: 40px;
}

.follower-title-top {
  font-weight: 900;
  font-size: 19px;
}

.follower-title-bottom {
  font-size: 13px;
  color: #657786;
}

.follow-nav {
  margin-top: 15px;
  width: 100%;
  border-bottom: 2px solid #e5e5e5;
}

.follow-nav a {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  width: 130px;
}

.follow-nav > .active {
  border-bottom: 3px solid #ff6600 !important;
  color: #ff6600 !important;
  width: 130px;
}

.user-page-nav {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #e6ecf0;
  margin-top: 10px;
}

.user-page-nav .user-navbar .nav-link {
  width: 130px;
  text-align: center;
  padding-bottom: 12px;
  font-size: 15px;
  color: #657786;
}

.user-page-nav .user-navbar .active {
  color: #ff6600 !important;
  font-weight: bold !important;
  border-bottom: 3px solid #ff6600;
}

.followship-lists {
  margin-top: -10px;
}

.followship-content {
  border-bottom: 1px solid #e6ecf0;
  height: 110px;
  width: 600px;
  display: flex;
}

.followship-left {
  margin: 13px 10px 0px 15px;
}

.followship-right {
  margin-top: 10px;
  width: 500px;
}

.followship-right a {
  font-weight: bold;
  font-size: 15px;
}

.followship-right span {
  font-weight: 500;
  font-size: 15px;
  color: #657786;
}

.followship-right p {
  font-size: 15px;
}

.followship-right-top {
  display: flex;
  justify-content: space-between;
}

.right-top-name {
  display: flex;
  flex-direction: column;
}

.right-btn-follow {
  width: 92px;
  height: 30px;
  background: #ff6600;
  border: 1px solid #ff6600;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: bold;
  color: #ffffff;
  font-size: 15px;
  margin-right: 15px;
}

.right-btn-unfollow {
  width: 62px;
  height: 30px;
  color: #ff6600;
  background: #f5f8fa;
  border: 1.5px solid #ff6600;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 15px;
}

.tweetWordTipError {
  color: red;
}

.tweetWordTipNormal {
  color: green;
}
