@import "./reset.scss";
@import "./variableSheet.scss";


@media screen and (min-width: 1200px) {
  #ys-admin-region.container-ys {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #ys-admin-region.container-ys {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

section#ys-admin-region {
  * {
    // border: dotted 1px red;
    color: $dark100;

    .cancel-button {
      padding: 0px;
      font-size: 14px;
      position: absolute;
      right: 1rem;
    }
  }

  // left-------------------------------------------------------------------------------------------
  .left-region-sidebar {
    width: 178px;
    height: 100vh;

    .side-bar {
      display: flex;
      flex-direction: column;

      img {
        margin-top: 8px;
        margin-left: 8px;
        margin-bottom: 14px;
        width: 50px;
        height: 50px;
      }

      a {
        padding: 16px;
        margin-bottom: 24x;
        color: $dark90;

        &.active {
          // color: $mainColor;
          filter: invert(48%) sepia(41%) saturate(6991%) hue-rotate(6deg) brightness(109%) contrast(102%);
        }
      }

      .logout {
        position: absolute;
        bottom: 0px;
      }
    }
  }

  // right--------------------------------------------------------------------------------------------
  .right-region-tweet-list,
  .right-region-users-list {
    height: 100vh;
    flex: 1;
    margin-left: 24px;
    border-left: 1px solid #E6ECF0;
    border-right: 1px solid #E6ECF0;
    padding-left: 20px;
    padding-right: 20px;

    .title {
      margin-top: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid #E6ECF0;
    }

    .scroll-container {
      height: 85vh;
      overflow-y: scroll;
      scrollbar-color: $dark30 $dark20;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 6px;
      }

      // bar的樣式
      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.1);
      }


      .tweet-card {
        position: relative;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #E6ECF0;

        .head {
          align-items: center;
        }

        .name {
          margin-right: 8px;
          font-weight: 700;
          font-size: 16px;

        }

        .account,
        .time {
          font-weight: 400;
          font-size: 14px;
          color: $secondaryColor;
        }

        .content {
          margin-top: 8px;
          padding-right: 3rem;
        }
      }
    }
  }

  // users region ----------------------------------------
  // &.container-ys.users-layout {
  //   width: auto;
  //   margin-left: 130px;
  //   margin-right: 10px;
  // }

  .user-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .user-card-cover {
      border-radius: 10px 10px 0px 0px;
      height: 7rem;
      width: 100%;
    }

    .name-photo {
      position: relative;
      top: 3%;
      transform: translate(0%, -55%);

      .user-card-avatar {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 0.25rem solid #FFFFFF;
      }
    }

    .row-actions {
      position: relative;
      top: -3rem;
      display: flex;

      p {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
      }

      img {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.5rem
      }
    }

    .follow {
      position: relative;
      top: -3rem;
      display: flex;

      p {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }

      span {
        color: $secondaryColor;
      }
    }
  }

}

section#ys-FE-users-region {
  * {
    // border: dotted 1px red;
  }

  &.temp-layout {
    width: 45%;
  }

  &.followships-layout {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }



  .header {
    align-items: center;
    height: 3rem;
    padding: 1rem;

    img {
      width: 16px;
      height: 14px;
    }

    .name_tweets {
      margin-left: 1rem;

      p {
        color: $secondaryColor;
        font-size: 0.75rem;
      }
    }


  }

  .tab {
    margin-bottom: 1rem;

    a {
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      color: $secondaryColor;

      &.active {
        filter: invert(48%) sepia(41%) saturate(6991%) hue-rotate(6deg) brightness(109%) contrast(102%);
        border-bottom: 1px solid $mainColor;
      }
    }

  }

  .followers {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 1000px;

    &.scroll-container {
      height: 85vh;
      overflow-y: scroll;
      scrollbar-color: $dark30 $dark20;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 6px;
      }

      // bar的樣式
      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .tweets {
      margin-bottom: 1rem;
    }

    .top {
      align-items: center;

      img {
        margin-left: 1.5rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }

      .name {
        margin-left: 0.5rem;
        font-weight: 700;
      }

      .follow-btn {
        position: absolute;
        right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 50px;
        text-align: center;
      }

      .follow {
        border: 1px solid $mainColor;
        color: $mainColor;
      }

      .following {
        background-color: $mainColor;
        color: white
      }
    }

    .context {
      margin-left: 5rem;
      overflow-wrap: break-word;
    }

  }
}