.at-user-link:hover {
  color: #FF6600
}

.botton-line-test {
  border-bottom-color: darkcyan;
  border-bottom-width: 2px;
}

.botton-line-test:hover {
  border-bottom-color: rgb(238, 228, 91);
  border-bottom-width: 2px;
}

.botton-line-test::placeholder {
  color: #B5B5BE;
}

a {
  text-decoration: none;
  color: #000000
}

a:hover {
  text-decoration: none;
  color: #000000
}

input {
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #B5B5BE;
}

textarea {
  width: 100%;
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

/* ------------------------------     SVG */

.svg-fill-main {
  transform: translateX(-100vw);
  filter: drop-shadow(#FF6600 100vw 0)
}

.svg-fill-error {
  transform: translateX(-100vw);
  filter: drop-shadow(#FC5A5A 100vw 0)
}

.svg-fill-dark-0 {
  transform: translateX(-100vw);
  filter: drop-shadow(#FFFFFF 100vw 0)
}

/* ------------------------------     Typography */

h1 {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 78px;
}

h2 {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
}

h3 {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 26px;
}

h4 {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}

h5 {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.text-20px-nor {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  color: #000000;
}

.text-16px-reg {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #171725;
}

.text-16px-med {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #171725;
}

.text-14px-reg {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #171725;
}

.text-14px-med {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #171725;
}

.text-12px-reg {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #171725;
}

.text-12px-med {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #171725;
}

.text-16px-med-Montserrat {
  font-family: 'Montserrat';
  font-style: Medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: #171725;
}

.number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #6C757D;
}

/* ------------------------------     Color */
.color-main {
  color: #FF6600
}

.color-primary {
  color: #0062FF
}

.color-secondary {
  color: #6C757D
}

.color-success {
  color: #3DD598
}

.color-warning {
  color: #FFC542
}

.color-error {
  color: #FC5A5A
}

.color-dark-100 {
  color: #171725
}

.color-dark-90 {
  color: #44444F
}

.color-dark-80 {
  color: #696974
}

.color-dark-70 {
  color: #92929D
}

.color-dark-60 {
  color: #B5B5BE
}

.color-dark-50 {
  color: #D5D5DC
}

.color-dark-40 {
  color: #E2E2EA
}

.color-dark-30 {
  color: #F1F1F5
}

.color-dark-20 {
  color: #FAFAFB
}

.color-dark-0 {
  color: #FFFFFF
}


/* ------------------------------     buttons */
button {
  background-color: rgba(0, 0, 0, 0);
  color: none;
  border: 0;
}

.pill:hover {
  cursor: pointer;
}


.pill-large {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;

  /* position: absolute; */
  width: 100%;
  /* width: 112px; */
  height: 46px;
  /* left: 360px;
  top: 174px; */

  border-radius: 50px;

  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.pill-default {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  /* position: absolute; */
  /* width: 84px; */
  width: auto;
  height: 40px;
  /* left: 260px;
  top: 180px; */

  border-radius: 50px;

  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.pill-small {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;

  /* position: absolute; */
  width: 68px;
  height: 32px;
  /* left: 488px;
  top: 188px; */

  border-radius: 50px;

  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.pill-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.pill-main {
  background: #FF6600;
  color: #fff
}

.pill-outline {
  border: 1px solid #FF6600;
  color: #FF6600
}

/* ------------------------------     modal */

.modal {
  position: relative;
  left: 0;
}

.modal-twitter {
  border-radius: 14px !important;
}

/* ------------------------------     刪除頁面上的滑動bar */
html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
}


/* ------------------------------     Notification */
.toast-container {
  position: fixed;
  z-index: 9999
}

.toast {
  height: 96px;
  width: 273px;
  max-width: 500px;
  border: 0px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.9)
}

.noti-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0
}

.noti-green {
  border: 2px solid #82c43c
}

.noti-red {
  border: 2px solid #FC5A5A
}

.noti-yellow {
  border: 2px solid #FFC542
}

.noti-blue {
  border: 2px solid #50B5FF
}

/* ------------------------------     form */

.form-label {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
}

.form-input {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  background: #F5F8FA;
}

.form-row {
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 2px solid #657786;
  border-radius: 2px;
  background: #F5F8FA;
}

.form-row-error {
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 2px solid #FC5A5A;
  border-radius: 2px;
  background: #F5F8FA;
}

.form-row-focus {
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 2px solid #50B5FF;
  border-radius: 2px;
  background: #F5F8FA;
}

.form-gap {
  height: 20px;
  margin-bottom: 8px;
}