<h2>發文/回文tweet</h2>
<hr/>
<div class="tweet-user-horizontal d-flex gap-2">
    <p class="fw-bold">Apple</p>
    <p class="font-size-sm">@apple・3 小時</p>
</div>

<hr/>

<div class="tweet-user-vertical d-flex flex-column">
    <p class="fw-bold mb-0">Apple</p>
    <p class="font-size-sm mt-0">@apple</p>
</div>

<hr/>

<div class="tweet-user-icon overflow-hidden  rounded-circle">
    <img src="https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80" alt="" class="img-fluid center">
</div>

<hr/>

<div class="tweet-user-action">

</div>