html,
body {
  font-family: 'Noto Sans TC';
}

/* ac-logo */
#ac-logo {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

#signup-title {
  width: 168px;
  height: 26px;
  font-weight: 700;
  line-height: 26px;
  font-size: 28px;
  color: #1C1C1C;
  margin: 29px auto;
}

#signin-title {
  width: 185px;
  height: 26px;
  font-weight: 700;
  line-height: 26px;
  font-size: 28px;
  color: #1C1C1C;
  margin: 29px auto;
}

/* form */
#form-input-line {
  width: 356px;
  height: 78px;
  background-color: #F5F8FA;
}

.form-control {
  background-color: transparent;
  border: none;
  border-radius: 0px 0px 4px 4px;
  border-bottom: 2px solid #657786;
}

.form-control:hover {
  background-color: transparent;
  border: none;
  border-radius: 0px 0px 4px 4px;
  border-bottom: 2px solid #50B5FF;
}

.form-label {
  margin-left: 10.55px;
}

/* button */
#btn-signup-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;

  width: 356px;
  height: 46px;

  background: #FF6600;
  border: none;
  border-radius: 50px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#btn-signin-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;

  width: 356px;
  height: 46px;

  background: #FF6600;
  border: none;
  border-radius: 50px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* admin-navbar */
.container-logo {
  margin-top: 16px;
}

.container-logo .logo {
  height: 40px;
  width: 40px;
  object-fit: unset;
}

.nav-row {
  position: relative;
  height: 26px;
  text-decoration: none;
  color: #44444F;
}

.nav-row:hover,
.active {
  text-decoration: none;
  color: #FF6600;
}

.nav-row-title {
  padding-left: 35px;
  margin-bottom: 40px;
}

