{{!-- main --}}
{{!-- nav side bar left --}}
{{!-- check side bar 'left' top --}}
{{!--
(nav.side-bar-left>(.side.bar-left-top>(.link-group>img.ac-icon)+(.link-group>img.home-icon+a{home})+(.profile>a{profile})+(.setting>a{setting})+(btn{send}))+(.side.bar-left-button>(.link-group>img.logout-icon+a.{logout}))
--}}
<nav class="nav side-bar-left">
  <div class="side-bar-left-top">
    <div class="link-group"><img src="" alt="" class="ac-icon"></div>
    <div class="link-group"><img src="" alt="" class="home-icon"><a href="">home</a></div>
    <div class="profile"><a href="">profile</a></div>
    <div class="setting"><a href="">setting</a></div>
    <button>send</button>
  </div>
  <div class="side-bar-left-button">
    <div class="link-group"><img src="" alt="" class="logout-icon"><a href="" class="">logout</a></div>
  </div>
</nav>