<div class="right_column">
  <header class="followers_title">Popular</header>

  <div class="followers">
    {{!-- {{#each user}} --}}
    <hr>
    <div class="follower">
      <a class="follower_photo_box" href="#">
        <img class="follower_photo" src="https://picsum.photos/50/50" alt="follower_photo">
      </a>
      <div class="follower_name_account">
        <p class="follower_name">Pizza Hut</p>
        <p class="follower_account">@pizzahut</p>
      </div>
      {{!-- {{#if isFollowing}} --}}
      <form class="ms-auto" action="?_method=DELETE" method="POST"><button type="submit"
          class="follow_button">正在跟隨</button></form>

      {{!-- {{else}} --}}
      {{!-- <form class="ms-auto" action="" method="POST"><button type="submit"
          class="unfollow_button">跟隨</button></form> --}}
      {{!-- {{/if}} --}}
    </div>
    {{!-- {{/each}} --}}
  </div>
</div>