{{>navs/user-left-column route='users'}}
<div style="position: absolute; left: 332px; width:641px;" class="border">
  {{>header route='user'}}
  {{>navs/user-followpage-tabs route='followings'}}
  {{!-- 跟隨中 --}}
  {{#each followships}}
  {{>contentcards/user-followpage-tweet-card route='followings'}}
  {{/each}}
</div>
{{>top-users-bar}}

