{{>navigation route='users'}}
<div style="margin-left:198px; padding: 0px 10px; width:641px; " class="border border-light">
    <div class="mx-auto border border-light">
       {{>header}}
       {{>user-followpage-tabs route='followers'}}
    </div>
    {{!-- 留言 --}}
    {{#each tweets}}
    {{>user-followpage-tweet-card}}
    {{/each}}
</div>
{{>top-users-bar}}