<div class='conttainer'>
  <div>
    <span>
      <a href='javascript:histort.back()'>
        <img src='back.svg' alt='back' />
      </a>
    </span>
    <span>
      <h4>John Doe</h4>
      <p>25 推文</p>
    </span>
  </div>
</div>