{{>navigation route='users'}}

<div style=" margin: 0px 10px; width:641px; " class="border">
    {{>header}}
    <div class="mx-auto border border-light">
        
        {{>userpage-info}}
        {{>personaldata-modal}}
        {{>user-page-tabs route='tweets'}}
    </div>
    {{!-- 留言 --}}
    {{#each tweets}}
    {{>tweet-card}}
    {{/each}}
</div>

{{>top-users-bar}}
