{{>navs/user-left-column  route='users'}}

<div style=" margin: 0px 25px; width:641px; " class="border">
    {{>header}}
    <div class="mx-auto border border-light">
        
        {{>userpage-info}}
        {{>personaldata-modal}}
        {{>navs/user-page-tabs route='tweets'}}
    </div>
    {{!-- 留言 --}}
    {{#each tweets}}
    {{>contentcards/tweet-card}}
    {{/each}}
</div>

{{>top-users-bar}}
