<div class="body-container text-center">
  {{> side-menu route='setting'}}
  <div class="center-part border" id="center-part">
    <div class="text-index border-bottom" id="text-index">
      <div class="user-tweets-header text-start ms-3 mt-4 mb-3 ">
        <h4 class="fw-bold ">帳戶設定</h4>
      </div>
    </div>
    <form class='form-setting needs-validation p-4 text-start' action='/users/{{currentUser.id}}/setting?_method=PATCH' method='POST' novalidate>
      <div class='form-row mb-4' style='background-color: #F5F8FA'>
        <label class='form-label m-0 pt-1 ps-3' for='account' style='color: #696974'>帳號</label>
        <input type='text' id='account' name='account' class='form-control border-0 p-0 ps-3' style='margin: 0;'
          placeholder='請輸入帳號' value="{{currentUser.account}}" onkeyup="this.value=this.value.replace(/[^\w_]/g,'')" required autofocus>
        <hr class='m-0'
          style="background: #657786; border: 1px solid #657786; border-radius: 0px 0px 4px 4px;  opacity: 1;">
        <div class="invalid-feedback m-0" style='background-color: #ffffff'>Please choose a account.</div>
      </div>
      <div class='form-row mb-4' style='background-color: #F5F8FA'>
        <label class='form-label m-0 pt-1 ps-3' for='name' style='color: #696974'>名稱</label>
        <input type='text' id='name' name='name' class='form-control border-0 p-0 ps-3' style='margin: 0;'
          placeholder='請輸入使用者名稱' maxlength='50'  value="{{currentUser.name}}" onblur="this.value=this.value.replace(/^\s+|\s+$/g,'')" required />
        <hr class='m-0'
          style="background: #657786; border: 1px solid #657786; border-radius: 0px 0px 4px 4px;  opacity: 1;">
        <p id="name-length" class="float-end m-0 fs-6" style='background-color: rgba(255, 255, 255, 0)'></p>
        <div class="invalid-feedback m-0" style='background-color: #ffffff'>Please choose a name.</div>
      </div>
      <div class='form-row mb-4' style='background-color: #F5F8FA'>
        <label class='form-label m-0 pt-1 ps-3' for='email' style='color: #696974'>Email</label>
        <input type='email' id='email' name='email' class='form-control border-0 p-0 ps-3' style='margin: 0;'
          placeholder='請輸入 Email' value="{{currentUser.email}}" required />
        <hr class='m-0'
          style="background: #657786; border: 1px solid #657786; border-radius: 0px 0px 4px 4px;  opacity: 1;">
        <div class="invalid-feedback m-0" style='background-color: #ffffff'>Please enter a valid email address.</div>
      </div>
      <div class='form-row mb-4' style='background-color: #F5F8FA'>
        <label class='form-label m-0 pt-1 ps-3' for='password' style='color: #696974'>密碼</label>
        <input type='password' id='password' name='password' class='form-control border-0 p-0 ps-3' style='margin: 0;'
          placeholder='請設定密碼' onkeyup="this.value=this.value.replace(/[\u4e00-\u9fa5]/g,'')"/>
        <hr class='m-0'
          style="background: #657786; border: 1px solid #657786; border-radius: 0px 0px 4px 4px;  opacity: 1;">
        <div class="invalid-feedback m-0" style='background-color: #ffffff'>Please choose a password.</div>
      </div>
      <div class='form-row mb-4' style='background-color: #F5F8FA'>
        <label class='form-label m-0 pt-1 ps-3' for='checkPassword' style='color: #696974'>密碼再確認</label>
        <input type='password' id='checkPassword' name='checkPassword' class='form-control border-0 p-0 ps-3'
          style='margin: 0;' placeholder='請再次輸入密碼' onkeyup="this.value=this.value.replace(/[\u4e00-\u9fa5]/g,'')"
          />
        <hr class='m-0'
          style="background: #657786; border: 1px solid #657786; border-radius: 0px 0px 4px 4px;  opacity: 1;">
        <div class="invalid-feedback m-0" style='background-color: #ffffff'>Password and confirm password does not match.</div>
      </div>
      <button class='btn btn-brand btn-lg rounded-pill mt-3 me-3 float-end'>儲存</button>
    </form>
  </div>
  <div style="width: 273px; margin-left: 20px;"></div>
</div>

<script>
  (function () {
    'use strict'
    const form = document.querySelector('.form-setting')
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }
      form.classList.add('was-validated')
      tools.callLoading()
    })
  })()

  const password = document.getElementById("password")
  const checkPassword = document.getElementById("checkPassword")
  function validatePassword() {
    if (password.value !== checkPassword.value) {
      checkPassword.setCustomValidity(' ')
    } else {
      checkPassword.setCustomValidity('')
    }
  }
  password.onchange = validatePassword
  checkPassword.onkeyup = validatePassword

  function requiredSwitch() {
    if (password.value) {
      password.required = true
      checkPassword.required = true
    } else if (!password.value && !checkPassword.value) {
      password.required = false
      checkPassword.required = false
    }
  }
  password.oninput = requiredSwitch()
  checkPassword.oninput = requiredSwitch()

  const name = document.getElementById("name")
  const nameLength = document.getElementById("name-length")
  name.addEventListener('input', function (event) {
    nameLength.textContent = name.value.length + '/50'
  })
</script>