<div class="row">
  <form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="{{user.name}}">
    </div>

    <div class="form-group">
      <label for="background">封面圖片</label>
      <input type="file" class="form-control-file" id="background" name="background">
    </div>
    <div class="form-group">
      <label for="avatar">大頭貼</label>
      <input type="file" class="form-control-file" id="avatar" name="avatar">
    </div>

    <div class="mb-3">
      <label for="profile">profile</label>
      <textarea class="form-control is-invalid" id="profile" name="profile" placeholder="Enter profile"
        value="{{user.profile}}" required></textarea>
      <div class="invalid-feedback">
        Please enter a message
      </div>


      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>